<div ng-show="loading" class="loading margin-top-20 margin-bottom-20">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- Tab display 1 -->
<div ng-show="!loading" id="visao_geral" class="tabs-display" ng-cloak>
    <div class="tabs-in">
        <section ng-if="ticket.pausado_em || ticket.cancelado_motivo" class="workflow-paused-canceled-info bs">
            <div class="paused-canceled-block block margin-left-10 margin-right-10 clearfix">
                <div class="flexbox-container flexbox-group">
                    <!-- TO-DO - Ticket Pausado -->
                    <div ng-if="ticket.pausado_em" class="flex">
                        <h4 class="master-title-sub txt-light txt-uppercase margin-bottom-20">Ticket Pausado Por</h4>
                        <div class="paused-canceled-info">
                            <i class="icon fa fa-pause-circle"></i>
                            <h5 class="user-request-title txt-color-primary txt-semibold">{{ ticket.pausado_por_nome }} <span class="created-on txt-small txt-color-default txt-regular">{{ ticket.pausado_em }}</span></h5>
                            <div class="comment-text-block">
                                <p class="force-word-break txt-regular"></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TO-DO - Ticket Pausado -->
                    <!-- TO-DO - Ticket Cancelado -->
                    <div ng-if="ticket.cancelado_motivo" class="flex">
                        <h4 class="master-title-sub txt-light txt-uppercase margin-bottom-20">Ticket Cancelado Por</h4>
                        <div class="paused-canceled-info">
                            <i class="icon fa fa-times-circle"></i>
                            <h5 class="user-request-title txt-color-primary txt-semibold">{{ ticket.cancelado_por_nome }} <span class="created-on txt-small txt-color-default txt-regular">{{ ticket.cancelado_em }}</span></h5>
                            <div class="comment-text-block">
                                <p ng-bind-html="ticket.cancelado_motivo" class="force-word-break txt-regular"></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TO-DO - Ticket Cancelado -->
                </div>
            </div>
        </section>
        <section class="workflow-general-info bs no-margin">
            <!-- TO-DO Informações Iniciais -->
            <table border="0" cellpadding="0" cellspacing="0" class="table-info">
                <thead>
                    <tr>
                        <th class="txt-light txt-uppercase">Informações Iniciais</th>
                        <th width="124px" class="txt-light txt-uppercase">Início</th>
                        <th width="124px" class="txt-light txt-uppercase">Aprovação</th>
                        <th width="124px" class="txt-light txt-uppercase">Veiculação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ng-bind-html="ticket.descricao" class="force-word-break txt-regular"></td>
                        
                        <td ng-bind="ticket.dt_ini | date: 'dd/MM/yyyy'" width="124px" class="txt-regular"></td>

                        <td ng-bind="ticket.data_lancamento | date: 'dd/MM/yyyy'" width="124px" class="txt-regular"></td>

                        <td ng-bind="ticket.dt_fim | date: 'dd/MM/yyyy'" width="124px" class="txt-regular"></td>
                    </tr>
                </tbody>
            </table>
            <!-- END TO-DO Informações Iniciais -->
        </section>
        <section class="workflow-instructions-cycle no-border no-padding no-margin">
            <div class="block margin-top-30 margin-left-10 margin-right-10 clearfix">
                <!-- TO-DO -->
                <h4 class="master-title-sub txt-light txt-uppercase">Critérios de Avaliação do Ciclo {{ticket.ciclo}} - Atual</h4>
                <!-- END TO-DO -->
                <!-- TO-DO - Considerações de Aprovação -->
                <div ng-repeat="(s, aprovacao) in ticket.ciclo_atual.aprovacoes" class="flexbox-container sub-bs clearfix">
                    <div class="flex-auto col-instruction-type">
                        <label class="switch-control switch-control-alt no-margin">
                            <i class="reviewer-done abs-right-offset margin-right-10 fa fa-exclamation-triangle"></i>
                            <span class="switch-txt txt-semibold no-float margin-bottom-10">Consideração de Aprovação</span>
                            <small class="rq txt-regular">Inserido por {{ aprovacao.nome_usuario }}</small>
                            <small class="rq txt-regular">{{ aprovacao.data_criacao }}</small>
                        </label>
                    </div>
                    <div class="flex-auto col-instruction-description">
                        <h5 class="user-request-title">
                            <span class="txt-color-primary txt-semibold">{{ aprovacao.nome_usuario }}</span> 
                            <span class="created-on txt-small txt-color-default txt-regular">{{ aprovacao.data_criacao }}</span>
                        </h5>
                        <div class="comment-text-block">
                            <p class="force-word-break">{{ aprovacao.descricao }}</p>
                        </div>
                    </div>
                </div>
                <!-- END TO-DO - Considerações de Aprovação -->
                <!-- TO-DO Ciclo atual -->
                <div ng-repeat="(s, solicitacao) in ticket.ciclo_atual.solicitacoes" class="flexbox-container sub-bs clearfix">
                    <div class="flex-auto col-instruction-type">
                        <label ng-show="!ticket.adsmartEtapas[4] || ticket.adsmartEtapas[5] && ticket.adsmartEtapas[6] || ticket.libera_edicao === 0"  ng-class="{'disabled': !ticket.adsmartEtapas[4] || ticket.adsmartEtapas[5] && ticket.adsmartEtapas[6] || ticket.libera_edicao === 0}" class="switch-control switch-control-alt no-margin">
                            <!-- TO-DO -->
                            <input ng-show="!ticket.adsmartEtapas[4] || ticket.libera_edicao === 0" ng-checked="solicitacao.id_status === 2" disabled type="checkbox" name="chkEditionIsOk[]" value="" />
                            <span  ng-show="!ticket.adsmartEtapas[4] || ticket.libera_edicao === 0" class="switch-toggle abs-right-offset margin-right-10"></span>
                            <input ng-show="ticket.adsmartEtapas[5] || ticket.libera_edicao === 0" ng-checked="solicitacao.id_status === 2" disabled type="checkbox" name="chkEditionIsOk[]" value="" />
                            <span  ng-show="ticket.adsmartEtapas[5] || ticket.libera_edicao === 0" class="switch-toggle abs-right-offset margin-right-10"></span>
                            <i ng-show="ticket.adsmartEtapas[6]" class="reviewer-done abs-right-offset margin-right-10 fa fa-check"></i>
                            <!-- END TO-DO -->

                            <i ng-show="ticket.etapa[5]" class="reviewer-done abs-right-offset margin-right-10 fa fa-check"></i>
                            <span class="switch-txt txt-semibold no-margin no-float">{{ solicitacao.titulo }}</span>
                            <small class="rq margin-top-10 txt-regular">{{solicitacao.status}} por <span class="txt-small txt-regular">{{ solicitacao.nome_usuario }}</span></small>

                            <small ng-if="solicitacao.status !== 'Revisado'" class="rq txt-regular">{{solicitacao.data_criacao}}</small>
                            <small ng-if="solicitacao.status === 'Revisado'" class="rq txt-regular">{{solicitacao.status_data}}</small>

                        </label>
                        <!-- TO-DO -->                        
                        <label ng-show="ticket.adsmartEtapas[4] && !ticket.adsmartEtapas[6] && ticket.libera_edicao === 1" class="switch-revisor switch-control switch-control-alt no-margin">
                            <input mw-confirm-click="acao_solicitacao(solicitacao.id, 2)" mw-confirm-click-message="Deseja alterar o status para Revisado?" ng-if="solicitacao.id_status === 1" onclick="return false;" ng-disabled="!ticket.libera_ticket" type="checkbox" name="chkEditionIsOk[]" value="" />
                            <input mw-confirm-click="acao_solicitacao(solicitacao.id, 1)" mw-confirm-click-message="Deseja alterar o status para Em revisão?" ng-if="solicitacao.id_status === 2" onclick="return false;" ng-disabled="!ticket.libera_ticket" ng-checked="solicitacao.id_status === 2" type="checkbox" name="chkEditionIsOk[]" value="" />
                            <span class="switch-toggle abs-right-offset margin-right-10"></span>
                            <span class="switch-txt txt-semibold no-margin no-float">{{solicitacao.titulo}}</span>
                            <small class="rq margin-top-10 txt-regular">{{solicitacao.status}} por <span ng-if="solicitacao.status !== 'Revisado'" ng-bind="solicitacao.nome_usuario" class="txt-small txt-regular"></span><span ng-if="solicitacao.status === 'Revisado'" ng-bind="solicitacao.status_usuario" class="txt-small txt-regular"></span></small>
                            <small ng-if="solicitacao.status !== 'Revisado'" class="rq txt-regular">{{solicitacao.data_criacao}}</small>
                            <small ng-if="solicitacao.status === 'Revisado'" class="rq txt-regular">{{solicitacao.status_data}}</small>
                        </label>
                        <!-- END TO-DO -->
                    </div>
                    <div class="flex-auto col-instruction-description">
                        <h5 class="user-request-title">
                            <span class="txt-color-primary txt-semibold">{{solicitacao.nome_usuario}}</span> 
                            <span class="created-on txt-small txt-color-default txt-regular">{{solicitacao.data_criacao}}</span>
                        </h5>
                        <div class="comment-text-block">
                            <p ng-bind-html="solicitacao.descricao" class="force-word-break"></p>
                        </div>
                        <div class="chat-comment-container">
                            <button type="button" ng-show="!ticket.adsmartEtapas[5] && solicitacao.id_status === 1 && ticket.libera_ticket" ng-click="exibe_comentar(s)" class="btn-control btn-positive">Comentar</button>
                            <div ng-show="exibe_comentar[s] && !ticket.adsmartEtapas[5] && solicitacao.id_status === 1 && ticket.libera_ticket" class="chat-comment-box no-margin-top padding-top-20 no-border">
                                <div class="conversation chat-textbox-container">
                                    <div contenteditable="true" ng-model="$root.comentarios[s]" ng-init="$root.comentarios[s] = ''" ng-paste="msg_copy_paste_handler($event, 'comentarios', s)" class="input-control textbox-fake textbox-fake-auto-resizable"></div>
                                    <div class="chat-textbox-controls">
                                        <div class="tooltip attach-file right">
                                            <span class="fa fa-image"></span>
                                            <input type="file" data-id="{{s}}" onchange="angular.element(this).scope().msg_attach_file(this, 'comentarios');" class="msgAttachment" />
                                            <span class="tooltip-box">Anexar imagem no texto</span>
                                        </div>
                                        <!-- TO DO - Enviar Notificações por Email -->
                                        <!--
                                        <div class="tooltip btn btn-send-email right">
                                            <a ng-click="enviar_msg_email(solicitacao.id_usuario);" href="javascript:;"><span ng-class="{ 'fa-envelope':(memberList | filter:{selected:true}:true).length, 'fa-envelope-o':!(memberList | filter:{selected:true}:true).length }" class="fa"></span></a>
                                            <span class="tooltip-box">Enviar por email</span>
                                        </div>
                                        -->
                                        <!-- END TO DO - Enviar Notificações por Email -->
                                    </div>
                                </div>
                                <div ng-class="{'no-margin-bottom': exibe_comentar[s]}" class="btn-group margin-top-20 clearfix"> 
                                    <div class="pull-right">    
                                        <button type="button" ng-click="exibe_comentar(s)" class="btn-control btn-alt">Cancelar</button>
                                        <button type="button" ng-click="comentar(solicitacao.id, s)" class="btn-control btn-positive">Enviar</button>
                                    </div>
                                </div>
                            </div>
                            <ul class="chat-comment-list no-border margin-top-20">
                                <li ng-repeat="(c, comentario) in solicitacao.comentarios" class="border-color-primary">
                                    <div class="chat-comment-body clearfix">
                                        <i class="icon fa fa-comment-o"></i>
                                        <h5 class="chat-comment-by txt-semibold">{{comentario.nome_usuario}} <span class="created-on txt-regular">{{comentario.data_criacao}}</span><a ng-if="comentario.array_envios" href="javascript:;" ng-click="exibe_destinatarios(comentario.array_envios)" class="view-recipients tooltip top no-underline margin-left-10"><i class="fa fa-envelope"></i><span class="tooltip-box">Ver destinatários</span></a></h5>
                                        <p ng-bind-html="comentario.texto" class="force-word-break txt-regular"></p>
                                    </div>
                                    <button type="button" ng-show="!ticket.adsmartEtapas[5] && solicitacao.id_status === 1 && ticket.libera_ticket" ng-click="exibe_responder($id)" class="btn-control btn-positive">Responder</button>
                                    <div ng-show="exibe_responder[$id] && !ticket.adsmartEtapas[5] && solicitacao.id_status === 1 && ticket.libera_ticket" class="chat-comment-box no-margin-top padding-top-20 no-border">
                                        <div class="replies chat-textbox-container">
                                            <div contenteditable="true" ng-model="$root.respostas[$id]" ng-init="$root.respostas[$id] = ''" ng-paste="msg_copy_paste_handler($event, 'respostas', $id)" class="input-control textbox-fake textbox-fake-auto-resizable"></div>
                                            <div class="chat-textbox-controls">
                                                <div class="tooltip attach-file right">
                                                    <span class="fa fa-image"></span>
                                                    <input type="file" accept="image/*" data-id="{{$id}}" onchange="angular.element(this).scope().msg_attach_file(this, 'respostas');" name="msgAttachment" class="msgAttachment" />
                                                    <span class="tooltip-box">Anexar imagem no texto</span>
                                                </div>
                                                <!-- TO DO - Enviar Notificações por Email -->
                                                <!--div class="tooltip send-by-mail right">
                                                    <a ng-click="enviar_msg_email(comentario.id_usuario)" href="javascript:;" class="btn btn-send-email"><span ng-class="{ 'fa-envelope':(memberList | filter:{selected:true}:true).length, 'fa-envelope-o':!(memberList | filter:{selected:true}:true).length }" class="fa"></span></a>
                                                    <span class="tooltip-box">Enviar por email</span>
                                                </div-->
                                                <!-- END TO DO - Enviar Notificações por Email -->
                                            </div>
                                        </div>
                                        <div ng-class="{'no-margin-bottom': exibe_responder[$id]}" class="btn-group margin-top-20 clearfix">    
                                            <div class="pull-right">    
                                                <button type="button" ng-click="exibe_responder($id)" class="btn-control btn-alt">Cancelar</button>
                                                <button ng-click="responder(comentario.id, $id)" type="button" class="btn-control btn-positive">Enviar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <ul>
                                        <li ng-repeat="(c, resposta) in comentario.respostas" class="border-color-primary">
                                            <div class="chat-comment-body clearfix">
                                                <i class="icon fa fa-comment-o reply"></i>
                                                <h5 class="chat-comment-by txt-semibold">{{resposta.nome_usuario}} <span class="created-on txt-regular">{{resposta.data_criacao}}</span><a ng-if="comentario.array_envios" href="javascript:;" ng-click="exibe_destinatarios(comentario.array_envios)" class="view-recipients tooltip top no-underline margin-left-10"><i class="fa fa-envelope"></i><span class="tooltip-box">Ver destinatários</span></a></h5>
                                                <p ng-bind-html="resposta.texto" class="force-word-break txt-regular"></p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END TO-DO Ciclo atual -->
            </div>
            <!-- TO-DO Ciclo anterior -->
            <v-accordion class="v-accordion" ng-show="ticket.ciclo_anterior.layout">
                <v-pane ng-repeat="(c, ciclo) in ticket.ciclos_anteriores" expanded="pane.isExpanded" class="v-accordion-pane">
                    <v-pane-header class="v-pane-header">
                        <div class="v-accordion-header">
                            <h4 class="va-header-expand" ng-show="!pane.isExpanded">
                                <a href="javascript:;"><i class="icon fa fa-plus"></i><span class="txt-small txt-semibold">Exibir Critérios de Avaliação do Ciclo {{ciclo.numero}}</span></a>
                            </h4>
                            <h4 class="va-header-hide" ng-show="pane.isExpanded">
                                <a href="javascript:;"><i class="icon fa fa-minus"></i><span class="txt-small txt-semibold">Ocultar Critérios de Avaliação do Ciclo {{ciclo.numero}}</span></a>
                            </h4>
                        </div>
                    </v-pane-header>
                    <v-pane-content class="v-accordion-body">
                        <div class="v-accordion-wrap">
                            <!-- TO-DO - Considerações de Aprovação -->
                            <div ng-repeat="(s, aprovacao) in ticket.ciclos_anteriores[$index].aprovacoes" class="flexbox-container sub-bs clearfix">
                                <div class="flex-auto col-instruction-type">
                                    <label class="switch-control switch-control-alt no-margin">
                                        <i class="reviewer-done abs-right-offset margin-right-10 fa fa-exclamation-triangle"></i>
                                        <span class="switch-txt txt-semibold no-float margin-bottom-10">Consideração de Aprovação</span>
                                        <small class="rq txt-regular">Inserido por {{ aprovacao.nome_usuario }}</small>
                                        <small class="rq txt-regular">{{ aprovacao.data_criacao }}</small>
                                    </label>
                                </div>
                                <div class="flex-auto col-instruction-description">
                                    <h5 class="user-request-title">
                                        <span class="txt-color-primary txt-semibold">{{ aprovacao.nome_usuario }}</span> 
                                        <span class="created-on txt-small txt-color-default txt-regular">{{ aprovacao.data_criacao }}</span>
                                    </h5>
                                    <div class="comment-text-block">
                                        <p class="force-word-break">{{ aprovacao.descricao }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- END TO-DO - Considerações de Aprovação -->
                            <div ng-repeat="(s, solicitacao) in ciclo.solicitacoes" class="flexbox-container sub-bs clearfix">
                                <div class="flex-auto col-instruction-type">
                                    <label class="switch-control switch-control-alt no-margin disabled">
                                        <i class="reviewer-done abs-right-offset margin-right-10 fa fa-check"></i>
                                        <span class="switch-txt txt-semibold no-margin no-float">{{solicitacao.titulo}}</span>
                                        <small class="rq margin-top-10 txt-regular">{{solicitacao.status}} por {{solicitacao.status_usuario}}</small>
                                        <small class="rq txt-regular">{{solicitacao.status_data}}</small>
                                    </label>
                                </div>
                                <div class="flex-auto col-instruction-description">
                                    <h5 class="user-request-title txt-color-primary txt-semibold margin-bottom-5">{{solicitacao.nome_usuario}} <span class="created-on txt-small txt-color-default txt-regular">{{solicitacao.data_criacao}}</span></h5>
                                    <div class="comment-text-block">
                                        <p ng-bind-html="solicitacao.descricao" class="force-word-break txt-regular"></p>
                                    </div>
                                    <div class="chat-comment-container margin-top-20">
                                        <ul class="chat-comment-list no-border">
                                            <li ng-repeat="(c, comentario) in solicitacao.comentarios" class="border-color-primary">
                                                <div class="chat-comment-body clearfix">
                                                    <i class="icon fa fa-comment-o"></i>
                                                    <h5 class="chat-comment-by txt-semibold">{{comentario.nome_usuario}} <span class="created-on txt-regular">{{comentario.data_criacao}}</span><a ng-if="comentario.array_envios" href="javascript:;" ng-click="exibe_destinatarios(comentario.array_envios)" class="view-recipients tooltip top no-underline margin-left-10"><i class="fa fa-envelope"></i><span class="tooltip-box">Ver destinatários</span></a></h5>
                                                    <p ng-bind-html="comentario.texto" class="force-word-break txt-regular"></p>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="(c, resposta) in comentario.respostas" class="border-color-primary">
                                                        <div class="chat-comment-body clearfix">
                                                            <i class="icon fa fa-comment-o reply"></i>
                                                            <h5 class="chat-comment-by txt-semibold">{{resposta.nome_usuario}} <span class="created-on txt-regular">{{resposta.data_criacao}}</span><a ng-if="comentario.array_envios" href="javascript:;" ng-click="exibe_destinatarios(comentario.array_envios)" class="view-recipients tooltip top no-underline margin-left-10"><i class="fa fa-envelope"></i><span class="tooltip-box">Ver destinatários</span></a></h5>
                                                            <p ng-bind-html="resposta.texto" class="force-word-break txt-regular"></p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </v-pane-content>
                </v-pane>
            </v-accordion>
            <!-- END TO-DO Ciclo anterior -->
        </section>
        <!-- TO-DO Aprovação -->
        <section class="workflow-files-approval no-border no-padding margin-bottom-40">
            <div class="block">
                <h4 class="master-title-alt txt-bold margin-bottom-20">Aprovação</h4>
                <div class="margin-left-10 margin-right-10">
                    <div ng-show="!ticket.adsmartEtapas[5] && ticket.libera_edicao && ticket.libera_ticket" class="block">
                        <div class="attach-file flexbox-container workflow-attachment-control files-control">
                            <div class="col-files-attach flex">
                                <input type="file" accept=".doc,.docx,.ppt,.pptx,.pdf,.png,jpeg,.jpg,.gif,.mp3,.wav,.mp4,.mpeg,.avi,.mov" valid-file=".doc,.docx,.ppt,.pptx,.pdf,.png,jpeg,.jpg,.gif,.mp3,.wav,.mp4,.mpeg,.avi,.mov" ngf-select ng-model="$root.arquivo" name="file" ngf-model-invalid="errorFile" required />
                                <span class="files-control-fake"><strong></strong><i class="addon fa fa-paperclip"></i></span>
                            </div>
                            <div ng-show="arquivo.progress > 0" class="progress-circle animate">
                                <svg id="svg" viewbox="0 0 100 100">
                                    <circle cx="50" cy="50" r="40" fill="none"/>
                                    <path fill="none" stroke-linecap="round" stroke-width="8" stroke-dasharray="{{arquivo.progress*2.5}},250.2" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"/>
                                    <text id="count" class="progress" x="50" y="50" text-anchor="middle" dy="7" ng-bind="arquivo.progress + '%'"></text>
                                </svg>
                            </div>
                            <button ng-click="uploadArquivo(ticket.ciclo_atual.id)" type="button" class="files-btn btn-positive">Adicionar</button>
                        </div>
                    </div>
                    <div class="block no-margin-bottom">
                        <div ng-show="!ticket.ciclo_atual.layout" class="margin-bottom-30">
                            <h4 class="master-title-sub txt-light txt-uppercase">Novo Arquivo</h4>
                            <div class="panel default no-hover">
                                <i class="icon fa fa-file-o"></i>
                                <div class="panel-body">
                                    <h4 class="panel-heading txt-semibold no-margin">Aguardando novo arquivo...</h4>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ticket.ciclo_atual.layout.length !== 0" class="margin-bottom-30">
                            <!-- TO-DO -->
                            <h4 class="master-title-sub txt-light txt-uppercase">Arquivos Atualizados</h4>
                            <!-- END TO-DO -->
                            <div class="panel panel-group primary">
                                <!-- Loop Arquivos -->
                                <div ng-if="l.id" ng-repeat="l in ticket.ciclo_atual.layout track by $index" class="flexbox-container item">
                                    <a ng-href="{{l.path_original}}" target="_blank" class="link"></a>
                                    <i ng-class="extArquivoCicloAtual($index)" class="icon fa"></i>
                                    <div class="panel-body">
                                        <h4 class="panel-heading txt-semibold no-margin">{{l.nome}} {{l.numero ? '&bull; ' + 'Peça ' + l.numero : ''}}</h4>
                                        <small class="description-small txt-regular">Anexado por {{l.nome_usuario}} às {{l.data_criacao}} - <strong class="txt-small txt-regular">{{l.filesize}} MB</strong></small>
                                        <!--small class="description-small txt-regular no-margin">Arquivo original: {{l.nome_arquivo}} - <strong class="txt-small txt-regular">{{l.filesize}} MB</strong></small-->
                                    </div>
                                    <div class="panel-options dropdown drop-to-left pull-right">
                                        <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" href="javascript:;" class="dropdown-btn dropdown-toggle  fa fa-ellipsis-h"></a>
                                        <div class="dropdown-list">
                                            <ul>    
                                                <li><a ng-href="{{l.path_original}}" target="_blank" class="txt-bold"><span class="icon fa fa-download"></span>Baixar Arquivo</a></li>
                                                <li ng-if="ticket.id_status === 14 && ticket.libera_edicao && ticket.libera_ticket"><a ng-click="excluirArquivo($index)" href="javascript:;" class="txt-bold"><span class="icon fa fa-trash"></span>Excluir Arquivo</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Loop Arquivos -->
                            </div>
                        </div>
                    </div>
                    <!-- TO-DO Ciclo Anterior - Multiplos Arquivos -->
                    <div ng-if="ticket.ciclo_anterior.layout.length" class="margin-bottom-30">
                        <h4 class="master-title-sub txt-light txt-uppercase">Ciclo Anterior</h4>
                        <div class="panel panel-group secondary">
                            <!-- Loop Arquivos -->
                            <div ng-if="l.id" ng-repeat="l in ticket.ciclo_anterior.layout track by $index" class="flexbox-container item">
                                <a ng-href="{{l.path_original}}" target="_blank" class="link"></a>
                                <i ng-class="extArquivoCicloAnterior($index)" class="icon fa"></i>
                                <div class="panel-body">
                                    <h4 class="panel-heading txt-semibold no-margin">{{l.nome}} {{l.numero ? '&bull; ' + 'Peça ' + l.numero : ''}}</h4>
                                    <small class="description-small txt-regular">Anexado por {{l.nome_usuario}} às {{l.data_criacao}} - <strong class="txt-small txt-regular">{{l.filesize}} MB</strong></small>
                                    <!--small class="description-small txt-regular no-margin">Arquivo original: {{l.nome_arquivo}} - <strong class="txt-small txt-regular">{{l.filesize}} MB</strong></small-->
                                </div>
                                <div class="panel-options dropdown drop-to-left pull-right">
                                    <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" href="javascript:;" class="dropdown-btn dropdown-toggle  fa fa-ellipsis-h"></a>
                                    <div class="dropdown-list">
                                        <ul>    
                                            <li><a ng-href="{{l.path_original}}" target="_blank" class="txt-bold"><span class="icon fa fa-download"></span>Baixar Arquivo</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- END Loop Arquivos -->
                        </div>
                    </div>
                    <!-- END TO-DO Ciclo Anterior - Multiplos Arquivos -->
                </div>
            </div>
        </section>
        <!-- END Aprovação -->
    </div>
</div>
<!-- END Tab display 1 -->