<div class="artw-files-upload clearfix">
    <h3 ng-show="dados.sku_nome_completo" class="margin-bottom-30">{{ midia.nome_nova_peca }}</h3>    
    <!--h6 class="txt-small txt-light txt-uppercase margin-bottom-10">Carregar arquivo de arte</h6-->
    <!--div class="text-block margin-bottom-30">
        <p>É necessário carregar ao menos o PDF do layout deste item.</p>
    </div-->
    <section class="bs no-border no-padding">
        <div class="block no-margin-bottom">
            <div class="flexbox-container flexbox-group">
                <div class="flex flex-12-large">
                    <h6 class="txt-small txt-light txt-uppercase margin-bottom-10">Arquivo</h6>
                    <div class="files-control files-pdf-attach">    
                        <input type="file" accept=".pdf" ngf-select ng-model="pdf" name="file" ngf-model-invalid="errorFile">
                        <span class="files-control-fake"><strong>Anexar arquivo</strong><i class="addon fa fa-paperclip"></i></span>
                    </div>
                    <div ng-if="dados.pdf" class="block margin-top-30">
                        <div class="panel secondary">
                            <a target="_blank" ng-href="{{ dados.pdf.path }}" class="link"></a>
                            <i class="icon fa fa-file-pdf-o"></i>
                            <div class="panel-body">
                                <h4 class="panel-heading txt-semibold">{{ dados.nome }}</h4>
                                <small class="description-small">Anexado por {{ dados.pdf.nome_usuario }} às {{ dados.pdf.data_criacao }} - <strong class="txt-small txt-regular">{{ dados.pdf.filesize }} MB</strong></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-show="upload.progress >= 0" class="progress-circle animate" ng-cloak>
        <svg id="svg" viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="40" fill="none"/>
            <path fill="none" stroke-linecap="round" stroke-width="8" stroke-dasharray="{{upload.progress*2.5}},250.2" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"/>
            <text id="count" class="progress" x="50" y="50" text-anchor="middle" dy="7" ng-bind="upload.progress + '%'"></text>
        </svg>
    </div>
</div>
