<div class="ng-confirm-action-dialog clearfix margin-bottom-15">
    
    <section class="bs no-border no-margin no-padding">
        <div class="block no-margin">
            <div class="dialog-heading margin-bottom-20">
                <h4 class="master-title txt-bold no-margin">Consideração de Aprovação</h4>
            </div>
            <p class="margin-bottom-10">Caso entenda necessário, insira considerações de aprovação que devem ser observadas pelo solicitante.</p>
        </div>
        <div class="block no-margin">
            <div class="flexbox-container flexbox-group">
                <div class="flex flex-12-large">
                    <textarea placeholder="Escreva sua consideração para essa aprovação" rows="6" ng-model="consideracao_aprovacao" name="consideracao_aprovacao" class="input-control textbox-control"></textarea>
                </div>
            </div>
        </div>
    </section>
    
</div>