<div class="artw-register-item clearfix">
    <h3 class="title margin-bottom-20">{{ midia.nome_nova_peca }}</h3>
    <h6 class="subtitle txt-small txt-light txt-uppercase margin-bottom-10">Cadastrar Peça</h6>
    <div class="text-block">
        <p>Para concluir o cadastro escolha uma das 2 opções:</p>
    </div>
    <div class="btn-max-container flexbox-container">
        <div class="btn-max disabled">
            <a ng-href="">
                <span class="btn-max-txt"><i class="icon fa fa-ticket"><strong class="btn-max-icon-label txt-bold">Abrir Ticket</strong></i></span>
                <span class="btn-max-txt txt-small txt-regular margin-left-10 margin-right-10">Para desenvolver uma nova arte.</span>
            </a>
        </div>
        <div class="btn-max">
            <a href="javascript:;" ng-click="adsmartFileUpload()" class="upload-files-btn">
                <span class="btn-max-txt"><i class="icon fa fa-upload"><strong class="btn-max-icon-label txt-bold">Carregar Arte</strong></i></span>
                <span class="btn-max-txt txt-small txt-regular margin-left-10 margin-right-10">Para carregar arquivo de arte já existente.</span>
            </a>
        </div>
    </div>
</div>