<!--div ng-show="loading" class="loading margin-top-20 no-margin-bottom">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div-->
<!-- Tab display 2 -->
<div ng-show="statechange" id="anexos" class="tabs-display" ng-cloak>
    <div class="tabs-in">
        <!-- Anexos -->
        <section ng-class="{ 'bs border-color-primary no-padding': ticket.arquivos.length > 0, 'no-border no-padding': !ticket.arquivos.length || ticket.arquivos.length === 0 }" class="no-margin-top margin-bottom-40 no-padding">
            <div ng-show="!ticket.adsmartEtapas[5] && !ticket.cancelado_em && !ticket.pausado_em" class="block">
                <div class="workflow-file-upload">
                    <div class="files-control-multi flexbox-container">
                        <div class="flex col-artwork-files">
                            <input type="file" name="file" id="attachments" accept=".docx,.doc,.pdf,.xml,.jpg,.jpeg,.png,.bmp,.gif,.tif,.tiff,.psd,.eps,.ai,.svg,.ppt,.pptx,.xls,.xlsx,.zip,.rar,.7z,.txt,.dxf,.mp3,.wav,.mp4,.mpeg,.avi,.mov" ngf-multiple="true" ngf-select ng-model="arquivos" ngf-model-invalid="errorFile" class="valid-file-ext" />
                            <span class="files-control-fake"><strong></strong><i class="addon fa fa-paperclip"></i></span>
                        </div>
                        <div class="flex col-artwork-submit">
                            <button ng-click="uploadArquivoAnexos(ticket.id)" type="button" class="files-btn">Adicionar</button>
                            <div ng-show="arquivos.progress >= 0" id="progress-circle" class="progress-circle animate">
                                <svg id="svg" viewbox="0 0 100 100">
                                    <circle cx="50" cy="50" r="40" fill="none"/>
                                    <path fill="none" stroke-linecap="round" stroke-width="4" stroke-dasharray="{{arquivos.progress*2.5}},250.2" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"/>
                                    <text id="count" class="progress" x="50" y="50" text-anchor="middle" dy="7" ng-bind="arquivos.progress + '%'"></text>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="!ticket.arquivos.length || ticket.arquivos.length === 0" class="block is-empty-big margin-bottom-30">
                <span class="fa fa-file">Nenhum arquivo anexado ainda.</span>
            </div>
            <div ng-show="ticket.arquivos.length > 0" class="block margin-bottom-30">
                <ul class="list-group">
                    <li ng-repeat="(a, arquivo) in ticket.arquivos" class="list-group-item">
                        <div ng-mouseenter="interval_tickets_stop()" ng-mouseleave="interval_tickets_start()" ng-class="{'editing': arquivo.exibir_renomear}" class="panel primary panel-hollow">
                            <a ng-hide="arquivo.exibir_renomear" target="_blank" ng-href="{{ arquivo.path }}" class="link"></a>
                            <i ng-hide="arquivo.exibir_renomear" ng-class="attachedFileExtensionClass(arquivo)" class="icon fa"></i>
                            <div ng-hide="arquivo.exibir_renomear" class="panel-body">
                                <h4 class="panel-heading txt-semibold no-margin">{{ arquivo.descricao }}</h4>
                                <small class="description-small txt-regular no-margin">Anexado por {{ arquivo.nome_usuario }} às {{ arquivo.data_criacao }}</small>
                                <small class="description-small txt-regular no-margin">Arquivo original: {{arquivo.nome_original}} - <strong class="txt-small txt-regular">{{ arquivo.filesize }} MB</strong></small>
                            </div>
                            <div ng-hide="arquivo.exibir_renomear" ng-show="!ticket.adsmartEtapas[5] && !ticket.cancelado_em && !ticket.pausado_em" class="panel-options dropdown drop-to-left">
                                <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-template="Opções" ng-show="!ticket.adsmartEtapas[5] && !ticket.cancelado_em && !ticket.pausado_em" ng-class="{'disabled': !ticket.libera_ticket}" href="javascript:;" class="dropdown-toggle fa fa-ellipsis-h"></a>
                                <div class="dropdown-menu dropdown-list">
                                    <ul>    
                                        <li><a ng-click="exibeRenomearAnexo(arquivo)" href="javascript:;" class="txt-bold"><span class="icon fa fa-edit"></span>Renomear</a></li>
                                        <li ng-if="ticket.id_usuario_logado == arquivo.id_usuario"><a ng-click="excluirAnexo(arquivo)" href="javascript:;" class="txt-bold"><span class="icon fa fa-trash"></span>Excluir</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-show="arquivo.exibir_renomear" class="flex-rename-file flexbox-container flex-fluid">
                                <i ng-class="attachedFileExtensionClass(arquivo)" class="icon fa"></i>
                                <div class="flex flex-fluid">
                                    <input type="text" placeholder="Nome do Arquivo" ng-model="arquivo.novo_nome" class="input-control" />
                                </div>
                                <div class="flex">
                                    <button type="button" ng-click="arquivo.exibir_renomear = false" class="btn-control btn-alt">Cancelar</button>
                                </div>
                                <div class="flex no-padding-right">
                                    <button type="button" ng-disabled="!arquivo.novo_nome" ng-click="renomearAnexoSalvar(arquivo)" class="btn-control btn-positive">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- END Anexos -->
        <!-- Button group -->
        <div ng-show="ticket.arquivos.length > 0" class="btn-group txt-center">
            <a ng-href="{{ ticket.arquivosBaixar }}" target="_blank" class="btn-link btn-control btn-call-to-action call-to-action-alt btn-icon btn-icon-left">
                <span><i class="icon fa fa-download"></i> Baixar Todos os Anexos</span>
            </a>
        </div>
        <!-- END Button group -->
    </div>
</div>
<!-- END Tab display 2 -->