<!--div ng-show="loading" class="loading margin-top-20 no-margin-bottom">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div-->
<!-- Tab display 6 -->
<div ng-show="statechange" id="opcoes" class="tabs-display" ng-cloak>
    <section class="bs margin-bottom-40">
        <div class="flexbox-container">
            <!-- Opções -->
            <div class="flex-fluid">
                <ul class="list-group-indent">
                    <li ng-if="ticket.libera_ticket && ((!ticket.adsmartEtapas[7] && !ticket.participante && !ticket.proximo_ciclo))" class="list-item-horizontal">
                        <a ng-href="{{ticket.link_editar}}" class="indent no-underline">
                            <strong class="pull">
                                <i class="icon fa fa-edit"></i>
                                <span class="text txt-bold no-underline">Editar o Ticket <small class="txt-small txt-regular margin-left-20">Altera as informações iniciais e permite incluir novas instruções.</small></span>
                            </strong>
                        </a>
                    </li>
                    <li class="list-item-horizontal">
                        <div ng-class="{'disabled': ticket.cancelado_em || ticket.adsmartEtapas[7] || ticket.proximo_ciclo}" class="indent">
                            <div class="pull">
                                <i ng-class="{'icon fa fa-bicycle txt-color-alt': ticket.cancelado_em}" class="icon fa fa-bicycle"></i>
                                <span ng-class="{'text txt-color-alt txt-bold': ticket.cancelado_em}" class="text txt-bold">Seguir o Ticket <small class="txt-small txt-regular margin-left-20">Você será notificado por e-mail toda vez que alguém executar uma tarefa.</small></span>
                                <label ng-class="{'disabled': ticket.cancelado_em || ticket.pausado_em || ticket.adsmartEtapas[7] || ticket.proximo_ciclo}" class="switch-control pull-right no-margin">
                                    <input ng-click="seguir(ticket.id_usuario_logado, ticket.id)" ng-model="ticket.recebe_email" ng-disabled="!ticket.libera_ticket || ticket.adsmartEtapas[7] || ticket.proximo_ciclo" type="checkbox" name="" value="" id="chkEditionIsOk_1" />
                                    <span class="switch-toggle abs-right-offset no-margin"></span>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="list-item-horizontal">
                        <div ng-class="{'disabled': ticket.adsmartEtapas[7] || ticket.proximo_ciclo}" class="indent">
                            <div class="pull">
                                <i ng-class="{'icon fa fa-pause-circle txt-color-alt': ticket.cancelado_em}" class="icon fa fa-pause-circle"></i>
                                <span ng-class="{'text txt-color-alt txt-bold': ticket.cancelado_em}" ng-if="!ticket.pausado_em && !ticket.cancelado_em" class="text txt-bold">Pausar o Ticket <small class="txt-small txt-regular margin-left-20">O ticket fica suspenso até que seja despausado e não é possível abrir um novo ticket para este item.</small></span>
                                <span ng-class="{'text txt-color-alt txt-bold': ticket.cancelado_em}" ng-if="ticket.cancelado_em" class="text txt-bold">Ticket Pausado <small class="txt-small txt-regular margin-left-20">O ticket fica suspenso até que seja despausado e não é possível abrir um novo ticket para este item.</small></span>
                                <span ng-class="{'text txt-color-alt txt-bold': ticket.cancelado_em}" ng-if="ticket.pausado_em" class="text txt-bold">Ticket Pausado <small class="txt-small txt-regular margin-left-20">O ticket fica suspenso até que seja despausado e não é possível abrir um novo ticket para este item.</small></span>
                                <label ng-class="{'disabled': ticket.cancelado_em || ticket.adsmartEtapas[7] || ticket.proximo_ciclo}" class="pause-ticket-switch switch-control pull-right no-margin">
                                    <input ng-click="pausar_ticket()" ng-if="!ticket.pausado_em && !ticket.cancelado_em" ng-disabled="ticket.adsmartEtapas[7] || ticket.proximo_ciclo" type="checkbox" />
                                    <input ng-click="pausar_ticket()" ng-if="ticket.cancelado_em" ng-disabled="ticket.cancelado_em" type="checkbox" />
                                    <input ng-click="despausar_ticket()" ng-if="ticket.pausado_em" ng-disabled="ticket.cancelado_em" type="checkbox" ng-checked="ticket.pausado_em" />
                                    <span class="switch-toggle abs-right-offset no-margin"></span>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="list-item-horizontal">
                        <a ng-if="!ticket.cancelado_em" ng-click="cancelar_ticket_confirm()" ng-class="{'disabled': ticket.adsmartEtapas[7] || ticket.proximo_ciclo}" href="javascript:;" class="indent no-underline">
                            <strong class="pull">
                                <i class="icon fa fa-times-circle"></i>
                                <span class="text txt-bold">Cancelar o Ticket <small class="txt-small txt-regular margin-left-20">O ticket será permanentemente arquivado e possibilita abrir um novo ticket para este item.</small></span>
                            </strong>
                        </a>
                        <a ng-if="ticket.cancelado_em" href="javascript:;" class="indent no-underline disabled">
                            <strong class="pull">
                                <i class="icon fa fa-times-circle txt-color-alt"></i>
                                <span class="text txt-color-alt txt-bold">Ticket Cancelado <small class="txt-small txt-regular margin-left-20">O ticket será permanentemente arquivado e possibilita abrir um novo ticket para este item.</small></span>
                            </strong>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END Opções -->            
        </div>
    </section>
</div>
<!-- END Tab display 5 -->