<!--div ng-show="loading" class="loading margin-top-20 margin-bottom-20">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div-->
<!-- PDF Fornecedor -->
<div class="workflow-artwork-attach margin-bottom-40 no-padding" ng-show="!loading" ng-cloak>
    <div class="workflow-artwork-sender margin-left-10 margin-right-10">
        <div class="block margin-top-30">
            <div ng-show="ticket.libera_edicao" class="flexbox-container flexbox-group">
                <div class="col-files-attach flex flex-fluid files-control" ng-class="{'files-control-readonly': !ticket.libera_ticket || !ticket.libera_edicao}">
                    <input type="file" accept=".pdf" ng-model="pdf" name="file" id="pdfFileUpload" valid-file=".pdf" ngf-select ngf-model-invalid="errorFile" required />
                    <span class="files-control-fake"><strong></strong><i class="addon fa fa-paperclip"></i></span>
                </div>
                <div class="flex flex-4-large col-select-supplier">
                    <div class="select-control" ng-class="{disabled: !ticket.libera_ticket || !ticket.libera_edicao}">
                        <select ng-model="fornecedorSelecionado" name="cbSupplierChooser" id="cbSupplierChooser" ng-disabled="!ticket.libera_ticket || !ticket.libera_edicao">
                            <option value="">Selecionar o fornecedor</option>
                            <option ng-repeat="(f, fornecedor) in fornecedores" value="{{ fornecedor.id }}" ng-value="{{ fornecedor.id }}">{{ fornecedor.nome }}</option>
                        </select>
                    </div>
                </div>
                <div class="flex col-artwork-submit">   
                    <button ng-click="upload_arquivo()" type="button" ng-disabled="!ticket.libera_ticket || !ticket.libera_edicao" class="btn-control btn-positive">Adicionar</button>
                </div>
                <div ng-show="pdf.progress > 0" class="progress-circle animate">
                    <svg id="svg" viewbox="0 0 100 100">
                        <circle cx="50" cy="50" r="40" fill="none"/>
                        <path fill="none" stroke-linecap="round" stroke-width="4" stroke-dasharray="{{pdf.progress*2.5}},250.2" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"/>
                        <text id="count" class="progress" x="50" y="50" text-anchor="middle" dy="7" ng-bind="pdf.progress + '%'"></text>
                    </svg>
                </div>
            </div>
        </div>
        <!-- PDF's do Fornecedor -->
        
        <div ng-show="!ticket.fornecedorPdfs.length && (ticket.versao || ticket.id_status === 6)" class="block is-empty-big margin-bottom-30">
            <span class="fa fa-industry">Nenhum PDF do fornecedor anexado.</span>
        </div>
        
        
        <div ng-show="!ticket.fornecedorPdfs.length && (!ticket.versao || ticket.id_status !== 6)" class="margin-bottom-30">
            <div class="panel default no-hover">
                <i class="icon fa fa-file-pdf-o"></i>
                <div class="panel-body">
                    <h4 class="panel-heading txt-semibold no-margin">Aguardando PDF do fornecedor...</h4>
                </div>
            </div>
        </div>
        
        <div ng-repeat="(p, pdf) in ticket.fornecedorPdfs track by $index" class="workflow-supplier-card panel secondary">
            <div class="panel-body">
                <h4 class="panel-heading animate">
                    <a target="_blank" ng-href="{{ pdf.path }}">
                        <i class="icon fa fa-file-pdf-o"></i>
                        <strong class="txt-semibold">{{ pdf.nome }}</strong>
                        <small class="description-small">Anexado por {{ pdf.nome_usuario }}, {{ pdf.data_criacao }}</small>
                        <small class="description-small no-margin">Arquivo original: {{ pdf.nome_arquivo }} - <span class="txt-small txt-regular">{{ pdf.filesize }} MB</span></small>
                    </a>
                </h4>
                <div class="flex workflow-supplier-info margin-top-15">
                    <i ng-class="{ 'fa-check': (pdf.status == 1), 'fa-industry': (pdf.status == 0) }" class="icon fa"></i>
                    <div class="panel-body">
                        <h4 class="panel-heading txt-semibold">Fornecedor • {{ pdf.fornecedor }}</h4>
                        <small ng-if="pdf.status == 0" class="description-small">Aguardando aprovação</small>
                        <small ng-if="pdf.status == 1" class="description-small">Aprovado por {{ pdf.nome_aprovacao }}, às {{ pdf.data_aprovacao }}</small>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <div class="block">
                    <div ng-if="ticket.libera_edicao" class="dropdown drop-to-left pull-right">
                        <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" ng-class="{disabled: !ticket.libera_ticket || !ticket.libera_edicao}" href="javascript:;" class="dropdown-btn dropdown-toggle fa fa-ellipsis-h"></a>
                        <div class="dropdown-list">
                            <ul>    
                                <li ng-show="pdf.link_comparar"><a ng-href="{{ pdf.link_comparar }}" target="_blank" class="txt-bold"><span class="icon fa fa-copy"></span>Comparar PDFs</a></li>
                                <li><a target="_target" ng-href="{{ pdf.baixarPdf }}" class="txt-bold"><span class="icon fa fa-download"></span>Baixar PDF</a></li>
                                <li><a ng-class="{'disabled':ticket.etapas[15]}" href="javascript:;" ng-click="excluir_pdf(pdf.id)" class="txt-bold"><span class="icon fa fa-trash"></span>Excluir</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-if="pdf.status == 0 && ticket.libera_edicao && ticket.libera_ticket" class="block supplier-btn-approval">
                    <button ng-click="reprovar_pdf(pdf.id)" type="button" class="btn-control btn-alt">Reprovar</button>
                    <button ng-click="aprovar_pdf(pdf.id)" type="button" class="btn-control btn-positive">Aprovar</button>
                </div>
            </div>
        </div>
        <!-- END PDF's do Fornecedor -->
    </div>
</div>
<!-- END PDF Fornecedor -->