<!--div ng-show="loading" class="loading margin-top-20 no-margin-bottom">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div-->

<!-- Tab display 4 -->
<div ng-show="statechange" id="tarefas" class="tabs-display" ng-cloak>
    <div class="tabs-in">
        <section class="bs">
            <!-- Timeline vertical -->
            <div class="timeline-vertical no-animate">
                <div class="event-box">
                    <div ng-class="{ 'current' : ticket.adsmartEtapas[1], 'current is-done' : ticket.adsmartEtapas[1] }" class="current event">
                                                
                        <i ng-class="{'paused-at': (ticket.adsmartEtapas[0] && !ticket.adsmartEtapas[1]) && ticket.pausado_em, 'canceled-at': (ticket.adsmartEtapas[0] && !ticket.adsmartEtapas[1]) && ticket.cancelado_em}" class="icon fa fa-flag"></i>
                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Aberto</strong>&nbsp;/&nbsp;Preencher informações iniciais</span></h3>
                            <ul class="event-tasks">
                                <li>
                                    <span ng-class="{'is-ok': ticket.adsmartEtapas[1]}" class="member"><strong class="txt-semibold">{{ ticket.adsmartTarefas['aberto_preencher'].nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ ticket.adsmartTarefas['aberto_preencher'].empresa }}
                                        <strong class="txt-regular" ng-if="!ticket.adsmartTarefas['aberto_preencher'].departamento">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="ticket.adsmartTarefas['aberto_preencher'].departamento">&nbsp;/&nbsp;{{ ticket.adsmartTarefas['aberto_preencher'].departamento}}</strong>
                                        <strong class="txt-regular" ng-if="ticket.adsmartTarefas['aberto_preencher'].data">&nbsp;&bull;&nbsp;{{ ticket.adsmartTarefas['aberto_preencher'].data }}</strong>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="event" ng-class="{'current' : ticket.adsmartEtapas[2], 'current is-done' : ticket.adsmartEtapas[3] }">
                        
                        <i ng-class="{'paused-at': ((ticket.adsmartEtapas[2] && !ticket.adsmartEtapas[3]) && !ticket.libera_ticket) && ticket.pausado_em, 'canceled-at': ((ticket.adsmartEtapas[2] && !ticket.adsmartEtapas[3]) && !ticket.libera_ticket) && ticket.cancelado_em}" class="icon fa fa-upload"></i>
                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Anexação</strong>&nbsp;/&nbsp;Anexar arquivo de mídia</span></h3>
                            <ul class="event-tasks">
                                
                                <li>
                                    <span ng-class="{'is-ok': ticket.ciclo_atual.layout.length}" class="member">
                                        <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ ticket.adsmartTarefas['anexacao_anexar'].nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ ticket.adsmartTarefas['anexacao_anexar'].empresa }}
                                        <strong class="txt-regular" ng-if="!{{ ticket.adsmartTarefas['anexacao_anexar'].departamento }}">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="ticket.adsmartTarefas['anexacao_anexar'].departamento">&nbsp;/&nbsp;{{ ticket.adsmartTarefas['anexacao_anexar'].departamento }}</strong>
                                        <strong class="txt-regular" ng-if="ticket.adsmartTarefas['anexacao_anexar'].data">&nbsp;&bull;&nbsp;{{ ticket.adsmartTarefas['anexacao_anexar'].data }}</strong>
                                    </span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="event-sub">
                        <div class="event" ng-class="{'current' : ticket.adsmartEtapas[3] && ticket.ciclo_atual.layout.length, 'current is-done' : ticket.adsmartEtapas[4] && ticket.ciclo_atual.layout.length }">
                            <i ng-class="{'paused-at': (ticket.adsmartEtapas[3] && !ticket.adsmartEtapas[4]) && ticket.ciclo_atual.layout.length && ticket.pausado_em, 'canceled-at': (ticket.adsmartEtapas[3] && !ticket.adsmartEtapas[4]) && ticket.ciclo_atual.layout.length && ticket.cancelado_em}" class="bubble"></i>
                            <div class="body">
                                <h3 class="event-title"><span><strong class="txt-bold">Anexação</strong>&nbsp;/&nbsp;Submeter à revisão</span></h3>
                                <ul class="event-tasks">
                                    
                                    <li>
                                        <span ng-class="{'is-ok': ticket.adsmartEtapas[4] && ticket.ciclo_atual.layout.length}" class="member">
                                            <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ ticket.adsmartTarefas['anexacao_submeter'].nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ ticket.adsmartTarefas['anexacao_submeter'].empresa }}
                                            <strong class="txt-regular" ng-if="!ticket.adsmartTarefas['anexacao_submeter'].departamento">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                            <strong class="txt-regular" ng-if="ticket.adsmartTarefas['anexacao_submeter'].departamento">&nbsp;/&nbsp;{{ ticket.adsmartTarefas['anexacao_submeter'].departamento }}</strong>
                                            <strong class="txt-regular" ng-if="ticket.adsmartTarefas['anexacao_submeter'].data">&nbsp;&bull;&nbsp;{{ ticket.adsmartTarefas['anexacao_submeter'].data }}</strong>
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-class="{'current' : ticket.adsmartEtapas[4] && ticket.ciclo_atual.layout.length, 'current is-done' : ticket.adsmartEtapas[5] && ticket.ciclo_atual.layout.length }" class="event">
                                                
                        <i ng-class="{'paused-at': ((ticket.adsmartEtapas[4] && !ticket.adsmartEtapas[5]) && ticket.ciclo_atual.layout.length && !ticket.libera_ticket) && ticket.pausado_em, 'canceled-at': ((ticket.adsmartEtapas[4] && !ticket.adsmartEtapas[5]) && ticket.ciclo_atual.layout.length && !ticket.libera_ticket) && ticket.cancelado_em}" class="icon fa fa-eye"></i>
                                                                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Revisão</strong>&nbsp;/&nbsp;Revisar arquivo de mídia seguindo critérios de avaliação</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-repeat="participante in ticket.adsmartTarefas['revisao_revisar']">
                                    <span ng-class="{'is-ok': ticket.adsmartEtapas[5] && ticket.ciclo_atual.layout.length}" class="member">
                                        <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa }}
                                        <strong class="txt-regular" ng-if="!participante.departamento">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento">&nbsp;/&nbsp;{{ participante.departamento }}</strong>
                                        <strong class="txt-regular" ng-if="participante.data">&nbsp;&bull;&nbsp;{{ participante.data }}</strong>
                                    </span>
                                </li>
                                                                
                            </ul>
                        </div>
                    </div>
                    <div class="event-sub">
                        <div class="event" ng-class="{'current' : ticket.adsmartEtapas[5] && ticket.ciclo_atual.layout.length, 'current is-done' : ticket.adsmartEtapas[6] && ticket.ciclo_atual.layout.length}">
                            <i ng-class="{'paused-at': (ticket.adsmartEtapas[5] && !ticket.adsmartEtapas[6]) && ticket.ciclo_atual.layout.length && ticket.pausado_em, 'canceled-at': (ticket.adsmartEtapas[5] && !ticket.adsmartEtapas[6]) && ticket.ciclo_atual.layout.length && ticket.cancelado_em}" class="bubble"></i>
                            <div class="body">
                                <h3 class="event-title"><span><strong class="txt-bold">Revisão</strong>&nbsp;/&nbsp;Submeter à aprovação</span></h3>
                                <ul class="event-tasks">
                                    
                                    <li ng-repeat="participante in ticket.adsmartTarefas['revisao_submeter']">
                                        <span ng-class="{'is-ok': ticket.adsmartEtapas[6]}" class="member">
                                            <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa }}
                                            <strong class="txt-regular" ng-if="!participante.departamento">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                            <strong class="txt-regular" ng-if="participante.departamento">&nbsp;/&nbsp;{{ participante.departamento }}</strong>
                                            <strong class="txt-regular" ng-if="participante.data">&nbsp;&bull;&nbsp;{{ participante.data }}</strong>
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div ng-class="{'current' : ticket.adsmartEtapas[6] || ticket.adsmartEtapas[7] }" class="event">
                        
                        <i ng-class="{'paused-at': ((ticket.adsmartEtapas[6] && !ticket.adsmartEtapas[7]) && !ticket.libera_ticket) && ticket.pausado_em, 'canceled-at': ((ticket.adsmartEtapas[6] && !ticket.adsmartEtapas[7]) && !ticket.libera_ticket) && ticket.cancelado_em}" class="icon fa fa-thumbs-up"></i>
                                                
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Aprovação</strong>&nbsp;/&nbsp;Aprovar arquivo de mídia seguindo critérios de avaliação</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-repeat="participante in ticket.adsmartTarefas['aprovacao_aprovar']">
                                    
                                    <!-- Linha quando um membro aprovou -->
                                    <span class="sub-bs-indented" ng-class="{'is-ok':participante.aprovado == 1, 'not-ok':participante.aprovado == 2 && ( !ticket.adsmartEtapas[6] || participante.ciclo == ticket.ciclo_atual.numero )}">
                                        <strong ng-class="{'txt-line-through': participante.aprovador.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa }}
                                        <strong class="txt-regular" ng-if="!participante.departamento">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento">&nbsp;/&nbsp;{{ participante.departamento }}</strong>
                                        <strong class="txt-regular" ng-if="participante.aprovado == 1 || (participante.aprovado == 2 && ( !ticket.adsmartEtapas[6] || participante.ciclo == ticket.ciclo_atual.numero ))">&nbsp;&bull;&nbsp;{{ participante.data }}</strong>
                                        
                                        <strong class="txt-regular cycle-badge" ng-if="(participante.aprovado == 1 || (participante.aprovado == 2 && ( !ticket.etapas[6] || participante.ciclo == ticket.ciclo_atual.numero )))" ng-class="{'not-active':(participante.aprovado == 2 && ticket.id_status != 3), 'active':participante.aprovado == 1}">Ciclo {{ participante.ciclo }}</strong>
                                                                            
                                        <strong class="margin-right-auto"></strong>
                                        <button ng-if="ticket.adsmartEtapas[6]" ng-click="enviarLembrete(participante.id_participante, participante.id_perfil, participante.enviadas);" ng-class="{'pending': participante.envia_notificacao && !participante.enviadas, 'active': participante.envia_notificacao && participante.enviadas, 'hidden': !participante.envia_notificacao || participante.aprovador.deleted_at}" type="button" class="event-task-btn btn-function tooltip top">
                                            <i class="event-task-icon icon fa fa-hand-o-left no-margin"></i>
                                            <small class="tooltip-box">Enviar Lembrete</small>
                                        </button>
                                        <button ng-click="renovarAprovacao(participante, participante.aprovador.nome_usuario)" ng-class="{'pending': participante.aprovado == 1 && ticket.id_status < 4 && ticket.ciclo_atual.numero > 1, 'hidden': participante.aprovado != 1 || ticket.id_status >= 4 || participante.aprovador.deleted_at}" ng-if="participante.id_perfil == 2 && ticket.id_usuario === ticket.id_usuario_logado && !ticket.adsmartEtapas[6] && participante.aprovado" type="button" class="event-task-btn btn-function tooltip top">
                                            <i class="event-task-icon icon resend fa fa-refresh no-margin"></i>
                                            <small class="tooltip-box">Renovar Aprovação</small>
                                        </button>
                                    </span>
                                    <!-- Linha quando um membro aprovou - FIM -->
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- END Timeline vertical -->
        </section>
    </div>
</div>
<!-- END Tab display 4 -->