<div ng-show="loading" class="loading margin-top-20 no-margin-bottom">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- Tab display 4 -->
<div ng-show="!loading" id="tarefas" class="tabs-display" ng-cloak>
    <div class="tabs-in">
        <section class="bs">
            <!-- Timeline vertical -->
            <div class="timeline-vertical no-animate">
                <div class="event-box">
                    <div ng-class="{ 'current' : ticket.etapas[1], 'current is-done' : ticket.etapas[2] }" class="event">
                                                
                        <i ng-class="{'paused-at': (ticket.etapas[1] && !ticket.etapas[2]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[1] && !ticket.etapas[2]) && ticket.cancelado_em}" class="icon fa fa-flag"></i>
                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Aberto</strong>&nbsp;/&nbsp;Preencher informações iniciais</span></h3>
                            <ul class="event-tasks">
                                <li>
                                    <span ng-class="{'paused-at': (ticket.etapas[1] && !ticket.etapas[2]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[1] && !ticket.etapas[2]) && ticket.cancelado_em}" class="member is-ok"><strong class="txt-semibold">{{ ticket.dono.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ ticket.dono.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!ticket.dono.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="ticket.dono.departamento.nome">&nbsp;/&nbsp;{{ ticket.dono.departamento.nome }}</strong>
                                        &nbsp;&bull;&nbsp;Líder do Ticket&nbsp;&bull;&nbsp;{{ ticket.dono.data_criacao }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="event" ng-class="{'current' : ticket.etapas[2], 'current is-done' : ticket.etapas[3] }">
                        
                        <i ng-class="{'paused-at': ((ticket.etapas[2] && !ticket.etapas[3]) && ticket.id_status == 1) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[2] && !ticket.etapas[3]) && ticket.id_status == 1) && ticket.cancelado_em}" class="icon fa fa-paint-brush"></i>
                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Edição</strong>&nbsp;/&nbsp;Anexar layout editado</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-show="!ticket.ciclo_atual.layout || ticket.ciclo_atual.layout.id_usuario === participante.id_usuario" ng-repeat="participante in ticket.perfis[5]">
                                    <span ng-class="{'is-ok': ticket.ciclo_atual.layout, 'paused-at': ((ticket.etapas[2] && !ticket.etapas[3]) && ticket.id_status == 1) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[2] && !ticket.etapas[3]) && ticket.id_status == 1) && ticket.cancelado_em}" class="member"><strong class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                        &nbsp;&bull;&nbsp;{{ participante.nome_perfil }}
                                        <strong class="txt-regular" ng-if="ticket.ciclo_atual.layout">&nbsp;&bull;&nbsp;{{ ticket.ciclo_atual.layout.data_criacao }}</strong>
                                    </span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <!--div class="event-sub">
                        <div class="event" ng-class="{'current' : tarefas.etapa_3, 'current is-done' : tarefas.etapa_4 }">
                            <i class="bubble"></i>
                            <div class="body">
                                <h3 class="event-title"><span><strong class="txt-bold">Edição</strong> / Anexar layout editado</span></h3>
                                <ul class="event-tasks">
                                    <li><span class="member"><strong class="txt-semibold">Fernanda Antunes</strong> &bull; PaintPack / Artwork &bull; Líder do Ticket, Revisor &bull; 12:32 de 27/04/18</span></li>
                                </ul>
                            </div>
                        </div>
                    </div-->
                    <div class="event-sub">
                        <div class="event" ng-class="{'current' : ticket.etapas[3], 'current is-done' : ticket.etapas[4] }">
                            <i class="bubble"></i>
                            <div class="body">
                                <h3 class="event-title"><span><strong class="txt-bold">Edição</strong>&nbsp;/&nbsp;Submeter à revisão</span></h3>
                                <ul class="event-tasks">
                                    
                                    <li ng-show="!ticket.etapas[4]" ng-repeat="participante in ticket.perfis[5]">
                                        <span ng-show="!ticket.etapas[4]" ng-class="{'is-ok': ticket.etapas[4], 'paused-at': (ticket.etapas[3] && !ticket.etapas[4]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[3] && !ticket.etapas[4]) && ticket.cancelado_em}" class="member">
                                            <strong class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                            <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                            <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>&nbsp;&bull;&nbsp;{{ participante.nome_perfil }}
                                            <strong class="txt-regular" ng-if="ticket.etapas[4]">&nbsp;&bull;&nbsp;{{ ticket.todosStatus[2].ultimoUsuario.data_criacao }}</strong>
                                        </span>
                                    </li>
                                    
                                    <li ng-show="ticket.etapas[4] && ticket.todosStatus[2].ultimoUsuario.id_usuario">
                                        <span ng-class="{'is-ok': ticket.etapas[4], 'paused-at': (ticket.etapas[3] && !ticket.etapas[4]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[3] && !ticket.etapas[4]) && ticket.cancelado_em}" class="member"><strong class="txt-semibold">{{ ticket.todosStatus[2].ultimoUsuario.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ ticket.todosStatus[2].ultimoUsuario.empresa.nome }}
                                            <strong class="txt-regular" ng-if="!ticket.todosStatus[2].ultimoUsuario.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                            <strong class="txt-regular" ng-if="ticket.todosStatus[2].ultimoUsuario.departamento.nome">&nbsp;/&nbsp;{{ ticket.todosStatus[2].ultimoUsuario.departamento.nome }}</strong>
                                            &nbsp;&bull;&nbsp;Arte
                                            <strong class="txt-regular" ng-if="ticket.etapas[4]">&nbsp;&bull;&nbsp;{{ ticket.todosStatus[2].ultimoUsuario.data_criacao }}</strong>
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-class="{'current' : ticket.etapas[4], 'current is-done' : ticket.etapas[5] }" class="event">
                                                
                        <i ng-class="{'paused-at': ((ticket.etapas[4] && !ticket.etapas[5]) && ticket.id_status == 2) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[4] && !ticket.etapas[5]) && ticket.id_status == 2) && ticket.cancelado_em}" class="icon fa fa-eye"></i>
                                                                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Revisão</strong>&nbsp;/&nbsp;Revisar layout editado</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-show="!ticket.etapas[5] || (ticket.ciclo_atual.solicitacoesOrdem | filter:{status_id_usuario:participante.id_usuario}:true).length" ng-repeat="participante in ticket.perfis[3]">
                                    <span ng-class="{'is-ok': ticket.etapas[5], 'paused-at': ((ticket.etapas[4] && !ticket.etapas[5]) && ticket.id_status == 2) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[4] && !ticket.etapas[5]) && ticket.id_status == 2) && ticket.cancelado_em}" class="member"><strong class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                        &nbsp;&bull;&nbsp;{{ participante.nome_perfil }}
                                        <strong class="txt-regular" ng-if="ticket.etapas[5]">&nbsp;&bull;&nbsp;{{ (ticket.ciclo_atual.solicitacoesOrdem | filter:{status_id_usuario:participante.id_usuario}:true)[0].status_data }}</strong>
                                    </span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="event-sub">
                        <div class="event" ng-class="{'current' : ticket.etapas[5], 'current is-done' : ticket.etapas[6] }">
                            <i class="bubble"></i>
                            <div class="body">
                                <h3 class="event-title"><span><strong class="txt-bold">Revisão</strong>&nbsp;/&nbsp;Submeter à aprovação</span></h3>
                                <ul class="event-tasks">
                                    
                                    <li ng-show="!ticket.etapas[6] || participante.id_usuario === ticket.todosStatus[2].ultimoUsuario.id_usuario  || participante.id_usuario === ticket.todosStatus[3].ultimoUsuario.id_usuario || participante.id_usuario === ticket.todosStatus[4].ultimoUsuario.id_usuario" ng-repeat="participante in ticket.perfis[3]">
                                        <span ng-class="{'is-ok': ticket.etapas[6], 'paused-at': (ticket.etapas[5] && !ticket.etapas[6]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[5] && !ticket.etapas[6]) && ticket.cancelado_em}" class="member"><strong class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                            <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                            <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                            &nbsp;&bull;&nbsp;{{ participante.nome_perfil }}
                                            
                                            <strong class="txt-regular" ng-if="ticket.etapas[6] && ticket.todosStatus[4].ultimoUsuario.data_criacao && !ticket.todosStatus[3].ultimoUsuario.data_criacao">&nbsp;&bull;&nbsp;{{ ticket.todosStatus[4].ultimoUsuario.data_criacao }}</strong>
                                            <strong class="txt-regular" ng-if="ticket.etapas[6] && ticket.todosStatus[3].ultimoUsuario.data_criacao">&nbsp;&bull;&nbsp;{{ ticket.todosStatus[3].ultimoUsuario.data_criacao }}</strong>
                                            
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Marketing - Opcional -->
                    <div ng-show="ticket.perfis[2]" ng-class="{'current' : ticket.etapas[6], 'current is-done' : ticket.etapas[7] }" class="event">
                        
                        <i ng-class="{'paused-at': ((ticket.etapas[6] && !ticket.etapas[7]) && ticket.id_status == 3) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[6] && !ticket.etapas[7]) && ticket.id_status == 3) && ticket.cancelado_em}" class="icon fa fa-thumbs-up"></i>
                                                
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Aprovação Marketing</strong>&nbsp;/&nbsp;Aprovar</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-class="{'event-tasks-sub': participante.equipe.length}" ng-repeat="participante in ticket.perfis[2]">
                                    
                                    <!-- Linha de quem manda na equipe -->
                                    <span ng-show="!participante.membro_aprovador" ng-class="{'members':participante.equipe.length && !participante.aprovado, 'member':!participante.equipe.length, 'is-ok':participante.aprovado == 1, 'not-ok':participante.aprovado == 2 && !ticket.etapas[6], 'paused-at': ((ticket.etapas[6] && !ticket.etapas[7]) && ticket.id_status == 3) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[6] && !ticket.etapas[7]) && ticket.id_status == 3) && ticket.cancelado_em}"><strong class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                        &nbsp;&bull;&nbsp;{{ participante.nome_perfil }}
                                        <strong class="txt-regular" ng-if="participante.aprovado == 1 || (participante.aprovado == 2 && !ticket.etapas[6])">&nbsp;&bull;&nbsp;{{ participante.data_atualizacao }}</strong>

                                        <strong class="margin-right-auto"></strong>
                                        
                                        <button ng-click="enviarLembrete(participante.id_participante, participante.id_perfil, participante.enviadas);" ng-class="{'pending': participante.envia_notificacao && !participante.enviadas, 'active': participante.envia_notificacao && participante.enviadas, 'disabled': !participante.envia_notificacao}" type="button" class="event-task-btn btn-function tooltip top">
                                            <i class="event-task-icon icon fa fa-hand-o-left no-margin"></i>
                                            <small class="tooltip-box">Enviar Lembrete</small>
                                        </button>
                                        
                                        <button ng-click="renovarAprovacao(participante)" ng-class="{'pending': participante.aprovado == 1 && ticket.id_status < 4 && ticket.ciclo_atual.numero > 1, 'disabled': participante.aprovado != 1 || ticket.id_status >= 4}" ng-if="participante.id_perfil == 2 && ticket.id_usuario === ticket.id_usuario_logado" type="button" class="event-task-btn btn-function tooltip top">
                                            <i class="event-task-icon icon resend fa fa-refresh no-margin"></i>
                                            <small class="tooltip-box">Renovar Aprovação</small>
                                        </button>
                                    </span>
                                    <!-- Linha de quem manda na equipe - FIM -->
                                    
                                    <!-- Linha quando um membro aprovou -->
                                    <span ng-show="participante.membro_aprovador" ng-class="{'is-ok':participante.aprovado == 1, 'not-ok':participante.aprovado == 2 && !ticket.etapas[6], 'paused-at': ((ticket.etapas[6] && !ticket.etapas[7]) && ticket.id_status == 3) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[6] && !ticket.etapas[7]) && ticket.id_status == 3) && ticket.cancelado_em}"><strong class="txt-semibold">{{ participante.aprovador.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.aprovador.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.aprovador.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.aprovador.departamento.nome">&nbsp;/&nbsp;{{ participante.aprovador.departamento.nome }}</strong>
                                        &nbsp;&bull;&nbsp;{{ participante.nome_perfil }}
                                        <strong class="txt-regular" ng-if="participante.aprovado == 1 || (participante.aprovado == 2 && !ticket.etapas[6])">&nbsp;&bull;&nbsp;{{ participante.data_atualizacao }}</strong>
                                        
                                        <strong class="margin-right-auto"></strong>
                                        
                                        <button ng-click="enviarLembrete(participante.id_participante, participante.id_perfil, participante.enviadas);" ng-class="{'pending': participante.envia_notificacao && !participante.enviadas, 'active': participante.envia_notificacao && participante.enviadas, 'disabled': !participante.envia_notificacao}" type="button" class="event-task-btn btn-function tooltip top">
                                            <i class="event-task-icon icon fa fa-hand-o-left no-margin"></i>
                                            <small class="tooltip-box">Enviar Lembrete</small>
                                        </button>
                                        
                                        <button ng-click="renovarAprovacao(participante)" ng-class="{'pending': participante.aprovado == 1 && ticket.id_status < 4 && ticket.ciclo_atual.numero > 1, 'disabled': participante.aprovado != 1 || ticket.id_status >= 4}" ng-if="participante.id_perfil == 1 && ticket.id_usuario === ticket.id_usuario_logado" type="button" class="event-task-btn btn-function tooltip top margin-right-10">
                                            <i class="event-task-icon icon resend fa fa-refresh no-margin"></i>
                                            <small class="tooltip-box">Renovar Aprovação</small>
                                        </button>
                                    </span>
                                    <!-- Linha quando um membro aprovou - FIM -->
                                    
                                    <!-- Looping dos membros da equipe -->
                                    <ul ng-show="participante.equipe.length && !participante.membro_aprovador && participante.aprovado !== 1">
                                        
                                        <li ng-repeat="membro in participante.equipe">
                                            <span>
                                                <strong class="txt-semibold">{{ membro.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ membro.empresa.nome }}
                                                <strong class="txt-regular" ng-if="!membro.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                                <strong class="txt-regular" ng-if="membro.departamento.nome">&nbsp;/&nbsp;{{ membro.departamento.nome }}</strong>
                                                &nbsp;&bull;&nbsp;{{ participante.nome_perfil }}

                                                <strong class="margin-right-auto"></strong>
                                                                                        
                                                <button
                                                    ng-click="enviarLembrete(membro.id_membro, participante.id_perfil, membro.enviadas, 'id_membro');"
                                                    ng-class="{'pending': participante.envia_notificacao && !membro.enviadas, 'active': participante.envia_notificacao && membro.enviadas, 'disabled': !participante.envia_notificacao}"
                                                    type="button" class="event-task-btn btn-function tooltip top">

                                                    <i class="event-task-icon icon fa fa-hand-o-left no-margin"></i>
                                                    <small class="tooltip-box">Enviar Lembrete</small>
                                                </button>
                                                
                                            </span>
                                        </li>
                                        
                                    </ul>
                                    <!-- Looping dos membros da equipe - FIM -->
                                    
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <!-- Marketing - Opcional -->
                    
                    <div ng-class="{'current' : ticket.etapas[7], 'current is-done' : ticket.etapas[8] }" class="event">
                                                
                        <i ng-class="{'paused-at': ((ticket.etapas[7] && !ticket.etapas[8]) && ticket.id_status == 4) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[7] && !ticket.etapas[8]) && ticket.id_status == 4) && ticket.cancelado_em}" class="icon fa fa-gavel"></i>
                                                                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Demais Aprovações</strong>&nbsp;/&nbsp;Aprovar</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-class="{'event-tasks-sub': participante.equipe.length}" ng-repeat="participante in ticket.perfis[1]">
                                    
                                    <!-- Linha de quem manda na equipe -->
                                    <span ng-show="!participante.membro_aprovador" ng-class="{'members':participante.equipe.length, 'member':!participante.equipe.length, 'is-ok':participante.aprovado == 1, 'not-ok':participante.aprovado == 2 && !ticket.etapas[7], 'paused-at': ((ticket.etapas[7] && !ticket.etapas[8]) && ticket.id_status == 4) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[7] && !ticket.etapas[8]) && ticket.id_status == 4) && ticket.cancelado_em}"><strong class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                        &nbsp;&bull;&nbsp;{{ participante.nome_perfil }}
                                        <strong class="txt-regular" ng-if="participante.aprovado == 1 || (participante.aprovado == 2 && !ticket.etapas[7])">&nbsp;&bull;&nbsp;{{ participante.data_atualizacao }}</strong>
                                        
                                        <strong class="margin-right-auto"></strong>
                                        
                                        <button ng-click="enviarLembrete(participante.id_participante, participante.id_perfil, participante.enviadas);" ng-class="{'pending': participante.envia_notificacao && !participante.enviadas, 'active': participante.envia_notificacao && participante.enviadas, 'disabled': !participante.envia_notificacao}" type="button" class="event-task-btn btn-function tooltip top">
                                            <i class="event-task-icon icon fa fa-hand-o-left no-margin"></i>
                                            <small class="tooltip-box">Enviar Lembrete</small>
                                        </button>
                                        
                                        <button ng-click="renovarAprovacao(participante)" ng-class="{'pending': participante.aprovado == 1 && ticket.id_status < 4 && ticket.ciclo_atual.numero > 1, 'disabled': participante.aprovado != 1 || ticket.id_status >= 4}" ng-if="participante.id_perfil == 1 && ticket.id_usuario === ticket.id_usuario_logado" type="button" class="event-task-btn btn-function tooltip top">
                                            <i class="event-task-icon icon resend fa fa-refresh no-margin"></i>
                                            <small class="tooltip-box">Renovar Aprovação</small>
                                        </button>
                                    </span>
                                    <!-- Linha de quem manda na equipe - FIM -->
                                    
                                    <!-- Linha quando um membro aprovou -->
                                    <span ng-show="participante.membro_aprovador" ng-class="{'is-ok':participante.aprovado == 1, 'not-ok':participante.aprovado == 2 && !ticket.etapas[7], 'paused-at': ((ticket.etapas[7] && !ticket.etapas[8]) && ticket.id_status == 4) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[7] && !ticket.etapas[8]) && ticket.id_status == 4) && ticket.cancelado_em}"><strong class="txt-semibold">{{ participante.aprovador.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.aprovador.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.aprovador.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.aprovador.departamento.nome">&nbsp;/&nbsp;{{ participante.aprovador.departamento.nome }}</strong>
                                        &nbsp;&bull;&nbsp;{{ participante.nome_perfil }}
                                        <strong class="txt-regular" ng-if="participante.aprovado == 1 || (participante.aprovado == 2 && !ticket.etapas[7])">&nbsp;&bull;&nbsp;{{ participante.data_atualizacao }}</strong>
                                        
                                        <strong class="margin-right-auto"></strong>
                                        
                                        <button ng-click="enviarLembrete(participante.id_participante, participante.id_perfil, participante.enviadas);" ng-class="{'pending': participante.envia_notificacao && !participante.enviadas, 'active': participante.envia_notificacao && participante.enviadas, 'disabled': !participante.envia_notificacao}" type="button" class="event-task-btn btn-function tooltip top">
                                            <i class="event-task-icon icon fa fa-hand-o-left no-margin"></i>
                                            <small class="tooltip-box">Enviar Lembrete</small>
                                        </button>
                                        
                                        <button ng-click="renovarAprovacao(participante)" ng-class="{'pending': participante.aprovado == 1 && ticket.id_status < 4 && ticket.ciclo_atual.numero > 1, 'disabled': participante.aprovado != 1 || ticket.id_status >= 4}" ng-if="participante.id_perfil == 1 && ticket.id_usuario === ticket.id_usuario_logado" type="button" class="event-task-btn btn-function tooltip top">
                                            <i class="event-task-icon icon resend fa fa-refresh no-margin"></i>
                                            <small class="tooltip-box">Renovar Aprovação</small>
                                        </button>                                        
                                    </span>
                                    <!-- Linha quando um membro aprovou - FIM -->
                                    
                                    <!-- Looping dos membros da equipe -->
                                    <ul ng-show="participante.equipe.length && !participante.membro_aprovador && participante.aprovado !== 1">
                                        
                                        <li ng-repeat="membro in participante.equipe">
                                            <span>
                                                <strong class="txt-semibold">{{ membro.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ membro.empresa.nome }}
                                                <strong class="txt-regular" ng-if="!membro.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                                <strong class="txt-regular" ng-if="membro.departamento.nome">&nbsp;/&nbsp;{{ membro.departamento.nome }}</strong>
                                                &nbsp;&bull;&nbsp;{{ participante.nome_perfil }}

                                                <strong class="margin-right-auto"></strong>
                                                                                        
                                                <button
                                                    ng-click="enviarLembrete(membro.id_membro, participante.id_perfil, membro.enviadas, 'id_membro');"
                                                    ng-class="{'pending': participante.envia_notificacao && !membro.enviadas, 'active': participante.envia_notificacao && membro.enviadas, 'disabled': !participante.envia_notificacao}"
                                                    type="button" class="event-task-btn btn-function tooltip top">

                                                    <i class="event-task-icon icon fa fa-hand-o-left no-margin"></i>
                                                    <small class="tooltip-box">Enviar Lembrete</small>
                                                </button>
                                                
                                            </span>
                                        </li>
                                        
                                    </ul>
                                    <!-- Looping dos membros da equipe - FIM -->
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div ng-class="{'current' : ticket.etapas[8], 'current is-done' : ticket.etapas[9] }" class="event">
                        
                        <i ng-class="{'paused-at': (ticket.etapas[8] && !ticket.etapas[9]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[8] && !ticket.etapas[9]) && ticket.cancelado_em}" class="icon fa fa-paint-brush"></i>
                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Finalização</strong>&nbsp;/&nbsp;Anexar Arte-final</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-show="!ticket.artes.length || ticket.artes[0].id_usuario === participante.id_usuario" ng-repeat="participante in ticket.perfis[5]">
                                    <span ng-class="{'is-ok': ticket.artes.length, 'paused-at': (ticket.etapas[8] && !ticket.etapas[9]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[8] && !ticket.etapas[9]) && ticket.cancelado_em}" class="member"><strong class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                        &nbsp;&bull;&nbsp;{{ participante.nome_perfil }}
                                        <strong class="txt-regular" ng-if="ticket.etapas[9]">&nbsp;&bull;&nbsp;{{ ticket.artes[0].data_criacao }}</strong>
                                    </span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="event-sub">
                        <div class="event" ng-class="{'current' : ticket.etapas[9], 'current is-done' : ticket.etapas[10] }">
                            <i class="bubble"></i>
                            <div class="body">
                                <h3 class="event-title"><span><strong class="txt-bold">Finalização</strong> / Finalizar anexação de arte-final</span></h3>
                                <ul class="event-tasks">
                                    
                                    <li ng-show="!ticket.id_envio_autorizado || ticket.id_envio_autorizado === participante.id_usuario" ng-repeat="participante in ticket.perfis[5]">
                                        <span ng-class="{'is-ok': ticket.data_envio_autorizado, 'paused-at': (ticket.etapas[9] && !ticket.etapas[10]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[9] && !ticket.etapas[10]) && ticket.cancelado_em}" class="member"><strong class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                            <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                            <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                            &nbsp;&bull;&nbsp;{{ participante.nome_perfil }}
                                            <strong class="txt-regular" ng-if="ticket.etapas[10]">&nbsp;&bull;&nbsp;{{ ticket.data_envio_autorizado }}</strong>
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Envio de Arte - Opcional -->
                    <div ng-show="ticket.perfis[6]" ng-class="{'current' : ticket.etapas[10], 'current is-done' : ticket.etapas[11] }" class="event">
                        
                        <i ng-class="{'paused-at': (ticket.etapas[10] && !ticket.etapas[11]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[10] && !ticket.etapas[11]) && ticket.cancelado_em}" class="icon fa fa-paper-plane"></i>
                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Envio da Arte</strong>&nbsp;/&nbsp;Enviar arte-final para o fornecedor</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-show="!ticket.artes_envios.length || ticket.artes_envios[0].id_usuario === participante.id_usuario" ng-repeat="participante in ticket.perfis[6]">
                                    <span ng-class="{'is-ok': ticket.artes_envios.length, 'paused-at': (ticket.etapas[10] && !ticket.etapas[11]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[10] && !ticket.etapas[11]) && ticket.cancelado_em}" class="member"><strong class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                        &nbsp;&bull;&nbsp;{{ participante.nome_perfil }}
                                        <strong class="txt-regular" ng-if="ticket.etapas[11]">&nbsp;&bull;&nbsp;{{ ticket.artes_envios[0].data_criacao }}</strong>
                                    </span>
                                </li>
                                
                                <!--li ng-show="(ticket.id_envio_finalizado | filter:{id_usuario:ticket.perfis[3]}:true)">
                                    <span class="member is-ok"><strong class="txt-semibold">{{ ticket.dono.nome_usuario }}</strong> &bull; {{ ticket.dono.empresa.nome }}
                                    <strong class="txt-regular" ng-if="!ticket.dono.departamento.nome">/ <i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                    <strong class="txt-regular" ng-if="ticket.dono.departamento.nome">/ {{ ticket.dono.departamento.nome }}</strong>
                                    &bull; Líder do Ticket &bull; {{ ticket.dono.data_envio_finalizado }}</span>
                                </li-->
                                
                            </ul>
                        </div>
                    </div>
                    <div ng-show="ticket.perfis[6]" class="event-sub">
                        <div class="event" ng-class="{'current' : ticket.etapas[11], 'current is-done' : ticket.etapas[12] }">
                            <i class="bubble"></i>
                            <div class="body">
                                <h3 class="event-title"><span><strong class="txt-bold">Envio da Arte</strong>&nbsp;/&nbsp;Declarar arte-final como enviada</span></h3>
                                <ul class="event-tasks">
                                    
                                    <li ng-show="!ticket.etapas[12] || participante.id_usuario === ticket.id_envio_finalizado" ng-repeat="participante in ticket.perfis[6]">
                                        <span ng-class="{'is-ok': ticket.etapas[12], 'paused-at': (ticket.etapas[11] && !ticket.etapas[12]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[11] && !ticket.etapas[12]) && ticket.cancelado_em}" class="member"><strong class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                            <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                            <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                            &nbsp;&bull;&nbsp;{{ participante.nome_perfil }}
                                            <strong class="txt-regular" ng-if="ticket.etapas[12]">&nbsp;&bull;&nbsp;{{ ticket.data_envio_finalizado }}</strong>
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Envio de Arte - Opcional -->
                    
                    <div ng-class="{'current' : ticket.etapas[13] }" class="event">
                        
                        <i class="icon fa fa-flag-checkered"></i>
                                                
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Encerrado</strong>&nbsp;/&nbsp;Encerrar ticket</span></h3>
                            <ul class="event-tasks">
                                
                                <li>
                                    
                                    <!--span ng-class="{'is-ok': ticket.etapas[12]}" class="member"><strong class="txt-semibold">{{ participante.nome_usuario }}</strong> &bull; {{ participante.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.departamento.nome">/ <i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento.nome">/ {{ participante.departamento.nome }}</strong>
                                        &bull; {{ participante.nome_perfil }}
                                        <strong class="txt-regular" ng-if="ticket.etapas[12]">&bull; {{ ticket.todosStatus[6].ultimoUsuario.data_criacao }}</strong>
                                    </span-->
                                    
                                    <span  ng-class="{'is-ok': ticket.etapas[13]}" class="member"><strong class="txt-semibold">{{ ticket.dono.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ ticket.dono.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!ticket.dono.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="ticket.dono.departamento.nome">&nbsp;/&nbsp;{{ ticket.dono.departamento.nome }}</strong>
                                        &nbsp;&bull;&nbsp;Líder do Ticket
                                        <strong class="txt-regular" ng-if="ticket.etapas[13]">&nbsp;&bull;&nbsp;{{ ticket.todosStatus[6].ultimoUsuario.data_criacao }}</strong>
                                    </span>
                                    
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Timeline vertical -->
        </section>
    </div>
</div>
<!-- END Tab display 4 -->