<!--div ng-show="loading" class="loading margin-top-20 no-margin-bottom">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div-->
<!-- Tab display 5 -->
<div ng-class="{'padding-top-10': ticket.adsmartEtapas[7] || ticket.proximo_ciclo || !ticket.libera_ticket}" ng-show="statechange" id="mensagens" class="tabs-display" ng-cloak>
    <div class="tabs-in">
        <section class="workflow-instructions-cycle no-margin-top">
            <div ng-show="!ticket.adsmartEtapas[7] && ticket.libera_ticket && !ticket.proximo_ciclo" class="new-conversation block margin-left-10 margin-right-10 no-margin-bottom padding-bottom-20 no-border clearfix">
                <a ng-click="exibe_nova_conversa_f();marcar_participantes_unicos(ticket.id_usuario)" ng-class="{'active': exibe_nova_conversa, 'disabled': ticket.pausado_em}" href="javascript:;" class="btn-function pull-right"><i class="icon fa fa-comments"></i> Nova Conversa</a>
            </div>
            <div class="flexbox-container flexbox-group margin-left-10 margin-right-10">
                <div class="col-instruction-description no-margin">
                    <div class="chat-comment-container flex-12-large no-margin-top">
                        <div ng-show="exibe_nova_conversa && !ticket.adsmartEtapas[7] && ticket.libera_ticket && !ticket.proximo_ciclo" class="conversation chat-comment-box no-border no-margin-top no-padding-top">
                            <div class="margin-bottom-20">
                                <div class="chat-textbox-container no-margin no-padding">
                                    <div data-placeholder="Digite uma mensagem" contenteditable="true" ng-init="$root.msgTicket = ''" ng-model="$root.msgTicket" ng-paste="msg_copy_paste_handler($event, 'geral')" class="input-control textbox-fake textbox-fake-auto-resizable editable"></div>
                                    <div class="chat-textbox-controls">
                                        <div class="tooltip attach-file left">
                                            <span class="fa fa-image"></span>
                                            <input type="file" data-id="{{$id}}" onchange="angular.element(this).scope().msg_attach_file(this, 'geral')" class="msgAttachment" />
                                            <span class="tooltip-box">Anexar imagem no texto</span>
                                        </div>
                                        <!-- TO DO - Enviar Notificações por Email -->
                                        <div class="tooltip send-by-mail left">
                                            <a href="javascript:;" ng-click="enviar_msg_email();" class="btn btn-send-email"><span ng-class="{ 'fa-envelope':(memberList | filter:{selected:true}:true).length, 'fa-envelope-o':!(memberList | filter:{selected:true}:true).length }" class="fa"></span></a>
                                            <span class="tooltip-box">Enviar por e-mail</span>
                                        </div>
                                        <!-- END TO DO - Enviar Notificações por Email -->
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group margin-top-20 margin-bottom-20 clearfix"> 
                                <div class="pull-right">    
                                    <button ng-click="oculta_nova_conversa_f();" type="button" class="btn-control btn-alt margin-right-20">Cancelar</button>
                                    <button ng-click="adicionar_mensagem()" type="button" class="btn-control btn-positive">Enviar</button>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!ticket.comentarios.length || ticket.comentarios.length === 0" class="is-empty-big">
                            <span class="fas fa-comments">Nenhuma conversa iniciada ainda</span>
                        </div>
                        <ul ng-class="{'no-border': (!ticket.comentarios.length || ticket.comentarios.length === 0 || ticket.adsmartEtapas[7]) || !ticket.libera_ticket || ticket.proximo_ciclo}" class="chat-comment-list">
                            <li ng-repeat="mensagem in ticket.comentarios" ng-class="{'no-border': $first}" class="border-color-primary">
                                <div class="chat-comment-body clearfix">
                                    <i class="icon fa fa-comment-o"></i>
                                    <h5 class="chat-comment-by txt-semibold">{{mensagem.nome_usuario}} <span class="created-on txt-regular">{{mensagem.data_criacao}}</span><a ng-if="mensagem.array_envios" href="javascript:;" ng-click="exibe_destinatarios(mensagem.array_envios)" class="view-recipients tooltip top no-underline margin-left-10"><i class="fa fa-envelope"></i><span class="tooltip-box">Ver destinatários</span></a></h5>
                                    <p ng-bind-html="mensagem.texto" class="txt-regular"></p>
                                </div>
                                <div ng-hide="ticket.comentarios.length === 0 && !ticket.adsmartEtapas[7] && ticket.libera_ticket && !ticket.proximo_ciclo" class="no-margin-top margin-left-30">
                                    <div ng-show="!ticket.adsmartEtapas[7] && ticket.libera_ticket && !ticket.proximo_ciclo" class="btn-group margin-top-15 margin-bottom-20 clearfix">
                                        <button type="button" ng-click="exibir_responder_msg_f($id);marcar_participantes_unicos(mensagem.id_usuario)" class="btn-control btn-positive">Responder</button>
                                    </div>
                                    <div ng-show="exibir_responder_msg[$id]" class="chat-comment-box replies">
                                        <div class="chat-textbox-container">
                                            <div data-placeholder="Digite uma resposta" contenteditable="true" ng-model="$root.respostas[$id]" ng-init="$root.respostas[$id] = ''" ng-paste="msg_copy_paste_handler($event, 'respostas', $id)" class="input-control textbox-fake textbox-fake-auto-resizable editable"></div>
									        <div class="chat-textbox-controls">
                                                <div class="tooltip attach-file left">
                                                    <span class="fa fa-image"></span>
                                                    <input type="file" data-id="{{$id}}" onchange="angular.element(this).scope().msg_attach_file(this, 'respostas')" class="msgAttachment" />
                                                    <span class="tooltip-box">Anexar imagem no texto</span>
                                                </div>
                                                <!-- TO DO - Enviar Notificações por Email -->
                                                <div class="tooltip send-by-mail left">
                                                    <a href="javascript:;" ng-click="enviar_msg_email();" class="btn btn-send-email"><span ng-class="{ 'fa-envelope':(memberList | filter:{selected:true}:true).length, 'fa-envelope-o':!(memberList | filter:{selected:true}:true).length }" class="fa"></span></a>
                                                    <span class="tooltip-box">Enviar por e-mail</span>
                                                </div>
                                                <!-- END TO DO - Enviar Notificações por Email -->
                                            </div>
                                        </div>
                                        <div class="btn-group margin-top-20 margin-bottom-20 clearfix">    
                                            <div class="pull-right">    
                                                <button ng-click="exibir_responder_msg[$id] = 0" type="button" class="btn-control btn-alt margin-right-20">Cancelar</button>
                                                <button ng-click="responder(mensagem.id, $id, 'geral')" type="button" class="btn-control btn-positive">Enviar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul>
                                    <li ng-repeat="(c, resposta) in mensagem.respostas" class="border-color-primary">
                                        <div class="chat-comment-body clearfix">
                                            <i class="icon fa fa-comment-o reply"></i>
                                            <h5 class="chat-comment-by txt-semibold">{{resposta.nome_usuario}} <span class="created-on txt-regular">{{resposta.data_criacao}}</span><a ng-if="resposta.array_envios" href="javascript:;" ng-click="exibe_destinatarios(resposta.array_envios)" class="view-recipients tooltip top no-underline margin-left-10"><i class="fa fa-envelope"></i><span class="tooltip-box">Ver destinatários</span></a></h5>
                                            <p ng-bind-html="resposta.texto" class="txt-regular"></p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- END Tab display 5 -->