.ng-confirm .ng-confirm-box {
    overflow: unset !important;
}

.ng-confirm.ng-confirm-light .ng-confirm-box,
.ng-confirm.ng-confirm-white .ng-confirm-box {
    padding: 45px 0px 0;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-color: #ACACAC;
}

.ng-confirm .ng-confirm-bg {
    -webkit-transition: none;
    transition: opacity none;
}

.ng-confirm.ng-confirm-white .ng-confirm-bg {
    background-color: #E0E0E0;
    opacity: .2;
}

.ng-confirm .ng-confirm-box div.ng-confirm-content-pane {
    margin: 0px;
    height: 0px;
    display: inline-block;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0px 45px;
}

.ng-confirm .ng-confirm-box div.ng-confirm-content-pane .ng-confirm-content .bs {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ACACAC;
}

.ng-confirm .ng-confirm-box .ng-confirm-buttons {
    padding-top: 0px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 35px;
    margin-top: -4px;
}

/*.ng-confirm .ng-confirm-box .ng-confirm-buttons button {
    padding: 0px 22px 0px 3px !important;
}*/
.ng-confirm.ng-confirm-light .ng-confirm-box .ng-confirm-buttons button,
.ng-confirm.ng-confirm-white .ng-confirm-box .ng-confirm-buttons button {
    height: 30px;
    border-radius: 64px;
}

.ng-confirm .ng-confirm-box div.ng-confirm-closeIcon {
    position: absolute;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0px !important;
    line-height: normal !important;
    cursor: pointer;
    text-align: center;
    top: 12px;
    right: 16px;
    height: auto !important;
    width: auto !important;
    opacity: 1;
}

.ng-confirm .ng-confirm-box div.ng-confirm-closeIcon .ng-confirm-btn-close {
    font-size: 20px;
    color: #004192;
}