* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000000;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
}

body {
    position: relative;
    z-index: 0;
    overflow-x: hidden;
}

.master {
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main {
    margin-bottom: -80px;
    padding-top: 60px;
    min-height: 100vh;
}

.page-no-scroll {
    overflow: hidden;
}

.no-scroll {
    overflow-x: hidden;
    overflow-y: hidden;
}

.overlay:before {
    position: fixed;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 4;
    opacity: 0.8;
    background: #000000;
}

.blurred {
    filter: blur(10px);
}

.blurred:before {
    opacity: 0.3;
    background: #FFFFFF;
}

/* Loading animation */

.lds {
    display: none;
}

.lds-css:after {
    display: block;
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 99999999;
    background: #F4F4F4;
}

.lds-rolling .lds-text {
    position: absolute;
    font-size: 16px;
    text-align: center;
    left: 0;
    bottom: 20px;
    width: 100%;
    margin: 0;
}

.lds-rolling {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    z-index: 9999999999;
    width: 150px !important;
    height: 150px !important;
}

.lds-rolling .lds-in {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999999999999;
    margin: 0 auto;
    border: none;
    transform: translate(-50%, -50%);
}

.dot-overtaking,
.dot-overtaking::before,
.dot-overtaking::after {
    filter: blur(0px) !important;
}

/* Contents */

.content {
    margin: 0 auto;
}

.content-fluid {
    width: 67.761%;
    padding: 0px;
}

.admin-container {
    padding-top: 40px;
}

.breadcrumb {
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    margin: 20px 0px 17px 0px;
    padding: 0px;
    background: none;
}

.breadcrumb>.btn-back {
    display: inline-flex;
    color: #004392;
    text-decoration: none;
    align-items: center;
}

.breadcrumb>.btn-back>.icon {
    font-size: 18px;
    font-weight: 300;
}

.breadcrumb>.btn-back:hover,
.breadcrumb>.btn-back:hover>.icon {
    color: #4284F4;
}

input[type="file"] {
    font-size: 10px;
}

label.error {
    font-size: 12px;
    font-weight: 400;
    color: #004392;
    vertical-align: middle;
    margin: 0px;
}

.hint {
    display: block;
    margin: 10px 0px 10px 0px;
    line-height: 16px;
}

.msg-error {
    display: block;
    font-weight: 400;
    margin: 3px 0px 0px 0px;
}

.tablesorter-headerDesc {
    background-image: url('../images/icons/desc.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.tablesorter-headerAsc {
    background-image: url('../images/icons/asc.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.tablesorter-headerUnSorted {
    background-image: url('../images/icons/upDown.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.sorter-false {
    background-image: none;
}

.clear {
    clear: both;
}

.box-modulos div {
    text-align: left !important;
    /*width: 170px;*/
}

.list-header {
    background-color: #E0E0E0;
    padding: 15px;
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}

.list-header button,
.list-title-header a {
    float: right;
}

.list-title-header {
    display: flex;
    line-height: normal;
    align-items: center;
    margin-bottom: 30px;
}

.list-title-header h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin: 0px;
}

.list-title-header .count {
    font-weight: 400;
    margin-left: auto;
}

.list-header .search,
.list-title-header h1 {
    float: left;
}

.list-title-sub {
    display: inline-flex;
    align-items: center;
}

.list-title-sub .icon {
    font-size: 24px;
    margin-right: 10px;
}

.modal-body form .form-group span {
    margin: 20px;
}

.btn-search-left {
    float: right;
    margin-left: 20px;
}

.filter-btn-group .btn {
    float: none;
    width: 100%;
}

.filter-btn-group .btn:last-child {
    margin-left: 0px;
    margin-right: 0px;
}

.modalBtnGroup {
    text-align: right;
    margin-top: 30px;
}

.modalButtons {
    text-align: right;
    margin: 30px 0 10px;
    clear: both;
}

.modalButtons input,
.modalButtons button,
.modalButtons .linkCadastro,
.modalButtons a {
    margin: 0 10px;
}

.modalBtnGroup .btn-control {
    margin: 0px 10px;
}

.modalBtnGroup .btn-control:last-child {
    margin: 0px;
}

.modal-btn-gerenciar {
    float: right;
    margin-bottom: 15px;
    color: #FFFFFF !important;
}

#list-tipos-artes {
    width: auto;
    margin: 0 auto;
}

#list-tipos-artes tr td {
    width: 300px;
}

#list-tipos-logos tr td {
    border: none;
}

#list-tipos-logos .title-logo {
    font-size: 14px;
}

.name-logo {
    font-size: 12px;
}

#list-tipos-logos .img-logo {
    width: 70px;
}

#list-tipos-logos .center-logo {
    margin-bottom: 10px;
}

#list-tipos-logos .upload-logo {
    margin-bottom: 0px;
}

.box-product-colors {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    padding: 0;
}

.box-product-colors-thumb {
    width: 25px;
    height: 25px;
    margin: 5px auto;
    border-radius: 4px;
}

.box-product-colors-text,
.box-product-usos-incorretos-text,
.box-product-usos-aplicacoes-text,
.box-product-versoes-text,
.box-product-proporcoes-text,
.box-product-icones-text,
.box-sku-artes-finais-text,
.box-familia-enxoval-text {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 15px;
}

.box-product-tipografias-text {
    width: 215px;
    text-align: center;
    font-size: 12px;
}

.box-product-tipografias-text span,
.box-product-versoes-text span,
.box-product-icones-text span,
.box-familia-enxoval span {
    margin: 5px 5px 0 0 !important;
}

.box-product-tipografias img {
    width: 215px;
    margin: 10px;
}

.box-product-tipografias,
.box-product-usos-incorretos,
.box-product-usos-aplicacoes,
.box-product-versoes,
.box-product-proporcoes,
.box-product-icones,
.box-sku-artes-finais,
.box-familia-enxoval {
    padding: 0 5px;
    text-align: center;
}

.box-product-usos-incorretos img,
.box-product-usos-aplicacoes img,
.box-product-versoes img,
.box-product-proporcoes img,
.box-product-icones img,
.box-sku-artes-finais img,
.box-familia-enxoval img {
    width: 55px;
    margin: 0 15px 5px;
    padding: 0;
}

.box-msg {
    clear: both;
    margin-bottom: 5px;
}

.prod-relations,
.sku-relations,
.familia-relations {
    /*background-color: #DFDFDF;*/
    min-height: 200px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.prod-relations .box-vertical-interno,
.sku-relations .box-vertical-interno,
.familia-relations .box-vertical-interno {
    background-color: #FFFFFF;
    /*height: 340px;*/
    /*overflow: auto;*/
    min-width: 200px;
    /*margin-top: 5%;
    border-radius: 4px;*/
}

.files-modal {
    text-align: right;
    font-size: 11px;
}

.box-product-typographys,
.box-product-misuse,
.box-family-outfit {
    margin: 5px auto;
    padding: 0;
    text-align: center;
    font-size: 12px;
    min-height: 288px;
}

.box-product-misuse {
    display: inline-flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    width: 150px;
    min-height: 300px;
}

.box-product-typographys img {
    width: 100%;
    margin: 10px 0;
}

.box-product-misuse img {
    margin: 0px 0px 10px 0px;
}

.box-family-outfit img {
    width: 170px;
    margin-top: 5px;
}

.box-product-misuse-text,
.box-family-outfit-text {
    margin: 5px 0;
}

.box-product-misuse-text span {
    display: block;
    font-size: 14px;
    font-weight: 500;
}

.upload-misuse,
.upload-application {
    padding-top: 5%;
}

.box-product-misuse-btn {
    display: flex;
    align-items: center;
}

.box-product-misuse-btn {
    margin-top: 10px;
}

.box-product-misuse-btn button {
    margin: 0px 10px;
}

.box-horizontal-interno-tipo {
    padding: 10px;
    font-size: 12px;
}

.box-horizontal-interno-tipo .div-color {
    width: 70px;
    height: 70px;
    border: solid 1px #cccccc;
}

.img-object-fit {
    object-fit: scale-down;
    object-position: bottom;
    max-width:100%;
    width: 150px;
    height: 200px;
}

.table-listagem {
    position: relative;
}

.table-responsive {
    position: relative;
    border: none;
    overflow: visible;
}

.content-is-empty {
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 0px 10px;
    padding-top: 40px;
}

.content-is-empty .alert {
    margin-top: 10px;
}

.listing-is-empty {
    position: relative;
    width: 100%;
    height: calc(100vh - 130px);
    min-height: 480px;
}

.listing-is-empty span {
    position: absolute;
    font-weight: 400;
    color: #ACACAC;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.listing-is-empty .icon {
    display: block;
    font-size: 150px;
    color: #F4F4F4;
    margin-bottom: 10px;
}

.content-is-empty~.listing-is-empty {
    height: calc(100vh - 256px);
}

.ui-checkbox-ctm,
.ui-radio-btn-ctm {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.ui-checkbox-ctm input,
.ui-radio-btn-ctm input {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    visibility: hidden;
}

.ui-checkbox-ctm input:checked~.checkmark,
.ui-radio-btn-ctm input:checked~.checkmark {
    color: #FFFFFF;
    border-color: #004192;
    background: #004192;
}


.ui-checkbox-ctm input:disabled~.checkmark,
.ui-radio-btn-ctm input:disabled~.checkmark {
    cursor: not-allowed;
    color: #ACACAC !important;
    border-color: #ACACAC !important;
    background: none !important;
}


.ui-checkbox-ctm input:checked:disabled~.checkmark,
.ui-radio-btn-ctm input:checked:disabled~.checkmark,
.ui-checkbox-ctm:hover input:checked:disabled~.checkmark,
.ui-radio-btn-ctm:hover input:checked:disabled~.checkmark {
    cursor: not-allowed;
    color: #FFFFFF !important;
    border-color: #ACACAC !important;
    background: #ACACAC !important;
}


.ui-checkbox-ctm.no-action.not-allowed input:checked:disabled~.checkmark,
.ui-radio-btn-ctm.no-action.not-allowed input:checked:disabled~.checkmark,
.ui-checkbox-ctm.no-action.not-allowed:hover input:checked:disabled~.checkmark,
.ui-radio-btn-ctm.no-action.not-allowed:hover input:checked:disabled~.checkmark {
    cursor: not-allowed !important;
    color: #FFFFFF !important;
    border-color: #004192 !important;
    background: #004192 !important;
}

/* Grid System classes */

.flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexbox-group {
    margin: 0 -.7rem;
}

.flex-auto {
    margin: 0 auto;
}

.flex-auto:last-child {
    margin: 0 0 0 auto;
}

.flex-auto:first-child {
    margin: 0 auto 0 0;
}

.flex {
    position: relative;
    padding-right: .7rem;
    padding-left: .7rem;
}

.flex-1-large {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
}

.flex-2-large {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
}

.flex-3-large {
    flex-basis: 25%;
    max-width: 25%;
}

.flex-4-large {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
}

.flex-5-large {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
}

.flex-6-large {
    flex-basis: 50%;
    max-width: 50%;
}

.flex-7-large {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
}

.flex-8-large {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
}

.flex-9-large {
    flex-basis: 75%;
    max-width: 75%;
}

.flex-10-large {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
}

.flex-11-large {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
}

.flex-12-large {
    flex-basis: 100%;
    max-width: 100%;
}

.flex-fluid {
    flex: 1;
}

.flex-align-baseline {
    align-items: baseline;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

/* Footer */

.footer {
    display: flex;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #ACACAC;
    letter-spacing: 1px;
    text-transform: uppercase;
    align-items: center;
    clear: both;
    width: 100%;
    height: 80px;
    border-top: 1px solid #ACACAC;
}

.footer-inner {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

.footer ul {
    float: left;
    margin: 0;
    padding: 32px 0;
    list-style: none;
}

.footer li {
    float: left;
    position: relative;
    margin-left: 20px;
}

.footer li a {
    display: block;
    color: #ACACAC;
    line-height: 16px;
    text-decoration: none;
    margin: 0;
    padding: 0 0 0 20px;
}

.footer li a:hover {
    text-decoration: underline;
}

.footer .copyright {
    float: left;
    line-height: 16px;
    padding: 32px 0;
}

.footer .footer-right {
    float: right;
    position: relative;
    line-height: 0px;
    padding: 40px 0px;
}

.footer .footer-right a {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    top: 50%;
    right: 0px;
    width: 148px;
    height: 20px;
    border: none;
    transform: translateY(-50%);
    background: url("../../images/layout/logo-rubrum-2.png") center -20px no-repeat;
}

.footer .footer-right a:hover {
    background-position: center 0px;
}

.footer,
.push {
    height: 80px;
}

.clear-footer {
    clear: both;
    margin-top: 0px;
}

/* DataTables */

.dataTable-head {
    margin: 0px 0px 10px 0px;
    background: none;
}

.dataTable-filter {
    margin: 0px -10px !important;
}

.dataTable-filter-in {
    margin: 0px 10px;
    /*background: #E0E0E0;*/
}

.dataTable-selectbox-container,
.dataTable-searchbox-container {
    position: relative;
}

.dataTable-searchbox-container {
    width: 25%;
    padding: 0px 10px;
}

.dataTable-selectbox-container {
    margin: 0px 10px;
}

.dataTable-selectbox-container label,
.dataTable-searchbox-container label {
    display: block;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dataTable-selectbox-container label>select,
.dataTable-searchbox-container label>input {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    width: 100% !important;
    margin: 0px !important;
}

.dataTable-selectbox-container label>select {
    position: relative;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #004392;
    cursor: pointer;
    line-height: normal;
    z-index: 1;
    width: 100%;
    height: 30px;
    padding: 2px 30px 2px 10px;
    border-radius: 4px;
    border: 1px solid #004392;
    background: none;
}

.dataTable-selectbox-container label::before {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 20px;
    font-weight: 700;
    color: #004392;
    line-height: 30px;
    content: '\f107';
    top: 0px;
    right: 10px;
    z-index: 0;
    height: 30px;
}

.dataTable-selectbox-container label:hover,
.dataTable-selectbox-container label:hover:before {
    color: #4284F4;
}

.dataTable-selectbox-container label:hover {
    background: #F4F4F4;
}


.dataTable-selectbox-container label:hover select {
    color: #4284F4;
    box-shadow: none;
    border-color: #4284F4;
}

.dataTable-selectbox-container label:focus-within:before {
    color: #004392;
}

.dataTable-selectbox-container label:focus-within select {
    color: #000000;
    border-color: #004392;
    background: none;
}

.dataTable-selectbox-container label:focus-within:hover {
    background: none;
}

.dataTable-selectbox-container select:focus {
    box-shadow: none;
}

.dataTable-searchbox-container label:before {
    display: none;
}

.dataTable-searchbox-container .dataTables_filter input[type="search"]:focus,
.dataTable-searchbox-container .dataTables_filter:hover input[type="search"] {
    box-shadow: none;
    border-color: #4284F4;
    background: #F4F4F4;
}

.dataTable-searchbox-container label>input[type="search"] {
    font-size: 14px;
    font-weight: 300;
    height: 30px;
    padding-right: 35px;
    border-color: #004392;
    border-radius: 5px;
}

.dataTable-searchbox-container label>input[type="search"]:focus {
    color: #000000;
}

.dataTable-searchbox-container .dataTables_filter .dataTables_filter_search,
.dataTable-searchbox-container .dataTables_filter .dataTables_filter_cancel {
    color: #004392;
}

.dataTable-searchbox-container .dataTables_filter .dataTables_filter_cancel {
    display: none;
}

.dataTable-searchbox-container .dataTables_filter .dataTables_filter_search:before,
.dataTable-searchbox-container .dataTables_filter .dataTables_filter_cancel:before {
    position: absolute;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 0;
    right: 15px;
    top: 50%;
    padding: 0 6px;
}

.dataTable-searchbox-container .dataTables_filter .dataTables_filter_search:before {
    content: '\f002';
}

.dataTable-searchbox-container .dataTables_filter .dataTables_filter_cancel:before {
    cursor: pointer;
    content: '\f057';
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.dataTables_wrapper .dataTables_filter:hover .dataTables_filter_search:before,
.dataTables_wrapper .dataTables_filter:hover .dataTables_filter_cancel:before {
    color: #4284F4
}

.dataTable-bottom {
    display: flex;
    align-items: center;
    margin-top: 21px !important;
    margin-bottom: 40px !important;
    padding: 0px;
}

div.dataTables_wrapper div.dataTables_info {
    font-weight: 400;
    text-align: right !important;
    padding: 10px;
    line-height: 18px;
}

div.dataTables_wrapper div.dataTables_paginate_flex {
    display: flex;
    flex: 1;
    align-items: center;
}

div.dataTables_wrapper div.dataTables_paginate {
    text-align: center !important;
    margin: 0px auto !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    vertical-align: middle !important;
    margin: 0px !important;
    white-space: nowrap;
}

table.dataTable thead th {
    color: #004392;
    border: none;
}

table.dataTable thead tr th,
table.dataTable tbody tr td {
    padding: 10px 5px;
}

table.dataTable tbody tr td {
    vertical-align: middle;
    height: 30px;
    border-top: none;
    border-bottom: 1px solid #ACACAC;
}

table.dataTable thead tr th:last-child,
table.dataTable tbody tr td:last-child {
    padding: 10px 10px 10px 5px;
}

table.dataTable thead tr th:first-child,
table.dataTable tbody tr td:first-child {
    padding: 10px 5px 10px 10px;
}

table.dataTable tbody tr.odd,
table.dataTable tbody tr.even {
    background: none !important;
}

table.dataTable tbody tr:hover {
    background: #F4F4F4 !important;
}

table.dataTable tbody tr:last-child td {
    border: none;
}

table.dataTable thead span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 24px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    display: block;
    position: absolute;
    font-family: 'FontAwesome' !important;
    font-size: 18px;
    line-height: 0px;
    top: 50% !important;
    left: 10px;
    height: 0px;
    opacity: 1 !important;
    transform: translateY(-50%) !important;
}

table.dataTable thead .sorting_asc:after {
    content: '\f107' !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_desc:after {
    content: '\f106' !important;
}

table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    color: #ACACAC;
}

table.dataTable>tbody>tr>td>a {
    display: block;
    position: relative;
    line-height: 28px;
    margin: -15px 0px;
    padding: 16px 0px;
}

table.dataTable>tbody>tr>td>a,
table.dataTable>tbody>tr>td>span {
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

table.dataTable>tbody>tr>td>a:hover,
table.dataTable>tbody>tr>td>a:hover>.icon {
    color: #4285F4;
}

table.dataTable>tbody>tr>td>a>.icon {
    float: left;
    position: absolute;
    font-size: 14px;
    color: #ACACAC;
    line-height: 1;
    top: 50%;
    transform: translateY(-50%);
}

table.dataTable>tbody>tr>td>a>.text-side {
    display: block;
    line-height: normal;
    padding-left: 23px;
}

table.dataTable td>.dataTable_btn_group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: nowrap;
}

table.dataTable td>.dataTable_btn_group>.btn {
    min-width: 100px;
    margin: 0 10px 0px 0px;
}

table.dataTable td>.dataTable_btn_group>.btn:last-child {
    margin: 0px;
}

table.dataTable td.dataTables_empty {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ACACAC;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: calc(100vh - 286px);
    padding: 5px 10px !important;
    background: #FFFFFF;
}

.dataTables_wrapper .dataTables_empty:before {
    display: block;
    font-family: 'FontAwesome';
    font-size: 150px;
    font-weight: 600;
    color: #F4F4F4;
    line-height: 1;
    margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_processing {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    margin: 0px !important;
    transform: translate(-50%, -50%);
}

/* Pagination */

.pagination>li>a,
.pagination>li>span {
    display: inline-flex;
    font-weight: 400;
    color: #004392;
    line-height: 17px;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin: 0px 4px;
    padding: 0px;
    outline: none;
    border: none;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    color: #004392;
    border: none;
    cursor: not-allowed;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    border-radius: 64px;
    background: #004392;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #4284F4;
    border: none;
    background: none;
}

.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    color: #ACACAC;
}

.pagination .next>a,
.pagination .previous>a {
    display: inline-flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 0px 10px;
}

.pagination .next>a>span,
.pagination .previous>a>span {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    vertical-align: middle;
}

/* Modal */

/*.modal {
    backdrop-filter: blur(10px);
}*/

.modal-open {
    padding: 0px !important;
}

.modal-open .modal:before {
    position: fixed;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    opacity: 0.80;
    background: #FFFFFF;
}

.modal-dialog {
    width: 980px;
}

.modal-content {
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid #ACACAC;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    outline: 0;
}

.modal-content .modal-header {
    display: flex;
    align-items: center;
}

.modal-header .close {
    position: absolute;
    font-size: 18px;
    font-weight: 100;
    color: #004392;
    top: 15px;
    right: 15px;
    margin-top: 0px;
    opacity: 1;
}

.modal-header .close:hover {
    color: #4284F4;
    opacity: 1;
}

.modal-body {
    padding: 35px;
}

.modal-header {
    padding: 40px 35px 0px 35px;
    border: none;
}

.modal-title {
    font-weight: 700;
}

/* Form Elements */

::-webkit-input-placeholder {
    color: #ACACAC !important;
}

::-moz-placeholder {
    color: #ACACAC !important;
}

:-ms-input-placeholder {
    color: #ACACAC !important;
}

:-moz-placeholder {
    color: #ACACAC !important;
}

input,
select,
textarea,
button {
    outline: none;
}

.form-group-flex {
    display: flex;
}

.btn-function:active,
.btn-function:focus {
    color: #004392;
    outline: none !important;
    box-shadow: none;
    background: none;
}

.form-group-add {
    float: right;
    position: relative;
    z-index: 1;
    padding: 0px 10px;
}

.form-group-add button {
    width: 100%;
}

.btn {
    display: inline-flex;
    font-size: 12px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

.btn>.icon {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    margin-right: 10px;
}

.btn.btn-sm {
    min-height: 30px;
    padding: 3px 10px;
}

.btn>span {
    display: inline-flex;
    align-items: center;
}

/* Buttons */

.btn-control,
.btn-control * {
    font-size: 12px;
    font-weight: 700;
}

.btn-control {
    display: inline-block;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    min-width: 100px;
    height: 30px;
    margin: 0px 11px 0px 0px;
    padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid #ACACAC;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-control.btn-positive {
    color: #FFFFFF;
    border-color: #004392;
    background: #004392;
}


.btn-control.btn-alt {
    color: #004392;
    border-color: #004392;
    background: none;
}

.btn-control.btn-positive:hover {
    color: #FFFFFF;
    border-color: #4284F4;
    background: #4284F4;
}

.btn-control.btn-alt:hover {
    color: #4284F4;
    border-color: #4284F4;
    background: #F4F4F4;
}

.btn-control.btn-positive:active {
    color: #FFFFFF;
    border-color: #3469C3;
    background: #3469C3;
}

.btn-control.btn-alt:active {
    color: #3469C3;
    border-color: #3469C3;
    background: #EFEFEF;
}

.btn-control.btn-positive[disabled],
.btn-control.btn-alt[disabled] {
    cursor: default;
    pointer-events: none;
}

.btn-control.btn-positive[disabled] {
    color: #FFFFFF;
    border-color: #ACACAC;
    background: #ACACAC;
}

.btn-control.btn-alt[disabled] {
    color: #ACACAC;
    border-color: #ACACAC;
}

/* Function Buttons */

.btn-function {
    color: #004392;
    border: none;
    padding: 0px !important;
    background: none;
}

.btn-function>.icon {
    float: left;
    font-size: 16px;
    color: inherit;
    text-align: center;
    width: 30px !important;
    height: 30px;
    margin: 0px 10px 0px 0px;
    overflow: hidden;
    border-radius: 64px;
    border: 1px solid #004392;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-function>.icon:before {
    display: inline-block;
    line-height: 28px;
}

.btn-function.active>.icon,
.btn-function:active>.icon {
    color: #FFFFFF !important;
    border-color: #004392 !important;
    background: #004392 !important;
}

.btn-function.active .icon:before {
    background: none;
}

.btn-function:hover>.icon {
    color: #FFFFFF !important;
    border-color: #4284F4 !important;
    background: #4285F4 !important;
}

.btn-function:hover {
    color: #4284F4;
    text-decoration: none;
}

.btn-function.disabled {
    color: #ACACAC !important;
}

.btn-function.disabled>.icon {
    color: #ACACAC !important;
    border-color: #ACACAC !important;
}

.btn-function.active.disabled>.icon {
    color: #FFFFFF !important;
    border-color: #ACACAC;
    background: #ACACAC;
}

.btn-function:active,
.btn-function:focus {
    color: #004392;
    outline: none !important;
    box-shadow: none;
    background: none;
}

/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.dropdown .dropdown-toggle {
    color: #004392;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 64px;
    border: 1px solid #004392;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.dropdown .dropdown-toggle:before {
    font-size: 16px;
    line-height: 20px;
}

.dropdown .dropdown-toggle:hover {
    color: #FFFFFF;
    border-color: #4285F4;
    background: #4285F4;
}

.dropdown .dropdown-toggle:active,
.dropdown .dropdown-toggle.active {
    color: #FFFFFF;
    border-color: #004392 !important;
    background: #004392 !important;
}

.dropdown .dropdown-toggle.disabled {
    border-color: #ACACAC;
}

.dropdown .dropdown-toggle.disabled:before {
    color: #ACACAC;
}

.dropdown .dropdown-list {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 2;
    padding: 10px 0px;
    min-width: 200px;
    border-radius: 5px;
    background: none;
    border-radius: 5px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
}

.dropdown .dropdown-list>ul {
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.dropdown .dropdown-list>ul:before {
    display: block;
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ACACAC;
    background: #F4F4F4;
}

.dropdown .dropdown-list>ul>li {
    display: block;
    position: relative;
}

.dropdown .dropdown-list>ul>li>a,
.dropdown .dropdown-list>ul>li>ul>li>a {
    display: flex;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: #004392;
    align-items: center;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    z-index: 1;
    outline: none;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 16px 30px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.dropdown .dropdown-list>ul>li>a:active,
.dropdown .dropdown-list>ul>li>ul>li>a:active {
    background: #EFEFEF;
}

.dropdown .dropdown-list>ul>li:after {
    display: block;
    position: absolute;
    content: '';
    width: auto;
    height: 0px;
    z-index: 1;
    left: 0px;
    right: 0px;
    bottom: -1px;
    margin-left: 62px;
    border-bottom: 1px solid #ACACAC;
}

.dropdown .dropdown-list>ul>li.ds:after {
    border-bottom: 2px dotted #ACACAC;
}

.dropdown .dropdown-list>ul>li:last-child:after,
.dropdown .dropdown-list>ul>li.last:after {
    border: none;
}

.dropdown .dropdown-list>ul>li>a>.icon {
    float: left;
    position: relative;
    font-size: 18px;
    color: inherit !important;
    line-height: 1;
    text-align: center;
    top: 0px;
    min-width: 20px;
    margin-right: 10px;
    transform: translateY(0);
}

.dropdown .dropdown-list>ul>li>a:hover {
    color: #4285F4;
}

.dropdown .dropdown-list>ul>li>ul {
    margin: 0px;
    padding: 0px;
}

.dropdown .dropdown-list>ul>li>ul>li>a {
    padding: 15px 30px 15px 62px;
}

.dropdown .dropdown-list>.dropdown-head {
    position: relative;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    line-height: 20px;
    z-index: 1;
    padding: 10px 30px;
}

.dropdown .dropdown-list>.dropdown-head:after {
    display: block;
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-left: 60px;
    border-bottom: 1px solid #ACACAC;
}

.dropdown .dropdown-list>.dropdown-head>.icon,
.dropdown .dropdown-list>.dropdown-head>strong {
    line-height: 1;
    vertical-align: middle;
}

.dropdown .dropdown-list .list-item-txt {
    margin-right: 30px;
}

.dropdown .dropdown-list .list-item-icon {
    display: inline-block;
    position: absolute;
    color: #004392;
    font-size: 16px;
    line-height: 18px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.dropdown .dropdown-list .list-item-icon:hover {
    color: #4285F4;
}

.dropdown .dropdown-list>.dropdown-head>.icon {
    font-size: 18px;
    text-align: center;
    min-width: 20px;
}

.dropdown .dropdown-list>.dropdown-head>strong {
    margin-left: 10px;
}

.dropdown .dropdown-list>ul>li>.dropdown-switch {
    display: flex;
    align-items: center;
    padding: 25px 30px;
    align-items: center;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.dropdown .dropdown-list>ul>li>.dropdown-switch .switch-toggle {
    margin-right: 15px;
}

.dropdown .dropdown-list>ul>li>.dropdown-switch .switch-txt-icon:before {
    font-family: 'FontAwesome';
    font-size: 18px;
    margin-right: 10px;
}

.dropdown .dropdown-list>ul>li>.dropdown-switch:hover * {
    color: #4284F4;
}

.dropdown.drop-to-left>div {
    left: -10px;
    transform: translate(-100%, -50%);
}

.dropdown.drop-to-right>div {
    left: 40px;
    transform: translate(0, -50%);
}

/* CSS Tooltip */

.ui-tooltip {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.ui-tooltip .tooltip-box {
    display: none;
    position: absolute;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 12px !important;
    font-weight: 400;
    color: #000000 !important;
    line-height: normal !important;
    white-space: nowrap;
    padding: 3px 20px;
    border-radius: 5px;
    border: 1px solid #ACACAC;
    background: #FFFFFF;
    transform: translateY(-50%);
}

.ui-tooltip:hover .tooltip-box {
    display: block;
}

.ui-tooltip.top .tooltip-box {
    top: -100%;
    left: initial;
    right: 50%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    transform: translateX(50%)
}

.ui-tooltip.left .tooltip-box {
    top: 50%;
    right: 100%;
    margin-right: 10px;
    margin-bottom: 0px;
}

.ui-tooltip.right .tooltip-box {
    top: 50%;
    left: 100%;
    margin-left: 10px;
    margin-bottom: 0px;
}

/* Alerts and confirms */

.alert-box-content .icon {
    float: left;
    font-family: 'FontAwesome';
    font-size: 50px;
    color: #004192;
}

.alert-box-content .alert-box-body {
    margin: 0px 0px 0px 70px;
}

.alert-box-content .heading {
    margin: 0px 0px 40px 0px;
}

.alert-box-content .heading h4 {
    font-size: 26px;
    font-weight: 700;
    color: #004192;
    line-height: 28px;
    padding: 12px 0px;
}

.alert-box-content .text {
    font-size: 16px;
    font-weight: 400px;
}

/* Alerts and confirms - V1 */

.custom-alert-contents {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: left;
}

.custom-alert-heading-center {
    text-align: center;
}

.custom-alert-contents {
    margin: 0;
    padding: 1px;
}

.custom-alert-heading {
    display: flex;
    align-items: center;
}

.custom-alert-heading {
    color: #004192;
}

.custom-alert-heading h4 {
    font-size: 26px;
    font-weight: 700;
    line-height: 54px;
    margin: 0px 0px 10px 0px;
}

.custom-alert-contents .icon {
    float: left;
    display: block;
    font-size: 52px;
    text-align: center;
    width: 54px;
    height: 54px;
    color: #004192;
    margin-right: 10px;
}

.custom-alert-contents p {
    margin-left: 65px;
}

.custom-alert-contents .media-container {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-top: 30px;
    margin-bottom: 14px;
}

.custom-alert-contents .media-object {
    margin-bottom: 20px;
}

.custom-alert-contents .media-object:last-child {
    margin: 0;
}

.custom-alert-contents .media-object span {
    float: left;
    display: inline-block;
    font-size: 30px;
    color: #ACACAC;
}

.custom-alert-contents .media-object .media-object-content {
    display: block;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    text-align: left;
    margin-left: 50px;
}

.custom-alert-contents .media-object .media-object-content h4 {
    font-size: 16px;
    font-weight: 600;
}

.custom-alert-contents .media-object .media-object-content p {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin: 0px;
}

.custom-alert-contents .media-object-indent {
    margin-left: 65px;
}

/* Loading Upload Arquivos */

.progress-circle {
    display: none;
    position: fixed;
    content: '';
    top: 0px;
    left: 0px;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    /*backdrop-filter: blur(10px);*/
}

.progress-circle svg {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 180px;
    margin-top: -90px;
    margin-left: -90px;
    z-index: 999;
}

.progress-circle:before {
    display: block;
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.80;
    background: #F4F4F4;
}

.progress-circle #count {
    font-size: 16px;
    font-weight: 300;
}

/* Helper classes */

.margin-left-auto {
    margin-left: auto !important;
}

.margin-right-auto {
    margin-right: auto !important;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-25 {
    margin-left: 25px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.margin-left-35 {
    margin-left: 35px !important;
}

.margin-left-40 {
    margin-left: 40px !important;
}

.margin-left-45 {
    margin-left: 45px !important;
}

.margin-left-50 {
    margin-left: 50px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-25 {
    margin-right: 25px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-right-35 {
    margin-right: 35px !important;
}

.margin-right-40 {
    margin-right: 40px !important;
}

.margin-right-45 {
    margin-right: 45px !important;
}

.margin-right-50 {
    margin-right: 50px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-35 {
    margin-top: 35px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-45 {
    margin-top: 45px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-35 {
    margin-bottom: 35px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-45 {
    margin-bottom: 45px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}

.padding-left-20 {
    padding-left: 20px !important;
}

.padding-left-25 {
    padding-left: 25px !important;
}

.padding-left-30 {
    padding-left: 30px !important;
}

.padding-left-35 {
    padding-left: 35px !important;
}

.padding-left-40 {
    padding-left: 40px !important;
}

.padding-left-45 {
    padding-left: 45px !important;
}

.padding-left-50 {
    padding-left: 50px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-right-10 {
    padding-right: 10px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

.padding-right-20 {
    padding-right: 20px !important;
}

.padding-right-25 {
    padding-right: 25px !important;
}

.padding-right-30 {
    padding-right: 30px !important;
}

.padding-right-35 {
    padding-right: 35px !important;
}

.padding-right-40 {
    padding-right: 40px !important;
}

.padding-right-45 {
    padding-right: 45px !important;
}

.padding-right-50 {
    padding-right: 50px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-top-35 {
    padding-top: 35px !important;
}

.padding-top-40 {
    padding-top: 40px !important;
}

.padding-top-45 {
    padding-top: 45px !important;
}

.padding-top-50 {
    padding-top: 50px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-15 {
    padding-bottom: 15px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-25 {
    padding-bottom: 25px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-35 {
    padding-bottom: 35px !important;
}

.padding-bottom-40 {
    padding-bottom: 40px !important;
}

.padding-bottom-45 {
    padding-bottom: 45px !important;
}

.padding-bottom-50 {
    padding-bottom: 50px !important;
}

.no-margin-top {
    margin-top: 0px !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.no-margin-left {
    margin-left: 0px !important;
}

.no-margin-right {
    margin-right: 0px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.no-padding-bottom {
    padding-bottom: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.border-color-primary {
    border-color: #004392 !important;
}

.border-color-default {
    border-color: #ACACAC !important;
}

.no-border {
    border: none !important;
}

.txt-default {
    font-size: 14px !important;
}

.txt-small {
    font-size: 12px !important;
}

.txt-center {
    text-align: center !important;
}

.txt-left {
    text-align: left !important;
}

.txt-right {
    text-align: right !important;
}

.txt-light {
    font-weight: 300 !important;
}

.txt-regular {
    font-weight: 400 !important;
}

.txt-semibold {
    font-weight: 600 !important;
}

.txt-bold {
    font-weight: 700 !important;
}

.txt-heavy {
    font-weight: 800 !important;
}

.txt-color-default {
    color: #000000 !important;
}

.txt-color-primary {
    color: #004392 !important;
}

.txt-color-alt {
    color: #ACACAC !important;
}

.txt-color-off {
    opacity: 0.5 !important;
}

.txt-uppercase {
    text-transform: uppercase !important;
}

.txt-no-link {
    cursor: default;
}

.no-hover {
    cursor: default;
    pointer-events: none;
}

.no-italic {
    font-style: normal;
}

.no-underline {
    text-decoration: none;
}

.animate,
.animate * {
    -webkit-transition: all .2s linear !important;
    transition: all .2s linear !important;
}

.no-animate,
.no-animate * {
    -webkit-transition: none !important;
    transition: none !important;
}

/* Media-queries */

@media screen and (min-width: 1400px) {
    .content-fluid {
        width: 1200px;
        min-width: 78px;
        padding: 0px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1399px) {
    .content-fluid {
        width: 1200px;
        min-width: 780px;
        padding: 0px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .content-fluid {
        width: 94vw;
        min-width: 780px;
        padding: 0px;
    }
}

@media screen and (min-width:320px) and (max-width:1024px) {
    body {
        overflow: auto;
    }

    .content-fluid {
        width: 990px;
        margin: 0px auto;
        padding: 0px 15px;
    }

    .dataTables_wrapper .dataTables_paginate {
        margin: 0px;
    }
}