::-webkit-input-placeholder {
    /* Edge */
    color: #004392;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #004392;
}

::placeholder {
    color: #004392;
}

a.link {
    color: #004392;
}

a.link:hover {
    color: #4284F4;
}

.master {
    display: table;
    width: 100%;
    height: 100%;
    /*background: #004392;*/
    background: #000000;
}

.wrapped {
    display: table-cell;
    vertical-align: middle;
}

.home-container {
    width: 470px;
    margin: auto;
}

.home-container .home-container-box {
    padding-top: 85px;
    padding-bottom: 55px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.16);
}

.home-container .home-container-form {
    width: 280px;
    margin: 0 auto;
}

.home-container .sub-bs {
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 55px 0px;
    border-bottom: 2px dotted #ACACAC;
}

.home-container .sub-bs:last-child {
    margin: 0px;
    padding: 0px;
    border-bottom: none;
}

.home-container .brand {
    display: block;
    height: 32px;
    margin-bottom: 55px;
}

.home-container .btn-control {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 280px;
    height: auto;
    padding: 8px;
}

.home-container .btn-control span {
    line-height: normal;
    margin: auto;
}

.home-container .btn-control span,
.home-container .btn-control span>i {
    color: #FFFFFF;
}

.home-container .btn-control .icon {
    font-size: 16px;
    font-weight: 300;
    margin-right: 10px;
}

.home-container .btn-control.btn-hollow {
    border: none;
    background: none;
}

.home-container .btn-control.btn-hollow span,
.home-container .btn-control.btn-hollow span>i {
    color: #004392;
}

.home-container .btn-control.btn-hollow:hover span,
.home-container .btn-control.btn-hollow:hover span>i {
    color: #4284F4;
}

.home-container .input-control {
    font-weight: 400;
    height: 35px;
    border-color: #004392;
}

.home-container .input-control:focus {
    border-color: #4284F4;
}

.home-container .input-group {
    position: relative;
    width: 100%;
}

.home-container .input-group .input-control {
    padding-right: 30px;
}

.home-container .input-group .addon {
    position: absolute;
    font-size: 16px;
    color: #004392;
    line-height: 16px;
    top: 9px;
    right: 10px;
    z-index: 1;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.home-container .input-group:hover .input-control {
    border-color: #4284F4;
    background: #F4F4F4;
}

.home-container .input-group:hover .addon,
.home-container .input-group .input-control:focus~.addon {
    color: #4284F4;
}

.home-container .footer {
    margin-top: 20px;
    padding: 0px 10px;
}

.home-container .footer .copyright span {
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.home-container .footer .copyright span,
.home-container .footer .footer-brand img {
    vertical-align: middle;
}

.home-container .form-sign-in {
    display: none;
}

.home-container .footer {
    height: auto;
    border: none;
}

.home-container .footer .copyright {
    padding: 0px;
}

.home-container .footer .footer-brand {
    margin-left: auto;
}