html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
}

body {
    background-color: #000000;
    font-family: 'Dosis', sans-serif !important;
    color: #FFFFFF;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    overflow: auto;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    flex-shrink: 1;
    margin-top: 15px;
}

.logo-center {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.logo-center img {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

.messages {
    width: 100%;
    position: absolute;
    bottom: -60px;
    text-align: center;
}

.messages .alert-error {
    width: 380px;
    margin: 10px 0;
    color: #BF3A00;
}

.messages .alert-success {
    width: 380px;
    margin: 10px 0;
    color: #004392;
}

.master {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.box-home-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 600px;
    margin: 0 auto;
}

.box-home-image {
    width: 630px;
    margin: 0 auto;
}

.box-home-image img {
    margin-top: -370px;
}

.new-pass img {
    margin-top: -383px !important;
}

.marcas-home {
    width: 560px;
    height: 374px;
    margin: -395px auto 30px;
    text-align: center;
}

.ajuste-imagem-login {
    display: block;
    font-size: 28px;
    color: #004392;
    margin-bottom: 5px;
}

.box-home-text {
    position: relative;
    color: #686868;
    text-align: center;
    margin: 0px auto;
    padding: 60px 140px;
    border-radius: 10px;
    background: #FFFFFF;
}

.box-home-text h1 {
    font-weight: 600;
    font-size: 22px;
    color: #004392;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
}

.box-home-text form {
    margin: 20px 0px 0px 0px;
}

.box-home-text input[type=email],
.box-home-text input[type=password] {
    display: inline-block;
    font-family: 'Dosis', sans-serif !important;
    font-size: 16px;
    width: 260px;
    height: 32px;
    margin: 0px;
    padding: 4px 6px;
    outline: none;
    border: 1px solid #ACACAC;
}

.box-home-text form .btn-signin {
    color: #004392;
    margin-top: 5px;
    padding: 0px;
    background: none;
}

.box-home-text form .btn-signin:hover {
    color: #4285F4;
}

.box-type-user {
    padding: 0px 0px 30px 0px;
    border-bottom: 1px dashed #ACACAC;
}

.box-type-user-last {
    border: none;
    padding-top: 30px;
    padding-bottom: 0px;
}

.box-type-user h3 {
    margin: 5px 0 0;
    color: #686868;
}

.box-type-user p {
    margin: 0;
    padding: 0;
    border: none;
    color: #686868;
}

.box-home-text .title-first-access {
    margin-bottom: 20px;
}

.box-home-text .title-first-access h4 {
    font-size: 16px;
    font-weight: 600;
    color: #004392;
    line-height: 1;
    margin: 0px;
    padding: 0px;
}

.box-home-text .btn-group {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    margin-top: 20px;
}

.box-home-text button {
    display: inline-block;
    font-size: 100%;
    line-height: 1.15;
    text-transform: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    outline: none;
    overflow: visible;
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
}

.box-home-text button[type=submit] {
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #004392;
    cursor: pointer;
    outline: none;
    height: 36px;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 94px;
    background: none;
}

.box-home-text button[type=submit] span {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.box-home-text button[type=submit]>span,
.box-home-text button[type=submit]:active>span,
.box-home-text .link-voltar>span,
.box-home-text .link-voltar:active>span {
    -ms-transform: translate(0px, 0px);
}

.box-home-text button[type=submit] .icon {
    display: inline-block;
    -ms-transform: translate(0px, 1px);
}

.box-home-text button[type=submit] .icon:before {
    display: inline-block;
    font-family: 'Metrize-Icons';
    font-size: 28px;
    font-weight: 400;
    content: '\e106';
}

.box-home-text .btn-enviar {
    color: #FFFFFF !important;
    border-radius: 64px;
    padding: 2px 3px 2px 22px !important;
    background: #004392 !important;
}

.box-home-text .btn-enviar>span>strong {
    min-width: 84px;
}

.box-home-text .link-voltar {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #004392;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    height: 36px;
    padding: 2px 22px 2px 3px;
    margin-right: 30px;
    border-radius: 64px;
    border: 2px solid #004392;
}

.box-home-text .link-voltar span {
    display: table;
    position: relative;
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
    width: 100%;
}

.box-home-text .link-voltar strong {
    display: table-cell;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    padding: 0px 5px;
    min-width: 84px;
}

.box-home-text .link-voltar .icon {
    float: left;
    display: inline-block;
    font-size: 28px;
    vertical-align: middle;
    -ms-transform: translate(0px, 1px);
}

.box-home-text .btn-group .link-voltar:hover {
    color: #4285F4;
    border-color: #4285F4;
    background: #F4F4F4;
}

.box-home-text p {
    font-size: 16px;
    font-weight: 400;
    width: 264px;
    margin: 0px auto;
}

.box-home-text .text-new-pass {
    margin: 0px auto 10px auto;
}

.footer {
    font-size: 14px;
    text-align: center;
    flex-shrink: 1;
    width: 600px;
    margin: 0 auto;
    margin-top: 40px;
}

.footer a {
    color: #FFFFFF;
}

.footer img {
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    border: none;
}

.footer .footer-inline {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.footer .footer-left {
    float: left;
}

.footer .footer-right {
    float: right;
}

.footer .footer-right a {
    text-decoration: none;
    border: none;
}

.footer .footer-copy {
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
}

.footer .footer-nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.footer .footer-nav li,
.footer .footer-nav li a {
    float: left;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
}

.footer .footer-nav li a:hover {
    text-decoration: underline;
}

.footer .footer-nav li span:before {
    float: left;
    display: inline-block;
    content: '|';
    margin: 0px 10px;
}

.custom-btn-default {
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    line-height: 30px;
    text-transform: none;
    outline: none;
    margin: 5px !important;
    padding: 0 !important;
    border: none;
    padding: 3px 12px !important;
    border-radius: 64px !important;
    background: #004392;
}

.custom-btn-default:hover {
    background: #3F85F2;
}

.custom-btn-primary {
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    line-height: 32px;
    text-transform: none;
    outline: none;
    margin: 0 5px !important;
    padding: 0 !important;
    border: none;
    padding: 3px 12px 3px 4px !important;
    border-radius: 64px !important;
    background: #004392;
}

.custom-btn-primary:hover {
    background: #3F85F2;
}

.custom-btn-confirm-cancel,
.custom-btn-confirm-yes {
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    line-height: 32px;
    text-transform: none;
    outline: none;
    margin: 0 5px !important;
    padding: 3px 12px 3px 3px !important;
    border-radius: 64px !important;
    border: none;
    background: none;
}

.custom-btn-confirm-cancel:before,
.custom-btn-confirm-yes:before {
    float: left;
    display: inline-block;
    font-family: 'Metrize-Icons';
    font-size: 32px;
    font-weight: 100;
    line-height: 32px;
    margin-right: 5px;
}

.custom-btn-confirm-yes {
    background: #0E7E28;
}

.custom-btn-confirm-cancel {
    background: #CA1900;
}

.custom-btn-confirm-yes:hover {
    background: #33A652;
}

.custom-btn-confirm-cancel:hover {
    background: #EA4333
}

.custom-btn-confirm-yes:before {
    content: '\e0e2';
}

.custom-btn-confirm-cancel:before {
    content: '\e0f9';
}

.custom-alert-close {
    color: #676767;
    opacity: 1;
}

.custom-alert-close:hover {
    color: #8C8C8C;
}

.custom-alert-close:before {
    font-family: 'Metrize-Icons';
    font-style: normal;
    font-size: 22px;
    content: '\e0cf';
}

.call-to-action-btn * {
    color: #ffffff !important;
}

.call-to-action-btn {
    color: #ffffff !important;
    border-radius: 64px;
    background: #004392 !important;
    padding: 3px 12px 3px 3px !important;
    height: auto !important;
}

.call-to-action-btn .btn-icon:before {
    float: left;
    font-family: Metrize-Icons;
    font-size: 32px;
    font-weight: 100;
    color: #FFFFFF;
    line-height: 32px;
}

.call-to-action-btn.deny-btn,
.call-to-action-btn.next-step-btn {
    padding: 3px 3px 3px 12px !important;
}

.call-to-action-btn:hover {
    background: #4285F4 !important;
}

.call-to-action-btn.btn-default {
    background: #858585 !important;
}

.call-to-action-btn.btn-default:hover {
    background: #DEDEDE !important;
}

.custom-alert-contents,
.custom-alert-heading,
.custom-dialog-heading,
.custom-heading-contents {
    text-align: left;
    margin-bottom: 15px;
}

.custom-alert-contents,
.custom-dialog-contents {
    margin: 0;
    padding: 1px;
}

.custom-alert-heading,
.custom-dialog-heading {
    color: #004392;
}

.custom-alert-heading h4,
.custom-dialog-heading h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 42px;
    margin: 0px 0px 10px 0px;
}

.custom-alert-contents .icon,
.custom-dialog-contents .icon {
    float: left;
    font-size: 42px;
    font-weight: 100;
    margin-right: 10px;
}

.custom-alert-contents p {
    color: #676767;
    margin-left: 52px;
}

.custom-alert-contents.danger .icon,
.custom-alert-contents.danger .custom-alert-heading,
.custom-alert-contents.warning .icon,
.custom-alert-contents.warning .custom-alert-heading,
.custom-alert-contents.info .icon,
.custom-alert-contents.info .custom-alert-heading,
.custom-alert-contents.success .icon,
.custom-alert-contents.success .custom-alert-heading,
.custom-alert-contents.confirmation .icon,
.custom-alert-contents.confirmation .custom-alert-heading,
.custom-alert-contents.default .icon,
.custom-alert-contents.default .custom-alert-heading {
    color: #004392 !important;
}

.custom-alert-contents * {
    margin: 0;
    padding: 0;
}

.custom-alert-contents {
    font-size: 18px;
    font-weight: 400;
    color: #676767;
}

.custom-alert-text-block {
    font-size: 16px;
    font-weight: 400;
    color: #676767;
    text-align: left;
}

.custom-dialog-modules-list {
    display: table;
    font-size: 16px;
    color: #676767;
    text-align: left;
    margin: 0 0 14px;
    padding: 0;
    list-style: none;
}

.custom-dialog-modules-list li {
    position: relative;
    margin: 0 0 20px;
}

.custom-dialog-modules-list li:last-child {
    margin: 0;
}

.custom-dialog-modules-list li strong {
    float: left;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.custom-dialog-modules-list li strong>span {
    position: absolute;
    display: inline-block;
    line-height: 0;
    top: 50%;
    bottom: 50%;
    left: 0;
    margin: 0;
}

.custom-dialog-modules-list li span {
    display: block;
    margin-left: 110px;
}

.custom-alert-contents .media-container {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-top: 30px;
    margin-bottom: 14px;
}

.custom-alert-contents .media-object {
    margin-bottom: 20px;
}

.custom-alert-contents .media-object:last-child {
    margin: 0;
}

.custom-alert-contents .media-object span {
    float: left;
    display: inline-block;
    font-size: 30px;
}

.custom-alert-contents .media-object .media-object-content {
    display: block;
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    margin-left: 36px;
}

.custom-alert-contents .media-object .media-object-content h4 {
    font-size: 18px;
    font-weight: 600;
}

.custom-alert-contents .media-object .media-object-content p {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

.custom-alert-contents .media-object-indent {
    margin-left: 52px;
}

.box-indent {
    margin-left: 56px;
}

.call-to-action-btn * {
    color: #ffffff !important;
}

.call-to-action-btn {
    color: #ffffff !important;
    border-radius: 64px;
    background: #004392 !important;
    padding: 3px 12px 3px 3px !important;
    height: auto !important;
}

.call-to-action-btn .btn-icon:before {
    float: left;
    font-family: Metrize-Icons;
    font-size: 32px;
    font-weight: 100;
    color: #FFFFFF;
    line-height: 32px;
}

.call-to-action-btn:hover {
    background: #4285F4 !important;
}

.custom-btn-primary {
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    font-size: 16px !important;
    font-weight: 600;
    color: #ffffff;
    line-height: 32px;
    text-transform: none;
    outline: none;
    margin: 0 5px !important;
    padding: 0 !important;
    border: none;
    padding: 3px 16px 3px 3px !important;
    border-radius: 64px !important;
    background: #004392;
}

.custom-btn-primary:hover {
    background: #3F85F2;
}

.custom-btn-primary:before {
    float: left;
    display: inline-block;
    font-family: 'Metrize-Icons';
    font-size: 28px;
    font-weight: 100;
    content: '\e0e2';
    margin-right: 5px;
    vertical-align: middle;
}

.custom-btn-confirm-cancel,
.custom-btn-confirm-yes {
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-transform: none;
    outline: none;
    margin: 0 10px !important;
    padding: 0 !important;
    border-radius: 64px;
    border: none;
    background: none;
}

.custom-alert-close {
    color: #004392;
    opacity: 1;
}

.custom-alert-close:hover {
    color: #4284F4;
    opacity: 1;
}

.custom-alert-close:before {
    font-family: 'Metrize-Icons';
    font-style: normal;
    font-size: 22px;
    content: '\e0cf';
}

.input-error {
    border: 2px dashed #EA4334 !important;
}

.blurred {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='svgBlur' x='-5%' y='-5%' width='110%' height='110%'><feGaussianBlur in='SourceGraphic' stdDeviation='5'/></filter></svg>#svgBlur");
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='8');
    filter: blur(10px);
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}