.privacidade-container {
    display: table;
    width: 100%;
    overflow: auto;
}

.privacidade-container .container {
    padding-top: 60px;
}

.privacidade {
    position: relative;
}

.privacidade .privacidade-wp {
    padding: 20px 0px 40px 0px;
}

.privacidade .sidebar {
    float: left;
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
    width: 240px;
    padding-bottom: 0px;
}

.privacidade .sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.privacidade .sidebar ul li {
    position: relative;
}

.privacidade .sidebar ul li.selected a {
    font-weight: 700;
    color: #EB1B47;
    border-left: 2px solid #EB1B47;
}

.privacidade .sidebar ul li a {
    display: block;
    font-size: 12px;
    color: #000000;
    line-height: 18px;
    text-decoration: none;
    padding: 5px 10px;
}

.privacidade .sidebar ul li a:hover {
    color: #EB1B47;
}

.privacidade .sidebar .link-voltar {
    display: block;
    font-size: 12px;
    color: #ACACAC;
    text-decoration: none;
    margin-top: 30px;
}

.privacidade .sidebar .link-voltar:hover {
    text-decoration: underline;
}

.privacidade .content-right {
    margin-left: 290px;
}

.privacidade .content-right a {
    font-weight: 700;
    color: #000000;
    text-decoration-color: #EB1B47;
}

.privacidade .content-right p {
    font-size: 14px;
    margin-bottom: 10px;
}

.privacidade .content-right p:last-child {
    margin-bottom: 0px;
}

.privacidade .content-right section {
    padding: 0px 0px 40px 0px;
    margin-bottom: 40px;
    border-bottom: 1px solid #EAEAEA;
}

.privacidade .content-right section:last-child {
    padding: 0px;
    border: none;
}

.privacidade .content-right .list-terms {
    list-style-type: square;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 20px;
}

.privacidade .content-right .list-terms li {
    margin-bottom: 10px;
}

.privacidade .content-right .list-terms li::marker {
    color: #EB1B47;
}

.privacidade .content-right .list-terms li:last-child {
    margin-bottom: 0px;
}

.privacidade .content-right .list-terms li .title {
    color: #ACACAC;
}

.privacidade .content-right .list-roman {
    list-style-type: upper-roman;
    list-style-position: inside;
}

.privacidade .content-right .list-roman li {
    margin-bottom: 15px;
}

.privacidade .content-right .list-roman li:last-child {
    margin-bottom: 0px;
}

.privacidade .content-right .list-roman li::marker {
    font-weight: 700;
}