/*common*/

.showcase {
    position: relative;
    height: 100%;
}

.heading-news {
    margin: 0px 0px 30px 0px;
}

.heading-news h4 {
    font-size: 18px !important;
    color: #000000 !important;
    line-height: normal !important;
}

.heading-news .version-small {
    display: flex;
    font-weight: 300;
    flex: 1;
    padding-right: 10px;
}

.slide * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slide ul,
.slide ul li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.slide {
    width: 840px;
    height: auto;
    margin: 0px auto;
}

.slide h3 {
    font-size: 18px;
    line-height: 2;
    text-align: center;
}

.slide ul li div {
    width: 100%;
    text-align: left;
    color: #000000;
}

.slide .slide-contents .slide-caption {
    margin: 0px;
}

.slide .slide-contents h4,
.slide .slide-contents p {
    font-size: 14px;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

.slide .slide-contents p:last-child {
    margin: 0px;
}

.slide .slide-contents h4 {
    line-height: 1;
}

.slide .slide-contents span {
    display: block;
    width: auto;
    border: 1px solid #707070;
    padding: 0px;
}

.slide .slide-contents img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.slide .slide-contents ul {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.slide .prev,
.slide .next {
    position: absolute;
    display: flex;
    font-size: 0px;
    color: #004392;
    text-align: center;
    text-decoration: none !important;
    align-items: center;
    top: 50%;
    bottom: 0px;
    height: 45px;
    margin-top: -20px;
    transform: translateY(-50%);
    transition: all .10s ease-in-out;
    -webkit-transition: all .10s ease-in-out;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}

.slide .prev:before,
.slide .next:before {
    font-family: 'FontAwesome';
    font-size: 42px;
    font-weight: 600;
    height: 45px;
}

.slide .prev:before {
    content: '\f104';
}

.slide .next:before {
    content: '\f105';
}

.slide .prev:hover,
.slide .next:hover {
    color: #4284F4;
    text-decoration: none;
}

.slide .page {
    position: relative;
    display: inline-block;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.slide .page a {
    float: left;
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 64px;
    border: 1px solid #004392;
    background: #FFFFFF;
    margin-right: 15px;
    transition: all .10s ease-in-out;
    -webkit-transition: all .10s ease-in-out;
}

.slide .page a:hover {
    border-color: #4284F4;
}

.slide .page a.on,
.slide .page a.on:hover {
    background: #004392;
    border-color: #004392;
}

.slide .page a:last-child {
    margin-right: 0px;
}

.clearfix:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

/*default, fade, lazy*/
#default li,
#fade li,
#lazy li {
    width: 840px;
    font-size: 16px;
}

#lazy img {
    width: 100%;
    height: 100%;
}

/*carousel*/
#carousel li {
    width: 200px;
    font-size: 20px;
}

/*tab*/
.each-news {
    line-height: 2;
    height: auto;
    color: #000;
    position: relative;
    padding: 0 10px;
}

#tab h4 {
    font-size: 14px;
    text-align: left;
}

#tab span {
    position: absolute;
    right: 30px;
    top: 0;
    color: #999;
}

#tab li {
    width: 680px;
}

#tab .slide-wrapper {
    background: #eee;
}

.page-tab a {
    float: left;
    width: 80px;
    line-height: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    margin-right: 10px;
}

.page-tab a.on {
    background: #666;
}

.tip {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 80px;
    color: #000;
}

.tip:hover {
    text-decoration: underline;
}

/*text*/
.text {
    margin: 30px auto;
}

.text .slide-wrapper {
    border: 1px solid #000;
}

.text .slide-wrapper li {
    width: 680px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}