body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

header {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 60px;
    background: #000000;
    /*background: #004392;*/
}
header > .header-in {
    width: auto;
    margin: 0 30px;
}
header > .center {
    position: relative;
    text-align: center;
    top: 50%;
    height: 60px;
    transform: translateY(-50%);
}
header > .header-in > img {
    float: left;
    position: absolute;
    top: 50%;
    left: 0px;
    /*width: 100px;*/
    transform: translateY(-50%);
}
header > .header-in > .close {
    display: flex;
    position: absolute;
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    align-items: center;
    top: 50%;
    right: 0px;
    padding: 0px;
    outline: none;
    border: none;
    background: none;
    transform: translateY(-50%);
}
.close > .btn-icon {
    position: absolute;
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 20px;
    color: #FFFFFF;
    line-height: 0px;
    top: 50%;
    right: 0px;
    margin-left: 10px;
}
.txt-files-basename {
    position: relative;
    display: flex;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    top: 50%;
    flex-flow: column;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    margin: auto auto auto auto;
}

.txt-files-basename small {
    display: flex;
    position: relative;
    line-height: normal;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
}

.txt-files-basename .files-old,
.txt-files-basename .files-current {
    flex: 1;
}

.txt-files-basename .files-old {
    float: left;
    margin-right: 30px;
}

.txt-files-basename .files-current {
    float: right;
    margin-left: 30px;
}

.txt-files-basename .file-1 {
    left: -20px;
}

.txt-files-basename .file-2 {
    right: -20px;
}

.txt-files-basename .file-1,
.txt-files-basename .file-2 {
    font-size: 20px;
    position: absolute;
    margin-top: 2px;
}

.txt-files-basename .file-1 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.contents {
    position: relative;
    width: 100%;
}

.frame {
    display: block;
    position: fixed;
    top: 60px;
    left: 0px;
    width: 100%;
    height: calc(100vh - 60px);
}

.lds-rolling {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    z-index: -1;
    width: 150px !important;
    height: 150px !important;
}

.lds-rolling .lds-in,
.frame .lds-rolling .lds-in {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999999999999;
    margin: 0 auto;
    border: none;
    transform: translate(-50%, -50%);
}

.frame .lds-rolling .lds-in {
    margin-top: -57px;
}

.lds-css:after {
    display: block;
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -2;
    background: #ffffff;
}

.lds-css .dot-overtaking,
.lds-css .dot-overtaking:before,
.lds-css .dot-overtaking:after {
    filter: blur(0px);
}

iframe .lds-rolling {
    margin-top: -135px;
}