.header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 4;
    background: #000000;
    /*background: #004392;*/
    height: 60px;
}

.header:before {
    display: block;
    position: absolute;
    content: '';
    z-index: 4;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.header .header-in {
    position: relative;
    /*width: 980px;*/
    height: 60px;
    background: #000000;
    /*background: #004392;*/
}

.header .header-brand {
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: 0;
    left: 50%;
    z-index: 4;
    width: 103px;
    height: 60px;
    margin-left: -59px;
}

.header .header-brand img {
    width: 103px;
    height: 40px;
    vertical-align: middle;
    margin-left: 0px;
    border: none;
}

.header .menu-btn {
    float: left;
    position: relative;
    display: block;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    z-index: 4;
}

.header .user-account {
    float: right;
    display: block;
    position: relative;
    color: #FFFFFF;
    cursor: pointer;
    padding: 13px 0px;
    z-index: 4;
}

.header .user-account .icon {
    float: right;
    display: block;
    font-size: 22px;
    line-height: 34px;
    margin-left: 10px;
}

.header .user-account strong {
    font-weight: 400;
}

.header .user-account small {
    font-weight: 300;
}

.header .user-account strong,
.header .user-account small {
    display: none;
    text-align: right;
    line-height: normal;
    margin-right: 32px;
}

.header .menu-btn:before {
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 22px;
    content: '\f0c9';
    line-height: 20px;
    padding: 20px 0px;
}

.header .menu-btn.open:before {
    content: '\f00d';
}

.header .collapsible {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: auto;
    height: calc(100vh - 60px);
    margin-top: 60px;

}

.header .header-in,
.header .collapsible-in {
    /*width: 980px;*/
    margin: 0 auto;
}

.header .collapsible ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    padding: 0px;
    list-style: none;
}

.header .collapsible ul>li {
    position: relative;
    flex: 1;
    margin: 30px 15px 0px 15px;
}

.header .collapsible ul>li>ul {
    color: #FFFFFF;
    text-align: center;
    margin: 0px;
    border-radius: 10px;
    background: #000000;
    /*background: #004392;*/
}

.header .collapsible ul>li>ul>li>ul>li {
    margin: 0px;
    padding: 0px;
}

.header .collapsible .nav-column {
    padding: 0px 0px 30px 0px;
}

.header .collapsible .nav-column-item {
    padding: 0px;
}

.header .collapsible ul li ul li ul,
.header .collapsible ul li ul li ul li {
    display: block;
}

.header .collapsible ul>li>ul>li>ul a {
    padding: 10px;
}

.header .collapsible ul li a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 30px;
    border-radius: 10px;
    background: #000000;
    /*background: #004392;*/
    -webkit-transition: all .2s linear !important;
    transition: all .2s linear !important;
}

.header .collapsible ul li a:hover {
    background: #4284F4;
}

.header .collapsible ul>li>ul>li>ul a:hover,
.header .collapsible ul>li>ul>li>a.nav-column-item:hover {
    color: #4284F4;
    background: none;
}

.header .collapsible ul li>.icon,
.header .collapsible ul li a>.icon {
    display: block;
    margin: 0px 0px 20px 0px;
}

.header .collapsible ul li>.icon .fa-4x,
.header .collapsible ul li a>.icon .fa-4x {
    font-size: 42px;
}

.header .collapsible ul li>.icon .fa-3x,
.header .collapsible ul li a>.icon .fa-3x {
    font-size: 24px;
}

.header .collapsible ul li>.icon .fa-2x,
.header .collapsible ul li a>.icon .fa-2x {
    font-size: 18px;
}

.header .collapsible ul li>.icon .fa-1x,
.header .collapsible ul li a>.icon .fa-1x {
    font-size: 14px;
}

.header .collapsed {
    display: block;
}

.header .collapsed:before {
    display: block;
    position: absolute;
    content: '';
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    opacity: 0.8;
    background: #FFFFFF;
}