/* Home - Login */
/* Logo */
/* Footer */
/* @color */
/* @box-shadow */
/* @drop-shadow */
::-webkit-input-placeholder {
  /* Edge */
  color: #DE1075;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #DE1075;
}
::placeholder {
  color: #DE1075;
}
a.link {
  color: #DE1075;
}
a.link:hover {
  color: #B51B7C;
}
.master {
  display: table;
  width: 100%;
  height: 100%;
  /*background: #004392;*/
  background: #DE1075;
}
.wrapped {
  display: table-cell;
  vertical-align: middle;
}
.home-container {
  width: 470px;
  margin: auto;
}
.home-container .home-container-box {
  padding-top: 85px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.16);
}
.home-container .home-container-form {
  width: 280px;
  margin: 0 auto;
}
.home-container .sub-bs {
  margin: 0px 0px 50px 0px;
  padding: 0px 0px 55px 0px;
  border-bottom: 2px dotted #ACACAC;
}
.home-container .sub-bs:last-child {
  margin: 0px;
  padding: 0px;
  border-bottom: none;
}
.home-container .brand {
  display: block;
  width: 108px;
  height: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  background: url('../../../images/layout/cliente_24/logo-home.png?v=21062024') center center no-repeat;
  background-size: 108px;
}
.home-container .btn-control {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  height: auto;
  padding: 8px;
  min-height: 35px;
}
.home-container .btn-control.proccessing {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.home-container .btn-control.btn-registered > span > strong,
.home-container .btn-control.btn-recuperar-acesso > span > strong,
.home-container .btn-control.btn-salvar-acessar > span > strong {
  display: inline-flex;
  color: #FFFFFF;
}
.home-container .btn-control.btn-panel {
  display: flex;
  width: 100%;
  min-width: auto;
  justify-content: flex-start;
  background: none;
  border: 1px solid #DE1075;
  padding: 12px;
}
.home-container .btn-control.btn-panel .btn-body {
  display: block;
  text-align: left;
  margin: 0;
}
.home-container .btn-control.btn-panel > .icon {
  display: inline-flex;
  font-size: 28px;
  color: #DE1075;
  justify-content: center;
  margin-right: 20px;
  width: 30px;
}
.home-container .btn-control.btn-panel span.fa-stack {
  display: inline-flex;
  width: 30px;
  height: auto;
  margin: 0 20px 0 0;
}
.home-container .btn-control.btn-panel span.fa-stack .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-container .btn-control.btn-panel span.fa-stack .fa.fa-cloud {
  font-size: 28px;
}
.home-container .btn-control.btn-panel span.fa-stack .fa.fa-key {
  font-size: 12px;
  color: #FFFFFF !important;
}
.home-container .btn-control.btn-panel span,
.home-container .btn-control.btn-panel span.icon.fa-stack,
.home-container .btn-control.btn-panel span.icon.fa-stack .fa {
  color: #DE1075;
}
.home-container .btn-control.btn-panel span > strong {
  display: block;
}
.home-container .btn-control.btn-panel span > strong ~ strong {
  color: #000000;
}
.home-container .btn-control.btn-panel:hover {
  background-color: #DE1075;
}
.home-container .btn-control.btn-panel:hover > .icon,
.home-container .btn-control.btn-panel:hover > .icon > .fa.fa-cloud,
.home-container .btn-control.btn-panel:hover span,
.home-container .btn-control.btn-panel:hover span > strong ~ strong {
  color: #FFFFFF;
}
.home-container .btn-control.btn-panel:hover > .icon .fa.fa-key {
  color: #DE1075 !important;
}
.home-container .btn-control span {
  display: inline-flex;
  align-items: center;
  line-height: normal;
}
.home-container .btn-control span,
.home-container .btn-control span > i {
  color: #FFFFFF;
}
.home-container .btn-control .icon {
  font-size: 16px;
  font-weight: 300;
  margin-right: 10px;
}
.home-container .btn-control.btn-hollow {
  border: none;
  background: none;
}
.home-container .btn-control.btn-hollow span,
.home-container .btn-control.btn-hollow span > i {
  color: #DE1075;
}
.home-container .btn-control.btn-hollow:hover span,
.home-container .btn-control.btn-hollow:hover span > i {
  color: #B51B7C;
}
.home-container .input-control {
  font-weight: 400;
  height: 35px;
  border-color: #DE1075;
}
.home-container .input-control:focus {
  border-color: #B51B7C;
}
.home-container .input-group {
  position: relative;
  width: 100%;
}
.home-container .input-group .input-control {
  padding-right: 30px;
}
.home-container .input-group .addon {
  position: absolute;
  font-size: 16px;
  color: #DE1075;
  line-height: 16px;
  top: 9px;
  right: 10px;
  z-index: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.home-container .input-group:hover .input-control {
  border-color: #B51B7C;
  background: #F4F4F4;
}
.home-container .input-group:hover .addon,
.home-container .input-group .input-control:focus ~ .addon {
  color: #B51B7C;
}
.home-container .footer {
  margin-top: 20px;
  padding: 0px 10px;
}
.home-container .footer .copyright span {
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 1;
}
.home-container .footer .copyright span,
.home-container .footer .footer-brand img {
  vertical-align: middle;
}
.home-container .footer .footer-brand {
  width: 147px;
  height: 20px;
  background: url('../../../images/layout/cliente_24/rubrum-footer.png') center center no-repeat;
  background-size: 147px;
}
.home-container .form-sign-in {
  display: none;
}
.home-container .footer {
  height: auto;
  border: none;
}
.home-container .footer .copyright {
  padding: 0px;
}
.home-container .footer .footer-brand {
  margin-left: auto;
}
/* Tooltip */
.tooltip2 {
  position: relative;
}
.tooltip2 span.tooltiptext {
  position: absolute;
  display: inline-block;
  min-width: 240px;
  width: 334px;
  font-weight: 400;
  color: #000000 !important;
  text-align: left;
  padding: 30px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  border: 1px solid #ACACAC;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  background-color: #FFFFFF;
}
.tooltip2 span.tooltiptext::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #FFFFFF;
  z-index: -1;
}
.tooltip2 span.tooltiptext,
.tooltip2 span.tooltiptext strong {
  font-size: 14px;
}
.tooltip2 span.tooltiptext strong {
  display: inline-block !important;
}
.tooltip2:hover span.tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip-right {
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
}
.tooltip-right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  z-index: -2;
  transform: rotate(45deg) translateY(-50%);
  background: #FFFFFF;
  width: 15px;
  height: 15px;
  border-left: 1px solid #ACACAC;
  border-bottom: 1px solid #ACACAC;
  margin-right: -1px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.tooltip-bottom {
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip-bottom::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  transform: rotate(45deg) translateX(-50%);
  background: #FFFFFF;
  width: 15px;
  height: 15px;
  border-left: 1px solid #ACACAC;
  border-top: 1px solid #ACACAC;
  margin-top: -3px;
  z-index: -2;
  box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.16);
}
.tooltip-top {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip-top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  background: #FFFFFF;
  width: 15px;
  height: 15px;
  border-right: 1px solid #ACACAC;
  border-bottom: 1px solid #ACACAC;
  margin-top: -1px;
  z-index: -2;
  box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.16);
}
.tooltip-left {
  top: 50%;
  bottom: auto;
  right: 105%;
  transform: translateY(-50%);
}
.tooltip-left::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(45deg) translateY(-50%);
  background: #FFFFFF;
  width: 15px;
  height: 15px;
  border-right: 1px solid #ACACAC;
  border-top: 1px solid #ACACAC;
  margin-right: -2px;
  z-index: -2;
  box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.16);
}
.tooltip2 span.tooltiptext.visible {
  visibility: visible;
  opacity: 1;
}
#popover-password > .progress * {
  transition: all 0.2s linear;
  -webkit-transition: all all 0.2s linear;
}
#popover-password > .progress {
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #F4F4F4;
}
#popover-password > .progress,
#popover-password > .progress > .progress-bar {
  height: 5px;
}
#popover-password > .progress > .progress-bar {
  background-color: #DE1075;
}
#popover-password > #result > strong {
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: #DE1075;
  text-align: center;
  margin-bottom: 10px;
}
#popover-password > .list-unstyled {
  margin: 0;
  padding: 0;
}
#popover-password > .list-unstyled > li {
  text-align: left;
  margin-bottom: 5px;
}
#popover-password > .list-unstyled > li > span {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}
#popover-password > .list-unstyled > li > span > .fa {
  display: inline-flex;
  flex: auto 0 0;
  align-items: center;
  width: 15px;
  height: 17px;
  margin-right: 5px;
}
#popover-password > .list-unstyled > li > span > .fa.fa-circle {
  font-size: 6px;
  color: #000000;
}
#popover-password > .list-unstyled > li > span > .fa.fa-check {
  font-size: 12px;
  color: #DE1075;
}
#popover-password > .progress > .progress-bar.progress-bar-danger,
#popover-password > .progress > .progress-bar.progress-bar-warning,
#popover-password > .progress > .progress-bar.progress-bar-success {
  background-color: #DE1075;
}
.agreement {
  margin-bottom: 20px;
}
.agreement .agreement-label {
  display: flex;
}
.agreement .agreement-label.checkbox-control .checkmark {
  border-radius: 3px;
}
.agreement .agreement-label.checkbox-control input:checked ~ .checkmark:before {
  content: '\f14a';
}
.agreement .agreement-label .agreement-txt {
  display: block;
  margin-left: 10px;
}
.agreement .agreement-label .agreement-txt,
.agreement .agreement-label .agreement-txt a {
  font-size: 12px;
  font-weight: 400;
  color: #DE1075;
  text-align: left;
}
.agreement .agreement-label .agreement-txt a:hover {
  color: #B51B7C;
}
