/* Home - Login */
/* Logo */
/* Footer */
/* @color */
/* @box-shadow */
/* @drop-shadow */
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60px;
  background: #B01117;
}
header > .header-in {
  width: auto;
  margin: 0 30px;
}
header > .center {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  top: 50%;
  height: 60px;
  transform: translateY(-50%);
}
header > .header-in > .header-brand {
  float: left;
  position: relative;
  top: 50%;
  width: 62px;
  height: 60px;
  transform: translateY(-50%);
  background: url('../../../images/layout/cliente_4/logo-header.png?v=2') center center no-repeat;
  background-size: 60px;
}
header > .header-in > .header-right {
  display: inline-flex;
  flex: 1;
  align-items: center;
  padding-left: 30px;
}
header > .header-in > .header-right > .btn {
  display: inline-flex;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 18px;
  padding: 5px 24px;
  border-radius: 60px;
  border: 1px solid #ACACAC;
  background: #ACACAC;
}
header > .header-in > .header-right > .btn-proceed {
  color: #B01117;
  margin-left: auto;
  margin-right: -22px;
  border-color: #FFFFFF;
  background: #FFFFFF;
}
header > .header-in > .header-right > .btn-back {
  color: #FFFFFF;
  margin-left: 25px;
  margin-right: auto;
  border-color: #FFFFFF;
  background: none;
}
header > .header-in > .header-right > .btn-proceed:hover {
  color: #FFFFFF;
  border-color: #E7202D;
  background: #E7202D;
}
header > .header-in > .header-right > .btn-back:hover {
  color: #E7202D;
  border-color: #E7202D;
  background: #FFFFFF;
}
header > .header-in > .header-right > .btn-proceed > span > .icon,
header > .header-in > .header-right > .btn-back > span > .icon {
  font-size: 18px;
}
header > .header-in > .header-right > .btn-proceed > span > .icon {
  float: right;
  margin-left: 10px;
}
header > .header-in > .header-right > .btn-back > span > .icon {
  float: left;
  margin-right: 10px;
}
header > .header-in > .header-right > .ticket-col {
  flex: 1;
  justify-content: center;
}
header > .header-in > .close {
  display: flex;
  position: absolute;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  cursor: pointer;
  align-items: center;
  top: 50%;
  right: 0px;
  padding: 0px;
  outline: none;
  border: none;
  background: none;
  transform: translateY(-50%);
}
.master {
  display: table;
  width: 100%;
  height: 100vh !important;
  overflow: hidden;
}
.close > .btn-icon {
  position: absolute;
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 20px;
  color: #FFFFFF;
  line-height: 0px;
  top: 50%;
  right: 0px;
  margin-left: 10px;
}
.cycle-badge {
  position: relative;
  display: inline-flex;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  margin: 0px 15px;
  padding: 0px;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
}
.cycle-badge > .cycle-badge-addon.left,
.cycle-badge > .cycle-badge-addon.right {
  font-weight: 700;
  font-style: normal;
  padding: 5px;
}
.cycle-badge > .cycle-badge-addon.left {
  float: left;
  border-right: 1px solid #FFFFFF;
}
.cycle-badge > .cycle-badge-addon.right {
  float: right;
  border-left: 1px solid #FFFFFF;
}
.cycle-badge > strong {
  font-weight: 400;
  padding: 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 40px;
}
.cycle-badge > strong,
.cycle-badge > .cycle-badge-addon {
  color: #FFFFFF;
}
.cycle-badge.cycle > strong .cycle-badge.version > strong {
  min-width: 40px;
}
.cycle-badge.comparing > strong {
  min-width: 117px !important;
}
.txt-ticket-info {
  display: -webkit-box;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
  text-overflow: ellipsis;
  margin: 0px;
  padding: 0px 15px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.txt-files-basename {
  position: relative;
  display: inline-flex;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
  flex-flow: column;
  justify-content: center;
  text-overflow: ellipsis;
  max-width: 79.7%;
  margin: 0 auto 0 auto;
  overflow: hidden;
  padding: 0px 30px;
  left: -14px;
}
.txt-files-basename small {
  position: relative;
  display: inline-flex;
  line-height: normal;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  max-width: 100%;
  margin: 0 auto;
}
.txt-files-basename .files-old {
  float: left;
}
.txt-files-basename .files-current {
  float: right;
  padding-left: 10px;
}
.txt-files-basename .files-old span,
.txt-files-basename .files-current span {
  overflow-x: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.txt-files-basename .file-1 {
  left: -20px;
}
.txt-files-basename .file-2 {
  right: -20px;
}
.txt-files-basename .file-1,
.txt-files-basename .file-2 {
  font-size: 18px;
  position: absolute;
  margin-top: 2px;
}
.txt-files-basename .file-1 {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.error-screen {
  position: relative;
  z-index: 1;
  height: 100%;
  background: #FFFFFF;
}
.error-page-panel {
  position: absolute;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  top: 50%;
  left: 50%;
  width: 624px;
  margin: 0 auto;
  padding: 75px;
  transform: translate(-50%, -50%);
}
.error-page-panel .icon {
  float: left;
  display: block;
  font-size: 150px;
  font-weight: 200;
  color: #B01117;
}
.error-page-panel .icon.color-default {
  color: #F4F4F4;
}
.error-page-panel .icon:before {
  display: inline-block;
}
.error-page-panel .body {
  margin: 0px 0px 0px 159px;
  padding: 0px;
}
.error-page-panel .body .title {
  font-size: 22px;
  font-weight: 700;
  color: #B01117;
  margin: 0px 0px 45px 0px;
}
.error-page-panel .body .title > span {
  display: inline-block;
  line-height: 24px;
}
.error-page-panel .body .text p {
  font-size: 16px;
  font-weight: 400;
  margin: 0px 15px 0px 0px;
}
.error-page-panel .body .text p:last-child {
  margin: 0px;
}
.error-page-panel .body .btn-return {
  display: inline-flex;
  font-size: 12px;
  font-weight: 700;
  color: #FFFFFF;
  align-items: center;
  line-height: 36px;
  text-decoration: none;
  margin-top: 45px;
  padding: 0px 30px;
  border-radius: 64px;
  background: #B01117;
}
.error-page-panel .body .btn-return .icon {
  float: left;
  display: inherit;
  font-size: 20px;
  font-weight: 200;
  color: #FFFFFF;
  margin-right: 15px;
}
.error-page-panel .body .btn-return:hover {
  background: #E7202D;
}
.contents {
  position: relative;
  width: 100%;
}
.frame {
  display: block;
  position: fixed;
  top: 60px;
  left: 0px;
  width: 100%;
  height: calc(100vh - 60px);
}
/* Alerts and confirms */
.alert-box-content .icon {
  float: left;
  font-family: 'FontAwesome';
  font-size: 50px;
  color: #B01117;
}
.alert-box-content .alert-box-body {
  margin: 0px 0px 0px 70px;
}
.alert-box-content .heading {
  margin: 0px 0px 40px 0px;
}
.alert-box-content .heading h4 {
  font-size: 26px;
  font-weight: 700;
  color: #B01117;
  line-height: 28px;
  padding: 12px 0px;
}
.alert-box-content .text {
  font-size: 16px;
  font-weight: 400px;
}
/* V1 */
.custom-alert-contents {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  text-align: left;
}
.custom-alert-heading-center {
  text-align: center;
}
.custom-alert-contents {
  margin: 0;
  padding: 1px;
}
.custom-alert-heading {
  display: flex;
  align-items: center;
}
.custom-alert-heading {
  color: #B01117;
}
.custom-alert-heading h4 {
  font-size: 26px;
  font-weight: 700;
  line-height: 54px;
  margin: 0px 0px 10px 0px;
}
.custom-alert-contents .icon {
  float: left;
  display: block;
  font-size: 52px;
  text-align: center;
  width: 54px;
  height: 54px;
  color: #B01117;
  margin-right: 10px;
}
.custom-alert-contents p {
  margin-left: 65px;
}
.custom-alert-contents .media-container {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-top: 30px;
  margin-bottom: 14px;
}
.custom-alert-contents .media-object {
  margin-bottom: 20px;
}
.custom-alert-contents .media-object:last-child {
  margin: 0;
}
.custom-alert-contents .media-object span {
  float: left;
  display: inline-block;
  font-size: 30px;
  color: #ACACAC;
}
.custom-alert-contents .media-object .media-object-content {
  display: block;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  text-align: left;
  margin-left: 50px;
}
.custom-alert-contents .media-object .media-object-content h4 {
  font-size: 16px;
  font-weight: 600;
}
.custom-alert-contents .media-object .media-object-content p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin: 0px;
}
.custom-alert-contents .media-object-indent {
  margin-left: 65px;
}
/* jQuery Confirm */
.jconfirm {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: 9999999999;
  font-family: inherit;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.jconfirm .jconfirm-box {
  overflow: visible !important;
  padding: 85px 70px 0px;
}
.jconfirm .jconfirm-box.loading:before {
  border-radius: 10px;
  background: #FFFFFF;
}
.jconfirm .jconfirm-holder {
  overflow: visible;
}
.jconfirm .jconfirm-bg-alt:before {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  content: '';
  width: 100%;
  height: 100%;
}
.jconfirm.jconfirm-white .jconfirm-bg,
.jconfirm.jconfirm-light .jconfirm-bg {
  background: none;
}
.jconfirm.jconfirm-white .jconfirm-box,
.jconfirm.jconfirm-light .jconfirm-box {
  border: 1px solid #B01117;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.jconfirm.jconfirm-white .jconfirm-box.jconfirm-box-alt,
.jconfirm.jconfirm-light .jconfirm-box.jconfirm-box-alt {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2) !important;
  padding: 45px 45px 0px;
  border: 1px solid #ACACAC !important;
}
.jconfirm.jconfirm-light .jconfirm-box.jconfirm-box-alt .jconfirm-closeIcon {
  top: 12px;
  right: 16px;
}
.jconfirm .jconfirm-box-alt div.jconfirm-content-pane {
  margin-bottom: 30px !important;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: left;
  margin-left: 67px;
  overflow: visible;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane {
  overflow: hidden !important;
  margin-bottom: 50px;
  max-height: unset !important;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content .dialog-box-contents {
  margin-bottom: 40px;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content .dialog-box-contents p {
  margin: 0px 0px 10px 0px;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content .dialog-box-contents p:last-child {
  margin-bottom: 0px;
}
.jconfirm .jconfirm-box div.jconfirm-title-c {
  display: flex;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #B01117;
  align-items: center;
  vertical-align: middle;
  padding: 0px;
  margin-bottom: 10px;
}
.jconfirm .jconfirm-box div.jconfirm-title-c.dialog-box-title {
  margin-bottom: 30px;
}
.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
  display: block;
  font-size: 54px;
  text-align: center;
  width: 56px;
  height: 56px;
  margin-right: 10px !important;
}
.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c .icon:before {
  float: left;
  display: inline-block;
}
.jconfirm .jconfirm-box .jconfirm-buttons {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}
.jconfirm .jconfirm-box .jconfirm-buttons .btn span {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.jconfirm .jconfirm-box .jconfirm-buttons .btn span,
.jconfirm .jconfirm-box .jconfirm-buttons .btn:active span {
  -ms-transform: translate(0px, 1px);
}
.jconfirm .jconfirm-box .jconfirm-buttons .btn span .icon {
  font-size: 20px;
  font-weight: 200;
  margin-right: 10px;
}
.jconfirm .jconfirm-box div.jconfirm-closeIcon {
  top: 33px;
  right: 35px;
}
.jconfirm .jconfirm-box div.jconfirm-closeIcon,
.jconfirm .jconfirm-box div.jconfirm-closeIcon:hover {
  font-size: 22px !important;
  width: 22px;
  height: 22px;
  opacity: 1;
}
.jconfirm .jconfirm-box div.jconfirm-closeIcon .fa {
  font-size: 20px;
}
.jconfirm .jconfirm-box div.jconfirm-closeIcon .jconfirm-btn-close {
  color: #B01117;
}
.jconfirm .jconfirm-box div.jconfirm-closeIcon .jconfirm-btn-close:hover {
  color: #E7202D !important;
}
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button {
  margin: 0px 10px;
}
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
  float: none;
  padding-bottom: 92px;
}
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn {
  display: flex;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: none;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  outline: none;
  min-width: 200px;
  margin: 0px 15px;
  padding: 3px 22px;
  border-radius: 64px;
}
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn.btn-common {
  padding: 0px 22px;
}
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-confirm,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-confirm {
  color: #FFFFFF;
  background: #B01117;
}
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-confirm:hover,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-confirm:hover {
  background: #E7202D;
}
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-cancel,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-cancel {
  color: #B01117;
  border: 1px solid #B01117;
  background: none;
}
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-cancel:hover,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-cancel:hover {
  color: #E7202D;
  border: 1px solid #E7202D;
  background: #F4F4F4;
}
.jconfirm-overlay:before {
  display: block;
  position: fixed;
  content: '';
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: #FFFFFF;
}
.jconfirm .jconfirm-box.loading:after {
  opacity: 1;
  border-bottom-color: #B01117;
}
/*.lds-rolling {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    z-index: -1;
    width: 150px !important;
    height: 150px !important;
}

.lds-rolling .lds-in,
.frame .lds-rolling .lds-in {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999999999999;
    margin: 0 auto;
    border: none;
    transform: translate(-50%, -50%);
}*/
/*.lds-css:after {
    display: block;
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -2;
    background: @color-white;
}*/
/*.dot-overtaking,
.dot-overtaking::before,
.dot-overtaking::after {
    color: @color-primary !important;
}

.lds-css .dot-overtaking,
.lds-css .dot-overtaking:before,
.lds-css .dot-overtaking:after {
    filter: blur(0px);
}*/
/* Big loader */
.loading-big {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.loading-big .line-wobble,
.frame .loading-big .line-wobble {
  z-index: 999999999999;
}
.loading-big:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.8;
  background-color: #FFFFFF;
}
/* Line Wobble Loader */
.line-wobble {
  --uib-size: 150px;
  --uib-speed: 1.75s;
  --uib-color: black;
  --uib-line-weight: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-line-weight);
  width: var(--uib-size);
  border-radius: calc(var(--uib-line-weight) / 2);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.line-wobble::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #E0E0E0;
}
.line-wobble::after {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: calc(var(--uib-line-weight) / 2);
  animation: wobble var(--uib-speed) ease-in-out infinite;
  transform: translateX(-95%);
  background-color: #B01117;
}
.loading-big .line-wobble {
  z-index: 999;
}
@keyframes wobble {
  0%,
  100% {
    transform: translateX(-95%);
  }
  50% {
    transform: translateX(95%);
  }
}
.d-inline-flex {
  display: inline-flex;
}
.flex-align-center {
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 1281px) {
  header > .header-in {
    min-width: 964px;
  }
  .txt-files-basename {
    max-width: 62%;
    padding-right: 18px;
  }
  .txt-files-basename .files-old span,
  .txt-files-basename .files-current span {
    max-width: 94%;
  }
  .txt-files-basename .file-1 {
    left: -15px;
  }
  .txt-files-basename .file-2 {
    right: 0px;
  }
}
