<div ng-show="dashboard.dados" class="fadein">
    <div class="flexbox-container margin-top-20 margin-bottom-20">
        <div class="d-flex flex flex-align-center margin-left-auto">
            <span class="updated-at txt-small">Dados extraídos em {{ dashboard.data_atualizacao }}</span>
            <a href="javascript:;" ng-click="atualizaDashboard()" class="btn-function tooltip top margin-left-10">
                <span class="tooltip-box">Atualizar</span><i class="icon fa fa-refresh no-margin"></i>
            </a>
        </div>
    </div>
    <div ng-if="dashboard.dados['tickets-em-andamento']" class="flexbox-container flexbox-group margin-bottom-20">
        <div class="card flex flex-12-large">
            <div class="card-content">
                <div class="card-header margin-bottom-20">
                    <span class="title txt-small txt-uppercase">Tickets em Andamento</span>
                    <span class="date txt-uppercase">{{ dashboard.dados['tickets-em-andamento'].mes }} {{ dashboard.dados['tickets-em-andamento'].ano }}</span>
                </div>
                <div ng-if="dashboard.dados['tickets-em-andamento'].numeros.length && dashboard.dados['tickets-em-andamento'].numeros[0].numero > 0" class="card-body flexbox-group flex-space-around">
                    <div ng-repeat="(d, dado) in dashboard.dados['tickets-em-andamento'].numeros" data-title="{{tooltipsTicketsEmAndamento[d].texto}}" class="d-inline-flex flex-space-between flex-column flex f-min-height-110 ui-tooltip top">
                        <div class="flex-indicator-1x flex-details-primary padding-left-30 padding-right-30">
                            <div class="flexbox-container flex-align-center flex-no-wrap">
                                <i ng-if="$first" class="flex icon icon-40px-large fa fa-ticket no-padding"></i>
                                <div class="d-inline-flex flex-column">
                                    <h2 ng-class="{'detail-heading txt-xlarge txt-center txt-color-primary no-line-height margin-bottom-5': $first, 'detail-heading txt-xlarge txt-semibold txt-center txt-color-default no-line-height margin-bottom-5': !$first}">{{ dado.numero }}</h2>
                                    <div class="detail-block">    
                                        <div class="detail-info no-min-height no-line-height flex-justify-center">
                                            <small>{{ dado.porcentagem }}%</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="margin-left-auto margin-right-auto" ng-class="{'detail-heading txt-medium txt-center txt-color-primary': $first, 'detail-heading txt-default txt-regular txt-center txt-color-default': !$first}">{{ dado.nome }}</h3>
                    </div>
                </div>
                <div ng-if="!dashboard.dados['tickets-em-andamento'].numeros.length || dashboard.dados['tickets-em-andamento'].numeros[0].numero === 0" class="current-month-no-data">
                    <i class="current-month-no-data-icon fa fa-ticket"></i>
                    <span class="current-month-no-data-txt">Ainda não existem dados do mês corrente para serem exibidos.</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="dashboard.dados['tipos-instrucao-abertura-ticket'] || dashboard.dados['aprovacoes-por-departamento']" class="flexbox-container flexbox-group margin-bottom-20">
        <div ng-if="dashboard.dados['tipos-instrucao-abertura-ticket']" class="card flex flex-6-large">
            <div class="card-content">
                <div class="card-header margin-bottom-20">
                    <span class="title txt-small txt-uppercase">Tipos de Instrução Usados</span>
                    <span class="date txt-uppercase">{{ dashboard.dados['tickets-em-andamento'].mes }} {{ dashboard.dados['tickets-em-andamento'].ano }}</span>
                </div>
                <div ng-if="dashboard.dados['tipos-instrucao-abertura-ticket'].numeros.length && dashboard.dados['tipos-instrucao-abertura-ticket'].numeros[0].numero > 0" data-title="Esses foram os Tipos de Instrução mais usados em tickets abertos dentro do mês." class="card-body flex-justify-center ui-tooltip top">
                    <div class="flex-details-primary flex-row flex flex-7-large f-min-height">
                        <i class="icon icon-40px-large fa fa-list-alt"></i>
                        <div class="detail-block flex-fluid">
                            <div ng-repeat="dado in dashboard.dados['tipos-instrucao-abertura-ticket'].numeros" class="detail-info">
                                <small ng-class="{'margin-right-auto margin-bottom-5': $first, 'margin-right-auto': !$first}">{{ dado.porcentagem }}%</small>
                                <strong  ng-class="{'txt-bold txt-xlarge txt-color-primary margin-bottom-5': $first, 'txt-semibold txt-default txt-color-default no-margin': !$first}">{{ dado.numero }}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="flex-details-secondary flex f-min-height">
                        <div class="detail-block">
                            <div ng-repeat="dado in dashboard.dados['tipos-instrucao-abertura-ticket'].numeros" class="detail-info">
                                <strong ng-class="{'txt-medium txt-color-primary margin-bottom-5': $first, 'txt-small txt-regular txt-color-default no-margin': !$first}">{{ dado.nome }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!dashboard.dados['tipos-instrucao-abertura-ticket'].numeros.length || dashboard.dados['tipos-instrucao-abertura-ticket'].numeros[0].numero === 0" class="current-month-no-data">
                    <i class="current-month-no-data-icon fa fa-list-alt"></i>
                    <span class="current-month-no-data-txt">Ainda não existem dados do mês corrente para serem exibidos.</span>
                </div>
            </div>
        </div>
        <div ng-if="dashboard.dados['aprovacoes-por-departamento']" class="card flex flex-6-large">
            <div class="card-content">
                <div class="card-header margin-bottom-20">
                    <span class="title txt-small txt-uppercase">Aprovações por Departamento</span>
                    <span class="date txt-uppercase">{{ dashboard.dados['aprovacoes-por-departamento'].mes }} {{ dashboard.dados['aprovacoes-por-departamento'].ano }}</span>
                </div>
                <div ng-if="dashboard.dados['aprovacoes-por-departamento'].numeros.length && dashboard.dados['aprovacoes-por-departamento'].numeros[0].numero > 0" data-title="Esses foram os Departamentos que mais aprovaram tickets dentro do mês." class="card-body flex-justify-center ui-tooltip top">
                    <div class="flex-details-primary flex-row flex flex-7-large f-min-height">
                        <i class="icon icon-40px-large fa fa-gavel"></i>
                        <div class="detail-block flex-fluid">    
                            <div ng-repeat="dado in dashboard.dados['aprovacoes-por-departamento'].numeros" class="detail-info">
                                <small ng-class="{'margin-right-auto margin-bottom-5': $first, 'margin-right-auto': !$first}">{{ dado.porcentagem }}%</small>
                                <strong  ng-class="{'txt-bold txt-xlarge txt-color-primary margin-bottom-5': $first, 'txt-semibold txt-default txt-color-default no-margin': !$first}">{{ dado.numero }}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="flex-details-secondary flex f-min-height">
                        <div class="detail-block">
                            <div ng-repeat="dado in dashboard.dados['aprovacoes-por-departamento'].numeros" class="detail-info">
                                <strong ng-class="{'txt-medium txt-color-primary margin-bottom-5': $first, 'txt-small txt-regular txt-color-default no-margin': !$first}">{{ dado.nome }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!dashboard.dados['aprovacoes-por-departamento'].numeros.length || dashboard.dados['aprovacoes-por-departamento'].numeros === 0" class="current-month-no-data">
                    <i class="current-month-no-data-icon fa fa-gavel"></i>
                    <span class="current-month-no-data-txt">Ainda não existem dados do mês corrente para serem exibidos.</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="dashboard.dados['tickets-encerrados-por-ciclo']" class="flexbox-container flexbox-group margin-bottom-20">
        <div class="card flex flex-12-large">
            <div class="card-content">
                <div class="card-header margin-bottom-20">
                    <span class="title txt-small txt-uppercase">Tickets Encerrados por Ciclo</span>
                    <span class="date txt-uppercase">{{ dashboard.dados['tickets-encerrados-por-ciclo'].mes }} {{ dashboard.dados['tickets-encerrados-por-ciclo'].ano }}</span>
                </div>
                <div ng-if="dashboard.dados['tickets-encerrados-por-ciclo'].numeros.length && dashboard.dados['tickets-encerrados-por-ciclo'].numeros[0].numero > 0" class="card-body flexbox-group flex-space-around">
                    <div ng-repeat="(d, dado) in dashboard.dados['tickets-encerrados-por-ciclo'].numeros" data-title="{{tooltipsTicketsEncerradosPorCiclo[d].texto}}" class="d-inline-flex flex-space-between flex-column flex flex f-min-height-110 ui-tooltip top">
                        <div class="flex-indicator-1x flex-details-primary padding-left-30 padding-right-30">
                            <div class="flexbox-container flex-align-center flex-no-wrap">
                                <i ng-if="$first" class="flex icon icon-40px-large fa fa-flag-checkered no-padding"></i>
                                <div class="d-inline-flex flex-column">
                                    <h2 class="detail-heading txt-xlarge txt-center txt-color-primary margin-bottom-5 no-line-height">{{ dado.numero }}</h2>
                                    <div class="detail-block">    
                                        <div class="detail-info no-min-height no-line-height flex-justify-center">
                                            <small>{{ dado.porcentagem }}%</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="margin-left-auto margin-right-auto" ng-class="{'detail-heading txt-medium txt-center txt-color-primary': $first, 'detail-heading txt-default txt-regular txt-center txt-color-default': !$first}">{{ dado.nome }}</h3>
                    </div>
                </div>
                <div ng-if="!dashboard.dados['tickets-encerrados-por-ciclo'].numeros.length || dashboard.dados['tickets-encerrados-por-ciclo'].numeros[0].numero === 0" class="current-month-no-data">
                    <i class="current-month-no-data-icon fa fa-flag-checkered"></i>
                    <span class="current-month-no-data-txt">Ainda não existem dados do mês corrente para serem exibidos.</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="dashboard.dados['embalagens'] || dashboard.dados['usuarios']" class="flexbox-container flexbox-group margin-bottom-20">
        <div ng-if="dashboard.dados['embalagens']" class="card flex flex-6-large">
            <div class="card-content">
                <div class="card-header margin-bottom-20">
                    <span class="title txt-small txt-uppercase">Embalagens</span>
                    <span class="date txt-uppercase">{{ dashboard.dados['embalagens'].mes }} {{ dashboard.dados['embalagens'].ano }}</span>
                </div>
                <div ng-if="dashboard.dados['embalagens'].numeros.length && dashboard.dados['embalagens'].numeros[0].numero > 0" class="card-body flex-justify-center">
                    <div class="flex-details-primary flex flex-7-large flex-row f-min-height">
                        <i class="icon icon-40px-large fa fa-cube"></i>
                        <div class="detail-block flex-fluid">
                            <div ng-repeat="(d, dado) in dashboard.dados['embalagens'].numeros" data-title="{{tooltipsEmbalagens[d].texto}}" class="detail-info ui-tooltip top">
                                <small ng-class="{'margin-right-auto margin-bottom-5': $first, 'margin-right-auto': !$first}">{{ dado.porcentagem }}%</small>
                                <strong ng-class="{'txt-bold txt-xlarge txt-color-primary margin-bottom-5': $first, 'txt-semibold txt-default txt-color-default no-margin': !$first}">{{ dado.numero }}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="flex-details-secondary flex f-min-height">
                        <div class="detail-block flex-fluid">    
                            <div ng-repeat="(d, dado) in dashboard.dados['embalagens'].numeros" data-title="{{tooltipsEmbalagens[d].texto}}" class="detail-info ui-tooltip top">
                                <strong ng-class="{'txt-medium txt-color-primary margin-bottom-5': $first, 'txt-small txt-regular txt-color-default no-margin': !$first}">{{ dado.nome }}</strong>    
                            </div>                                        
                        </div>
                    </div>
                </div>
                <div ng-if="!dashboard.dados['embalagens'].numeros.length || dashboard.dados['embalagens'].numeros[0].numero === 0" class="current-month-no-data">
                    <i class="current-month-no-data-icon fa fa-cube"></i>
                    <span class="current-month-no-data-txt">Ainda não existem dados do mês corrente para serem exibidos.</span>
                </div>
            </div>
        </div>
        <div ng-if="dashboard.dados['usuarios']" class="card flex flex-6-large">
            <div class="card-content">
                <div class="card-header margin-bottom-20">
                    <span class="title txt-small txt-uppercase">Usuários</span>
                    <span class="date txt-uppercase">{{ dashboard.dados['usuarios'].mes }} {{ dashboard.dados['usuarios'].ano }}</span>
                </div>
                <div ng-if="dashboard.dados['usuarios'].numeros.length && dashboard.dados['usuarios'].numeros[0].numero > 0" class="card-body flex-justify-center">
                    <div class="flex-details-primary flex flex-row flex-7-large f-min-height">
                        <i class="icon icon-40px-large fa fa-user-circle-o"></i>
                        <div class="detail-block flex-fluid">
                            <div ng-repeat="(d, dado) in dashboard.dados['usuarios'].numeros" data-title="{{tooltipsUsuarios[d].texto}}" class="detail-info ui-tooltip top">
                                <small ng-class="{'margin-right-auto margin-bottom-5': $first, 'margin-right-auto': !$first}">{{ dado.porcentagem }}%</small>
                                <strong ng-class="{'txt-bold txt-xlarge txt-color-primary margin-bottom-5': $first, 'txt-semibold txt-default txt-color-default no-margin': !$first}">{{ dado.numero }}</strong>
                            </div>    
                        </div>
                    </div>
                    <div class="flex-details-secondary flex f-min-height">
                        <div class="detail-block flex-fluid">    
                            <div ng-repeat="(d, dado) in dashboard.dados['usuarios'].numeros" data-title="{{tooltipsUsuarios[d].texto}}" class="detail-info ui-tooltip top">
                                <strong ng-class="{'txt-medium txt-color-primary margin-bottom-5': $first, 'txt-small txt-regular txt-color-default no-margin': !$first}">{{ dado.nome }}</strong>    
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!dashboard.dados['usuarios'].numeros.length || dashboard.dados['usuarios'].numeros[0].numero === 0" class="current-month-no-data">
                    <i class="current-month-no-data-icon fa fa-user-circle-o"></i>
                    <span class="current-month-no-data-txt">Ainda não existem dados do mês corrente para serem exibidos.</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="dashboard.dados['armazenamento']" class="flexbox-container flexbox-group margin-bottom-20">
        <div class="card flex flex-12-large">
            <div class="card-content">
                <div class="card-header margin-bottom-20">
                    <span class="title txt-small txt-uppercase">Armazenamento</span>
                    <span class="date txt-uppercase">Jul 2002</span>
                </div>
                <div class="card-body flexbox-group flex-space-around">
                    <div class="d-inline-flex flex-space-between flex-column flex f-min-height-110">
                        <div class="flex-indicator-1x flex-details-primary padding-left-30 padding-right-30">
                            <div class="flexbox-container flex-align-center flex-no-wrap">
                                <i class="flex icon icon-40px-large fa fa-cloud no-padding"></i>
                                <div class="d-inline-flex flex-column">
                                    <h2 class="detail-heading txt-xlarge txt-center txt-color-primary margin-bottom-5 no-line-height">150 GB</h2>
                                    <div class="detail-block">    
                                        <div class="detail-info no-min-height no-line-height flex-justify-center">
                                            <small>60%</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="detail-heading txt-medium txt-center txt-color-primary">Usados</h3>
                    </div>
                    <div class="d-inline-flex flex-space-between flex-column flex f-min-height-110">
                        <div class="flex-indicator-1x flex-details-primary padding-left-30 padding-right-30">
                            <div class="flexbox-container flex-align-center flex-no-wrap">
                                <div class="d-inline-flex flex-column">
                                    <h2 class="detail-heading txt-xlarge txt-semibold txt-center no-line-height no-min-height margin-bottom-5">90 GB</h2>
                                    <div class="detail-block">    
                                        <div class="detail-info no-min-height no-line-height flex-justify-center">
                                            <small>50%</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="detail-heading txt-default txt-center txt-regular">Artes-finais</h4>
                    </div>
                    <div class="d-inline-flex flex-space-between flex-column flex f-min-height-110">
                        <div class="flex-indicator-1x flex-details-primary padding-left-30 padding-right-30">
                            <div class="flexbox-container flex-align-center flex-no-wrap">
                                <div class="d-inline-flex flex-column">
                                    <h2 class="detail-heading txt-xlarge txt-semibold txt-center no-line-height no-min-height margin-bottom-5">20 GB</h2>
                                    <div class="detail-block">    
                                        <div class="detail-info no-min-height no-line-height flex-justify-center">
                                            <small>10%</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="detail-heading txt-default txt-center txt-regular">Imagens</h4>
                    </div>
                    <div class="d-inline-flex flex-space-between flex-column flex f-min-height-110">
                        <div class="flex-indicator-1x flex-details-primary padding-left-30 padding-right-30">
                            <div class="flexbox-container flex-align-center flex-no-wrap">
                                <div class="d-inline-flex flex-column">
                                    <h2 class="detail-heading txt-xlarge txt-semibold txt-center no-line-height no-min-height margin-bottom-5">40 GB</h2>
                                    <div class="detail-block">    
                                        <div class="detail-info no-min-height no-line-height flex-justify-center">
                                            <small>8%</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="detail-heading txt-default txt-center txt-regular">Outros</h4>
                    </div>
                    <div class="d-inline-flex flex-space-between flex-column flex f-min-height-110">
                        <div class="flex-indicator-1x flex-details-primary padding-left-30 padding-right-30">
                            <div class="flexbox-container flex-align-center flex-no-wrap">
                                <div class="d-inline-flex flex-column">
                                    <h2 class="detail-heading txt-xlarge txt-semibold txt-center no-line-height no-min-height margin-bottom-5">100 GB</h2>
                                    <div class="detail-block">    
                                        <div class="detail-info no-min-height no-line-height flex-justify-center">
                                            <small>3,3%</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="detail-heading txt-default txt-center txt-regular">Livres</h4>
                    </div>
                    <div class="d-inline-flex flex-space-between flex-column flex f-min-height-110">
                        <div class="flex-indicator-1x flex-details-primary padding-left-30 padding-right-30">
                            <div class="flexbox-container flex-align-center flex-no-wrap">
                                <div class="d-inline-flex flex-column">
                                    <h2 class="detail-heading txt-xlarge txt-semibold txt-center no-line-height no-min-height margin-bottom-5">250 GB</h2>
                                    <div class="detail-block">    
                                        <div class="detail-info no-min-height no-line-height flex-justify-center">
                                            <small>100%</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="detail-heading txt-default txt-center txt-regular">Total</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>