<div ng-show="dashboard.dados" class="fadein">
    <div class="flexbox-container margin-top-20 margin-bottom-20">
        <div class="d-flex flex flex-align-center margin-left-auto">
            <span class="updated-at txt-small">Dados extraídos em {{ dashboard.data_atualizacao }}</span>
            <a href="javascript:;" ng-click="atualizaDashboard()" class="btn-function tooltip top margin-left-10">
                <span class="tooltip-box">Atualizar</span><i class="icon fa fa-refresh no-margin"></i>
            </a>
        </div>
    </div>
    <div ng-if="dashboard.dados['tickets-em-andamento-usuario']" class="flexbox-container flexbox-group margin-bottom-20">
        <div class="card flex flex-12-large">
            <div class="card-content">
                <div class="card-header margin-bottom-20">
                    <span class="title txt-small txt-uppercase">Tickets em Andamento que eu Participo</span>
                    <span class="date txt-uppercase">{{ dashboard.dados['tickets-em-andamento-usuario'].mes }} {{ dashboard.dados['tickets-em-andamento-usuario'].ano }}</span>
                </div>
                <div ng-if="dashboard.dados['tickets-em-andamento-usuario'].numeros.length && dashboard.dados['tickets-em-andamento-usuario'].numeros[0].numero > 0" class="card-body flexbox-group flex-space-around">
                    <div ng-repeat="(d, dado) in dashboard.dados['tickets-em-andamento-usuario'].numeros" data-title="{{tooltipsTicketsEmAndamentoUsuario[d].texto}}" class="d-inline-flex flex-space-between flex-column flex f-min-height-110 ui-tooltip top">
                        <div class="flex-indicator-1x flex-details-primary margin-left-auto margin-right-auto padding-left-30 padding-right-30">
                            <div class="flexbox-container flex-align-center flex-no-wrap">
                                <i ng-if="$first" class="flex icon icon-40px-large fa fa-ticket no-padding"></i>
                                <div class="d-inline-flex flex-column">
                                    <h2 ng-class="{'detail-heading txt-xlarge txt-center txt-color-primary no-line-height margin-bottom-5': $first, 'detail-heading txt-xlarge txt-semibold txt-center txt-color-default no-line-height margin-bottom-5': !$first}">{{ dado.numero }}</h2>
                                    <div class="detail-block">    
                                        <div class="detail-info no-min-height no-line-height flex-justify-center">
                                            <small>{{ dado.porcentagem }}%</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="margin-left-auto margin-right-auto" ng-class="{'detail-heading txt-medium txt-center txt-color-primary': $first, 'detail-heading txt-default txt-regular txt-center txt-color-default': !$first}">{{ dado.nome }}</h3>
                    </div>
                </div>
                <div ng-if="!dashboard.dados['tickets-em-andamento-usuario'].numeros.length || dashboard.dados['tickets-em-andamento-usuario'].numeros[0].numero === 0" class="current-month-no-data">
                    <i class="current-month-no-data-icon fa fa-ticket"></i>
                    <span class="current-month-no-data-txt">Ainda não existem dados do mês corrente para serem exibidos.</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="dashboard.dados['minhas-funcoes-tickets-andamento-atrasado']" class="flexbox-container flexbox-group margin-bottom-20">
        <div class="card flex flex-12-large">
            <div class="card-content">
                <div class="card-header margin-bottom-20">
                    <span class="title txt-small txt-uppercase">Minhas Funções nos Tickets em Andamento Atrasados</span>
                    <span class="date txt-uppercase">{{ dashboard.dados['minhas-funcoes-tickets-andamento-atrasado'].mes }} {{ dashboard.dados['minhas-funcoes-tickets-andamento-atrasado'].ano }}</span>
                </div>
                <div ng-if="dashboard.dados['minhas-funcoes-tickets-andamento-atrasado'].numeros.length && dashboard.dados['minhas-funcoes-tickets-andamento-atrasado'].numeros[0].numero > 0" class="card-body flexbox-group flex-space-around">
                    <div ng-repeat="(d, dado) in dashboard.dados['minhas-funcoes-tickets-andamento-atrasado'].numeros" data-title="{{tooltipsMinhasFuncoesTicketsAndamentoAtrasado[d].texto}}" class="d-inline-flex flex-space-between flex-column flex f-min-height-110 ui-tooltip top">
                        <div class="flex-indicator-1x flex-details-primary margin-left-auto margin-right-auto padding-left-30 padding-right-30">
                            <div class="flexbox-container flex-align-center flex-no-wrap">
                                <i ng-if="$first" class="flex icon icon-40px-large fa fa-user no-padding"></i>
                                <div class="d-inline-flex flex-column">
                                    <h2 ng-class="{'detail-heading txt-xlarge txt-center txt-color-primary no-line-height margin-bottom-5': $first, 'detail-heading txt-xlarge txt-semibold txt-center txt-color-default no-line-height margin-bottom-5': !$first}">{{ dado.numero }}</h2>
                                    <div class="detail-block">    
                                        <div class="detail-info no-min-height no-line-height flex-justify-center">
                                            <small>{{ dado.porcentagem }}%</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="margin-left-auto margin-right-auto" ng-class="{'detail-heading txt-medium txt-center txt-color-primary': $first, 'detail-heading txt-default txt-regular txt-center txt-color-default': !$first}">{{ dado.nome }}</h3>
                    </div>
                </div>
                <div ng-if="!dashboard.dados['minhas-funcoes-tickets-andamento-atrasado'].numeros.length || dashboard.dados['minhas-funcoes-tickets-andamento-atrasado'].numeros[0].numero === 0" class="current-month-no-data">
                    <i class="current-month-no-data-icon fa fa-user"></i>
                    <span class="current-month-no-data-txt">Ainda não existem dados do mês corrente para serem exibidos.</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="dashboard.dados['etapa-atraso-tickets-encerrados-usuario']" class="flexbox-container flexbox-group margin-bottom-20">
        <div class="card flex flex-12-large">
            <div class="card-content">
                <div class="card-header margin-bottom-20">
                    <span class="title txt-small txt-uppercase">Etapa do Atraso nos Tickets Encerrados que eu Lidero</span>
                    <span class="date txt-uppercase">{{ dashboard.dados['etapa-atraso-tickets-encerrados-usuario'].mes }} {{ dashboard.dados['minhas-funcoes-tickets-andamento-atrasado'].ano }}</span>
                </div>
                <div ng-if="dashboard.dados['etapa-atraso-tickets-encerrados-usuario'].numeros.length && dashboard.dados['etapa-atraso-tickets-encerrados-usuario'].numeros[0].numerro > 0" class="card-body flexbox-group flex-space-around">
                    <div ng-repeat="(d, dado) in dashboard.dados['etapa-atraso-tickets-encerrados-usuario'].numeros" data-title="{{tooltipsEtapaAtrasoTicketsEncerradosUsuario[d].texto}}" class="d-inline-flex flex-space-between flex-column flex f-min-height-110 ui-tooltip top">
                        <div class="flex-indicator-1x flex-details-primary margin-left-auto margin-right-auto padding-left-30 padding-right-30">
                            <i ng-if="$first" class="flex icon icon-40px-large fa fa-bomb no-padding"></i>
                            <div class="d-inline-flex flex-column">
                                <h2 ng-class="{'detail-heading txt-xlarge txt-center txt-color-primary no-line-height margin-bottom-5': $first, 'detail-heading txt-xlarge txt-semibold txt-center txt-color-default no-line-height margin-bottom-5': !$first}">{{ dado.numero }}</h2>
                                <div class="detail-block">    
                                    <div class="detail-info no-min-height no-line-height flex-justify-center">
                                        <small>{{ dado.porcentagem }}%</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="margin-left-auto margin-right-auto" ng-class="{'detail-heading txt-medium txt-center txt-color-primary': $first, 'detail-heading txt-default txt-regular txt-center txt-color-default': !$first}">{{ dado.nome }}</h3>
                    </div>
                </div>
                <div ng-if="!dashboard.dados['etapa-atraso-tickets-encerrados-usuario'].numeros.length || dashboard.dados['etapa-atraso-tickets-encerrados-usuario'].numeros[0].numero === 0" class="current-month-no-data">
                    <i class="current-month-no-data-icon fa fa-bomb"></i>
                    <span class="current-month-no-data-txt">Ainda não existem dados do mês corrente para serem exibidos.</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="dashboard.dados['tickets-encerrados-por-ciclo-usuario']" class="flexbox-container flexbox-group margin-bottom-20">
        <div class="card flex flex-12-large">
            <div class="card-content">
                <div class="card-header margin-bottom-20">
                    <span class="title txt-small txt-uppercase">Tickets Encerrados por Ciclo que eu Participo</span>
                    <span class="date txt-uppercase">{{ dashboard.dados['tickets-encerrados-por-ciclo-usuario'].mes }} {{ dashboard.dados['tickets-encerrados-por-ciclo-usuario'].ano }}</span>
                </div>
                <div ng-if="dashboard.dados['tickets-encerrados-por-ciclo-usuario'].numeros.length && dashboard.dados['tickets-encerrados-por-ciclo-usuario'].numeros[0].numero > 0" class="card-body flexbox-group flex-space-around">
                    <div ng-repeat="(d, dado) in dashboard.dados['tickets-encerrados-por-ciclo-usuario'].numeros" data-title="{{tooltipsTicketsEncerradosPorCicloUsuario[d].texto}}" class="d-inline-flex flex-space-between flex-column flex f-min-height-110 ui-tooltip top">
                        <div class="flex-indicator-1x flex-details-primary margin-left-auto margin-right-auto padding-left-30 padding-right-30">
                            <div class="flexbox-container flex-align-center flex-no-wrap">
                                <i ng-if="$first" class="flex icon icon-40px-large fa fa-flag-checkered no-padding"></i>
                                <div class="d-inline-flex flex-column">
                                    <h2 ng-class="{'detail-heading txt-xlarge txt-center txt-color-primary no-line-height margin-bottom-5': $first, 'detail-heading txt-xlarge txt-semibold txt-center txt-color-default no-line-height margin-bottom-5': !$first}">{{ dado.numero }}</h2>
                                    <div class="detail-block">    
                                        <div class="detail-info no-min-height no-line-height flex-justify-center">
                                            <small>{{ dado.porcentagem }}%</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="margin-left-auto margin-right-auto" ng-class="{'detail-heading txt-medium txt-center txt-color-primary': $first, 'detail-heading txt-default txt-regular txt-center txt-color-default': !$first}">{{ dado.nome }}</h3>
                    </div>
                </div>
                <div ng-if="!dashboard.dados['tickets-encerrados-por-ciclo-usuario'].numeros.length || dashboard.dados['tickets-encerrados-por-ciclo-usuario'].numeros[0].numero === 0" class="current-month-no-data">
                    <i class="current-month-no-data-icon fa fa-flag-checkered"></i>
                    <span class="current-month-no-data-txt">Ainda não existem dados do mês corrente para serem exibidos.</span>
                </div>
            </div>
        </div>
    </div>
</div>