<div ng-show="dashboard.dados" class="flexbox-container margin-top-20 fadein">
    <div class="flex-fluid">
        <ul class="list-group-indent">
            <li class="list-item-horizontal">
                <a ng-click="$root.change_tab($event)" ng-href="#/relatorios/tickets-encerrados-por-participante-e-funcao" class="indent no-underline">
                    <strong class="pull">
                        <i class="icon fa fa-user"></i>
                        <span class="text txt-bold">Tickets Encerrados por Participante e Função <small class="txt-small txt-regular txt-color-default margin-left-20">Selecionar período e funções no ticket.</small></span>
                        <span class="go-to fa fa-arrow-right"></span>
                    </strong>
                </a>
            </li>
            <li class="list-item-horizontal">
                <a ng-click="$root.change_tab($event)" ng-href="#/relatorios/tickets-em-andamento-por-participante-e-funcao" class="indent no-underline">
                    <strong class="pull">
                        <i class="icon fa fa-user"></i>
                        <span class="text txt-bold">Tickets em Andamento por Participante e Função <small class="txt-small txt-regular txt-color-default margin-left-20">Selecionar funções no ticket.</small></span>
                        <span class="go-to fa fa-arrow-right"></span>
                    </strong>
                </a>
            </li>
            <!--li class="list-item-horizontal">
                <a href="javascript:;" class="indent no-underline">
                    <strong class="pull">
                        <i class="icon fa fa-ticket"></i>
                        <span class="text txt-bold">Status de Tickets por Período <small class="txt-small txt-regular txt-color-default margin-left-20">Selecionar período.</small></span>
                        <span class="go-to fa fa-arrow-right"></span>
                    </strong>
                </a>
            </li>
            <li class="list-item-horizontal">
                <a href="javascript:;" class="indent no-underline">
                    <strong class="pull">
                        <i class="icon fa fa-ticket"></i>
                        <span class="text txt-bold">Tickets em Andamento por Etapa</span>
                        <span class="go-to fa fa-arrow-right"></span>
                    </strong>
                </a>
            </li>
            <li class="list-item-horizontal">
                <a href="javascript:;" class="indent no-underline">
                    <strong class="pull">
                        <i class="icon fa fa-flag-checkered"></i>
                        <span class="text txt-bold">Tickets Encerrados por Ciclo <small class="txt-small txt-regular txt-color-default margin-left-20">Selecionar período.</small></span>
                        <span class="go-to fa fa-arrow-right"></span>
                    </strong>
                </a>
            </li>
            <li class="list-item-horizontal">
                <a href="javascript:;" class="indent no-underline">
                    <strong class="pull">
                        <i class="icon fa fa-flag-checkered"></i>
                        <span class="text txt-bold">Geral de Tickets Encerrados <small class="txt-small txt-regular txt-color-default margin-left-20">Selecionar período.</small></span>
                        <span class="go-to fa fa-arrow-right"></span>
                    </strong>
                </a>
            </li>
            <li class="list-item-horizontal">
                <a href="javascript:;" class="indent no-underline">
                    <strong class="pull">
                        <i class="icon fa fa-ban"></i>
                        <span class="text txt-bold">Motivos de Reprovação em Tickets Encerrados <small class="txt-small txt-regular txt-color-default margin-left-20">Selecionar período.</small></span>
                        <span class="go-to fa fa-arrow-right"></span>
                    </strong>
                </a>
            </li>
            <li class="list-item-horizontal">
                <a href="javascript:;" class="indent no-underline">
                    <strong class="pull">
                        <i class="icon fa fa-id-badge"></i>
                        <span class="text txt-bold">Início e Fim de Cada Ciclo por Departamento em Tickets Aprovados <small class="txt-small txt-regular txt-color-default margin-left-20">Selecionar período e departamentos.</small></span>
                        <span class="go-to fa fa-arrow-right"></span>
                    </strong>
                </a>
            </li>
            <li class="list-item-horizontal">
                <a href="javascript:;" class="indent no-underline">
                    <strong class="pull">
                        <i class="icon fa fa-gavel"></i>
                        <span class="text txt-bold">
                            Tickets Novos em Aprovação vs. Tickets Aprovados por Período <small class="txt-small txt-regular txt-color-default margin-left-20">Selecionar múltiplos intervalos.</small>
                        </span>
                        <span class="go-to fa fa-arrow-right"></span>
                    </strong>
                </a>
            </li-->
        </ul>
    </div>
</div>
<div class="flexbox-container margin-top-20" ng-vew></div>
