<!-- TO-DO - Breadcrumb -->
<div class="breadcumbs-out clearfix">		
    <div class="breadcrumbs-inner content-fluid no-padding clearfix">	
        <ul>
            <li class="active">Grupos de Trabalho</li>
        </ul>
    </div>
</div>
<!-- END TO-DO - Breadcrumb -->
<section class="manager-container margin-top-10 margin-bottom-40">
    <h3 class="master-title txt-large txt-bold">Gerenciar Grupos de Trabalho</h3>
    <div class="box-relative">
        <div ng-if="!$root.loaded" resolve-loader></div>    
        <div ng-show="$root.loaded" class="block fadein">
            <table datatable="ng" dt-options="dtOptions" cellpading="0" cellspacing="0" id="workgroupsManagerTable" class="manager-table table-border table-hover no-margin">
                <thead>
                    <tr>
                        <th width=""><span class="txt-lighter"><small class="txt-uppercase pull-right margin-left-10">Grupos de Trabalho</small></span></th>
                        <th width="240"><span class="txt-lighter"><small class="txt-uppercase pull-right margin-left-10">Tipo</small></span></th>
                        <th width="50"></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop - Grupos de Trabalho Globais -->
                    <tr ng-repeat="grupo_global in $root.grupos.globais">
                        <td width="">
                            <a href="javascript:;" class="d-flex flex-align-center txt-no-link">
                                <i class="icon fa fa-handshake-o"></i>
                                <span class="text-side">{{grupo_global.nome}}</span>
                            </a>
                        </td>
                        <td width="240"><span class="txt-regular">{{grupo_global.global === 1 ? 'Global' : ''}}</span></td>
                        <td width="50">
                            <div class="dropdown drop-to-left">
                                <a href="javascript:;" data-title="Opções" class="ui-tooltip top dropdown-toggle fa fa-ellipsis-h"></a>
                                <div class="dropdown-list">
                                    <ul> 
                                        <li><a href="#/editar/{{grupo_global.id}}" ng-click="editar_grupo_trabalho(grupo_global)" class="txt-bold"><span class="icon fa fa-edit"></span>Alterar</a></li>
                                        <li><a href="javascript:;" ng-click="excluir_grupo_trabalho(grupo_global.id)" class="txt-bold"><span class="icon fa fa-trash"></span>Excluir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- END Loop - Grupos de Trabalho Globais -->
                    <!-- Loop - Grupos de Trabalho Locais -->
                    <tr ng-repeat="grupo_local in $root.grupos.locais">
                        <td width="">
                            <a href="javascript:;" class="txt-no-link">
                                <i class="icon fa fa-handshake-o"></i>
                                <span class="text-side">{{grupo_local.nome}}</span>
                            </a>
                        </td>
                        <td width="240"><span class="txt-regular">{{grupo_local.global === 0 ? 'Local' : ''}}</span></td>
                        <td width="50">
                            <div class="dropdown drop-to-left">
                                <a href="javascript:;" data-title="Opções" class="ui-tooltip top dropdown-toggle fa fa-ellipsis-h"></a>
                                <div class="dropdown-list">
                                    <ul> 
                                        <li><a href="#/editar/{{grupo_local.id}}" ng-click="editar_grupo_trabalho(grupo_local)" class="txt-bold"><span class="icon fa fa-edit"></span>Alterar</a></li>
                                        <li><a href="javascript:;" ng-click="excluir_grupo_trabalho(grupo_local.id)" class="txt-bold"><span class="icon fa fa-trash"></span>Excluir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- END Loop - Grupos de Trabalho Locais -->
                </tbody>
            </table>
        </div>
    </div>
</section>