<div class="ng-confirm-action-dialog margin-bottom-30">
    <div class="dialog-heading">
        <h4>Participantes da Equipe</h4>
    </div>
    <div class="block margin-top-20">
        <table cellpading="0" cellspacing="0" class="workflow-membership-table table-border">
            <thead>
                <tr>
                    <th width=""><span class="txt-lighter txt-uppercase">Participante</span></th>
                    <th width="200"><span class="txt-lighter txt-uppercase">Empresa / Departamento</span></th>
                    <th width="300"><span class="txt-lighter txt-uppercase">Função</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(k, participante) in ticket.participantes | filter : { id_participante: id_participante }" class="table-group no-animate">
                    <td colspan="3">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr class="no-animate">
                                    <td width="" class="table-cell-h">
                                        <div class="d-flex flex-align-center">
                                            <i ng-class="{'fa-group has-teamwork': participante.equipe > 0 || ( participante.equipe.length > 0 && participante.id_perfil == 1 || participante.equipe.length > 0 && participante.id_perfil == 2 ), 'fa-user': participante.equipe.length == 0, 'txt-color-primary': ticket.id_usuario === participante.id_usuario}" class="icon fa"></i>
                                            <span class="text-side txt-semibold">{{participante.nome_usuario}}</span>
                                        </div>
                                    </td>
                                    <td width="200" class="table-cell-h">{{participante.empresa.nome}}<span ng-if="participante.departamento.nome"> / {{participante.departamento.nome}}</span></td>
                                    <td width="300" class="table-cell-h">{{participante.nome_perfil}}</td>
                                </tr>
                                <tr ng-repeat="membro in participante.equipe" class="table-sub">
                                    <td colspan="3">
                                        <div class="table-sub-content">
                                            <table cellpadding="0" cellspacing="0" class="no-margin-bottom">
                                                <tbody>
                                                    <tr>
                                                        <td width="" class="table-cell-h"><span class="txt-semibold">{{membro.nome_usuario}}</span></td>
                                                        <td width="200" class="table-cell-h">{{membro.empresa.nome}}<span ng-if="membro.departamento.nome"> / {{membro.departamento.nome}}</span></td>
                                                        <td width="300" class="table-cell-h"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>