<div class="artw-manage-workgroup ng-confirm-action-dialog clearfix">
    <h3 class="title margin-bottom-20">Grupos de Trabalho</h3>
    <div class="text-block">
        <p>Ganhe agilidade no preenchimento do ticket utilizando grupos de trabalho pré-definidos.</p>
    </div>
    <div class="btn-max-container flexbox-container">
        <div class="btn-max">
            <a href="javascript:;" ng-click="utilizar_grupo_trabalho()">
                <span class="btn-max-txt"><i class="icon fa fa-handshake-o"><strong class="btn-max-icon-label txt-bold">Utilizar Grupo de Trabalho</strong></i></span>
                <span class="btn-max-txt txt-small txt-regular margin-left-10 margin-right-10">Para utilizar um grupo de trabalho previamente salvo.</span>
            </a>
        </div>
        <div class="btn-max">
            <a ng-class="{'disabled':!cbMembershipProfile[0] || !cbMembershipProfile[1]}" href="javascript:;" ng-click="editar_grupo_trabalho()">
                <span class="btn-max-txt"><i class="icon fa fa-floppy-o"><strong class="btn-max-icon-label txt-bold">Salvar Grupo de Trabalho</strong></i></span>
                <span class="btn-max-txt txt-small txt-regular margin-left-10 margin-right-10">Para salvar o grupo de trabalho atual.</span>
            </a>
        </div>
    </div>
</div>