<div class="artw-share-item margin-bottom-15 clearfix">
    <h3 class="margin-bottom-20">Item Compartilhado</h3>
    <div class="box-package-info panel showcase-panel auto-height margin-bottom-20 clearfix">
        <div class="showcase-body no-margin">
            <div class="showcase-container">
                <div class="flexbox-container flex-no-wrap clearfix">
                    <div class="flex-auto showcase-info showcase-item-detail text-inline col-100-max no-margin-bottom">
                        <!-- TO-DO -->
                        <h3 class="txt-bold no-margin"><strong><span>{{ itemSelecionado.tipo.nome }}</span></strong></h3>
                        <!-- END TO-DO -->
                        <small class="txt-small txt-color-alt margin-top-5">item</small>
                    </div>
                    <div class="flex-auto showcase-info showcase-item-detail text-inline col-30-max no-margin-bottom">
                        <h3 class="no-margin"><strong class="txt-light"><span ng-init='nome_caracteristica = itemSelecionado.nome'>{{ nome_caracteristica ? nome_caracteristica : 'Característica' }}</span></strong></h3>
                        <small class="txt-small txt-color-alt margin-top-5">característica</small>
                    </div>
                    <div class="flex-auto showcase-info showcase-item-detail force-word-break text-inline col-5-max no-margin-bottom">
                        <!-- TO-DO -->
                        <h3 class="txt-light no-margin"><strong class="txt-light"><span>{{ itemSelecionado.numero ? itemSelecionado.numero : '000' }}</span></strong></h3>
                        <!-- END TO-DO -->
                        <small class="txt-small txt-color-alt margin-top-5">número</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="bs no-border no-margin no-padding">
        <form>
            <div ng-if="itemSelecionado.pai" class="block">
                <h6 class="txt-small txt-light txt-uppercase margin-left-10 margin-right-10 margin-bottom-15">Item Copiado do Original</h6>
                <div class="text-block margin-bottom-15 margin-left-10 margin-right-10">
                    <p>
                        Item Compartilhado criado a partir de uma cópia do item original abaixo. O Item Compartilhado inicia na Versão 0.
                    </p>
                </div>
            </div>

            <table ng-if="itemSelecionado.pai" class="artw-shared-item-table table-border table-hover no-animate margin-bottom-15">
                <tbody>
                    <tr>
                        <td width="" class="table-cell-h">
                            <div class="d-flex flex-align-center">
                                <i class="icon fa fa-file"></i>
                                <span class="text-side margin-left-10">{{ itemSelecionado.pai.nome_original }}</span> 
                            </div>
                        </td>
                        <td width="150">
                            <span class="d-flex flex-justify-center">Versão {{ itemSelecionado.pai.versao }}</span>
                        </td>
                        <td width="50" class="table-cell-h">
                            <a ng-if="itemSelecionado.pai.link_historico" target="_blank" ng-href="{{ itemSelecionado.pai.link_historico }}" data-title="Ver Histórico" class="btn-function ui-tooltip top">
                                <i class="icon fa fa-history no-margin"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="block no-margin">
                <h6 ng-if="itemSelecionado.permite_edicao" class="txt-small txt-light txt-uppercase margin-left-10 margin-right-10 margin-bottom-15">Nome de Característica</h6>
                <div ng-show="itemSelecionado.permite_edicao" class="text-block margin-bottom-15 margin-left-10 margin-right-10">
                    <p>
                        Para criar um Item Compartilhado é necessário dar um Nome de Característica para diferenciá-lo dos demais. Escolha um nome curto que sintetize 
                        o motivo do compartilhamento.
                    </p>
                </div>
                <div ng-show="itemSelecionado.permite_edicao" class="flexbox-container flexbox-group margin-left-10 margin-right-10 margin-bottom-30">
                    <div class="flex-fluid">
                        <input type="text" ng-model="nome_caracteristica" placeholder="Nome da característica" name="caracteristica" id="caracteristica" class="input-control" />
                    </div>
                </div>
                <h6 class="txt-small txt-light txt-uppercase margin-left-10 margin-right-10 margin-bottom-15">Embalagens que Compartilham o Item</h6>
                <div ng-if="itemSelecionado.permite_edicao" ng-class="{'no-margin-bottom': compartilhados.length == 0}" class="text-block margin-bottom-15 margin-left-10 margin-right-10">
                    <p>
                        Selecione as embalagens com as quais deseja compartilhar este item. Você poderá editar essa lista posteriormente.
                    </p>
                </div>
                <div ng-if="itemSelecionado.permite_edicao" class="block margin-left-10 margin-right-10 margin-bottom-20">
                    <div class="flexbox-container flexbox-group">
                        <div id="embalagens_compartilhadas_add" class="flex flex-fluid package-sharing-add">
                            <selectize config="artwSharedItemsConfig" options="itemSelecionado.embalagens" ng-model="$root.embalagens_compartilhadas_add"></selectize>
                        </div>
                        <div class="flex">    
                            <button type="button" ng-click="compartilhado_add()" class="btn-control btn-positive">Adicionar</button>
                        </div>
                    </div> 
                </div>
                <table class="artw-shared-item-table table-border table-hover no-animate">
                    <tbody>
                        <tr ng-repeat="compartilhada in itemSelecionado.compartilhadas">
                            <td width="" class="table-cell-h">
                                <div class="d-inline-flex flex-align-center">
                                    <i ng-class="{'txt-color-unlit': itemSelecionado.compartilhadas.length == 1 || itemSelecionado.id_variacao_ticket_aberto == compartilhada.id}" class="icon fa fa-cube"></i>
                                    <span ng-class="{'txt-color-alt': itemSelecionado.compartilhadas.length == 1 || itemSelecionado.id_variacao_ticket_aberto == compartilhada.id}" class="text-side force-select-all margin-left-10">{{compartilhada.nome_original}}</span> 
                                </div>
                            </td>
                            <td width="50" class="table-cell-h">
                                <div ng-if="itemSelecionado.permite_edicao" class="dropdown drop-to-left">
                                    <a href="javascript:;" data-title="Opções" ng-class="{'disabled': itemSelecionado.compartilhadas.length == 1 || itemSelecionado.id_variacao_ticket_aberto == compartilhada.id}" class="dropdown-toggle fa fa-ellipsis-h ui-tooltip top"></a>
                                    <div class="dropdown-list">
                                        <ul> 
                                            <li><a href="javascript:;" ng-click="compartilhado_excluir($index)" class="txt-bold"><span class="icon fa fa-trash"></span>Excluir</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>           
        </form>
    </section>
</div>