<div class="packshelf-sku-container">
    <h3 class="modal-sku-title margin-bottom-30">{{dados.modalSku.nome}}</h3>
    <div class="packshelf-sku-listing flexbox-container flex-justify-center">
        <div ng-repeat="imagem_sku in dados.modalSku.artesFinais" class="flex flex-img-sku">
            <a ng-href="{{imagem_sku.path_cmyk}}?view=1" target="_blank">
                <figure class="sku-figure-thumb"><img ng-src="{{imagem_sku.thumb}}" alt="" /></figure>
                <span class="sku-name-txt">{{imagem_sku.nome}}</span>
            </a>
            <div class="flexbox-container flex-align-center flex-justify-center">
                <a ng-show="imagem_sku.path_cmyk" href="{{imagem_sku.path_cmyk}}?view=1" target="_blank" data-title="Visualizar" class="btn-function ui-tooltip top margin-left-10 margin-right-10"><i class="icon fa fa-eye no-margin"></i></a>
                <a ng-show="imagem_sku.path_rgb" href="{{imagem_sku.path_rgb}}" target="_blank" data-title="Alta Resolução" class="btn-function ui-tooltip top margin-left-10 margin-right-10"><i class="icon fa fa-download no-margin"></i></a>
            </div>
        </div>
    </div>
</div>