<div class="ng-confirm-action-dialog margin-bottom-30 clearfix">
    <h3 class="title margin-bottom-20">Utilizar Grupo de Trabalho</h3>
    <div class="text-block margin-bottom-30">
        <p>Selecione o grupo de trabalho que deseja utilizar.</p>
    </div>
    <div ng-hide="!grupos.globais.length" ng-class="{'no-margin-bottom': !grupos.locais.length, 'margin-bottom-30': grupos.locais.length}" class="block">
        <table class="artw-workgroup-table table-border table-hover no-animate">
            <thead>
                <th width=""><small class="txt-light txt-small txt-uppercase">Grupos de Trabalho Globais</small></th>
                <th width="50"></th>
            </thead>
            <tbody>
                <tr ng-repeat="global in grupos.globais">
                    <td width="" class="table-cell-h">
                        <a href="javascript:;" ng-click="selecionar_grupo_confirm(global)">    
                            <div class="d-flex flex-align-center">
                                <i class="icon fa fa-handshake-o"></i>
                                <span class="text-side margin-left-10">{{ global.nome }}</span> 
                            </div>
                        </a>    
                    </td>
                    <td width="50" class="table-cell-h">
                        <div ng-if="ticket.adm_usuario.admin || ticket.adm_usuario.gerente" class="dropdown drop-to-left">
                            <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" href="javascript:;" class="dropdown-toggle fa fa-ellipsis-h"></a>
                            <div class="dropdown-list">
                                <ul> 
                                    <li><a href="javascript:;" ng-click="editar_grupo_trabalho(global)" class="txt-bold"><span class="icon fa fa-edit"></span>Alterar</a></li>
                                    <li><a href="javascript:;" ng-click="excluir_grupo_trabalho(global.id)" class="txt-bold"><span class="icon fa fa-trash"></span>Excluir</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-hide="!grupos.locais.length" class="block no-margin-bottom">
        <table class="artw-workgroup-table table-border table-hover no-animate">
            <thead>
                <th width=""><small class="txt-light txt-small txt-uppercase">Grupos de Trabalho Locais</small></th>
                <th width="50"></th>
            </thead>
            <tbody>
                <tr ng-repeat="local in grupos.locais">
                    <td width="" class="table-cell-h">
                        <a href="javascript:;" ng-click="selecionar_grupo_confirm(local)">    
                            <div class="d-flex flex-align-center">
                                <i class="icon fa fa-handshake-o"></i>
                                <span class="text-side margin-left-10">{{ local.nome }}</span> 
                            </div>
                        </a>
                    </td>
                    <td width="50" class="table-cell-h">
                        <div class="dropdown drop-to-left">
                            <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" href="javascript:;" class="dropdown-toggle fa fa-ellipsis-h"></a>
                            <div class="dropdown-list">
                                <ul> 
                                    <li><a href="javascript:;" ng-click="editar_grupo_trabalho(local)" class="txt-bold"><span class="icon fa fa-edit"></span>Alterar</a></li>
                                    <li><a href="javascript:;" ng-click="excluir_grupo_trabalho(local.id)" class="txt-bold"><span class="icon fa fa-trash"></span>Excluir</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="!grupos.globais.length && !grupos.locais.length" class="block margin-top-30 no-margin-bottom">
        <h4 class="txt-light txt-small txt-uppercase margin-bottom-15">Grupos de Trabalho</h4>
        <div class="artw-no-workgroup">
            <i class="icon fa fa-handshake-o"></i>Nenhum grupo de trabalho cadastrado ainda.
        </div>
    </div>
</div>