<div class="ng-confirm-action-dialog margin-bottom-15 clearfix">
    <div class="dialog-heading margin-bottom-20">
        <h4 class="master-title txt-bold no-margin">Comparar Arquivos no Inspector</h4>
    </div>
    <form name="compararArtesForm" action="" method="POST">
        <section class="bs no-border no-padding">
            <h4 class="txt-small txt-light txt-uppercase margin-bottom-10">PDF da Versão</h4>
            <selectize config="artwFileCompareConfig" options="ticket.comparacao" ng-model="atrw_arquivo_atual" ng-disabled="disable" id="artwFileCurrent"></selectize>
        </section>
        <section class="bs no-border no-margin no-padding">
            <h4 class="txt-small txt-light txt-uppercase margin-bottom-10">PDF de Comparação</h4>
            <div class="text-block no-margin-top margin-bottom-10">
                <p class="txt-regular no-margin">
                    O PDF pré-selecionado abaixo corresponde ao ciclo anterior ou versão de mercado. Caso queira é possível trocar por um PDF de outro ciclo.
                </p>
            </div>
            <selectize config="artwFileCompareConfig" options="ticket.comparacao" ng-model="atrw_arquivo_anterior" id="artwFilePrevious"></selectize>
        </section>
    </form>
</div>