<div class="artw-files-upload clearfix margin-bottom-15">
    <h3 ng-show="dados.sku_nome_completo" class="margin-bottom-30">{{ dados.sku_nome_completo }}</h3>
    <h3 ng-show="!dados.sku_nome_completo" class="margin-bottom-30">{{ nome_original }} &bull; {{ (embalagens.item_tipos | filterById:id_item_tipo_novo)[0].nome }}</h3>
    <h6 class="txt-small txt-light txt-uppercase margin-bottom-10">Carregar arquivos de arte</h6>
    <div class="text-block margin-bottom-30">
        <p>É necessário carregar ao menos o PDF do layout deste item.</p>
    </div>
    <section class="bs no-border no-padding">
        <div class="block no-margin-bottom">
            <div class="flexbox-container flexbox-group">
                <div class="flex flex-12-large">
                    <h6 class="txt-small txt-light txt-uppercase margin-bottom-10">PDF do layout</h6>
                    <div data-title="Subir em padrão PDF/X-3 com fontes em curvas para evitar divergências na renderização." class="files-control files-pdf-attach ui-tooltip top">    
                        <input type="file" accept="application/pdf" valid-file=".pdf" ngf-select ng-model="pdf" name="file" ngf-model-invalid="errorFile" required>
                        <span class="files-control-fake"><strong>Anexar arquivo com no máx. 50MB</strong><i class="addon fa fa-paperclip"></i></span>
                    </div>
                    <div ng-if="dados.pdf" class="block margin-top-30">
                        <div class="panel secondary">
                            <a target="_blank" ng-href="{{ dados.pdf.path }}" class="link"></a>
                            <i class="icon fa fa-file-pdf-o"></i>
                            <div class="panel-body">
                                <h4 class="panel-heading txt-semibold">{{ dados.nome }}</h4>
                                <small class="description-small">Anexado por {{ dados.pdf.nome_usuario }} às {{ dados.pdf.data_criacao }} - <strong class="txt-small txt-regular">{{ dados.pdf.filesize }} MB</strong></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bs no-border no-margin no-padding">
        <div class="block no-margin-bottom">
            <div class="flexbox-container flexbox-group">
                <div class="flex flex-12-large">
                    <h6 class="txt-small txt-light txt-uppercase margin-bottom-10">Arte-final</h6>
                    <div class="files-control files-artw-attach">    
                        <input type="file" accept=".zip, .rar" valid-file=".zip, .rar" ngf-select ng-model="arte" name="file" ngf-model-invalid="errorFile" class="valid-file-ext">
                        <span class="files-control-fake"><strong>Anexar arquivo ZIP ou RAR com no máx. 50MB</strong><i class="addon fa fa-paperclip"></i></span>
                    </div>
                    <div ng-if="dados.arte" class="block margin-top-30">
                        <div class="panel secondary">
                            <a target="_blank" ng-href="{{ dados.arte.path }}" class="link"></a>
                            <i class="icon fa fa-file-archive-o"></i>
                            <div class="panel-body">
                                <h4 class="panel-heading txt-semibold">{{ dados.arte.nome }}</h4>
                                <small class="description-small">Anexado por {{ dados.arte.nome_usuario }} às {{ dados.arte.data_criacao }}</small>
                                <small class="description-small no-margin">Arquivo original: {{ dados.arte.nome_arquivo }} - <strong class="txt-small txt-regular">{{ dados.arte.filesize }} MB</strong></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-show="upload.progress >= 0" class="progress-circle animate" ng-cloak>
        <svg id="svg" viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="40" fill="none"/>
            <path fill="none" stroke-linecap="round" stroke-width="4" stroke-dasharray="{{upload.progress*2.5}},250.2" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"/>
            <text id="count" class="progress" x="50" y="50" text-anchor="middle" dy="7" ng-bind="upload.progress + '%'"></text>
        </svg>
    </div>
</div>
