<div class="ng-confirm-action-dialog clearfix margin-bottom-30">
    <form name="workGroupEditForm" action="" method="POST">
        <section class="bs no-border no-margin no-padding">
            <div class="no-margin">
                <div class="dialog-heading margin-bottom-20">
                    <h4 ng-if="!editar_grupo" class="master-title txt-bold no-margin">Salvar Grupo de Trabalho</h4>
                    <h4 ng-if="editar_grupo" class="master-title txt-bold no-margin">Editar Grupo de Trabalho</h4>
                </div>
                <div class="text-block no-margin-top no-margin-bottom">
                    <p class="txt-regular no-margin">
                        Os participantes selecionados e suas funções ficarão salvos para serem utilizados em outros tickets.
                    </p>
                </div>
            </div>
            <div class="margin-top-30">
                <h4 class="master-title-sub txt-small txt-uppercase txt-light margin-bottom-15">Nome do Grupo de Trabalho</h4>
                <div class="flexbox-container flexbox-group">
                    <div class="flex flex-12-large">
                        <input type="text" ng-model="grupo_nome" placeholder="Digite o nome do grupo de trabalho" id="workGroupName" class="input-control" />
                    </div>
                </div>
            </div>
            <div ng-show="ticket.adm_usuario.gerente || ticket.adm_usuario.gerencia_embalagem" ng-class="{'no-margin': !ticket.adm_usuario.gerente && !ticket.adm_usuario.gerencia_embalagem}" class="margin-top-30">
                <h4 class="master-title-sub txt-small txt-uppercase txt-light margin-bottom-15">Opções</h4>
                <div class="flexbox-container flexbox-group">
                    <div class="flex flex-12-large">
                        <ul class="list-group-indent">
                            <li class="list-item-horizontal animate">
                                <div class="indent">
                                    <div class="pull">
                                        <i class="icon fa fa-globe"></i>
                                        <span class="text txt-bold">Tornar Global <small class="txt-small txt-regular margin-left-20">O grupo de trabalho fica disponível para ser utilizado por qualquer usuário.</small></span>
                                        <label class="switch-control pull-right no-margin">
                                            <input type="checkbox" ng-model="grupo_global" ng-disabled="disabled" name="chkGrupoGlobal" id="chkGrupoGlobal" />
                                            <span class="switch-toggle abs-right-offset no-margin"></span>
                                        </label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>