<div class="artw-register-item clearfix padding-bottom-15">
    <h3 class="title margin-bottom-20">{{ nome_original }} &bull; {{ (embalagens.item_tipos | filterById:id_item_tipo_novo)[0].nome }}</h3>
    <h6 class="subtitle txt-small txt-light txt-uppercase margin-bottom-10">Cadastrar Item</h6>
    <div class="text-block">
        <p>Para concluir o cadastro escolha uma das 2 opções:</p>
    </div>
    <div class="btn-max-container flexbox-container">
        <div class="btn-max">
            <a ng-href="/site/artwork/ticket/create/{{ id_variacao_novo }}/{{ id_item_tipo_novo }}/item">
                <span class="btn-max-txt"><i class="icon fa fa-ticket"><strong class="btn-max-icon-label txt-bold">Abrir Ticket</strong></i></span>
                <span class="btn-max-txt txt-small txt-regular margin-left-10 margin-right-10">Para desenvolver uma nova arte.</span>
            </a>
        </div>
        <div class="btn-max">
            <a href="javascript:;" ng-click="artwFileUpload(embalagem.id, item.id)" class="upload-files-btn">
                <span class="btn-max-txt"><i class="icon fa fa-upload"><strong class="btn-max-icon-label txt-bold">Carregar Artes</strong></i></span>
                <span class="btn-max-txt txt-small txt-regular margin-left-10 margin-right-10">Para carregar arquivos de arte já existentes.</span>
            </a>
        </div>
    </div>
</div>