<div class="ng-confirm-action-dialog clearfix margin-bottom-15">
    <form name="cancelarTicketForm" action="" method="POST">
        <section class="bs no-border no-margin no-padding">
            <div class="block">
                <div class="dialog-heading margin-bottom-20">
                    <h4 class="master-title txt-bold no-margin">Cancelar Ticket</h4>
                </div>
                <h4 class="master-title-sub txt-small txt-uppercase txt-light margin-bottom-10">Motivo do Cancelamento</h4>
                <div class="text-block no-margin-top margin-bottom-10">
                    <p class="no-margin">
                        O ticket cancelado não pode ser reativado e se transforma apenas num registro histórico. Descreva abaixo o motivo que gerou este cancelamento.
                    </p>
                </div>
            </div>
            <div class="block no-margin">
                <div class="flexbox-container flexbox-group">
                    <div class="flex flex-12-large">
                        <textarea placeholder="Descreva o motivo do cancelamento" ng-model="cancelamento_descricao" rows="5" id="cancelamento_descricao" class="input-control textbox-control"></textarea>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>