<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=RyQmEa60ez">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=RyQmEa60ez">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=RyQmEa60ez">
<link rel="manifest" href="/site.webmanifest?v=RyQmEa60ez">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=RyQmEa60ez" color="#c41425">
<link rel="shortcut icon" href="/favicon.ico?v=RyQmEa60ez">
<meta name="apple-mobile-web-app-title" content="Rubrum">
<meta name="application-name" content="Rubrum">
<meta name="msapplication-TileColor" content="#c41425">
<meta name="theme-color" content="#ffffff">