<div class="modal-pkg ticket-container">
    <form class="ticket-alt-request-form">
        <div class="modal-pkg-header clearfix">
            <h2 class="modal-pkg-title">
                <span>Opções do Item</span>
            </h2>
        </div>
        <div class="pkg-btn-group no-padding clearfix">
            <ul class="pkg-btn-nav left">
                <li><a href="javascript:;" class="modal-pkg-ticket-btn"><i class="icon-officine"></i>Alterar Nome da Planta Técnica</a></li>
            </ul>
            <ul class="pkg-btn-nav right">
                <li><a href="javascript:;" class="modal-pkg-ticket-btn"><i class="icon-cross"></i>Excluir</a></li>
            </ul>
        </div>
    </form>
</div>