<div class="techdraw-files-upload clearfix margin-bottom-15">
    <h3 class="margin-bottom-30">{{ dados.nome_completo }}</h3>
    <section class="bs no-border no-margin no-padding">
        <div class="block no-margin-bottom">
            <div class="flexbox-container flexbox-group">
                <div class="flex flex-12-large">
                    <h6 class="txt-small txt-light txt-uppercase margin-bottom-10">Planta Técnica</h6>
                    <div class="files-control techdraw-file-attach">    
                        <input type="file" accept=".pdf" valid-file=".pdf" ngf-select ng-model="pdf" name="file" ngf-model-invalid="errorFile">
                        <span class="files-control-fake"><strong>Anexar arquivo</strong><i class="addon fa fa-paperclip"></i></span>
                    </div>
                    <div ng-if="dados.versao.path" class="block margin-top-30">
                        <div class="panel secondary">
                            <a target="_blank" ng-href="{{ dados.versao.path }}" class="link"></a>
                            <i class="icon fa fa-file-pdf-o"></i>
                            <div class="panel-body">
                                <h4 class="panel-heading txt-semibold">{{ dados.versao.nome }}</h4>
                                <small class="description-small">Anexado por {{ dados.versao.nome_usuario }} às {{ dados.versao.data_criacao }} - {{ dados.versao.filesize }} MB</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-show="pdf.progress >= 0" class="progress-circle animate">
        <svg id="svg" viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="40" fill="none"/>
            <path fill="none" stroke-linecap="round" stroke-width="4" stroke="#fff" stroke-dasharray="{{pdf.progress*2.5}},250.2" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"/>
            <text id="count" class="progress" x="50" y="50" text-anchor="middle" dy="7" ng-bind="pdf.progress + '%'"></text>
        </svg>
    </div>
</div>