<!-- Tab display 1 -->
<div ng-show="statechange" id="visao_geral" class="tabs-display">
    <div class="tabs-in">
        <section ng-if="ticket.pausado_em" class="workflow-paused-canceled-info bs">
            <div class="paused-canceled-block block margin-left-10 margin-right-10 clearfix">
                <h4 class="master-title-sub txt-light txt-uppercase margin-bottom-20">Ticket Pausado Por</h4>
                <div class="paused-canceled-info">
                    <i class="icon fa fa-pause-circle"></i>
                    <h5 class="user-request-title txt-color-primary txt-semibold">{{ ticket.pausado_por_nome }} <span class="created-on txt-small txt-color-default txt-regular">{{ ticket.pausado_em }}</span></h5>
                    <div class="comment-text-block">
                        <p ng-bind-html="ticket.cancelado_motivo" class="force-word-break txt-regular"></p>
                    </div>
                </div>
            </div>
        </section>
        <section ng-if="ticket.cancelado_motivo" class="workflow-paused-canceled-info bs">
            <div class="paused-canceled-block block margin-left-10 margin-right-10 clearfix">
                <h4 class="master-title-sub txt-light txt-uppercase margin-bottom-20">Ticket Cancelado Por</h4>
                <div class="paused-canceled-info">
                    <i class="icon fa fa-times-circle"></i>
                    <h5 class="user-request-title txt-color-primary txt-semibold">{{ ticket.cancelado_por_nome }} <span class="created-on txt-small txt-color-default txt-regular">{{ ticket.cancelado_em }}</span></h5>
                    <div class="comment-text-block">
                        <p ng-bind-html="ticket.cancelado_motivo" class="force-word-break txt-regular"></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="workflow-general-info bs no-border no-margin padding-bottom-10">
            <table border="0" cellpadding="0" cellspacing="0" class="table-info">
                <thead>
                    <tr>
                        <th class="txt-light txt-uppercase padding-bottom-5 padding-right-30">Informações Iniciais</th>
                        <th width="300px" colspan="2" class="txt-light txt-uppercase padding-bottom-5">Projeto</th>
                        <th width="225px" colspan="1" class="txt-light txt-uppercase padding-bottom-5">Código</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" ng-bind-html="ticket.descricao" class="force-word-break txt-regular no-padding-top padding-right-30"></td>
                        <td colspan="2" ng-bind="ticket.projeto_nome ? ticket.projeto_nome : '-'" class="txt-regular no-padding-top"></td>
                        <td colspan="1" ng-bind="ticket.codigo_cliente ? ticket.codigo_cliente : '-'" class="txt-regular no-padding-top"></td>
                    </tr>
                    <tr>
                        <td rowspan="4" colspan="3" class="no-padding">
                            <table cellpading="0" cellspacing="0" class="margin-top-30">
                                <thead>
                                    <tr>
                                        <th width="120px" class="txt-light txt-uppercase padding-bottom-5">Início</th>
                                        <th width="120px" class="txt-light txt-uppercase padding-bottom-5">Aprovação</th>
                                        <th width="180px" class="txt-light txt-uppercase padding-bottom-5">Encerramento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td ng-bind="ticket.dt_ini | date: 'dd/MM/yyyy'" class="txt-regular no-padding-top"></td>
                                        <td ng-bind="ticket.dt_envio | date: 'dd/MM/yyyy'" class="txt-regular no-padding-top"></td>
                                        <td ng-bind="ticket.dt_fim | date: 'dd/MM/yyyy'" class="txt-regular no-padding-top"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section ng-hide="ticket.versao.numero === 0" class="workflow-instructions-cycle no-border no-padding">
            <!-- Ciclos -->
            <v-accordion class="v-accordion">
                <v-pane expanded="ciclo_atual.isExpanded" class="v-accordion-pane">
                    <v-pane-header class="v-pane-header">
                        <div class="v-accordion-header">
                            <h4 ng-click="interval_tickets_stop()" ng-if="!ciclo_atual.isExpanded">
                                <a href="javascript:;"><i class="icon fa fa-plus"></i><span class="txt-small txt-semibold">Exibir Instruções do Ciclo {{ticket.ciclo_atual.numero}} - Aprovado</span></a>
                            </h4>
                            <h4 ng-click="interval_tickets_start()" ng-if="ciclo_atual.isExpanded">
                                <a href="javascript:;"><i class="icon fa fa-minus"></i><span class="txt-small txt-semibold">Ocultar Instruções do Ciclo {{ticket.ciclo_atual.numero}} - Aprovado</span></a>
                            </h4>
                        </div>
                    </v-pane-header>
                    <v-pane-content class="v-accordion-body">
                        <div class="v-accordion-wrap">
                            <div ng-repeat="(s, solicitacao) in ticket.ciclo_atual.solicitacoes" class="flexbox-container sub-bs clearfix">
                                <div class="flex-auto col-instruction-type">
                                    <label class="switch-control switch-control-alt no-margin disabled">
                                        <i class="reviewer-done abs-right-offset margin-right-10 fa fa-check"></i>
                                        <span class="switch-txt txt-semibold no-margin no-float">{{solicitacao.tipo}}</span>
                                        <small class="rq margin-top-10 txt-regular">{{solicitacao.status}} por {{solicitacao.status_usuario}}</small>
                                        <small class="rq txt-regular">{{solicitacao.status_data}}</small>
                                    </label>
                                </div>
                                <div class="flex-auto col-instruction-description">
                                    <h5 class="user-request-title txt-color-primary txt-semibold margin-bottom-5">{{solicitacao.nome_usuario}} <span class="created-on txt-small txt-color-default txt-regular">{{solicitacao.data_criacao}}</span></h5>
                                    <div class="comment-text-block">
                                        <p ng-bind-html="solicitacao.descricao" class="force-word-break txt-regular"></p>
                                    </div>
                                    <div class="chat-comment-container margin-top-20">
                                        <ul ng-class="{'no-border': solicitacao.comentarios.length === 0}" class="chat-comment-list">
                                            <li ng-repeat="(c, comentario) in solicitacao.comentarios" ng-class="{'no-margin no-border': $first}" class="border-color-primary">
                                                <div class="chat-comment-body clearfix">
                                                    <i class="icon fa fa-comment-o"></i>
                                                    <h5 class="chat-comment-by txt-semibold">{{comentario.nome_usuario}} <span class="created-on txt-regular">{{comentario.data_criacao}}</span></h5>
                                                    <p ng-bind-html="comentario.texto" class="force-word-break txt-regular"></p>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="(c, resposta) in comentario.respostas" class="border-color-primary">
                                                        <div class="chat-comment-body clearfix">
                                                            <i class="icon fa fa-comment-o reply"></i>
                                                            <h5 class="chat-comment-by txt-semibold">{{resposta.nome_usuario}} <span class="created-on txt-regular">{{resposta.data_criacao}}</span></h5>
                                                            <p ng-bind-html="resposta.texto" class="force-word-break txt-regular"></p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!ticket.ciclo_atual" ng-show="ticket.ciclo_atual.layout || (ticket.ciclo_atual.layout && ticket.libera_edicao) || (ticket.ciclo_atual.layout && ticket.id_status > 1)" class="sub-bs clearfix">
                                <h4 class="master-title-sub txt-light txt-uppercase">Layout Aprovado</h4>
                                <div class="panel secondary">
                                    <a target="_blank" ng-href="{{ticket.ciclo_atual.layout.path_original}}" class="link"></a>
                                    <i class="icon fa fa-file-pdf-o"></i>
                                    <div class="panel-body">
                                        <h4 class="panel-heading txt-semibold no-margin">{{ticket.ciclo_atual.layout.nome}}</h4>
                                        <small class="description-small no-margin">Anexado por {{ticket.ciclo_atual.layout.nome_usuario}} às {{ticket.ciclo_atual.layout.data_criacao}}</small>
                                    </div>
                                    <div class="panel-options dropdown drop-to-left pull-right">
                                        <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" href="javascript:;" class="dropdown-btn dropdown-toggle  fa fa-ellipsis-h"></a>
                                        <div class="dropdown-list">
                                            <ul>    
                                                <li><a target="_blank" ng-href="{{ticket.versao.baixarPdf}}" class="txt-bold"><span class="icon fa fa-download"></span>Baixar PDF</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </v-pane-content>
                </v-pane>
                <v-pane ng-repeat="(c, ciclo) in ticket.ciclos_anteriores" expanded="ciclo_anterior.isExpanded" class="v-accordion-pane">
                    <v-pane-header class="v-pane-header">
                        <div class="v-accordion-header">
                            <h4 ng-click="interval_tickets_stop()" ng-if="!ciclo_anterior.isExpanded">
                                <a href="javascript:;"><i class="icon fa fa-plus"></i><span class="txt-small txt-semibold">Exibir Instruções do Ciclo {{ciclo.numero}} - Reprovado</span></a>
                            </h4>
                            <h4 ng-click="interval_tickets_start()" ng-if="ciclo_anterior.isExpanded">
                                <a href="javascript:;"><i class="icon fa fa-minus"></i><span class="txt-small txt-semibold">Ocultar Instruções do Ciclo {{ciclo.numero}} - Reprovado</span></a>
                            </h4>
                        </div>
                    </v-pane-header>
                    <v-pane-content class="v-accordion-body">
                        <div class="v-accordion-wrap">
                            <div ng-repeat="(s, solicitacao) in ciclo.solicitacoes" class="flexbox-container sub-bs clearfix">
                                <div class="flex-auto col-instruction-type">
                                    <label class="switch-control switch-control-alt no-margin disabled">
                                        <i class="reviewer-done abs-right-offset margin-right-10 fa fa-check"></i>
                                        <span class="switch-txt txt-semibold no-margin no-float">{{solicitacao.tipo}}</span>
                                        <small class="rq margin-top-10 txt-regular">{{solicitacao.status}} por {{solicitacao.status_usuario}}</small>
                                        <small class="rq txt-regular">{{solicitacao.status_data}}</small>
                                    </label>
                                </div>
                                <div class="flex-auto col-instruction-description">
                                    <h5 class="user-request-title txt-color-primary txt-semibold margin-bottom-5">{{solicitacao.nome_usuario}} <span class="created-on txt-small txt-color-default txt-regular">{{solicitacao.data_criacao}}</span></h5>
                                    <div class="comment-text-block">
                                        <p ng-bind-html="solicitacao.descricao" class="force-word-break txt-regular"></p>
                                    </div>
                                    <div class="chat-comment-container margin-top-20">
                                        <ul ng-class="{'no-border': solicitacao.comentarios.length === 0}" class="chat-comment-list">
                                            <li ng-repeat="(c, comentario) in solicitacao.comentarios" ng-class="{'no-margin no-border': $first}" class="border-color-primary">
                                                <div class="chat-comment-body clearfix">
                                                    <i class="icon fa fa-comment-o"></i>
                                                    <h5 class="chat-comment-by txt-semibold">{{comentario.nome_usuario}} <span class="created-on txt-regular">{{comentario.data_criacao}}</span></h5>
                                                    <p ng-bind-html="comentario.texto" class="force-word-break txt-regular"></p>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="(c, resposta) in comentario.respostas" class="border-color-primary">
                                                        <div class="chat-comment-body clearfix">
                                                            <i class="icon fa fa-comment-o reply"></i>
                                                            <h5 class="chat-comment-by txt-semibold">{{resposta.nome_usuario}} <span class="created-on txt-regular">{{resposta.data_criacao}}</span></h5>
                                                            <p ng-bind-html="resposta.texto" class="force-word-break txt-regular"></p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="sub-bs clearfix">
                                <h4 class="master-title-sub txt-light txt-uppercase">Layout Reprovado</h4>
                                <div class="panel primary">
                                    <a target="_blank" ng-href="{{ciclo.layout.path}}" class="link"></a>
                                    <i class="icon fa fa-file-pdf-o"></i>
                                    <div class="panel-body">
                                        <h4 class="panel-heading txt-semibold no-margin">{{ciclo.layout.nome}}</h4>
                                        <small class="description-small txt-regular no-margin">Anexado por {{ciclo.layout.nome_usuario}} às {{ciclo.layout.data_criacao}} - {{ciclo.layout.filesize}} MB</small>
                                    </div>
                                    <div class="panel-options dropdown drop-to-left pull-right">
                                        <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="true" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" href="javascript:;" class="dropdown-btn dropdown-toggle  fa fa-ellipsis-h"></a>
                                        <div class="dropdown-list">
                                            <ul>
                                                <li ng-if="ciclo.layout.inspector"><a target="_blank" ng-href="{{ciclo.layout.inspector}}" class="txt-bold"><span class="icon fa fa-crosshairs"></span>Abrir no Inspector</a></li>
                                                <li><a target="_blank" ng-href="{{ciclo.layout.baixarPdf}}" class="txt-bold"><span class="icon fa fa-download"></span>Baixar PDF</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </v-pane-content>
                </v-pane>
            </v-accordion>
            <!-- END Ciclos -->
        </section>
        <!-- Aprovação -->
        <section ng-class="{'margin-top-15': ticket.versao.numero === 0}" class="workflow-files-approval no-border no-padding margin-bottom-40">
            <div ng-show="((ticket.ciclo_atual.layout && ticket.libera_edicao) || (ticket.ciclo_atual.layout && ticket.id_status > 1)) || (ticket.arteFinalista && !step3) || (ticket.ciclo_anterior.layout) || (ticket.versao_atual)" class="block">
                <h4 ng-show="ticket.versao" class="master-title-alt txt-bold margin-bottom-20">Aprovação</h4>
                <div class="margin-left-10 margin-right-10">
                    <div ng-show="ticket.versao || (ticket.versao && ticket.libera_edicao) || (ticket.versao && ticket.id_status > 1)" class="margin-bottom-30">
                        <h4 class="master-title-sub txt-light txt-uppercase">Layout de Aprovação</h4>
                        <div class="panel secondary">
                            <a target="_blank" ng-href="{{ticket.versao.path}}" class="link"></a>
                            <i class="icon fa fa-file-pdf-o"></i>
                            <div class="panel-body">
                                <h4 class="panel-heading txt-semibold no-margin">{{ ticket.versao.nome }}</h4>
                                <small class="description-small txt-regular no-margin">Anexado por {{ticket.versao.nome_usuario}} às {{ticket.versao.data_criacao}} - <strong class="txt-small txt-regular">{{ticket.versao_atual.filesize}} MB</strong></small>
                            </div>
                            <div class="panel-options dropdown drop-to-left pull-right">
                                <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" href="javascript:;" class="dropdown-btn dropdown-toggle  fa fa-ellipsis-h"></a>
                                <div class="dropdown-list">
                                    <ul>
                                        <li ng-if="ticket.comparacao.length >= 2"><a ng-click="comparar_artes_historico()" href="javascript:;" class="txt-bold"><span class="icon fa fa-copy"></span>Comparar PDFs</a></li>
                                        <li ng-if="ticket.versao.inspector"><a target="_blank" ng-href="{{ticket.versao.inspector}}" class="txt-bold"><span class="icon fa fa-crosshairs"></span>Abrir no Inspector</a></li>
                                        <li><a target="_blank" ng-href="{{ticket.versao.baixarPdf}}" class="txt-bold"><span class="icon fa fa-download"></span>Baixar PDF</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Arte-final -->
            <div ng-show="ticket.id_status >= 5 && ticket.artes.length" class="workflow-artwork-attach no-margin no-padding">
                <!-- Envio da Arte-final -->
                <div class="workflow-artwork-sender margin-left-10 margin-right-10">
                    <h4 class="master-title-sub txt-light txt-uppercase">Arte-final</h4>
                    <div ng-repeat="(a, arte) in ticket.artes" ng-class="{'block': ticket.libera_ticket, 'margin-bottom-30': ticket.id_status >= 6}" id="envio-arte">
                        <div ng-mouseenter="interval_tickets_stop()" class="panel secondary">
                            <span class="tooltip">
                                <a target="_blank" ng-href="{{arte.path}}" class="link"><span ng-if="!arte.path" class="tooltip-box">Você não possui autorização para baixar arte-final.</span></a>
                            </span>
                            <i class="icon fa fa-file-archive-o"></i>
                            <div class="panel-body">
                                <h4 class="panel-heading txt-semibold">{{arte.nome}}</h4>
                                <small class="description-small txt-regular">Anexado por {{arte.nome_usuario}} às {{arte.data_criacao}}</small>
                                <small class="description-small txt-regular no-margin">Arquivo original: {{arte.nome_original}} - <strong class="txt-small txt-regular">{{arte.filesize}} MB</small>
                            </div>
                            <div ng-show="ticket.arteFinalista && ticket.id_status < 6" class="panel-options dropdown drop-to-left pull-right">
                                <a ng-class="{'disabled': !ticket.libera_ticket}" tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" href="javascript:;" class="dropdown-btn dropdown-toggle fa fa-ellipsis-h"></a>
                                <div class="dropdown-list">
                                    <ul>    
                                        <li><a mw-confirm-click="deleteArte(arte.id)" mw-confirm-click-message="Deseja excluir Arte-final?" href="javascript:;" class="txt-bold"><span class="icon fa fa-trash"></span>Excluir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Panel Group -->
                    <h4 ng-show="ticket.id_status >= 5 && ticket.artes_envios.length" class="master-title-sub txt-light txt-uppercase">Envios de Arte-final</h4>
                    <div ng-show="ticket.id_status >= 5 && ticket.artes_envios.length" class="panel primary panel-group no-hover">
                        <!-- Panel group items -->
                        <div ng-mouseenter="interval_tickets_stop()" ng-mouseleave="interval_tickets_start()" ng-repeat="(a, envio) in ticket.artes_envios" class="flexbox-container item">
                            <i class="icon fa fa-paper-plane"></i>
                            <div class="panel-body">
                                <h4 class="panel-heading" ng-show="envio.fornecedor"><span class="txt-semibold">{{envio.fornecedor}}</span></h4>
                                <h4 class="panel-heading" ng-show="!envio.fornecedor"><span class="txt-semibold">{{envio.emails}}</span></h4>
                                <small class="description-small txt-regular" ng-show="envio.fornecedor">{{envio.emails}}</small>
                                <small ng-if="!envio.cancelado_em" class="description-small txt-regular">Enviado por {{envio.nome_usuario}} às {{envio.data_criacao}}</small>
                                <small ng-if="envio.cancelado_em" class="description-small txt-regular">Cancelado por {{envio.cancelado_por}} às {{envio.cancelado_em}}</small>
                                <div class="flex workflow-downloaded-info clearfix">
                                    <i class="icon txt-color-alt txt-color-off fa fa-download"></i>
                                    <strong ng-if="envio.downloads === 0" class="workflow-has-downloaded txt-semibold txt-color-alt margin-bottom-5">Arte-Final ainda não foi baixada</strong>
                                    <strong ng-if="envio.downloads === 1" class="workflow-has-downloaded txt-semibold txt-color-default margin-bottom-5">Arte-final foi baixada {{ envio.downloads }} vez</strong>
                                    <strong ng-if="envio.downloads !== 1 && envio.downloads !== 0" class="workflow-has-downloaded txt-semibold txt-color-default margin-bottom-5">Arte-final foi baixada {{ envio.downloads }} vezes</strong>
                                    <small ng-if="envio.dt_expiracao && envio.status && !envio.expirado && !envio.cancelado_em" class="access-link-expires txt-regular txt-small">Link de acesso às artes está ativo expira em {{ envio.dt_expiracao }}</small>
                                    <small ng-if="envio.dt_expiracao && !envio.status && !envio.expirado && !envio.cancelado_em" class="access-link-expires txt-regular txt-small">Link de acesso às artes está inativo expira em {{ envio.dt_expiracao }}</small>
                                    <small ng-if="envio.dt_expiracao && envio.expirado && !envio.cancelado_em" class="access-link-expires txt-regular txt-small">Link de acesso às artes expirou em {{ envio.dt_expiracao }}</small>
                                </div>
                            </div>
                            <div ng-show="ticket.libera_edicao != 5 && !envio.cancelado_em" class="panel-options dropdown drop-to-left pull-right">
                                <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" ng-class="{'disabled': !envio.dt_expiracao || !ticket.libera_ticket }" href="javascript:;" class="dropdown-btn dropdown-toggle fa fa-ellipsis-h"></a>
                                <div class="dropdown-list">
                                    <ul>
                                        <!--li>
                                            <label ng-class="{'dropdown-switch switch-control switch-control-flex animate disabled': envio.expirado}" class="dropdown-switch switch-control switch-control-flex animate">
                                                <input ng-click="setStatusEnvio(envio.id)" ng-checked="envio.status" type="checkbox" ng-disabled="envio.expirado" name="link_arte[]" />
                                                <span class="switch-toggle abs-right-offset"></span>
                                                <strong ng-if="envio.status && !envio.expirado" class="switch-txt switch-txt-icon fa fa-link no-margin"><small class="txt-small txt-bold">Link Ativo</small></strong>
                                                <strong ng-if="!envio.status && !envio.expirado" class="switch-txt switch-txt-icon fa fa-unlink no-margin"><small class="txt-small txt-bold">Link Inativo</small></strong>
                                                <strong ng-if="envio.expirado" class="switch-txt switch-txt-icon fa fa-unlink txt-color-alt no-margin"><span class="txt-small txt-bold txt-color-alt">Link Expirado</span></strong>
                                            </label>
                                        </li-->    
                                        <!--
                                        <li><a href="javascript:;" ng-click="renovarLink(envio.id)" ng-class="{'disabled': !envio.status || envio.expirado }" class="txt-bold"><span class="icon fa fa-refresh"></span>Renovar Link</a></li>
                                        <li><a href="javascript:;" ng-click="reenviarEmail(envio.id)" class="txt-bold"><span class="icon fa fa-paper-plane"></span>Reenviar E-mails</a></li>
                                        -->
                                        <li><a href="javascript:;" ng-click="verMsgFornecedor(envio.mensagem)" class="txt-bold"><span class="icon fa fa-envelope"></span>Ver Mensagem</a></li>
									</ul>
                                </div>
                            </div>
                        </div>
                        <!-- END Panel group items -->
                    </div>
                    <!-- END Panel Group -->
                </div>
                <!-- END Envio da Arte-final -->
            </div>
            <!-- END Arte-final -->
        </section>
        <!-- END Aprovação -->
    </div>
</div>
<!-- END Tab display 1 -->