<!-- Tab display 6 -->
<div ng-show="statechange" id="opcoes" class="tabs-display">
    <section class="bs margin-bottom-40">
        <div class="flexbox-container">
            <!-- Opções -->
            <div class="flex-fluid">
                <ul class="list-group-indent">
                    <li ng-if="ticket.libera_ticket && ( (ticket.adm_usuario) ? 1 : 0 == 1 || (ticket.id_status <= 4 && !ticket.participante))" class="list-item-horizontal">
                        <a ng-href="{{ticket.link_editar}}" ng-class="{'disabled': ticket.id_status == 6 || !ticket.link_editar}" class="indent no-underline">
                            <strong class="pull">
                                <i class="icon fa fa-edit"></i>
                                <span class="text txt-bold no-underline">Editar o Ticket <small class="txt-small txt-regular margin-left-20">Altera as informações iniciais e permite incluir novas instruções.</small></span>
                            </strong>
                        </a>
                    </li>
                    <!-- TODO - Link Alterar Embalagem -->
                    <li class="list-item-horizontal">
                        <a ng-href="{{ticket.link_editar_embalagem}}" class="indent no-underline">
                            <strong class="pull">
                                <i class="icon fa fa-edit"></i>
                                <span class="text txt-bold no-underline">Alterar Embalagem <small class="txt-small txt-regular margin-left-20">Para alterar informações da embalagem, como por exemplo inserir o código de barras.</small></span>
                            </strong>
                        </a>
                    </li>
                    <!-- END Link Alterar Embalagem -->
                    <li ng-if="ticket.permite_compartilhar && !ticket.id_item_compartilhado" class="list-item-horizontal">
                        <a href="javascript:;" ng-controller="compartilharItemCtrl" ng-click="artwItemSharing(ticket.id_item)" ng-class="{'disabled': ticket.pausado_em || ticket.cancelado_em}" class="indent no-underline">
                            <strong class="pull">
                                <i ng-class="{'txt-color-alt': ticket.pausado_em || ticket.cancelado_em}" class="icon fa fa-share-alt"></i>
                                <span ng-class="{'txt-color-alt': ticket.pausado_em || ticket.cancelado_em}" class="text txt-bold">Compartilhar Item <small class="txt-small txt-regular margin-left-20">Este item poderá ser acessado e alterado a partir de diversas embalagens de forma simultânea.</small></span>
                            </strong>
                        </a>
                    </li>
                    <li ng-if="ticket.id_item_compartilhado" class="list-item-horizontal">
                        <a href="javascript:;" ng-controller="compartilharItemCtrl" ng-click="artwItemSharing(ticket.id_item)" ng-class="{'disabled': ticket.cancelado_em || (ticket.pausado_em && ticket.permite_compartilhar)}" class="indent no-underline">
                            <strong class="pull">
                                <i ng-class="{'txt-color-alt': ticket.cancelado_em || (ticket.pausado_em && ticket.permite_compartilhar)}" class="icon fa fa-share-alt"></i>
                                <span ng-class="{'txt-color-alt': ticket.cancelado_em || (ticket.pausado_em && ticket.permite_compartilhar)}" class="text txt-bold">Ver Compartilhamento <small class="txt-small txt-regular margin-left-20">Este item pode ser acessado e alterado a partir de diversas embalagens de forma simultânea.</small></span>
                            </strong>
                        </a>
                    </li>
                    <li class="list-item-horizontal">
                        <div class="indent">
                            <div class="pull">
                                <i ng-class="{'icon fa fa-bicycle txt-color-alt': ticket.cancelado_em}" class="icon fa fa-bicycle"></i>
                                <span ng-class="{'text txt-color-alt txt-bold': ticket.cancelado_em}" class="text txt-bold">Seguir o Ticket <small class="txt-small txt-regular margin-left-20">Você será notificado por e-mail toda vez que alguém executar uma tarefa.</small></span>
                                <label ng-class="{'disabled': ticket.cancelado_em || ticket.pausado_em || ticket.id_status == 6}" class="switch-control pull-right no-margin">
                                    <input ng-click="seguir(ticket.id_usuario_logado, ticket.id)" ng-model="ticket.recebe_email" ng-disabled="!ticket.libera_ticket || ticket.id_status == 6" type="checkbox" name="" value="" id="chkEditionIsOk_1" />
                                    <span class="switch-toggle abs-right-offset no-margin"></span>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="list-item-horizontal">
                        <div class="indent">
                            <div class="pull">
                                <i ng-class="{'icon fa fa-pause-circle txt-color-alt': ticket.cancelado_em}" class="icon fa fa-pause-circle"></i>
                                <span ng-class="{'text txt-color-alt txt-bold': ticket.cancelado_em}" ng-if="!ticket.pausado_em && !ticket.cancelado_em" class="text txt-bold">Pausar o Ticket <small class="txt-small txt-regular margin-left-20">O ticket fica suspenso até que seja despausado e não é possível abrir um novo ticket para este item.</small></span>
                                <span ng-class="{'text txt-color-alt txt-bold': ticket.cancelado_em}" ng-if="ticket.cancelado_em" class="text txt-bold">Ticket Pausado <small class="txt-small txt-regular margin-left-20">O ticket fica suspenso até que seja despausado e não é possível abrir um novo ticket para este item.</small></span>
                                <span ng-class="{'text txt-color-alt txt-bold': ticket.cancelado_em}" ng-if="ticket.pausado_em" class="text txt-bold">Ticket Pausado <small class="txt-small txt-regular margin-left-20">O ticket fica suspenso até que seja despausado e não é possível abrir um novo ticket para este item.</small></span>
                                <label ng-class="{'disabled': ticket.cancelado_em || ticket.id_status == 6}" class="pause-ticket-switch switch-control pull-right no-margin">
                                    <input ng-click="pausar_ticket()" ng-if="!ticket.pausado_em && !ticket.cancelado_em" ng-disabled="ticket.id_status == 6" type="checkbox" />
                                    <input ng-click="pausar_ticket()" ng-if="ticket.cancelado_em" ng-disabled="ticket.cancelado_em" type="checkbox" />
                                    <input ng-click="despausar_ticket()" ng-if="ticket.pausado_em" ng-disabled="ticket.cancelado_em" type="checkbox" ng-checked="ticket.pausado_em" />
                                    <span class="switch-toggle abs-right-offset no-margin"></span>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="list-item-horizontal">
                        <a ng-if="!ticket.cancelado_em" ng-click="cancelar_ticket_confirm()" ng-class="{'disabled': ticket.id_status == 6}" href="javascript:;" class="indent no-underline">
                            <strong class="pull">
                                <i class="icon fa fa-times-circle"></i>
                                <span class="text txt-bold">Cancelar o Ticket <small class="txt-small txt-regular margin-left-20">O ticket será permanentemente arquivado e possibilita abrir um novo ticket para este item.</small></span>
                            </strong>
                        </a>
                        <a ng-if="ticket.cancelado_em" href="javascript:;" class="indent no-underline disabled">
                            <strong class="pull">
                                <i class="icon fa fa-times-circle txt-color-alt"></i>
                                <span class="text txt-color-alt txt-bold">Ticket Cancelado <small class="txt-small txt-regular margin-left-20">O ticket será permanentemente arquivado e possibilita abrir um novo ticket para este item.</small></span>
                            </strong>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END Opções -->            
        </div>
    </section>
</div>
<!-- END Tab display 5 -->