<!-- Tab display 4 -->
<div ng-show="statechange" id="tarefas" class="tabs-display">
    <div class="tabs-in">
        <section class="bs">
            <!-- Timeline vertical -->
            <div class="timeline-vertical no-animate">
                <div class="event-box">
                    <div ng-class="{ 'current' : ticket.etapas[1], 'current is-done' : ticket.etapas[1] }" class="current event">
                                                
                        <i ng-class="{'paused-at': (ticket.etapas[0] && !ticket.etapas[1]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[0] && !ticket.etapas[1]) && ticket.cancelado_em}" class="icon fa fa-flag"></i>
                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Aberto</strong>&nbsp;/&nbsp;Preencher informações iniciais</span></h3>
                            <ul class="event-tasks">
                                <li>
                                    <span ng-class="{'is-ok': ticket.etapas[1]}" class="member"><strong class="txt-semibold">{{ ticket.dono.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ ticket.dono.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!ticket.dono.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="ticket.dono.departamento.nome">&nbsp;/&nbsp;{{ ticket.dono.departamento.nome }}</strong>
                                        <strong class="txt-regular" ng-if="ticket.etapas[1]">&nbsp;&bull;&nbsp;{{ ticket.todosStatus[1].primeiroUsuario.data_criacao }}</strong>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="event" ng-class="{'current' : ticket.etapas[2], 'current is-done' : ticket.etapas[3] }">
                        
                        <i ng-class="{'paused-at': ((ticket.etapas[2] && !ticket.etapas[3]) && ticket.id_status == 1) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[2] && !ticket.etapas[3]) && ticket.id_status == 1) && ticket.cancelado_em}" class="icon fa fa-paint-brush"></i>
                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Edição</strong>&nbsp;/&nbsp;Anexar layout editado</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-show="(!ticket.ciclo_atual.layout && !participante.deleted_at) || ticket.ciclo_atual.layout.id_usuario === participante.id_usuario" ng-repeat="participante in ticket.perfis[5]">
                                    <span ng-class="{'is-ok': ticket.ciclo_atual.layout}" class="member">
                                        <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                        <strong class="txt-regular" ng-if="ticket.ciclo_atual.layout">&nbsp;&bull;&nbsp;{{ ticket.ciclo_atual.layout.data_criacao }}</strong>
                                    </span>
                                </li>
                                
                                <li ng-if="!(ticket.perfis[5] | filter:{deleted_at:null}:true).length && !ticket.etapas[3]">
                                    <span class="member undefined txt-color-alt">
                                        <strong class="txt-semibold">Ainda não foi designado um participante para esta etapa.</strong>
                                    </span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="event-sub">
                        <div class="event" ng-class="{'current' : ticket.etapas[3], 'current is-done' : ticket.etapas[4] }">
                            <i ng-class="{'paused-at': (ticket.etapas[3] && !ticket.etapas[4]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[3] && !ticket.etapas[4]) && ticket.cancelado_em}" class="bubble"></i>
                            <div class="body">
                                <h3 class="event-title"><span><strong class="txt-bold">Edição</strong>&nbsp;/&nbsp;Submeter à revisão</span></h3>
                                <ul class="event-tasks">
                                    
                                    <li ng-show="(!ticket.etapas[4] && !participante.deleted_at) || (ticket.etapas[4] && participante.id_usuario == ticket.todosStatus[2].ultimoUsuario.id_usuario)" ng-repeat="participante in ticket.perfis[5]">
                                        <span ng-class="{'is-ok': ticket.etapas[4]}" class="member">
                                            <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                            <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                            <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                            <strong class="txt-regular" ng-if="ticket.etapas[4]">&nbsp;&bull;&nbsp;{{ ticket.todosStatus[2].ultimoUsuario.data_criacao }}</strong>
                                        </span>
                                    </li>
                                    
                                    
                                    <li ng-show="ticket.etapas[4] && ticket.todosStatus[2].ultimoUsuario.id_usuario && APAGAR">
                                        <span ng-class="{'is-ok': ticket.etapas[4]}" class="member">
                                            <strong class="txt-semibold">{{ ticket.todosStatus[2].ultimoUsuario.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ ticket.todosStatus[2].ultimoUsuario.empresa.nome }}
                                            <strong class="txt-regular" ng-if="!ticket.todosStatus[2].ultimoUsuario.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                            <strong class="txt-regular" ng-if="ticket.todosStatus[2].ultimoUsuario.departamento.nome">&nbsp;/&nbsp;{{ ticket.todosStatus[2].ultimoUsuario.departamento.nome }}</strong>
                                            <strong class="txt-regular" ng-if="ticket.etapas[4]">&nbsp;&bull;&nbsp;{{ ticket.todosStatus[2].ultimoUsuario.data_criacao }}</strong>
                                        </span>
                                    </li>

                                    <li ng-if="!(ticket.perfis[5] | filter:{deleted_at:null}:true).length && !ticket.todosStatus[2].ultimoUsuario.id_usuario">
                                        <span class="member undefined txt-color-alt">
                                            <strong class="txt-semibold">Ainda não foi designado um participante para esta etapa.</strong>
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-class="{'current' : ticket.etapas[4], 'current is-done' : ticket.etapas[5] }" class="event">
                                                
                        <i ng-class="{'paused-at': ((ticket.etapas[4] && !ticket.etapas[5]) && ticket.id_status == 2) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[4] && !ticket.etapas[5]) && ticket.id_status == 2) && ticket.cancelado_em}" class="icon fa fa-eye"></i>
                                                                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Revisão</strong>&nbsp;/&nbsp;Revisar layout editado</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-show="(!ticket.etapas[5] && !participante.deleted_at) || (ticket.ciclo_atual.solicitacoesOrdem | filter:{status_id_usuario:participante.id_usuario}:true).length" ng-repeat="participante in ticket.perfis[3]">
                                    <span ng-class="{'is-ok': ticket.etapas[5]}" class="member">
                                        <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                        <strong class="txt-regular" ng-if="ticket.etapas[5]">&nbsp;&bull;&nbsp;{{ (ticket.ciclo_atual.solicitacoesOrdem | filter:{status_id_usuario:participante.id_usuario}:true)[0].status_data }}</strong>
                                    </span>
                                </li>
                                
                                <li ng-if="!(ticket.perfis[3] | filter:{deleted_at:null}:true).length && !ticket.etapas[5]">
                                    <span class="member undefined txt-color-alt">
                                        <strong class="txt-semibold">Ainda não foi designado um participante para esta etapa.</strong>
                                    </span>
                                </li>
                                                                
                            </ul>
                        </div>
                    </div>
                    <div class="event-sub">
                        <div class="event" ng-class="{'current' : ticket.etapas[5], 'current is-done' : ticket.etapas[6] }">
                            <i ng-class="{'paused-at': (ticket.etapas[5] && !ticket.etapas[6]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[5] && !ticket.etapas[6]) && ticket.cancelado_em}" class="bubble"></i>
                            <div class="body">
                                <h3 class="event-title"><span><strong class="txt-bold">Revisão</strong>&nbsp;/&nbsp;Submeter à aprovação</span></h3>
                                <ul class="event-tasks">
                                    
                                    <li ng-show="(!ticket.etapas[6] && !participante.deleted_at) || participante.id_usuario === ticket.todosStatus[2].ultimoUsuario.id_usuario  || participante.id_usuario === ticket.todosStatus[3].ultimoUsuario.id_usuario || participante.id_usuario === ticket.todosStatus[4].ultimoUsuario.id_usuario" ng-repeat="participante in ticket.perfis[3]">
                                        <span ng-class="{'is-ok': ticket.etapas[6]}" class="member">
                                            <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                            <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                            <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                            <strong class="txt-regular" ng-if="ticket.etapas[6] && ticket.todosStatus[4].ultimoUsuario.data_criacao && !ticket.todosStatus[3].ultimoUsuario.data_criacao">&nbsp;&bull;&nbsp;{{ ticket.todosStatus[4].ultimoUsuario.data_criacao }}</strong>
                                            <strong class="txt-regular" ng-if="ticket.etapas[6] && ticket.todosStatus[3].ultimoUsuario.data_criacao">&nbsp;&bull;&nbsp;{{ ticket.todosStatus[3].ultimoUsuario.data_criacao }}</strong>
                                        </span>
                                    </li>
                                    
                                    <li ng-if="!(ticket.perfis[3] | filter:{deleted_at:null}:true).length && !ticket.etapas['5b'] && !ticket.todosStatus[3].ultimoUsuario.id_usuario">
                                        <span class="member undefined txt-color-alt">
                                            <strong class="txt-semibold">Ainda não foi designado um participante para esta etapa.</strong>
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Primeira Aprovação - Opcional -->
                    <div ng-show="(ticket.perfis[2] | filter:{deleted_at:null}:true).length || (ticket.perfis[2] | filter:{aprovado:1}:true).length" ng-class="{'current' : ticket.etapas[6], 'current is-done' : ticket.etapas[7] }" class="event">
                        
                        <i ng-class="{'paused-at': ((ticket.etapas[6] && !ticket.etapas[7]) && ticket.id_status == 3) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[6] && !ticket.etapas[7]) && ticket.id_status == 3) && ticket.cancelado_em}" class="icon fa fa-thumbs-up"></i>
                                                
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Primeira Aprovação</strong>&nbsp;/&nbsp;Aprovar</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-hide="(participante.deleted_at && participante.aprovado == 0) || (participante.deleted_at && participante.aprovado == 2 && ticket.ciclo_atual.numero > participante.ciclo)" ng-class="{'event-tasks-sub': participante.equipe.length}" ng-repeat="participante in ticket.perfis[2]">
                                    
                                    <!-- Linha quando um membro aprovou -->
                                    <span class="sub-bs-indented" ng-show="participante.membro_aprovador" ng-class="{'is-ok':participante.aprovado == 1, 'not-ok':participante.aprovado == 2 && ( !ticket.etapas[6] || participante.ciclo == ticket.ciclo_atual.numero )}">
                                        <strong ng-class="{'txt-line-through': participante.aprovador.deleted_at}" class="txt-semibold">{{ participante.aprovador.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.aprovador.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.aprovador.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.aprovador.departamento.nome">&nbsp;/&nbsp;{{ participante.aprovador.departamento.nome }}</strong>
                                        <strong class="txt-regular" ng-if="participante.aprovado == 1 || (participante.aprovado == 2 && ( !ticket.etapas[6] || participante.ciclo == ticket.ciclo_atual.numero ))">&nbsp;&bull;&nbsp;{{ participante.data_atualizacao }}</strong>
                                        <strong class="txt-regular cycle-badge" ng-if="(participante.aprovado == 1 || (participante.aprovado == 2 && ( !ticket.etapas[6] || participante.ciclo == ticket.ciclo_atual.numero ))) && participante.ciclo_aprovacao" ng-class="{'not-active':(participante.aprovado == 2 && ticket.id_status != 3), 'active':participante.aprovado == 1}" ng-if="(participante.aprovado == 1 || (participante.aprovado == 2 && (ticket.id_status != 3 || participante.ciclo_aprovacao == ticket.ciclo_atual.numero) ) ) && participante.ciclo_aprovacao">Ciclo {{ participante.ciclo_aprovacao }}</strong>
                                        
                                        <strong ng-if="participante.equipe.length > 0 && participante.aprovado == 1" data-title="Exibir Equipe" class="ui-tooltip top margin-left-10"><a href="javascript:;" ng-click="exibir_equipe(participante.id_participante)" class="cycle-badge btn-badge"><i class="icon fa fa-users"></i></a></strong>
                                        
                                        <div class="d-inline-flex margin-left-auto">
                                            <button ng-if="ticket.etapas[6]" ng-click="enviarLembrete(participante.id_participante, participante.id_perfil, participante.enviadas);" ng-class="{'pending': participante.envia_notificacao && !participante.enviadas, 'active': participante.envia_notificacao && participante.enviadas, 'hidden': !participante.envia_notificacao || participante.aprovador.deleted_at}" type="button" class="event-task-btn btn-function tooltip top">
                                                <i class="event-task-icon icon fa fa-hand-o-left no-margin"></i>
                                                <small class="tooltip-box">Enviar Lembrete</small>
                                            </button>
                                            <button ng-click="renovarAprovacao(participante, participante.aprovador.nome_usuario)" ng-class="{'pending': participante.aprovado == 1 && ticket.id_status < 4 && ticket.ciclo_atual.numero > 1, 'hidden': participante.aprovado != 1 || ticket.id_status >= 4 || participante.aprovador.deleted_at}" ng-if="participante.id_perfil == 2 && ticket.id_usuario === ticket.id_usuario_logado && !ticket.etapas[6] && participante.aprovado" type="button" class="event-task-btn btn-function tooltip top">
                                                <i class="event-task-icon icon resend fa fa-refresh no-margin"></i>
                                                <small class="tooltip-box">Renovar Aprovação</small>
                                            </button>
                                        </div>
                                    </span>
                                    <!-- Linha quando um membro aprovou - FIM -->
                                    
                                    <!-- Linha de quem manda na equipe -->
                                    <span ng-hide="participante.membro_aprovador && participante.aprovado == 1" ng-class="{'border-top-dotted no-member margin-left-35 padding-left-10':participante.membro_aprovador, 'members':participante.equipe.length && !participante.aprovado && !participante.membro_aprovador, 'member':!participante.equipe.length && !participante.membro_aprovador, 'is-ok':participante.aprovado == 1 && !participante.membro_aprovador, 'not-ok':participante.aprovado == 2 && !participante.membro_aprovador && ( !ticket.etapas[6] || participante.ciclo == ticket.ciclo_atual.numero )}">
                                        <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                        <strong class="txt-regular" ng-if="participante.aprovado == 1 && !participante.membro_aprovador || ( !participante.membro_aprovador && participante.aprovado == 2 && ( !ticket.etapas[6] || participante.ciclo == ticket.ciclo_atual.numero ) )">&nbsp;&bull;&nbsp;{{ participante.data_atualizacao }}</strong>
                                        <strong class="txt-regular cycle-badge" ng-if="(participante.aprovado == 1 && !participante.membro_aprovador || ( !participante.membro_aprovador && participante.aprovado == 2 && ( !ticket.etapas[6] || participante.ciclo == ticket.ciclo_atual.numero ) )) && participante.ciclo_aprovacao" ng-class="{'not-active':(participante.aprovado == 2 && ticket.id_status != 3), 'active':participante.aprovado == 1}" ng-if="(participante.aprovado == 1 || (participante.aprovado == 2 && !participante.membro_aprovador (ticket.id_status != 3 || participante.ciclo_aprovacao == ticket.ciclo_atual.numero) ) ) && participante.ciclo_aprovacao">Ciclo {{ participante.ciclo_aprovacao }}</strong>
                                        
                                        <strong ng-if="participante.equipe.length > 0 && participante.aprovado == 1" data-title="Exibir Equipe" class="ui-tooltip top margin-left-10"><a href="javascript:;" ng-click="exibir_equipe(participante.id_participante)" class="cycle-badge btn-badge"><i class="icon fa fa-users"></i></a></strong>
                                        
                                        <div class="d-inline-flex margin-left-auto">
                                            <button ng-if="ticket.etapas[6]" ng-click="enviarLembrete(participante.id_participante, participante.id_perfil, participante.enviadas);" ng-class="{'pending': participante.envia_notificacao && !participante.enviadas, 'active': participante.envia_notificacao && participante.enviadas, 'hidden': !participante.envia_notificacao || participante.deleted_at}" type="button" class="event-task-btn btn-function tooltip top">
                                                <i class="event-task-icon icon fa fa-hand-o-left no-margin"></i>
                                                <small class="tooltip-box">Enviar Lembrete</small>
                                            </button>
                                            <button ng-click="renovarAprovacao(participante)" ng-class="{'pending': participante.aprovado == 1 && ticket.id_status < 4 && ticket.ciclo_atual.numero > 1, 'hidden': participante.aprovado != 1 || ticket.id_status >= 4 || participante.deleted_at}" ng-if="participante.id_perfil == 2 && ticket.id_usuario === ticket.id_usuario_logado && !ticket.etapas[6] && participante.aprovado" type="button" class="event-task-btn btn-function tooltip top">
                                                <i class="event-task-icon icon resend fa fa-refresh no-margin"></i>
                                                <small class="tooltip-box">Renovar Aprovação</small>
                                            </button>
                                        </div>
                                    </span>
                                    <!-- Linha de quem manda na equipe - FIM -->
                                    
                                    <!-- Looping dos membros da equipe -->
                                    <ul ng-show="participante.equipe.length && participante.aprovado != 1">
                                        <li ng-if="membro.id_usuario != participante.aprovador.id_usuario" ng-repeat="membro in participante.equipe">
                                            <span>
                                                <strong class="txt-semibold">{{ membro.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ membro.empresa.nome }}
                                                <strong class="txt-regular" ng-if="!membro.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                                <strong class="txt-regular" ng-if="membro.departamento.nome">&nbsp;/&nbsp;{{ membro.departamento.nome }}</strong>
                                                <strong class="margin-right-auto"></strong>
                                                <button
                                                    ng-if="ticket.etapas[6]"
                                                    ng-click="enviarLembrete(membro.id_membro, participante.id_perfil, membro.enviadas, 'id_membro');"
                                                    ng-class="{'pending': participante.envia_notificacao && !membro.enviadas, 'active': participante.envia_notificacao && membro.enviadas, 'hidden': !participante.envia_notificacao || participante.deleted_at}"
                                                    type="button" class="event-task-btn btn-function tooltip top">

                                                    <i class="event-task-icon icon fa fa-hand-o-left no-margin"></i>
                                                    <small class="tooltip-box">Enviar Lembrete</small>
                                                </button>
                                            </span>
                                        </li>
                                    </ul>
                                    <!-- Looping dos membros da equipe - FIM -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Marketing - Opcional -->
                    
                    <div ng-class="{'current' : ticket.etapas[7], 'current is-done' : ticket.etapas[8] }" class="event">
                                                
                        <i ng-class="{'paused-at': ((ticket.etapas[7] && !ticket.etapas[8]) && ticket.id_status == 4) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[7] && !ticket.etapas[8]) && ticket.id_status == 4) && ticket.cancelado_em}" class="icon fa fa-gavel"></i>
                                                                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Demais Aprovações</strong>&nbsp;/&nbsp;Aprovar</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-hide="(participante.deleted_at && participante.aprovado == 0) || (participante.deleted_at && participante.aprovado == 2 && ticket.ciclo_atual.numero > participante.ciclo)" ng-class="{'event-tasks-sub': participante.equipe.length}" ng-repeat="participante in ticket.perfis[1]">
                                    
                                    <!-- Linha quando um membro aprovou -->
                                    <span class="sub-bs-indented" ng-show="participante.membro_aprovador" ng-class="{'is-ok':participante.aprovado == 1, 'not-ok':participante.aprovado == 2 && ( !ticket.etapas[7] || participante.ciclo == ticket.ciclo_atual.numero )}">
                                        <strong ng-class="{'txt-line-through': participante.aprovador.deleted_at}" class="txt-semibold">{{ participante.aprovador.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.aprovador.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.aprovador.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.aprovador.departamento.nome">&nbsp;/&nbsp;{{ participante.aprovador.departamento.nome }}</strong>
                                        <strong class="txt-regular" ng-if="participante.aprovado == 1 || (participante.aprovado == 2 && ( !ticket.etapas[7] || participante.ciclo == ticket.ciclo_atual.numero ))">&nbsp;&bull;&nbsp;{{ participante.data_atualizacao }}</strong>
                                        <strong class="txt-regular cycle-badge" ng-if="(participante.aprovado == 1 || (participante.aprovado == 2 && ( !ticket.etapas[7] || participante.ciclo == ticket.ciclo_atual.numero ))) && participante.ciclo_aprovacao" ng-class="{'not-active':(participante.aprovado == 2 && ticket.id_status != 4), 'active':participante.aprovado == 1}" ng-if="(participante.aprovado == 1 || (participante.aprovado == 2 && (ticket.id_status != 4 || participante.ciclo_aprovacao == ticket.ciclo_atual.numero) ) ) && participante.ciclo_aprovacao">Ciclo {{ participante.ciclo_aprovacao }}</strong>
                                        
                                        <strong ng-if="participante.equipe.length > 0 && participante.aprovado == 1" data-title="Exibir Equipe" class="ui-tooltip top margin-left-10"><a href="javascript:;" ng-click="exibir_equipe(participante.id_participante)" class="cycle-badge btn-badge"><i class="icon fa fa-users"></i></a></strong>
                                        
                                        <div class="d-inline-flex margin-left-auto">
                                            <button ng-if="ticket.etapas[7]" ng-click="enviarLembrete(participante.id_participante, participante.id_perfil, participante.enviadas);" ng-class="{'pending': participante.envia_notificacao && !participante.enviadas, 'active': participante.envia_notificacao && participante.enviadas, 'hidden': !participante.envia_notificacao || participante.aprovador.deleted_at}" type="button" class="event-task-btn btn-function tooltip top">
                                                <i class="event-task-icon icon fa fa-hand-o-left no-margin"></i>
                                                <small class="tooltip-box">Enviar Lembrete</small>
                                            </button>
                                            <button ng-click="renovarAprovacao(participante, participante.aprovador.nome_usuario)" ng-class="{'pending': participante.aprovado == 1 && ticket.id_status < 4 && ticket.ciclo_atual.numero > 1, 'hidden': participante.aprovado != 1 || ticket.id_status >= 4 || participante.aprovador.deleted_at}" ng-if="participante.id_perfil == 1 && ticket.id_usuario === ticket.id_usuario_logado && !ticket.etapas[7] && participante.aprovado" type="button" class="event-task-btn btn-function tooltip top">
                                                <i class="event-task-icon icon resend fa fa-refresh no-margin"></i>
                                                <small class="tooltip-box">Renovar Aprovação</small>
                                            </button>
                                        </div>
                                    </span>
                                    <!-- Linha quando um membro aprovou - FIM -->
                                    
                                    <!-- Linha de quem manda na equipe -->
                                    <span ng-hide="participante.membro_aprovador && participante.aprovado == 1" ng-class="{'border-top-dotted margin-left-35 padding-left-10 no-member':participante.membro_aprovador, 'members':participante.equipe.length, 'member':!participante.equipe.length, 'is-ok':participante.aprovado == 1, 'not-ok':participante.aprovado == 2 && ( !ticket.etapas[7] || participante.ciclo == ticket.ciclo_atual.numero )}">
                                        <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                        <strong class="txt-regular" ng-if="participante.aprovado == 1 && !participante.membro_aprovador || (!participante.membro_aprovador && participante.aprovado == 2 && ( !ticket.etapas[7] || participante.ciclo == ticket.ciclo_atual.numero ))">&nbsp;&bull;&nbsp;{{ participante.data_atualizacao }}</strong>
                                        <strong class="txt-regular cycle-badge" ng-if="(participante.aprovado == 1 && !participante.membro_aprovador || (!participante.membro_aprovador && participante.aprovado == 2 && ( !ticket.etapas[7] || participante.ciclo == ticket.ciclo_atual.numero ))) && participante.ciclo_aprovacao" ng-class="{'not-active':(participante.aprovado == 2 && ticket.id_status != 4), 'active':participante.aprovado == 1}" ng-if="(participante.aprovado == 1 || (participante.aprovado == 2 && !participante.membro_aprovador (ticket.id_status != 4 || participante.ciclo_aprovacao == ticket.ciclo_atual.numero) ) ) && participante.ciclo_aprovacao">Ciclo {{ participante.ciclo_aprovacao }}</strong>
                                        
                                        <strong ng-if="participante.equipe.length > 0 && participante.aprovado == 1" data-title="Exibir Equipe" class="ui-tooltip top margin-left-10"><a href="javascript:;" ng-click="exibir_equipe(participante.id_participante)" class="cycle-badge btn-badge"><i class="icon fa fa-users"></i></a></strong>
                                        
                                        <div class="d-inline-flex margin-left-auto">
                                            <button ng-if="ticket.etapas[7]" ng-click="enviarLembrete(participante.id_participante, participante.id_perfil, participante.enviadas);" ng-class="{'pending': participante.envia_notificacao && !participante.enviadas, 'active': participante.envia_notificacao && participante.enviadas, 'hidden': !participante.envia_notificacao || participante.deleted_at}" type="button" class="event-task-btn btn-function tooltip top">
                                                <i class="event-task-icon icon fa fa-hand-o-left no-margin"></i>
                                                <small class="tooltip-box">Enviar Lembrete</small>
                                            </button>
                                            <button ng-click="renovarAprovacao(participante)" ng-class="{'pending': participante.aprovado == 1 && ticket.id_status < 4 && ticket.ciclo_atual.numero > 1, 'hidden': participante.aprovado != 1 || ticket.id_status >= 4 || participante.deleted_at}" ng-if="participante.id_perfil == 1 && ticket.id_usuario === ticket.id_usuario_logado && !ticket.etapas[7] && participante.aprovado" type="button" class="event-task-btn btn-function tooltip top">
                                                <i class="event-task-icon icon resend fa fa-refresh no-margin"></i>
                                                <small class="tooltip-box">Renovar Aprovação</small>
                                            </button>
                                        </div>
                                    </span>
                                    <!-- Linha de quem manda na equipe - FIM -->
                                    
                                    <!-- Looping dos membros da equipe -->
                                    <ul ng-show="participante.equipe.length && participante.aprovado != 1">
                                        <li ng-if="membro.id_usuario != participante.aprovador.id_usuario" ng-repeat="membro in participante.equipe">
                                            <span>
                                                <strong class="txt-semibold">{{ membro.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ membro.empresa.nome }}
                                                <strong class="txt-regular" ng-if="!membro.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                                <strong class="txt-regular" ng-if="membro.departamento.nome">&nbsp;/&nbsp;{{ membro.departamento.nome }}</strong>
                                                
                                                <strong class="margin-right-auto"></strong>
                                                <button
                                                    ng-if="ticket.etapas[7]"
                                                    ng-click="enviarLembrete(membro.id_membro, participante.id_perfil, membro.enviadas, 'id_membro');"
                                                    ng-class="{'pending': participante.envia_notificacao && !membro.enviadas, 'active': participante.envia_notificacao && membro.enviadas, 'hidden': !participante.envia_notificacao}"
                                                    type="button" class="event-task-btn btn-function tooltip top">
                                                    <i class="event-task-icon icon fa fa-hand-o-left no-margin"></i>
                                                    <small class="tooltip-box">Enviar Lembrete</small>
                                                </button>
                                            </span>
                                        </li>
                                    </ul>
                                    <!-- Looping dos membros da equipe - FIM -->
                                </li>

                                <li ng-if="!(ticket.perfis[1] | filter:{deleted_at:null}:true).length && !(ticket.perfis[1] | filter:{aprovado:1}:true).length && !ticket.etapas[8]">
                                    <span class="member undefined txt-color-alt">
                                        <strong class="txt-semibold">Ainda não foi designado um participante para esta etapa.</strong>
                                    </span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div ng-class="{'current' : ticket.etapas[8], 'current is-done' : ticket.etapas[9] }" class="event">
                        
                        <i ng-class="{'paused-at': (ticket.etapas[8] && !ticket.etapas[9]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[8] && !ticket.etapas[9]) && ticket.cancelado_em}" class="icon fa fa-paint-brush"></i>
                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Finalização</strong>&nbsp;/&nbsp;Anexar arte-final</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-show="(!ticket.artes.length && !participante.deleted_at) || ticket.artes[0].id_usuario === participante.id_usuario" ng-repeat="participante in ticket.perfis[5]">
                                    <span ng-class="{'is-ok': ticket.artes.length}" class="member">
                                        <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                        <strong class="txt-regular" ng-if="ticket.etapas[9]">&nbsp;&bull;&nbsp;{{ ticket.artes[0].data_criacao }}</strong>
                                    </span>
                                </li>

                                <li ng-if="!(ticket.perfis[5] | filter:{deleted_at:null}:true).length && !ticket.etapas[9]">
                                    <span class="member undefined txt-color-alt">
                                        <strong class="txt-semibold">Ainda não foi designado um participante para esta etapa.</strong>
                                    </span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="event-sub">
                        <div class="event" ng-class="{'current' : ticket.etapas[9], 'current is-done' : ticket.etapas[10] }">
                            <i ng-class="{'paused-at': (ticket.etapas[9] && !ticket.etapas[10]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[9] && !ticket.etapas[10]) && ticket.cancelado_em}" class="bubble"></i>
                            <div class="body">
                                <h3 class="event-title"><span><strong class="txt-bold">Finalização</strong> / Finalizar anexação de arte-final</span></h3>
                                <ul class="event-tasks">
                                    
                                    <li ng-show="(!ticket.id_envio_autorizado && !participante.deleted_at) || ticket.id_envio_autorizado === participante.id_usuario" ng-repeat="participante in ticket.perfis[5]">
                                        <span ng-class="{'is-ok': ticket.data_envio_autorizado}" class="member">
                                            <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                            <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                            <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                            <strong class="txt-regular" ng-if="ticket.etapas[10]">&nbsp;&bull;&nbsp;{{ ticket.data_envio_autorizado }}</strong>
                                        </span>
                                    </li>
                                    
                                    <li ng-if="!(ticket.perfis[5] | filter:{deleted_at:null}:true).length && !ticket.etapas[10]">
                                        <span class="member undefined txt-color-alt">
                                            <strong class="txt-semibold">Ainda não foi designado um participante para esta etapa.</strong>
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Envio de Arte - Opcional -->
                    <div ng-show="((ticket.perfis[6] | filter:{deleted_at:null}:true).length) || (ticket.perfis[6].length && ticket.artes_envios.length)" ng-class="{'current' : ticket.etapas[10], 'current is-done' : ticket.etapas[11] }" class="event">
                        
                        <i ng-class="{'paused-at': (ticket.etapas[10] && !ticket.etapas[11]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[10] && !ticket.etapas[11]) && ticket.cancelado_em}" class="icon fa fa-paper-plane"></i>
                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Envio da Arte</strong>&nbsp;/&nbsp;Enviar arte-final para o fornecedor</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-show="(!ticket.artes_envios.length && !participante.deleted_at) || ticket.artes_envios[0].id_usuario === participante.id_usuario" ng-repeat="participante in ticket.perfis[6]">
                                    <span ng-class="{'is-ok': ticket.artes_envios.length}" class="member">
                                        <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                        <strong class="txt-regular" ng-if="ticket.etapas[11]">&nbsp;&bull;&nbsp;{{ ticket.artes_envios[0].data_criacao }}</strong>
                                    </span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    
                    <div ng-show="((ticket.perfis[6] | filter:{deleted_at:null}:true).length)" class="event-sub">
                        <div class="event" ng-class="{'current' : ticket.etapas[11], 'current is-done' : ticket.etapas[12] }">
                            <i ng-class="{'paused-at': (ticket.etapas[11] && !ticket.etapas[12]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[11] && !ticket.etapas[12]) && ticket.cancelado_em}" class="bubble"></i>
                            <div class="body">
                                <h3 class="event-title"><span><strong class="txt-bold">Envio da Arte</strong>&nbsp;/&nbsp;Declarar arte-final como enviada</span></h3>
                                <ul class="event-tasks">
                                    
                                    <li ng-show="(!ticket.etapas[12] && !participante.deleted_at) || participante.id_usuario === ticket.id_envio_finalizado" ng-repeat="participante in ticket.perfis[6]">
                                        <span ng-class="{'is-ok': ticket.etapas[12]}" class="member">
                                            <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                            <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                            <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                            <strong class="txt-regular" ng-if="ticket.etapas[12]">&nbsp;&bull;&nbsp;{{ ticket.data_envio_finalizado }}</strong>
                                        </span>
                                    </li>
                                    
                                    <li ng-if="!(ticket.perfis[6] | filter:{deleted_at:null}:true).length">
                                        <span class="member undefined txt-color-alt">
                                            <strong class="txt-semibold">Ainda não foi designado um participante para esta etapa.</strong>
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Envio de Arte - Opcional -->
                    
                    <!-- PDF do Fornecedor - Opcional -->
                    <div ng-show="((ticket.perfis[7] | filter:{deleted_at:null}:true).length) || (ticket.perfis[7].length && ticket.fornecedorPdfsAprovados.length)" ng-class="{'current' : ( ( ticket.etapas[10] === 1 && ticket.etapas[11] === 1 && ticket.etapas[12] === 1 && ticket.perfis[6] ) || ( ticket.etapas[10] === 1 && ticket.etapas[11] === 1 && !ticket.perfis[6] ) || ( ticket.etapas[10] === 1 && ticket.etapas[11] === 1 && (ticket.perfis[6] | filter:{deleted_at:null}:true).length == 0 ) ), 'current is-done' : ticket.etapas[14] }" class="event">
                        
                        <i ng-class="{'paused-at': ( ( ticket.etapas[10] === 1 && ticket.etapas[11] === 1 && ticket.etapas[12] === 1 && ticket.perfis[6] ) || ( ticket.etapas[10] === 1 && ticket.etapas[11] === 1 && !ticket.etapas[12] && !ticket.perfis[6] ) ) && !ticket.etapas[14] && ticket.pausado_em, 'canceled-at': ( ( ticket.etapas[10] === 1 && ticket.etapas[11] === 1 && ticket.etapas[12] === 1 && ticket.perfis[6] ) || ( ticket.etapas[10] === 1 && ticket.etapas[11] === 1 && !ticket.etapas[12] && !ticket.perfis[6] ) ) && !ticket.etapas[14] && ticket.cancelado_em}" class="icon fa fa-industry"></i>
                        
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">PDF do Fornecedor</strong>&nbsp;/&nbsp;Anexar e aprovar o PDF do Fornecedor</span></h3>
                            <ul class="event-tasks">
                                
                                <li ng-show="(!ticket.etapas[14] && !participante.deleted_at) || ticket.fornecedorPdfsAprovados[0].id_aprovacao === participante.id_usuario" ng-repeat="participante in ticket.perfis[7]">
                                    <span ng-class="{'is-ok': ticket.etapas[14]}" class="member">
                                        <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                        <strong class="txt-regular" ng-if="ticket.etapas[14]">&nbsp;&bull;&nbsp;{{ ticket.fornecedorPdfsAprovados[0].data_aprovacao }}</strong>
                                    </span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div ng-show="((ticket.perfis[7] | filter:{deleted_at:null}:true).length)" class="event-sub">
                        <div class="event" ng-class="{'current' : ticket.etapas[14], 'current is-done' : ticket.etapas[15] }">
                            
                            <i ng-class="{'paused-at': (ticket.etapas[14] && !ticket.etapas[15]) && ticket.pausado_em, 'canceled-at': (ticket.etapas[14] && !ticket.etapas[15]) && ticket.cancelado_em}" class="bubble"></i>
                            
                            <div class="body">
                                <h3 class="event-title"><span><strong class="txt-bold">PDF do Fornecedor</strong>&nbsp;/&nbsp;Finalizar o PDF do Fornecedor</span></h3>
                                <ul class="event-tasks">
                                    
                                    <li ng-show="(!ticket.etapas[15] && !participante.deleted_at) || participante.id_usuario === ticket.fornecedorPdfsAprovacao.id_aprovacao" ng-repeat="participante in ticket.perfis[7]">
                                        <span ng-class="{'is-ok': ticket.etapas[15]}" class="member">
                                            <strong ng-class="{'txt-line-through': participante.deleted_at}" class="txt-semibold">{{ participante.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ participante.empresa.nome }}
                                            <strong class="txt-regular" ng-if="!participante.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                            <strong class="txt-regular" ng-if="participante.departamento.nome">&nbsp;/&nbsp;{{ participante.departamento.nome }}</strong>
                                            <strong class="txt-regular" ng-if="ticket.etapas[15]">&nbsp;&bull;&nbsp;{{ ticket.fornecedorPdfsAprovacao.data_aprovacao }}</strong>
                                        </span>
                                    </li>
                                    
                                    <li ng-if="!(ticket.perfis[7] | filter:{deleted_at:null}:true).length">
                                        <span class="member undefined txt-color-alt">
                                            <strong class="txt-semibold">Ainda não foi designado um participante para esta etapa.</strong>
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- PDF do Fornecedor - Opcional -->
                    
                    <div ng-class="{'current' : (ticket.etapas[15]) || (ticket.etapas[12] && ticket.perfis[6] && !ticket.perfis[7]) || (ticket.etapas[10] && !ticket.perfis[6] && !ticket.perfis[7]) }" class="event">
                        
                        <i  ng-class="{'paused-at': ((ticket.etapas[15] && ticket.perfis[7]) || (ticket.etapas[12] && ticket.perfis[6] && !ticket.perfis[7]) || (ticket.etapas[10] && !ticket.perfis[6] && !ticket.perfis[7])) && ticket.pausado_em, 'canceled-at': ((ticket.etapas[15] && ticket.perfis[7]) || (ticket.etapas[12] && ticket.perfis[6] && !ticket.perfis[7]) || (ticket.etapas[10] && !ticket.perfis[6] && !ticket.perfis[7])) && ticket.cancelado_em}"  class="icon fa fa-flag-checkered"></i>
                                                
                        <div class="body">
                            <h3 class="event-title"><span><strong class="txt-bold">Encerramento</strong>&nbsp;/&nbsp;Encerrar ticket</span></h3>
                            <ul class="event-tasks">
                                <li>
                                    <span ng-class="{'is-ok': ticket.etapas[13]}" class="member">
                                        <strong class="txt-semibold">{{ ticket.dono.nome_usuario }}</strong>&nbsp;&bull;&nbsp;{{ ticket.dono.empresa.nome }}
                                        <strong class="txt-regular" ng-if="!ticket.dono.departamento.nome">&nbsp;/&nbsp;<i class="no-italic txt-regular txt-color-alt">Departamento</i></strong>
                                        <strong class="txt-regular" ng-if="ticket.dono.departamento.nome">&nbsp;/&nbsp;{{ ticket.dono.departamento.nome }}</strong>
                                        <strong class="txt-regular" ng-if="ticket.etapas[13]">&nbsp;&bull;&nbsp;{{ ticket.todosStatus[6].ultimoUsuario.data_criacao }}</strong>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Timeline vertical -->
        </section>
    </div>
</div>
<!-- END Tab display 4 -->