<!-- Tab display 3 -->
<div ng-class="{'no-padding': !participantes.length}" id="participantes" class="tabs-display">
    <div class="tabs-in">
        <!-- Participantes -->
        <section class="bs no-margin-top margin-bottom-40 no-padding no-border">
            <div class="block no-margin">
                <table ng-if="!loading && participantes.length" cellpading="0" cellspacing="0" class="workflow-membership-table table-border table-hover">
                    <thead>
                        <tr>
                            <th width="366"><span class="txt-small txt-uppercase">Nome</span></th>
                            <th width=""><span class="txt-small txt-uppercase">Empresa / Departamento</span></th>
                            <th width=""><span class="txt-small txt-uppercase">Função</span></th>
                            <th width="50px"><span></span></th>
                            <th width="50px"><span></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Looping de participantes -->
                        <tr ng-repeat="(k, participante) in participantes" class="table-group no-animate">  
                            <td colspan="5">
                                <table cellpading="0" cellspacing="0">
                                    <tbody>
                                        <tr class="no-animate">
                                            <td width="366">
                                                <i ng-class="{'fa-group has-teamwork': participante.equipe_membros.length > 0, 'fa-user': participante.equipe_membros.length == 0, 'txt-color-primary': ticket.id_usuario === participante.id_usuario}" class="icon fa"></i>
                                                <div class="text-side">
                                                    <div ng-if="!participante.id || participante.id_usuario !== participante.id_usuario_logado || k === 0" ng-class="{'no-style-input': !participante.id || participante.id_usuario !== participante.id_usuario_logado || k === 0}" class="select-control">
                                                        <select ng-disabled="(participante.id_usuario !== participante.id_usuario_logado) || (k === 0)" name="cbMembershipName[]" class="txt-semibold no-padding">
                                                            <option value="" selected>Selecionar participante</option>
                                                            <option ng-if="participante.id_usuario == membro.id" ng-selected="participante.id_usuario == membro.id" ng-repeat="(m, membro) in ticket.membrosAll" value="@{{membro.id}}">{{membro.nome}}</option>
                                                        </select>
                                                    </div>
                                                    <selectize config="userLoginConfig" options="ticket.membros" ng-init="participante.id_participante_selected = participante.id_usuario" ng-model="participante.id_participante_selected" ng-if="participante.id && participante.id_usuario === participante.id_usuario_logado && k > 0" ng-selected="participante.id_usuario" ng-disabled="!ticket.libera_ticket || ticket.id_status >= 6 || ticket.id_status < 9" name="cbMembershipAltName[{{k}}]" class="no-animate"></selectize>
                                                </div>
                                            </td>
                                            <td width="">
                                                <span ng-repeat="(k, membro) in ticket.membrosAll" ng-if="participante.id_usuario == membro.id">{{membro.empresa}} <strong ng-if="membro.departamento">/ {{membro.departamento}}</strong> <strong ng-if="!membro.departamento">/ <i class="txt-color-alt no-italic">Departamento</i></strong></span>
                                            </td>
                                            <td width="">
                                                <div ng-class="{'no-style-input': (participante.id) || (!participante.id)}" class="select-control">
                                                    <select ng-disabled="(participante.id) || (!participante.id)" ng-model="cbMembershipProfile[k]" ng-init="cbMembershipProfile[k] = participante.id_perfil.toString()" name="cbMembershipProfile[{{k}}]" class="no-padding">
                                                        <option value="" selected>Selecione a função</option>
                                                        <option ng-selected="participante.id_perfil == 1" value="1">Aprovador</option>
                                                        <option ng-selected="participante.id_perfil == 2" value="2">Marketing</option>
                                                        <option ng-selected="participante.id_perfil == 3" value="3">Revisor</option>
                                                        <option ng-selected="participante.id_perfil == 4" value="4">Participante</option>
                                                        <option ng-selected="participante.id_perfil == 5" value="5">Arte</option>
                                                        <option ng-selected="participante.id_perfil == 6" value="6">Envio de Arte</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td width="50px">
                                                <a tooltips tooltip-append-to-body="false" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-template="Adicionar Equipe" ng-if="(cbMembershipProfile[k] == 1 || cbMembershipProfile[k] == 2) && (ticket.id_status < 6 || ticket.id_status == 9)" ng-click="adicionar_equipe_toggle(participante, participantes)" ng-class="{'btn-function active': participante.adiciona_equipe, 'btn-function': !participante.adiciona_equipe, 'disabled': !ticket.libera_ticket }" href="javascript:;" class="btn-function"><i class="icon fa fa-users no-float no-margin"></i></a>
                                            </td>
                                            <td width="50px">
                                                <div ng-if="!participante.id && k > 0 && (ticket.id_status < 6 || ticket.id_status == 9)" class="dropdown drop-to-left no-margin">
                                                    <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-template="Opções" href="javascript:;" ng-class="{'disabled': !ticket.libera_ticket}" class="dropdown-toggle fa fa-ellipsis-h"></a>
                                                    <div class="dropdown-list">
                                                        <ul>    
                                                            <li><a ng-click="remover_membro(k)" href="javascript:;" class="txt-bold"><span class="icon fa fa-trash"></span>Excluir</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div ng-if='ticket.id_status < 6 && (ticket.id_usuario_logado == ticket.id_usuario || ticket.id_usuario_logado == participante.id_usuario) && participante.id && (participante.id_perfil == 100 || participante.id_perfil == 2) && (cbMembershipProfile|filter:participante.id_perfil).length > 1' class="dropdown drop-to-left no-margin">
                                                    <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-template="Opções" ng-class="{'disabled': !ticket.libera_ticket}" href="javascript:;" class="dropdown-toggle fa fa-ellipsis-h"></a>
                                                    <div class="dropdown-list">
                                                        <ul>    
                                                            <li><a ng-click="remover_membro(k)" href="javascript:;" class="txt-bold"><span class="icon fa fa-trash"></span>Excluir</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div ng-if='k > 0 && ticket.id_usuario_logado == ticket.id_usuario && participante.id && participante.id_perfil != 100 && participante.id_perfil != 2 && (ticket.id_status < 6 || ticket.id_status == 9)' class="dropdown drop-to-left no-margin">
                                                    <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-template="Opções" ng-class="{'disabled': !ticket.libera_ticket}" href="javascript:;" class="dropdown-toggle fa fa-ellipsis-h"></a>
                                                    <div class="dropdown-list">
                                                        <ul>    
                                                            <li><a ng-click="remover_membro(k)" href="javascript:;" class="txt-bold"><span class="icon fa fa-trash"></span>Excluir</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- Looping de membros da equipe -->
                                        <tr ng-if="cbMembershipProfile[k] == 1 || cbMembershipProfile[k] == 2" ng-repeat="(e, equipe) in participante.equipe_membros" class="input-fields-group table-sub no-animate">
                                            <td colspan="5">
                                                <div class="team-member-group table-sub-content">
                                                    <table cellpading="0" cellspacing="0" class="no-margin-bottom">
                                                        <tbody>
                                                            <!-- Table sub-group -->
                                                            <tr>
                                                                <td width="333px">
                                                                    <div ng-class="{ 'no-style-input': equipe.id_usuario !== participante.id_usuario_logado }" class="text-side txt-semibold no-margin">
                                                                        <selectize config="userLoginConfig" options="ticket.membrosAll" ng-init="equipe.id_participante_selected = equipe.id_usuario" ng-model="equipe.id_participante_selected" ng-disabled="equipe.id_usuario !== ticket.id_usuario_logado || !ticket.libera_ticket" class="no-animate"></selectize>
                                                                    </div>
                                                                </td>
                                                                <td width="">
                                                                    <span ng-repeat="(k, membro) in ticket.membrosAll" ng-if="membro.id == equipe.id_usuario">{{membro.empresa}} <strong ng-if="membro.departamento">/ {{membro.departamento}}</strong> <strong ng-if="!membro.departamento">/ <i class="txt-color-alt no-italic">Departamento</i></strong></span>
                                                                </td>
                                                                <td width="">
                                                                    <div class="select-control no-style-input">
                                                                        <select name="cbMembershipTeamProfile[]" ng-model="cbMembershipProfile[k]" disabled class="no-padding">
                                                                            <option value="">Selecione a função</option>
                                                                            <option value="1">Aprovador</option>
                                                                            <option value="2">Marketing</option>
                                                                            <option value="3">Revisor</option>
                                                                            <option value="4">Participante</option>
                                                                            <option value="5">Arte</option>
                                                                            <option value="6">Envio de Arte</option>
                                                                        </select>
                                                                    </div>
                                                                </td>
                                                                <td width="50px"><span></span></td>
                                                                <td width="50px">
                                                                    <div ng-if="ticket.id_status < 6 || ticket.id_status == 9" class="dropdown drop-to-left no-margin">
                                                                        <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-template="Opções" ng-if="!equipe.id || (equipe.id && ticket.id_usuario_logado == ticket.id_usuario)" ng-class="{'disabled': !ticket.libera_ticket}" href="javascript:;" class="dropdown-toggle fa fa-ellipsis-h"></a>
                                                                        <div class="dropdown-list">
                                                                            <ul>    
                                                                                <li><a ng-click="remover_membro_equipe(k, e)" href="javascript:;" class="txt-bold"><span class="icon fa fa-trash"></span>Excluir</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- END Table sub-group -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- END Looping de membros da equipe -->
                                        <!-- Formulário para inserir membro da equipe -->
                                        <tr ng-if="participante.adiciona_equipe && ticket.libera_ticket && (ticket.id_status < 6 || ticket.id_status == 9)" class="team-member-insert table-sub no-animate">
                                            <td colspan="5">
                                                <div class="input-fields-group table-sub-content">
                                                    <table cellpading="0" cellspacing="0" class="no-margin-bottom">
                                                        <tbody>
                                                            <!-- Table sub-group -->
                                                            <tr>
                                                                <td colspan="4">
                                                                    <div class="flexbox-container flexbox-group workflow-member-edit-sub">
                                                                        <div class="flex col-select-member">
                                                                            <selectize config="myConfig" options="ticket.membros" name="cbMembershipTeamName[]" ng-model="participante.add_participante"></selectize>
                                                                        </div>
                                                                        <div class="flexbox-container flexbox-group flex col-btn-group">
                                                                            <div class="flex col-member-edit-cancel">
                                                                                <button ng-click="participante.adiciona_equipe = (participante.adiciona_equipe == 1) ? 0 : 1" type="button" class="btn-control btn-alt">Cancelar</button>
                                                                            </div>
                                                                            <div class="flex col-member-edit-save">
                                                                                <button type="button" ng-click="adicionar_membro_equipe(k)" class="btn-control btn-positive">Salvar</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- END Table sub-group -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- END Formulário para inserir membro da equipe -->
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <!-- END Looping de participantes -->
                    </tbody>
                </table>
            </div>
            <!-- Formulário para inserir participante -->
            <div ng-if="ticket.libera_ticket && (ticket.id_status < 6 || ticket.id_status == 9)" class="block margin-top-30">
                <div class="workflow-members-group flexbox-container">
                    add_participante: {{ add_participante }}<br>
                    add_perfil: {{ add_perfil }}<br>
                    <div class="col-select-member flexbox-column flex">
                        <div class="select-control">
                            <selectize config="myConfig" options="ticket.membros" name="cbMembershipTeamName[]" ng-model="add_participante"></selectize>
                        </div>
                    </div>
                    <div class="col-select-position flexbox-column flex">
                        <div class="select-control">
                            <select ng-model='add_perfil' class="members-profile-validate">
                                <option value="" selected>Selecione a função</option>
                                <option value="1">Aprovador</option>
                                <option value="2">Marketing</option>
                                <option value="3">Revisor</option>
                                <option value="4">Participante</option>
                                <option value="5">Arte</option>
                                <option value="6">Envio de Arte</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-add-member flexbox-column flex">
                        <button ng-click="adicionar_membro()" type="button" class="btn-control btn-positive">Adicionar</button>
                    </div>
                </div>
            </div>
            <!-- END Formulário para inserir participante -->
            <div ng-show="(cbMembershipDelete && cbMembershipEquipeDelete) && (ticket.libera_ticket && participantes.length !== 0) && has_changed" class="btn-group txt-center">
                <div class="bs border-color-primary padding-top-40 no-padding-bottom">
                    <button type="button" ng-click="carregar_participantes()" class="btn-control btn-call-to-action call-to-action-negative btn-icon btn-icon-left">
                        <span><i class="icon fa fa-times"></i>Cancelar</span>
                    </button>
                    <button type="button" ng-click="salvar_participantes()" class="btn-control btn-call-to-action call-to-action-alt btn-icon btn-icon-left">
                        <span><i class="icon fa fa-check"></i>Salvar</span>
                    </button>
                </div>
            </div>
        </section>
        <!-- END Participantes -->
    </div>
</div>
<!-- END Tab display 3 -->
<div ng-if="!loading && !participantes.length" class="is-empty-big margin-top-20 no-margin-bottom">
    <span class="fa fa-gavel">Para o ticket prosseguir é necessário designar um participante para Aprovação.</span>
</div>
