<!-- Tab display 1 -->
<div ng-show="statechange" id="visao_geral" class="tabs-display">
    <div class="tabs-in">
        <section ng-if="ticket.pausado_em" class="workflow-paused-canceled-info bs">
            <div class="paused-canceled-block block margin-left-10 margin-right-10 clearfix">
                <h4 class="master-title-sub txt-light txt-uppercase margin-bottom-20">Ticket Pausado Por</h4>
                <div class="paused-canceled-info">
                    <i class="icon fa fa-pause-circle"></i>
                    <h5 class="user-request-title txt-color-primary txt-semibold">{{ ticket.pausado_por_nome }} <!--span class="created-on txt-small txt-color-default txt-regular">{{ ticket.pausado_em }}</span--></h5>
                    <div class="comment-text-block">
                        <p ng-bind-html="ticket.cancelado_motivo" class="force-word-break txt-regular"></p>
                    </div>
                </div>
            </div>
        </section>
        <section ng-if="ticket.cancelado_motivo" class="workflow-paused-canceled-info bs">
            <div class="paused-canceled-block block margin-left-10 margin-right-10 clearfix">
                <h4 class="master-title-sub txt-light txt-uppercase margin-bottom-20">Ticket Cancelado Por</h4>
                <div class="paused-canceled-info">
                    <i class="icon fa fa-times-circle"></i>
                    <h5 class="user-request-title txt-color-primary txt-semibold">{{ ticket.cancelado_por_nome }} <span class="created-on txt-small txt-color-default txt-regular">{{ ticket.cancelado_em }}</span></h5>
                    <div class="comment-text-block">
                        <p ng-bind-html="ticket.cancelado_motivo" class="force-word-break txt-regular"></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="workflow-general-info bs no-margin">
            <table border="0" cellpadding="0" cellspacing="0" class="table-info">
                <thead>
                    <tr>
                        <th class="txt-light txt-uppercase padding-bottom-5 padding-right-30">Informações Iniciais</th>
                        <th width="300px" colspan="2" class="txt-light txt-uppercase padding-bottom-5">Projeto</th>
                        <th width="225px" colspan="1" class="txt-light txt-uppercase padding-bottom-5">Código</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" ng-bind-html="ticket.descricao" class="force-word-break txt-regular no-padding-top padding-right-30"></td>
                        <td colspan="2" ng-bind="ticket.projeto_nome ? ticket.projeto_nome : '-'" class="txt-regular no-padding-top"></td>
                        <td colspan="1" ng-bind="ticket.codigo_cliente ? ticket.codigo_cliente : '-'" class="txt-regular no-padding-top"></td>
                    </tr>
                    <tr>
                        <td rowspan="4" colspan="3" class="no-padding">
                            <table cellpading="0" cellspacing="0" class="margin-top-30">
                                <thead>
                                    <tr>
                                        <th width="120px" class="txt-light txt-uppercase padding-bottom-5">Início</th>
                                        <th width="120px" class="txt-light txt-uppercase padding-bottom-5">Aprovação</th>
                                        <th width="180px" class="txt-light txt-uppercase padding-bottom-5">Encerramento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td ng-bind="ticket.dt_ini | date: 'dd/MM/yyyy'" class="txt-regular no-padding-top"></td>
                                        <td ng-bind="ticket.dt_envio | date: 'dd/MM/yyyy'" class="txt-regular no-padding-top"></td>
                                        <td ng-bind="ticket.dt_fim | date: 'dd/MM/yyyy'" class="txt-regular no-padding-top"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="workflow-instructions-cycle no-border no-padding no-margin">
            
            <!-- TODO - Prévia do Próximo Ciclo -->
            <v-accordion ng-if="ticket.proximo_ciclo" class="v-accordion bs margin-bottom-30 no-padding">
                <v-pane expanded="pane.isExpanded" class="v-accordion-pane no-border">
                    <v-pane-header class="v-pane-header">
                        <div class="v-accordion-header">
                            <h4 class="va-header-expand" ng-show="!pane.isExpanded">
                                <a href="javascript:;"><i class="icon fa fa-plus"></i><span class="txt-small txt-semibold">Exibir Prévia do Próximo Ciclo</span></a>
                            </h4>
                            <h4 class="va-header-hide" ng-show="pane.isExpanded">
                                <a href="javascript:;"><i class="icon fa fa-minus"></i><span class="txt-small txt-semibold">Ocultar Prévia do Próximo Ciclo</span></a>
                            </h4>
                        </div>
                    </v-pane-header>
                    <v-pane-content class="v-accordion-body">
                        <div class="v-accordion-wrap">
                            <div ng-repeat="(s, solicitacao) in ticket.proximo_ciclo.solicitacoes track by $index" class="flexbox-container sub-bs clearfix">
                                <div class="flex-auto col-instruction-type">
                                    <div class="switch-control switch-control-alt no-margin no-padding">
                                        <label class="d-block padding-top-10 padding-bottom-10 padding-left-10 padding-right-10">
                                            <span class="switch-txt txt-semibold no-margin no-float">{{solicitacao.tipo}}</span>
                                            <small class="rq margin-top-10 txt-regular">{{solicitacao.status}} por 
                                                <span ng-if="solicitacao.status !== 'Revisado'" ng-bind="solicitacao.nome_usuario" class="txt-small txt-regular"></span>
                                                <span ng-if="solicitacao.status === 'Revisado'" ng-bind="solicitacao.status_usuario" class="txt-small txt-regular"></span>
                                            </small>
                                            <small ng-if="solicitacao.status !== 'Revisado'" class="rq txt-regular">{{solicitacao.data_criacao}}</small>
                                            <small ng-if="solicitacao.status === 'Revisado'" class="rq txt-regular">{{solicitacao.status_data}}</small>
                                        </label>
                                    </div>
                                </div>
                                <div class="flex-auto col-instruction-description">
                                    <h5 class="user-request-title txt-color-primary txt-semibold margin-bottom-5">{{solicitacao.nome_usuario}} <span class="created-on txt-small txt-color-default txt-regular">{{solicitacao.data_criacao}}</span></h5>
                                    <div class="comment-text-block">
                                        <p ng-bind-html="solicitacao.descricao" class="trix-bind-html force-word-break txt-regular"></p>
                                    </div>
                                    <div class="chat-comment-container margin-top-20">
                                        <ul ng-class="{'no-border': solicitacao.comentarios.length === 0}" class="chat-comment-list">
                                            <li ng-repeat="(c, comentario) in solicitacao.comentarios" ng-class="{'no-margin no-border': $first}" class="border-color-primary">
                                                <div class="chat-comment-body clearfix">
                                                    <i class="icon fa fa-comment-o"></i>
                                                    <h5 class="chat-comment-by txt-semibold">{{comentario.nome_usuario}} <span class="created-on txt-regular">{{comentario.data_criacao}}</span></h5>
                                                    <p ng-bind-html="comentario.texto" class="trix-bind-html force-word-break txt-regular"></p>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="(c, resposta) in comentario.respostas" class="border-color-primary">
                                                        <div class="chat-comment-body clearfix">
                                                            <i class="icon fa fa-comment-o reply"></i>
                                                            <h5 class="chat-comment-by txt-semibold">{{resposta.nome_usuario}} <span class="created-on txt-regular">{{resposta.data_criacao}}</span></h5>
                                                            <p ng-bind-html="resposta.texto" class="trix-bind-html force-word-break txt-regular"></p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </v-pane-content>
                </v-pane>
            </v-accordion>
            <!-- END TODO - Prévia do Próximo Ciclo -->
                        
            <div class="block margin-top-30 margin-left-10 margin-right-10 clearfix">
                <h4 class="master-title-sub txt-light txt-uppercase">Instruções do Ciclo {{ticket.ciclo_atual.numero}} - Atual</h4>
                <!-- Ciclo atual -->
                <div ng-repeat="(s, solicitacao) in ticket.ciclo_atual.solicitacoes" class="flexbox-container sub-bs clearfix">
                    <div class="flex-auto col-instruction-type">
                        <label ng-show="ticket.id_status != 2 || ticket.libera_edicao === 0" ng-class="{'disabled': ticket.id_status != 2 || ticket.libera_edicao === 0}" class="switch-control switch-control-alt no-margin">
                            <input ng-show="ticket.id_status != 2" ng-checked="solicitacao.id_status === 2" disabled type="checkbox" name="chkEditionIsOk[]" value="" />
                            <span  ng-show="ticket.id_status != 2" class="switch-toggle abs-right-offset margin-right-10"></span>
                            <input ng-show="ticket.id_status >= 1" ng-checked="solicitacao.id_status === 2" disabled type="checkbox" name="chkEditionIsOk[]" value="" />
                            <span  ng-show="ticket.id_status >= 1" class="switch-toggle abs-right-offset margin-right-10"></span>
                            <i ng-show="ticket.id_status > 2 && ticket.id_status !== 9" class="reviewer-done abs-right-offset margin-right-10 fa fa-check"></i>
                            <span class="switch-txt txt-semibold no-margin no-float">{{solicitacao.tipo}}</span>
                            <small class="rq margin-top-10 txt-regular">{{solicitacao.status}} por 
                                <span ng-if="solicitacao.status !== 'Revisado'" ng-bind="solicitacao.nome_usuario" class="txt-small txt-regular"></span>
                                <span ng-if="solicitacao.status === 'Revisado'" ng-bind="solicitacao.status_usuario" class="txt-small txt-regular"></span>
                            </small>
                            <small ng-if="solicitacao.status !== 'Revisado'" class="rq txt-regular">{{solicitacao.data_criacao}}</small>
                            <small ng-if="solicitacao.status === 'Revisado'" class="rq txt-regular">{{solicitacao.status_data}}</small>
                        </label>
                        <label ng-show="ticket.id_status === 2 && ticket.libera_edicao === 1" class="switch-revisor switch-control switch-control-alt no-margin">
                            <input mw-confirm-click="acao_solicitacao(solicitacao.id, 2)" mw-confirm-click-message="Deseja alterar o status para Revisado?" ng-if="solicitacao.id_status === 1" onclick="return false;" ng-disabled="!ticket.libera_ticket" type="checkbox" name="chkEditionIsOk[]" value="" />
                            <input mw-confirm-click="acao_solicitacao(solicitacao.id, 1)" mw-confirm-click-message="Deseja alterar o status para Em revisão?" ng-if="solicitacao.id_status === 2" onclick="return false;" ng-disabled="!ticket.libera_ticket" ng-checked="solicitacao.id_status === 2" type="checkbox" name="chkEditionIsOk[]" value="" />
                            <span class="switch-toggle abs-right-offset margin-right-10"></span>
                            <span class="switch-txt txt-semibold no-margin no-float">{{solicitacao.tipo}}</span>
                            <small class="rq margin-top-10 txt-regular">{{solicitacao.status}} por 
                                <span ng-if="solicitacao.status !== 'Revisado'" ng-bind="solicitacao.nome_usuario" class="txt-small txt-regular"></span>
                                <span ng-if="solicitacao.status === 'Revisado'" ng-bind="solicitacao.status_usuario" class="txt-small txt-regular"></span>
                            </small>
                        
                            <small ng-if="solicitacao.status !== 'Revisado'" class="rq txt-regular">{{solicitacao.data_criacao}}</small>
                            <small ng-if="solicitacao.status === 'Revisado'" class="rq txt-regular">{{solicitacao.status_data}}</small>
                        </label>
                    </div>
                    <div class="flex-auto col-instruction-description">
                        <h5 ng-if="solicitacao.nome_usuario && solicitacao.data_criacao || solicitacao.status_usuario && solicitacao.status_data" class="user-request-title">
                            <span ng-bind="solicitacao.nome_usuario" class="txt-color-primary txt-semibold"></span> 
                            <span ng-bind="solicitacao.data_criacao" class="created-on txt-small txt-color-default txt-regular"></span>
                        </h5>
                        <div class="comment-text-block">
                            <p ng-bind-html="solicitacao.descricao" class="force-word-break"></p>
                        </div>
                        <div class="chat-comment-container">
                            <button ng-show="ticket.id_status < 3 && solicitacao.id_status === 1 && ticket.libera_ticket" ng-click="exibe_comentar_f(s, $index);marcar_participantes_unicos(solicitacao.id_usuario)" type="button" class="btn-control btn-positive">Comentar</button>
                            <div ng-show="exibe_comentar[s] && solicitacao.id_status === 1 && ticket.libera_ticket" class="chat-comment-box no-margin-top padding-top-20 no-border">
                                <div class="conversation chat-textbox-container">
                                    <div data-placeholder="Digite um comentário" contenteditable="true" ng-model="$root.comentarios[s]" ng-init="$root.comentarios[s] = ''" ng-paste="msg_copy_paste_handler($event, 'comentarios', s)" class="input-control textbox-fake textbox-fake-auto-resizable editable"></div>
                                    <div class="chat-textbox-controls">
                                        <div class="tooltip attach-file left">
                                            <span class="fa fa-image"></span>
                                            <input type="file" accept="image/*" data-id="{{s}}" onchange="angular.element(this).scope().msg_attach_file(this, 'comentarios');" class="msgAttachment" />
                                            <span class="tooltip-box">Anexar imagem no texto</span>
                                        </div>
                                        <div class="tooltip btn btn-send-email left">
                                            <a ng-click="enviar_msg_email()" href="javascript:;"><span ng-class="{ 'fa-envelope':(memberList | filter:{selected:true}:true).length, 'fa-envelope-o':!(memberList | filter:{selected:true}:true).length }" class="fa"></span></a>
                                            <span class="tooltip-box">Enviar por e-mail</span>
                                        </div>
                                    </div>
                                </div>
                                <div ng-class="{'margin-bottom-20': solicitacao.comentarios.length > 0, 'no-margin-bottom': solicitacao.comentarios.length === 0}" class="btn-group margin-top-20 clearfix"> 
                                    <div class="pull-right">    
                                        <button ng-click="exibe_comentar[s] = 0" type="button" class="btn-control btn-alt">Cancelar</button>
                                        <button ng-click="comentar(solicitacao.id, s)" type="button" class="btn-control btn-positive">Enviar</button>
                                    </div>
                                </div>
                            </div>
                            <ul ng-class="{'margin-top-20': solicitacao.comentarios.length > 0}" class="chat-comment-list no-border">
                                <li ng-repeat="(c, comentario) in solicitacao.comentarios" class="border-color-primary">
                                    <div class="chat-comment-body clearfix">
                                        <i class="icon fa fa-comment-o"></i>
                                        <h5 class="chat-comment-by txt-semibold">{{comentario.nome_usuario}} <span class="created-on txt-regular">{{comentario.data_criacao}}</span><a ng-if="comentario.array_envios" href="javascript:;" ng-click="exibe_destinatarios(comentario.array_envios)" class="view-recipients tooltip top no-underline margin-left-10"><i class="fa fa-envelope"></i><span class="tooltip-box">Ver destinatários</span></a></h5>
                                        <p ng-bind-html="comentario.texto" class="force-word-break txt-regular"></p>
                                    </div>
                                    <button ng-show="ticket.id_status < 3 && solicitacao.id_status === 1 && ticket.libera_ticket" ng-click="exibe_responder_f($id);marcar_participantes_unicos(comentario.id_usuario)" type="button" class="btn-control btn-positive">Responder</button>
                                    <div ng-show="exibe_responder[$id] && solicitacao.id_status === 1 && ticket.libera_ticket" class="chat-comment-box no-margin-top padding-top-20 no-border">
                                        <div class="replies chat-textbox-container">
                                            <div data-placeholder="Digite uma resposta" contenteditable="true" ng-model="$root.respostas[$id]" ng-init="$root.respostas[$id] = ''" ng-paste="msg_copy_paste_handler($event, 'respostas', $id)" class="input-control textbox-fake textbox-fake-auto-resizable editable"></div>
                                            <div class="chat-textbox-controls">
                                                <div class="tooltip attach-file left">
                                                    <span class="fa fa-image"></span>
                                                    <input type="file" accept="image/*" data-id="{{$id}}" onchange="angular.element(this).scope().msg_attach_file(this, 'respostas');" name="msgAttachment" class="msgAttachment" />
                                                    <span class="tooltip-box">Anexar imagem no texto</span>
                                                </div>
                                                <div class="tooltip send-by-mail left">
                                                    <a ng-click="enviar_msg_email()" href="javascript:;" class="btn btn-send-email"><span ng-class="{ 'fa-envelope':(memberList | filter:{selected:true}:true).length, 'fa-envelope-o':!(memberList | filter:{selected:true}:true).length }" class="fa"></span></a>
                                                    <span class="tooltip-box">Enviar por e-mail</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-class="{'margin-bottom-20': comentario.respostas.length > 0, 'no-margin-bottom': comentario.respostas.length === 0}" class="btn-group margin-top-20 clearfix">    
                                            <div class="pull-right">    
                                                <button ng-click="exibe_responder[$id] = 0" type="button" class="btn-control btn-alt">Cancelar</button>
                                                <button ng-click="responder(comentario.id, $id)" type="button" class="btn-control btn-positive">Enviar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <ul>
                                        <li ng-repeat="(c, resposta) in comentario.respostas" class="border-color-primary">
                                            <div class="chat-comment-body clearfix">
                                                <i class="icon fa fa-comment-o reply"></i>
                                                <h5 class="chat-comment-by txt-semibold">{{resposta.nome_usuario}} <span class="created-on txt-regular">{{resposta.data_criacao}}</span><a ng-if="resposta.array_envios" href="javascript:;" ng-click="exibe_destinatarios(resposta.array_envios)" class="view-recipients tooltip top no-underline margin-left-10"><i class="fa fa-envelope"></i><span class="tooltip-box">Ver destinatários</span></a></h5>
                                                <p ng-bind-html="resposta.texto" class="force-word-break txt-regular"></p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--div class="flex-auto col-instruction-status"></div-->
                </div>
                <!-- END Ciclo atual -->
            </div>
            <!-- Ciclo anterior -->
            <v-accordion class="v-accordion">
                <v-pane ng-repeat="(c, ciclo) in ticket.ciclos_anteriores" expanded="pane.isExpanded" class="v-accordion-pane">
                    <v-pane-header class="v-pane-header">
                        <div class="v-accordion-header">
                            <h4 class="va-header-expand" ng-show="!pane.isExpanded">
                                <a href="javascript:;"><i class="icon fa fa-plus"></i><span class="txt-small txt-semibold">Exibir Instruções do Ciclo {{ciclo.numero}}</span></a>
                            </h4>
                            <h4 class="va-header-hide" ng-show="pane.isExpanded">
                                <a href="javascript:;"><i class="icon fa fa-minus"></i><span class="txt-small txt-semibold">Ocultar Instruções do Ciclo {{ciclo.numero}}</span></a>
                            </h4>
                        </div>
                    </v-pane-header>
                    <v-pane-content class="v-accordion-body">
                        <div class="v-accordion-wrap">
                            <div ng-repeat="(s, solicitacao) in ciclo.solicitacoes" class="flexbox-container sub-bs clearfix">
                                <div class="flex-auto col-instruction-type">
                                    <label class="switch-control switch-control-alt no-margin disabled">
                                        <!--input ng-checked="solicitacao.status === 'Revisado'" type="checkbox" disabled name="chkEditionIsOk[]" value="" id="chkEditionIsOk_1" />
                                        <span class="switch-toggle abs-right-offset margin-right-10"></span-->
                                        <i class="reviewer-done abs-right-offset margin-right-10 fa fa-check"></i>
                                        <span class="switch-txt txt-semibold no-margin no-float">{{solicitacao.tipo}}</span>
                                        <small class="rq margin-top-10 txt-regular">{{solicitacao.status}} por {{solicitacao.status_usuario}}</small>
                                        <small class="rq txt-regular">{{solicitacao.status_data}}</small>
                                    </label>
                                </div>
                                <div class="flex-auto col-instruction-description">
                                    <h5 class="user-request-title txt-color-primary txt-semibold margin-bottom-5">{{solicitacao.nome_usuario}} <span class="created-on txt-small txt-color-default txt-regular">{{solicitacao.data_criacao}}</span></h5>
                                    <div class="comment-text-block">
                                        <p ng-bind-html="solicitacao.descricao" class="force-word-break txt-regular"></p>
                                    </div>
                                    <div class="chat-comment-container margin-top-20">
                                        <ul ng-class="{'no-border': solicitacao.comentarios.length === 0}" class="chat-comment-list">
                                            <li ng-repeat="(c, comentario) in solicitacao.comentarios" ng-class="{'no-margin no-border': $first}" class="border-color-primary">
                                                <div class="chat-comment-body clearfix">
                                                    <i class="icon fa fa-comment-o"></i>
                                                    <h5 class="chat-comment-by txt-semibold">{{comentario.nome_usuario}} <span class="created-on txt-regular">{{comentario.data_criacao}}</span><a ng-if="comentario.array_envios" href="javascript:;" ng-click="exibe_destinatarios(comentario.array_envios)" class="view-recipients tooltip top no-underline margin-left-10"><i class="fa fa-envelope"></i><span class="tooltip-box">Ver destinatários</span></a></h5>
                                                    <p ng-bind-html="comentario.texto" class="force-word-break txt-regular"></p>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="(c, resposta) in comentario.respostas" class="border-color-primary">
                                                        <div class="chat-comment-body clearfix">
                                                            <i class="icon fa fa-comment-o reply"></i>
                                                            <h5 class="chat-comment-by txt-semibold">{{resposta.nome_usuario}} <span class="created-on txt-regular">{{resposta.data_criacao}}</span><a ng-if="resposta.array_envios" href="javascript:;" ng-click="exibe_destinatarios(resposta.array_envios)" class="view-recipients tooltip top no-underline margin-left-10"><i class="fa fa-envelope"></i><span class="tooltip-box">Ver destinatários</span></a></h5>
                                                            <p ng-bind-html="resposta.texto" class="force-word-break txt-regular"></p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </v-pane-content>
                </v-pane>
            </v-accordion>
            <!-- END Ciclo anterior -->
        </section>
        <!-- Aprovação -->
        <section class="workflow-files-approval no-border no-padding margin-bottom-40">
            <div ng-show="((ticket.ciclo_atual.layout && ticket.libera_edicao) || (ticket.ciclo_atual.layout && ticket.id_status > 1)) || (ticket.arteFinalista && !step3) || (ticket.ciclo_anterior.layout) || (ticket.versao_atual)" class="block">
                <h4 ng-show="ticket.libera_ticket" class="master-title-alt txt-bold margin-bottom-20">Aprovação</h4>
                <div class="margin-left-10 margin-right-10">
                    <div ng-show="ticket.arteFinalista && !step3 && ticket.libera_ticket" class="block">
                        <div class="attachPDF flexbox-container workflow-attachment-control files-control">
                            <div data-title="Subir em padrão PDF/X-3 com fontes em curvas para evitar divergências na renderização." class="col-files-attach flex ui-tooltip top">
                                <input type="file" accept=".pdf,.zae,.dae" valid-file=".pdf,.zae,.dae" ngf-select ng-model="layout" name="file" ngf-model-invalid="errorFile" required />
                                <span class="files-control-fake"><strong></strong><i class="addon fa fa-paperclip"></i></span>
                            </div>
                            <div ng-if="layout.progress > 0" class="progress-circle animate">
                                <svg id="svg" viewbox="0 0 100 100">
                                    <circle cx="50" cy="50" r="40" fill="none"/>
                                    <path fill="none" stroke-linecap="round" stroke-width="4" stroke-dasharray="{{layout.progress*2.5}},250.2" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"/>
                                    <text id="count" class="progress" x="50" y="50" text-anchor="middle" dy="7" ng-bind="layout.progress + '%'"></text>
                                </svg>
                            </div>
                            <button ng-show="ticket.arteFinalista && !step3" ng-click="uploadLayout(ticket.ciclo_atual.id)" type="button" class="files-btn btn-positive">Adicionar</button>
                        </div>
                    </div>
                    <div class="block no-margin-bottom">
                        <div ng-show="!ticket.ciclo_atual.layout && !ticket.libera_edicao" class="margin-bottom-30">
                            <h4 class="master-title-sub txt-light txt-uppercase">Novo Layout</h4>
                            <div class="panel default no-hover">
                                <i class="icon fa fa-file-pdf-o"></i>
                                <div class="panel-body">
                                    <h4 class="panel-heading txt-semibold no-margin">Aguardando novo layout...</h4>
                                </div>
                            </div>
                        </div>
                        <div ng-show="ticket.ciclo_atual.layout || (ticket.ciclo_atual.layout && ticket.libera_edicao) || (ticket.ciclo_atual.layout && ticket.id_status > 1)" class="margin-bottom-30">
                            
                            <h4 ng-show="ticket.id_status < 5" class="master-title-sub txt-light txt-uppercase">Layout Atualizado</h4>
                            <h4 ng-show="ticket.id_status >= 5" class="master-title-sub txt-light txt-uppercase">Layout Aprovado</h4>
                            
                            <div class="panel secondary">
                                <a target="_blank" ng-href="{{ticket.ciclo_atual.layout.inspector}}" class="link"></a>
                                <i class="icon fa fa-file-pdf-o"></i>
                                <div class="panel-body">
                                    <h4 class="panel-heading txt-semibold no-margin">{{ticket.ciclo_atual.layout.nome}}</h4>
                                    <small class="description-small txt-regular no-margin">Anexado por {{ticket.ciclo_atual.layout.nome_usuario}} às {{ticket.ciclo_atual.layout.data_criacao}} - <strong class="txt-small txt-regular">{{ticket.ciclo_atual.layout.filesize}} MB</strong></small>
                                </div>
                                <div class="panel-options dropdown drop-to-left pull-right">
                                    <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" href="javascript:;" class="dropdown-btn dropdown-toggle  fa fa-ellipsis-h"></a>
                                    <div class="dropdown-list">
                                        <ul>    
                                            <li ng-if="ticket.comparacao.length >= 2"><a ng-click="comparar_artes()" href="javascript:;" class="txt-bold"><span class="icon fa fa-copy"></span>Comparar PDFs</a></li>
                                            <li><a target="_blank" ng-href="{{ticket.ciclo_atual.layout.baixarPdf}}" class="txt-bold"><span class="icon fa fa-download"></span>Baixar PDF</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="ticket.ciclo_anterior.layout && ticket.id_status < 5" class="block">
                        <h4 class="master-title-sub txt-light txt-uppercase">Ciclo Anterior</h4>
                        <div class="panel primary">
                            <a target="_blank" ng-href="{{ticket.ciclo_anterior.layout.inspector}}" class="link"></a>
                            <i class="icon fa fa-file-pdf-o"></i>
                            <div class="panel-body">
                                <h4 class="panel-heading txt-semibold no-margin">{{ticket.ciclo_anterior.layout.nome}}</h4>
                                <small class="description-small txt-regular no-margin">Anexado por {{ticket.ciclo_anterior.layout.nome_usuario}} às {{ticket.ciclo_anterior.layout.data_criacao}} - <strong class="txt-small txt-regular">{{ticket.ciclo_anterior.layout.filesize}} MB</strong></small>
                            </div>
                            <div class="panel-options dropdown drop-to-left pull-right">
                                <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="true" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" href="javascript:;" class="dropdown-btn dropdown-toggle  fa fa-ellipsis-h"></a>
                                <div class="dropdown-list">
                                    <ul>    
                                        <li><a target="_blank" ng-href="{{ticket.ciclo_anterior.layout.baixarPdf}}" class="txt-bold"><span class="icon fa fa-download"></span>Baixar PDF</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="ticket.versao_atual && !ticket.cancelado_em && ticket.id_status < 5" class="block no-margin-bottom">
                        <h4 class="master-title-sub txt-light txt-uppercase">Versão de Mercado</h4>
                        <div class="panel primary">
                            <a target="_blank" ng-href="{{ticket.versao_atual.path}}" class="link"></a>
                            <i class="icon fa fa-file-pdf-o"></i>
                            <div class="panel-body">
                                <h4 class="panel-heading txt-semibold no-margin">{{ticket.versao_atual.nome}}</h4>
                                <small class="description-small txt-regular no-margin">Anexado por {{ticket.versao_atual.nome_usuario}} às {{ticket.versao_atual.data_criacao}} - <strong class="txt-small txt-regular">{{ticket.versao_atual.filesize}} MB</strong></small>
                            </div>
                            <div class="panel-options dropdown drop-to-left pull-right">
                                <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" href="javascript:;" class="dropdown-btn dropdown-toggle fa fa-ellipsis-h"></a>
                                <div class="dropdown-list">
                                    <ul>    
                                        <li><a target="_blank" ng-href="{{ticket.versao_atual.baixarPdf}}" class="txt-bold"><span class="icon fa fa-download"></span>Baixar PDF</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carregar Arte-final -->
            <div ng-show="ticket.id_status === 5 && ticket.arteFinalista" ng-class="{'block': ticket.libera_ticket}" class="margin-left-10 margin-right-10">
                <div ng-show="ticket.libera_edicao && ticket.arteFinalista" ng-class="{'block': ticket.libera_ticket}">
                    <h4 ng-if="ticket.libera_ticket" class="master-title-sub txt-light txt-uppercase">Anexar Arte-final</h4>
                    <div ng-show="ticket.libera_ticket" class="flexbox-container workflow-attachment-control files-control attach-artwork">
                        <div class="col-files-attach flex">
                            <input type="file" accept=".zip,.rar" valid-file=".zip,.rar" ngf-select ng-model="arte" name="file" ngf-model-invalid="errorFile" class="" />
                            <span class="files-control-fake"><strong></strong><i class="addon fa fa-paperclip"></i></span>
                        </div>
                        <div ng-if="arte.progress > 0" class="progress-circle animate">
                            <svg id="svg" viewbox="0 0 100 100">
                                <circle cx="50" cy="50" r="40" fill="none"/>
                                <path fill="none" stroke-linecap="round" stroke-width="4" stroke-dasharray="{{arte.progress*2.5}},250.2" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"/>
                                <text id="count" class="progress" x="50" y="50" text-anchor="middle" dy="7" ng-bind="arte.progress + '%'"></text>
                            </svg>
                        </div>
                        <button ng-click="uploadArte(ticket.id)" type="button" class="files-btn">Adicionar</button>
                    </div>
                </div>
            </div>
            <!-- END Carregar Arte-final -->
            <!-- Arte-final -->
            <div ng-show="ticket.id_status >= 5 && ticket.artes.length" class="workflow-artwork-attach no-margin no-padding">
                <!-- Envio da Arte-final -->
                <div class="workflow-artwork-sender margin-left-10 margin-right-10">
                    <h4 class="master-title-sub txt-light txt-uppercase">Arte-final</h4>
                    <!--h4 ng-if="ticket.id_status >= 6" class="master-title-sub txt-light txt-uppercase">Arte-final</h4-->
                    <div ng-repeat="(a, arte) in ticket.artes" ng-class="{'block': ticket.libera_ticket, 'margin-bottom-30': ticket.id_status >= 1}" id="envio-arte">
                        <div class="panel secondary">
                            <a target="_blank" ng-href="{{arte.path}}" class="link"></a>
                            <i class="icon fa fa-file-archive-o"></i>
                            <div class="panel-body">
                                <h4 class="panel-heading txt-semibold">{{arte.nome}}</h4>
                                <small class="description-small txt-regular">Anexado por {{arte.nome_usuario}} às {{arte.data_criacao}}</small>
                                <small class="description-small txt-regular no-margin">Arquivo original: {{arte.nome_original}} - <strong class="txt-small txt-regular">{{arte.filesize}} MB</strong></small>
                            </div>
                            <div ng-show="ticket.arteFinalista && ticket.id_status != 6 && !ticket.envio_autorizado" class="panel-options dropdown drop-to-left pull-right">
                                <a ng-class="{'disabled': !ticket.libera_ticket}" tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" href="javascript:;" class="dropdown-btn dropdown-toggle fa fa-ellipsis-h"></a>
                                <div class="dropdown-list">
                                    <ul>    
                                        <li><a mw-confirm-click="deleteArte(arte.id)" mw-confirm-click-message="Deseja excluir Arte-final?" href="javascript:;" class="txt-small txt-bold"><span class="icon fa fa-trash"></span>Excluir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div ng-show="ticket.qtdEnviosDeArteNaoExcluidos && ticket.envio_autorizado && ticket.participanteEnvio" class="block margin-top-30">
                            <h4 ng-show="ticket.id_status != 6 && ticket.libera_ticket" class="master-title-sub txt-light txt-uppercase">Enviar Arte-final</h4>
                            <div ng-show="ticket.id_status != 6 && ticket.libera_ticket">
                                <p ng-show="ticket.envio_autorizado && ticket.participanteEnvio" class="txt-regular margin-bottom-10">
                                    Selecione o fornecedor ou digite o e-mail para enviar a arte-final.
                                </p>
                                <div class="flexbox-container flexbox-group">
                                    <div class="flex col-select-supplier">
                                        <div class="select-control">
                                            <select ng-change="setar_fornecedor(a)" ng-model="arte.fornecedorSelecionado" name="cbSupplierChooser" id="cbSupplierChooser">
                                                <option value="">Selecionar o fornecedor</option>
                                                <option ng-repeat="(f, fornecedor) in fornecedores" value="{{ f }}" ng-value="{{ f }}">{{ fornecedor.nome }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="flex col-mailing-supplier">
                                        <input ng-model="enviar_emails[a]" type="text" placeholder="Digite os e-mails separados por vígula" name="tfEmailSupplier" id="tfEmailSupplier" class="input-control" />
                                    </div>
                                </div>
                                <div class="flexbox-container flexbox-group margin-top-20">
                                    <div class="flex flex-fluid">    
                                        <textarea rows="4" placeholder="Escreva uma mensagem para o fornecedor" ng-model="arte.msg_fornecedor" name="msg_fornecedor" id="msg_fornecedor" class="input-control textbox-control"></textarea>
                                    </div>
                                </div>
                                <div class="flexbox-container flexbox-group margin-top-20">
                                    <div class="flexbox-container margin-left-auto">
                                        <div class="flex">
                                            <button type="reset" class="btn-control btn-alt">Cancelar</button>
                                        </div>
                                        <div class="flex col-artwork-submit">   
                                            <button ng-click="enviar_emails(a, arte.id)" type="button" class="btn-control btn-positive">Enviar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Panel Group -->
                    <h4 ng-show="ticket.id_status >= 5 && ticket.artes_envios.length" class="master-title-sub txt-light txt-uppercase">Envios de Arte-final</h4>
                    <div ng-show="ticket.id_status >= 5 && ticket.artes_envios.length" class="panel primary panel-group no-hover">
                        <!-- Panel group items -->
                        <div ng-repeat="(a, envio) in ticket.artes_envios" class="flexbox-container item">
                            <i class="icon fa fa-paper-plane"></i>
                            <div class="panel-body">
                                <h4 class="panel-heading" ng-show="envio.fornecedor"><span class="txt-semibold">{{envio.fornecedor}}</span></h4>
                                <h4 class="panel-heading" ng-show="!envio.fornecedor"><span class="txt-semibold">{{envio.emails}}</span></h4>
                                <small class="description-small txt-regular" ng-show="envio.fornecedor">{{envio.emails}}</small>
                                <small ng-if="!envio.cancelado_em" class="description-small txt-regular">Enviado por {{envio.nome_usuario}} às {{envio.data_criacao}}</small>
                                <small ng-if="envio.cancelado_em" class="description-small txt-regular">Cancelado por {{envio.cancelado_por}} às {{envio.cancelado_em}}</small>
                                <div class="flex workflow-downloaded-info clearfix">
                                    <i class="icon txt-color-alt txt-color-off fa fa-download"></i>
                                    <strong ng-if="envio.downloads === 0" class="workflow-has-downloaded txt-semibold txt-color-alt margin-bottom-5">Arte-Final ainda não foi baixada</strong>
                                    <strong ng-if="envio.downloads === 1" class="workflow-has-downloaded txt-semibold txt-color-default margin-bottom-5">Arte-final foi baixada {{ envio.downloads }} vez</strong>
                                    <strong ng-if="envio.downloads !== 1 && envio.downloads !== 0" class="workflow-has-downloaded txt-semibold txt-color-default margin-bottom-5">Arte-final foi baixada {{ envio.downloads }} vezes</strong>
                                    <small ng-if="!envio.cancelado_em && envio.dt_expiracao && envio.status && !envio.expirado" class="access-link-expires txt-regular txt-small">Link de acesso às artes está ativo expira em {{ envio.dt_expiracao }}</small>
                                    <small ng-if="!envio.cancelado_em && envio.dt_expiracao && !envio.status && !envio.expirado" class="access-link-expires txt-regular txt-small">Link de acesso às artes está inativo expira em {{ envio.dt_expiracao }}</small>
                                    <small ng-if="!envio.cancelado_em && envio.dt_expiracao && envio.expirado" class="access-link-expires txt-regular txt-small">Link de acesso às artes expirou em {{ envio.dt_expiracao }}</small>
                                </div>
                            </div>
                            <div ng-show="ticket.libera_edicao != 5 && !envio.cancelado_em" class="panel-options dropdown drop-to-left pull-right">
                                <a tooltips tooltip-append-to-body="true" tooltip-side="top" tooltip-smart="false" tooltip-size="small" tooltip-hide-trigger="click touchstart touchend mouseleave" tooltip-template="Opções" ng-class="{'disabled': !envio.dt_expiracao || !ticket.libera_ticket }" href="javascript:;" class="dropdown-btn dropdown-toggle fa fa-ellipsis-h"></a>
                                <div class="dropdown-list">
                                    <ul>
                                        <li>
                                            <label ng-class="{'dropdown-switch switch-control switch-control-flex animate disabled': envio.expirado}" class="dropdown-switch switch-control switch-control-flex animate">
                                                <input ng-click="setStatusEnvio(envio.id)" ng-checked="envio.status" type="checkbox" ng-disabled="envio.expirado" name="link_arte[]" />
                                                <span class="switch-toggle abs-right-offset"></span>
                                                <strong ng-if="envio.status && !envio.expirado" class="switch-txt switch-txt-icon fa fa-link no-margin"><small class="txt-small txt-bold">Link Ativo</small></strong>
                                                <strong ng-if="!envio.status && !envio.expirado" class="switch-txt switch-txt-icon fa fa-unlink no-margin"><small class="txt-small txt-bold">Link Inativo</small></strong>
                                                <strong ng-if="envio.expirado" class="switch-txt switch-txt-icon fa fa-unlink txt-color-alt no-margin"><span class="txt-small txt-bold txt-color-alt">Link Expirado</span></strong>
                                            </label>
                                        </li>    
                                        <!--<li><a href="javascript:;" ng-click="renovarLink(envio.id)" ng-class="{'disabled': !envio.status || envio.expirado }" class="txt-bold"><span class="icon fa fa-refresh"></span>Renovar Link</a></li>-->
                                        <!--<li><a href="javascript:;" ng-click="reenviarEmail(envio.id)" class="txt-bold"><span class="icon fa fa-paper-plane"></span>Reenviar E-mails</a></li>-->
                                        <li><a href="javascript:;" ng-click="verMsgFornecedor(envio.mensagem)" class="txt-bold"><span class="icon fa fa-envelope"></span>Ver Mensagem</a></li>
                                        <li ng-if="envio.expirado"><a href="javascript:;" class="txt-bold disabled"><span class="icon fa fa-times-circle"></span>Cancelar Envio</a></li>
										<li ng-if="!envio.expirado"><a href="javascript:;" ng-click="cancelarEnvio(envio.id)" class="txt-bold"><span class="icon fa fa-times-circle"></span>Cancelar Envio</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END Panel group items -->
                    </div>
                    <!-- END Panel Group -->
                </div>
                <!-- END Envio da Arte-final -->
            </div>
            <!-- END Arte-final -->
        </section>
        <!-- END Aprovação -->
    </div>
</div>
<!-- END Tab display 1 -->