/* Home - Login */
/* Logo */
/* Footer */
/* @color */
/* @box-shadow */
/* @drop-shadow */
.showcase-panel .linear-background.showcase-panel-figure {
  display: block;
  width: 90px;
  height: 90px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #f4f4f4 10%, rgba(224, 224, 224, 0.5) 18%, #f4f4f4 33%);
  background-size: 1000px 69px;
  position: relative;
  overflow: hidden;
}
.showcase-panel .linear-background.showcase-panel-heading,
.showcase-panel .linear-background.showcase-panel-info-secondary {
  display: block;
  min-width: 120px;
  border-radius: 64px;
}
.showcase-panel .linear-background.showcase-panel-heading {
  min-height: 16px;
  margin-bottom: 10px;
}
.showcase-panel .linear-background.showcase-panel-info-secondary {
  min-height: 12px;
}
.content-placeholder-container .btn-add-new {
  height: 30px;
}
.content-placeholder-container .btn-function {
  display: inline-flex;
  align-items: center;
  height: 30px;
}
.content-placeholder-container .btn-function > .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0;
  border: none;
  border-radius: 64px;
}
.content-placeholder-container .btn-function > .icon ~ .text {
  min-width: 100px;
  height: 12px;
  margin: 0px 0px 0px 10px;
  border-radius: 64px;
}
.content-placeholder-container .input-control,
.content-placeholder-container .btn-control {
  height: 30px;
  border-radius: 4px;
  border: none;
}
.content-placeholder-container .textbox-control {
  height: 86px;
}
.content-placeholder-container .btn-control {
  min-width: 100px;
}
/* Content-loader for list-group */
.content-placeholder-container ul.list-group-indent {
  width: 100%;
}
.content-placeholder-container ul.list-group-indent > li.linear-background.list-item-horizontal {
  display: block;
  position: relative;
  min-height: 50px;
  border-radius: 0px;
}
.content-placeholder-container .list-group-indent > li.list-item-horizontal,
.content-placeholder-container .list-group-indent > li.list-item-horizontal:hover {
  background: none;
}
.content-placeholder-container ul.list-group-indent > li.list-item-horizontal > .indent > .pull {
  height: 25px;
  border-radius: 62px;
}
.content-placeholder-container .list-group-indent > li.list-item-horizontal > .indent > .pull > .icon {
  width: 14px;
  height: 14px;
  margin: 0 14px;
  border-radius: 64px;
}
.content-placeholder-container .list-group-indent > li.list-item-horizontal > .indent > .pull > .text {
  height: 14px;
  border-radius: 64px;
}
.content-placeholder-container ul.list-group-indent > li.linear-background.list-item-horizontal:last-child {
  margin-bottom: 0;
}
/* Content-loader for datatable */
.content-placeholder-container .dt-loading {
  display: none !important;
}
.content-placeholder-container .dt-content-container {
  position: relative;
}
.content-placeholder-container .dt-loading-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}
.content-placeholder-container .dt-loading-indicator .dt-filter-search,
.content-placeholder-container .dt-loading-indicator .dt-filter-select,
.content-placeholder-container .dt-loading-indicator .dt-pagination-length {
  height: 30px;
  border-radius: 4px;
}
.content-placeholder-container .dt-loading-indicator .table-thead-tr {
  display: flex;
  height: 17px;
  margin: 5px 10px 5px 10px;
  border-radius: 64px;
}
.content-placeholder-container .dt-loading-indicator .table-thead-tr .table-thead-th {
  width: 100%;
  height: 15px;
  border-radius: 64px;
}
.content-placeholder-container .dt-loading-indicator .table-tbody-tr {
  display: flex;
  position: relative;
  align-items: center;
  height: 50px;
}
.content-placeholder-container .dt-loading-indicator .table-tbody-tr::after {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  border-top: 1px solid #E0E0E0;
}
.content-placeholder-container .dt-loading-indicator .table-tbody-tr:first-child::after {
  display: none;
  border: none;
}
.content-placeholder-container .dt-loading-indicator .table-tbody-tr .dt-column-ico {
  width: 14px;
  height: 14px;
  border-radius: 64px;
}
.content-placeholder-container .dt-loading-indicator .table-tbody-tr .dt-column-txt {
  display: block;
  width: 100%;
  height: 14px;
  margin: 0 10px;
  border-radius: 64px;
}
.content-placeholder-container .dt-loading-indicator .dt-pagination-info-txt {
  height: 14px;
  border-radius: 64px;
}
/* Conent loader for datatable - Gerenciar Tickets */
.ticket-manager .dt-content-container {
  position: relative;
}
.ticket-manager .content-placeholder-container .dt-loading-indicator .table-thead-tr {
  display: flex;
  align-items: center;
  border-radius: 64px;
}
.ticket-manager .content-placeholder-container .dt-loading-indicator .table-thead-th {
  display: block;
  width: 100%;
  height: 15px;
  border-radius: 64px;
}
.ticket-manager .content-placeholder-container .dt-loading-indicator .table-tbody-tr {
  display: flex;
  position: relative;
  align-items: center;
  height: 69px;
}
.ticket-manager .content-placeholder-container .dt-loading-indicator .table-tbody-tr::after {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  width: calc(100% - 40px);
  margin-left: 40px;
  border-top: 1px solid #E0E0E0;
}
.ticket-manager .content-placeholder-container .dt-loading-indicator .table-tbody-tr:first-child::after {
  display: none;
  border: none;
}
.ticket-manager .content-placeholder-container .dt-loading-indicator .table-tbody-tr .dt-column-ico {
  width: 30px;
  height: 30px;
  border-radius: 64px;
}
.ticket-manager .content-placeholder-container .dt-loading-indicator .table-tbody-tr .dt-column-txt {
  display: block;
  width: 100%;
  height: 15px;
  margin: 0 10px;
  border-radius: 64px;
}
.ticket-manager .content-placeholder-container .dt-loading-indicator .table-tbody-tr .dt-column-txt .dt-primary-info-txt {
  height: 20px;
  margin-bottom: 10px;
}
.ticket-manager .content-placeholder-container .dt-loading-indicator .table-tbody-tr .dt-column-txt .dt-secondary-info-txt {
  height: 12px;
}
.ticket-manager .content-placeholder-container .dt-loading-indicator .table-tbody-tr .dt-column-txt .dt-primary-info-txt,
.ticket-manager .content-placeholder-container .dt-loading-indicator .table-tbody-tr .dt-column-txt .dt-secondary-info-txt {
  border-radius: 64px;
  margin-left: 10px;
  margin-right: 10px;
}
.ticket-manager .content-placeholder-container .btn-help {
  min-width: 157px;
  height: 30px;
  border: none;
  border-radius: 64px;
}
/* content-loader for dropdown task - Gerenciar Tickets */
.dropdown-task-list-placeholder > .heading {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
  padding: 0 15px;
}
.dropdown-task-list-placeholder > .heading > .icon {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  transform: none;
  border-radius: 64px;
  background: #E0E0E0;
}
.dropdown-task-list-placeholder .item {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0 15px 0 25px;
  border-top: 1px solid #E0E0E0;
}
.dropdown-task-list-placeholder .item:first-child {
  border-top: none;
}
.dropdown-task-list-placeholder .item > .icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 64px;
  margin-right: 10px;
  background: #E0E0E0;
  float: none;
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}
.dropdown-task-list-placeholder > .heading > .icon ~ span,
.dropdown-task-list-placeholder .item > .icon ~ span {
  display: inline-flex;
  width: 100%;
  height: 14px;
  border-radius: 64px;
  background: #E0E0E0;
}
/* Content loader for tables */
.content-placeholder-container .table-placeholder .table-thead-tr {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.content-placeholder-container .table-placeholder .table-thead-tr .table-thead-th {
  width: 100%;
  height: 15px;
  border-radius: 64px;
}
.content-placeholder-container .table-placeholder .table-tbody-tr {
  display: flex;
  align-items: center;
  flex-flow: column;
  border-top: 1px solid #E0E0E0;
}
.content-placeholder-container .table-placeholder .table-tbody-tr > .table-tbody-td {
  padding: 10px;
  min-height: 50px;
}
.content-placeholder-container .table-placeholder .table-tbody-tr:first-child {
  border: none;
}
.content-placeholder-container .sub-bs {
  border-bottom: 2px dotted #E0E0E0 !important;
}
.content-placeholder-container .table-placeholder .table-tbody-tr .table-wrap {
  flex: 1;
  height: 15px;
  border-radius: 64px;
  background-color: #E0E0E0;
}
/* Content loader for Dashboard */
.dashboard-placeholder {
  margin-top: 20px;
}
.dashboard-placeholder .btn-function-placeholder {
  display: inline-flex;
  align-items: center;
  height: 30px;
}
.dashboard-placeholder .btn-function-placeholder .icon {
  display: inline-block;
  width: 30px;
  min-height: 30px;
  border-radius: 62px;
}
.dashboard-placeholder .btn-function-placeholder .icon ~ .text {
  min-width: 100px;
  min-height: 16px;
  margin: 0px 0px 0px 10px;
  border-radius: 62px;
}
.dashboard-placeholder .cards-placeholder-container .card {
  min-height: 207px;
  border-radius: 10px !important;
}
.dashboard-placeholder .updated-at-placeholder {
  display: inline-block;
  min-width: 233px;
  min-height: 12px;
  margin-right: 10px;
  border-radius: 62px;
}
.dashboard-placeholder .relatorio-header figure.linear-background.figure.flex {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0px;
  background: #F4F4F4;
}
.dashboard-placeholder .relatorio-header figure.linear-background.figure.flex ~ .linear-background.flex.relatorio-txt {
  flex: 1;
  min-height: 14px;
  margin-left: 0.7rem;
  border-radius: 62px;
}
.dashboard-placeholder .linear-background.relatorio-content {
  flex: 1;
  min-height: 54px;
}
/* Content loader background and animation */
.linear-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #f4f4f4 10%, rgba(224, 224, 224, 0.5) 18%, #f4f4f4 33%);
  background-size: 1000px 69px;
  position: relative;
  overflow: hidden;
}
.fadein {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}
.fadein.ng-hide {
  opacity: 0;
}
.ng-hide {
  opacity: 0;
  transition: none 0;
}
.fadein.ng-enter {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
.fadein.ng-enter.ng-enter-active {
  opacity: 1;
}
.inline-fadein.ng-hide-remove {
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  display: inline-block !important;
  opacity: 0;
}
.inline-fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
