<div ng-show="dashboard.dados" class="artw-ticket-create fadein">
    <div class="bs no-margin no-border">
        <div class="relatorio-header flex-align-center flexbox-container margin-top-20 margin-bottom-20 margin-left-10 margin-right-10">
            <figure class="figure flex">
                <span class="icon fa fa-user"></span>
            </figure>
            <span class="flex relatorio-txt txt-semibold">Tickets em Andamento por Participante e Função</span>
            <a ng-href="#/relatorios" class="btn-voltar margin-left-auto"><i class="icon fa fa-arrow-left"></i> Voltar</a>
        </div>
        <div class="flexbox-container margin-top-20">
            <div class="flex flex-fluid">
                <label class="master-title-sub label-control txt-small txt-uppercase">Adicione as Funções</label>
                <div class="flexbox-container flexbox-group">
                    <div class="col-add-funcao flex flex-fluid">
                        <selectize ng-disabled="tfEndPeriod === ''" placeholder="Selecione as funções" config="funcoesConfig" options="funcoes" ng-model="cbFuncoes"></selectize>
                    </div>
                    <div class="col-add-funcao-btn flex">
                        <button ng-disabled="tfEndPeriod === ''" type="button" ng-click="add_funcao_selecionada()" class="btn-control btn-positive">
                            <span>Adicionar</span>
                        </button>
                    </div>
                </div>
            </div>        
        </div>
    </div>
    <div ng-class="{'bs border-color-primary': funcoes_selecionadas.length > 0}">
        <table class="artw-workgroup-table table-border table-hover">
            <tbody>
                <tr ng-repeat="funcao_selecionada in funcoes_selecionadas">
                    <td width="">
                        <div  class="d-flex flex-align-center">
                            <i class="icon fa fa-user"></i>
                            <span class="text-side margin-left-10">{{funcao_selecionada.nome}}</span>
                        </div>
                    </td>
                    <td width="50">
                        <div class="dropdown drop-to-left">
                            <a data-title="Opções" href="javascript:;" class="dropdown-toggle ui-tooltip top fa fa-ellipsis-h"></a>
                            <div class="dropdown-list">
                                <ul> 
                                    <li><a href="javascript:;" ng-click="excluir_funcao_selecionada($index)" class="txt-bold"><span class="icon fa fa-trash"></span>Excluir</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="funcoes_selecionadas.length > 0" class="btn-group txt-center margin-top-40" class="form-section clearfix">
        <a ng-href="#/relatorios" class="btn-control btn-call-to-action call-to-action-negative btn-icon btn-icon-left">
            <span><i class="icon fa fa-times"></i> Cancelar</span>
        </a>
        <button ng-click="gerar_relatorio()" type="button" class="btn-control btn-call-to-action call-to-action-alt btn-icon btn-icon-left">
            <span><i class="icon fa fa-check"></i> Gerar Relatório</span>
        </button>
    </div>
</div>