.ng-confirm {
    z-index: 9999999999 !important;
}

.ng-confirm .ng-confirm-box {
    overflow: unset !important;
}

.ng-confirm.ng-confirm-light .ng-confirm-box,
.ng-confirm.ng-confirm-white .ng-confirm-box {
    padding: 45px 0px 0 !important;
    box-shadow: @bs-modal !important;
    border-radius: 10px !important;
    border-color: @color-alt !important;
}

.ng-confirm .ng-confirm-bg {
    -webkit-transition: none;
    transition: opacity none;
}

.ng-confirm.ng-confirm-white .ng-confirm-bg {
    background-color: @color-white !important;
    opacity: .8 !important;
}

.ng-confirm .ng-confirm-box div.ng-confirm-content-pane {
    margin: 0px;
    height: 0px;
    display: inline-block;
    width: 100%;
    height: auto !important;
    position: relative;
    overflow: initial !important;
    padding: 0px 45px;
}

.ng-confirm .ng-confirm-box div.ng-confirm-content-pane .ng-confirm-content .bs {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid @color-alt;
}

/*.ng-confirm .ng-confirm-box .ng-confirm-buttons button {
    padding: 0px 22px 0px 3px !important;
}*/

.ng-confirm.ng-confirm-light .ng-confirm-box .ng-confirm-buttons button,
.ng-confirm.ng-confirm-white .ng-confirm-box .ng-confirm-buttons button {
    height: 30px;
    border-radius: 64px;
}

.ng-confirm .ng-confirm-box div.ng-confirm-closeIcon {
    position: absolute !important;
    display: inline-flex;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    font-size: 0px !important;
    line-height: normal !important;
    cursor: pointer !important;
    text-align: center !important;
    top: 12px !important;
    right: 16px !important;
    height: auto !important;
    width: auto !important;
    opacity: 1 !important;
}

.ng-confirm .ng-confirm-box div.ng-confirm-closeIcon .ng-confirm-btn-close {
    font-size: 20px !important;
    color: @color-primary !important;
    vertical-align: middle !important;
}

.ng-confirm .ng-confirm-box div.ng-confirm-closeIcon .ng-confirm-btn-close:hover {
    color: @color-highlight !important;
}

.ng-confirm .ng-confirm-box.ng-confirm-loading:before,
.ng-confirm .ng-confirm-box.ng-confirm-loading:after {
    display: none;
}

.ng-confirm .ng-confirm-box.ng-confirm-loading:after {
    opacity: 1 !important;
    border-bottom-color: @color-primary !important;
}

.ng-confirm .ng-confirm-box .line-wobble {
    position: absolute;
    width: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}