.artwork-container section {
    padding-bottom: 30px;
    margin: 10px 0px;
    border-bottom: 1px solid @color-alt;
}

.artwork-container section:last-child {
    border-bottom: none;
}

.artwork-container .artw-brand-table,
.artwork-container .artw-product-table,
.artwork-container .artw-package-table {
    margin-top: 20px;
}

.artwork-container .artw-no-item {
    display: flex;
    flex-flow: column;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: @color-alt;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 613px;
    height: ~"calc(100vh - 418px)";
}

.artwork-container .artw-no-item:before {
    display: block;
    font-family: 'FontAwesome';
    font-size: 150px;
    font-weight: 600;
    color: @color-off-white;
    line-height: 1;
    margin-bottom: 20px;
}

.artwork-container .artw-create-package-btn {
    margin: 0px 0px 0px auto;
}

.artwork-container .artw-package-table .txt-packing-version,
.artwork-container .artw-package-table .txt-in-creation {
    display: block;
}

.artwork-container .artw-package-table .txt-packing-version a {
    color: @color-default;
}

.artwork-container .artw-package-table .artw-add-item-sub {
    padding-left: 10px;
}

.artwork-container .artw-package-table .artw-add-item-sub .col-selecione-item {
    margin-left: 16px;
}

.artwork-container .artw-package-table .artw-add-item-sub .icon {
    color: @color-primary !important;
}

.artwork-container .artw-package-table .txt-package-name,
.artwork-container .artw-package-table .txt-package-item-name {
    cursor: pointer;
    display: flex;
    align-items: center;
    //min-height: 30px;    
}

.artwork-container .artw-package-table .txt-package-name {
    width: 100%;
    flex: 1;
}

.artwork-container .artw-package-table .txt-package-name .text-side-col,
.artwork-container .artw-package-table .txt-package-item-name .text-side-col {
    display: inline-block;
}

.artwork-container .artw-package-table .txt-package-name .ean-code {
    cursor: default;
}


.artwork-container .artw-package-table .txt-package-name span,
.artwork-container .artw-package-table .txt-package-name span .icon:before,
.artwork-container .artw-package-table .txt-item-name span strong,
.artwork-container .artw-package-table .txt-item-name span .icon:before {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.artwork-container .artw-package-table .txt-package-name:hover span,
.artwork-container .artw-package-table .txt-package-name:hover span .icon:before,
.artwork-container .artw-package-table .txt-item-name:hover span strong,
.artwork-container .artw-package-table .txt-item-name:hover span .icon:before {
    color: @color-highlight !important;
}

.artwork-container .artw-package-table .txt-package-name .text-side {
    display: flex;
    width: 100%;
}

.artwork-container .artw-package-table .txt-package-item-name .text-side {
    display: inline-flex;
}

.artwork-container .artw-package-table .txt-package-name .text-side,
.artwork-container .artw-package-table .txt-package-item-name .text-side {
    align-items: center;
}

.artwork-container .artw-package-table .txt-package-name > span {
    display: flex;
    width: 100%;
    flex: 1;
}

.artwork-container .artw-package-table .ng-toggle {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: -1;
    border: none;
    background: none;
}

.artwork-container .artw-package-table .table-sub,
.artwork-container .artw-package-table .table-sub * {
    -webkit-transition: none;
    transition: none;
}


.artwork-container .artw-package-table .btn-function.btn-in-progress .icon,
.artwork-container .artw-package-table .btn-function.btn-in-progress:hover .icon {
    color: @color-white;
    cursor: default;
    background: @color-primary;
    border-color: @color-primary;
}

.artw-register-item,
.artw-manage-workgroup {
    padding-bottom: 36px;
}

.artw-register-item h3,
.artw-files-upload h3,
.artw-share-item h3,
.artw-manage-workgroup h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px 0px 45px 0px;
}

.artw-register-item h6,
.artw-files-upload h6,
.artw-share-item h6,
.artw-manage-workgroup h6 {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 0px 5px 0px;
}

.artw-register-item .text-block,
.artw-files-upload .text-block,
.artw-share-item .text-block,
.artw-manage-workgroup .text-block {
    margin: 0px 0px 30px 0px;
}

.artw-register-item .text-block p,
.artw-files-upload .text-block p,
.artw-share-item .text-block p,
.artw-manage-workgroup .text-block p {
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0px 10px 0px;
}

.artw-register-item .text-block p:last-child,
.artw-files-upload .text-block p:last-child,
.artw-share-item .text-block p:last-child,
.artw-manage-workgroup .text-block p:last-child {
    margin: 0px;
}

.artw-register-item .btn-max-container,
.artw-manage-workgroup .btn-max-container {
    justify-content: center;
    margin: 0px -18px;
}

.artw-register-item .btn-max,
.artw-manage-workgroup .btn-max {
    /*width: 264px;*/
    padding: 0px 18px;
    flex: 1;
}

.artw-register-item .btn-max>a,
.artw-manage-workgroup .btn-max>a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.artw-register-item .btn-max-txt,
.artw-manage-workgroup .btn-max-txt {
    display: block;
    font-weight: 600;
    color: @color-default;
    text-align: center;
    margin: 0px;
}

.artw-register-item .btn-max .icon,
.artw-manage-workgroup .btn-max .icon {
    display: flex;
    font-size: 16px;
    color: @color-primary;
    text-align: center;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 230px;
    margin: 0px auto 10px auto;
    border-radius: 10px;
    border: 1px solid @color-primary;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.artw-register-item .btn-max .icon:before,
.artw-manage-workgroup .btn-max .icon:before {
    font-size: 75px;
}

.artw-register-item .btn-max>a:hover .icon,
.artw-manage-workgroup .btn-max>a:hover .icon {
    color: @color-white;
    background: @color-primary;
}

.artw-register-item .btn-max .icon .btn-max-icon-label,
.artw-manage-workgroup .btn-max .icon .btn-max-icon-label {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 35px;
}

.artw-register-item .btn-max .disabled .icon,
.artw-manage-workgroup .btn-max .disabled .icon {
    color: @color-alt;
    border: 1px solid @color-alt;
}

.artw-ticket-create .artw-client-code-col,
.artw-ticket-create .artw-project-name-col {
    width: 230px;
}

.artw-ticket-create .artw-additional-info-col {
    width: 690px;
}

.artw-ticket-create .artw-initial-info-col,
.artw-ticket-create .artw-instructions-col,
.artw-ticket-create .artw-attach-files-col {
    flex: 1;
    min-width: 0;
}

.artw-ticket-create .artw-instructions-col textarea[disabled] {
    color: @color-default !important;
}

.artw-ticket-create .artw-start-date-col {
    width: 230px;
}

.artw-ticket-create .artw-approval-date-col,
.artw-ticket-create .artw-closure-date-col {
    width: 230px;
}

.artw-ticket-create .add-instruction-col,
.artw-ticket-create .add-files-submit-col,
.artw-ticket-create .remove-instruction-col,
.artw-ticket-create .remove-files-submit-col {
    padding-left: 0px;
}

.artw-ticket-create .artw-attach-files-group {
    margin-top: 10px;
}

.artw-ticket-create .artw-attach-files-group:first-child {
    margin: 0px;
}

.artw-ticket-create .artw-attach-files .files-control .artw-attach-files-col.readonly .files-control-fake {
    color: @color-alt;
    border-color: @color-alt;
    background: @color-off-white;
}

.artw-ticket-create .date-control ::-webkit-input-placeholder {
    opacity: 1;
    color: @color-primary;
}

.artw-ticket-create .date-control ::-moz-placeholder {
    opacity: 1;
    color: @color-primary;
}

.artw-ticket-create .date-control :-ms-input-placeholder {
    opacity: 1;
    color: @color-primary;
}

.artw-ticket-create .date-control :-moz-placeholder {
    opacity: 1;
    color: @color-primary;
}

.artw-ticket-create .date-control:hover ::-webkit-input-placeholder {
    color: @color-highlight;
}

.artw-ticket-create .date-control:hover ::-moz-placeholder {
    color: @color-highlight;
}

.artw-ticket-create .date-control:hover :-ms-input-placeholder {
    color: @color-highlight;
}

.artw-ticket-create .date-control:hover :-moz-placeholder {
    color: @color-highlight;
}

.artw-ticket-create .date-control input[disabled]::-webkit-input-placeholder {
    pointer-events: none;
    opacity: 1;
    color: @color-alt;
}

.artw-ticket-create .date-control input[disabled]::-moz-placeholder {
    pointer-events: none;
    opacity: 1;
    color: @color-alt;
}

.artw-ticket-create .date-control input[disabled]:-ms-input-placeholder {
    pointer-events: none;
    opacity: 1;
    color: @color-alt;
}

.artw-ticket-create .date-control input[disabled]:-moz-placeholder {
    pointer-events: none;
    opacity: 1;
    color: @color-alt;
}



.artw-ticket-create .date-control {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    z-index: 3;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background: @color-white;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.artw-ticket-create .date-control>.input-control {
    border-color: @color-primary;
}

.artw-ticket-create .date-control>input {
    position: absolute;
    font-weight: 400;
    cursor: pointer;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    padding-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.artw-ticket-create .date-control>input:focus {
    box-shadow: @bs-datepicker-focus;
}

/*.artw-ticket-create .date-control>input[readonly] {
    color: inherit !important;
    pointer-events: unset;
    border: none !important;
    background: none !important;
}*/

.artw-ticket-create .date-control>.addon {
    position: absolute;
    font-size: 14px;
    color: @color-primary;
    line-height: 16px;
    top: 6px;
    right: 10px;
    z-index: 1;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.artw-ticket-create .date-control.disabled,
.artw-ticket-create .date-control.readonly {
    pointer-events: none;
}

.artw-ticket-create .date-control.disabled>input {
    color: @color-alt !important;
    border-color: @color-alt !important;
    background: @color-off-white !important;
}

.artw-ticket-create .date-control>input[disabled] {
    border-color: @color-alt !important;
}

.artw-ticket-create .date-control.readonly>.addon,
.artw-ticket-create .date-control>input[disabled]~.addon {
    color: @color-alt;
}

.artw-ticket-create .date-control:hover {
    background: @color-off-white;
}

.artw-ticket-create .date-control:hover>input {
    border-color: @color-highlight;
}

.artw-ticket-create .date-control:hover>.addon {
    color: @color-highlight;
}

.artw-members-group {
    padding-left: 0px;
    padding-right: 0px;
}

.artw-members-group .col-select-member {
    -webkit-box-flex: 2.15;
    -ms-flex: 2.15;
    flex: 2.15;
    width: 53.22%;
}

.artw-members-group .col-select-position {
    /* -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; */
    width: 240px;
}

.artw-member-edit .col-select-member {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 53.32%;
}

.artw-member-edit .col-select-positon {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 23.48%;
}

.artw-member-edit .col-btn-group {
    width: auto;
}

.artw-member-edit-sub {
    padding: 0px;
    margin: 0px -7px;
}

.artw-member-edit-sub .col-select-member {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 48.2%;
}

.artw-member-edit-sub .col-select-position {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 25.48%;
}

.artw-members-group .col-add-member,
.artw-member-edit .col-btn-group,
.artw-member-edit-sub .col-btn-group {
    width: auto;
}

.artw-members-group .col-add-member button,
.artw-member-edit-sub .col-member-edit-save button,
.artw-member-edit-sub .col-member-edit-cancel button {
    width: 100%;
}

.artw-membership-table .icon {
    font-size: 16px;
    text-align: center;
    line-height: 0px;
    width: 23px;
}

.artw-membership-table .icon.has-teamwork {
    font-size: 1.35em
}

.artw-package-create-container .master-title,
.artw-package-edit-container .master-title {
    font-size: 18px;
}

.artw-package-create-container .box-package-info,
.artw-package-edit-container .box-package-info {
    z-index: 10;
    min-height: 106px;
    padding: 20px;
    background: @color-white;
}

.artw-package-create-container .box-package-info h3 strong span,
.artw-package-edit-container .box-package-info h3 strong span {
    font-size: 16px;
    font-weight: 700;
}

.artw-package-create-container .box-package-info-sticky,
.artw-package-edit-container .box-package-info-sticky {
    box-shadow: @bs-box-package-info;
}

.artw-downloaded-info {
    margin-top: 15px;
    margin-left: -44px;
}

.artw-downloaded-info>.icon {
    float: left;
    font-size: 22px;
    pointer-events: none;
    margin-right: 12px;
}

.artw-downloaded-info>.artw-has-downloaded,
.artw-downloaded-info>.access-link-expires {
    display: block;
}

.artw-downloaded-info>.artw-has-downloaded {
    line-height: 24px;
}

.artw-downloaded-info>.access-link-expires {
    margin-left: 34px;
}

.artw-instructions-cycle .col-instruction-type {
    min-width: 272px;
    width: 14.759%;
    margin-left: 0px;
    margin-right: 15px;
}

.artw-instructions-cycle .col-instruction-description {
    min-width: 623px;
    width: 54.26%;
    margin-left: 15px;
    margin-right: 0px;
}

.artw-instructions-cycle .col-instruction-status {
    width: 17.7799%;
}

.artw-instructions-cycle .col-instruction-status .reviewer-info {
    margin-top: 8px;
}

.artw-instructions-cycle .col-instruction-status .reviewer-info .reviewer-name,
.artw-instructions-cycle .col-instruction-status .reviewer-info .reviewer-date {
    display: block;
    font-size: 12px;
}

.artw-instructions-cycle .col-instruction-type>h4 {
    margin: 0px 0px 10px 0px;
}

.artw-instructions-cycle .col-instruction-type>label {
    margin-bottom: 10px;
}

.artw-instructions-cycle .col-instruction-type {
    min-width: 272px;
    width: 14.759%;
    margin-left: 0px;
    margin-right: 15px;
}

.artw-instructions-cycle .col-instruction-type .rq {
    display: block;
    font-size: 12px;
}

.artw-instructions-cycle .col-instruction-description .user-request-title {
    margin-bottom: 10px;
}

.artw-instructions-cycle .col-instruction-description .comment-text-block>p {
    margin: 0px;
}

.artw-instructions-cycle .col-instruction-description .chat-comment-container {
    margin-top: 15px;
}

.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-box {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid @color-alt;
}

.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list>li,
.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list>li>ul>li {
    display: block;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid @color-alt;
}

.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list>li>ul {
    margin-left: 30px;
}

.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body>.icon {
    float: left;
    font-size: 20px;
    color: @color-primary;
}

.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body>.icon.reply {
    transform: rotateX(0deg) rotateY(180deg);
}

.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body h5 {
    font-weight: 500;
    color: @color-primary;
}

.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body .chat-comment-by {
    margin-bottom: 3px;
}

.artw-instructions-cycle .col-instruction-description .user-request-title {
    margin-bottom: 10px;
}

.artw-instructions-cycle .col-instruction-description .comment-text-block .created-on,
.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body .created-on {
    font-size: 12px;
}

.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body h5,
.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body p,
.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list>li>.chat-comment-body~button,
.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list>li>.chat-comment-body~.chat-comment-box {
    margin: 0px 0px 0px 30px
}

.artw-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body p * {
    font-weight: inherit;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.artw-membership-history .artw-membership-table table tbody tr td {
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 18px;
}

.artw-versions-history .dataTables_wrapper .dataTables_filter {
    display: block;
}

.artw-versions-history .dataTables_wrapper table.dataTable > thead {
    display: table-header-group;
}

.artw-versions-history table.artw-versions-table {
    height: 1px;
}

.artw-versions-history table.artw-versions-table tbody tr td {
    position: relative;
    padding: 0px 10px !important;
}

.artw-versions-history table.artw-versions-table tbody tr td a {
    display: block;
    line-height: normal;
    margin: 0px 0px !important;
    padding: 16px 0px !important;
}

.artw-versions-history table.artw-versions-table tbody tr td a.txt-closing-date,
.artw-versions-history table.artw-versions-table tbody tr td a.txt-version, 
.artw-versions-history table.artw-versions-table tbody tr td a.txt-closing-date > .text-side,
.artw-versions-history table.artw-versions-table tbody tr td a.txt-version > .text-side {
    height: 100%;
}

.artw-versions-history table.artw-versions-table tbody tr td a.txt-closing-date > .text-side,
.artw-versions-history table.artw-versions-table tbody tr td a.txt-version > .text-side {
    display: inline-block;
}

.artw-versions-history table.artw-versions-table tbody tr td a.txt-closing-date,
.artw-versions-history table.artw-versions-table tbody tr td a.txt-version {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px !important;
    padding: 16px 10px !important;
}

.artw-versions-history table.artw-versions-table tbody tr:hover td a,
.artw-versions-history table.artw-versions-table tbody tr:hover td .icon {
    color: @color-highlight;
}

.artw-workgroup-table tbody td .icon,
.artw-shared-item-table tbody td .icon {
    font-size: 16px;
}

.artw-workgroup-table tbody td .text-side,
.artw-shared-item-table tbody td .text-side {
    margin-left: 25px;
}

.artw-workgroup-table>tbody>tr>td>a {
    display: block;
    position: static;
    line-height: 20px;
    margin: -15px 0px;
    padding: 15px 0px;
}

.artw-workgroup-table tbody td a .text-side {
    color: @color-default;
}

.artw-workgroup-table tbody tr:hover,
.artw-shared-item-table tbody tr:hover {
    background: @color-off-white;
}

.artw-workgroup-table tbody tr:hover .icon,
.artw-workgroup-table tbody tr:hover .text-side {
    color: @color-highlight;
}

.artw-no-workgroup {
    font-size: 14px;
    color: @color-alt;
    text-align: center;
}

.artw-no-workgroup>.icon {
    display: block;
    font-size: 150px;
    color: @color-off-white;
    margin: 0px auto 10px auto;
}

.package-sharing-add {
    max-width: calc(100% - 14.626%);
}

@media screen and (min-width: 1400px) {
    .artw-instructions-cycle .col-instruction-description {
        min-width: 612px;
        flex: 1;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1399px) {
    .artw-instructions-cycle .col-instruction-description {
        /*word-break: break-all;*/
        min-width: 612px;
        flex: 1;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .artw-instructions-cycle .col-instruction-description {
        /*word-break: break-all;*/
        min-width: 612px;
        flex: 1;
    }
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .workflow-instructions-cycle .col-instruction-description {
        /*word-break: break-all;*/
        min-width: 612px;
        flex: 1;
    }
}