.dashboard-container .card {
    min-width: none !important;
    border-radius: 0 !important;
    border: none !important;
}

.dashboard-container .card .card-content {
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    //border: 1px solid @color-alt;
    background: @color-off-white;
}

.dashboard-container .card .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.dashboard-container .card .card-header .date {
    display: inline-flex;
    font-size: 12px;
    align-items: center;
    margin-left: auto;
    padding-left: 20px;
}

.dashboard-container .card .card-header .date:before {
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 16px;
    color: @color-primary;
    content: '\f073';
    margin-right: 10px;
}

.dashboard-container .card .card-body {
    display: flex;
    //align-items: center;
    //justify-content: center;
}

.dashboard-container .card .card-body .icon {
    display: inline-flex;
    align-items: center;
    color: @color-primary;
    margin-right: 30px;
}

.dashboard-container .card .card-body .icon.icon-40px-large {
    font-size: 40px;
}

.dashboard-container .card .card-body .flex-indicator-1x {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
}

.dashboard-container .card .card-body .flex-details-primary,
.dashboard-container .card .card-body .flex-details-secondary {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    padding: 20px;
    border-radius: 20px;
}

.dashboard-container .card .card-body .flex-details-primary {
    background-color: @color-primary-lighter;
}

.dashboard-container .card .card-body .f-min-height-110 {
    min-height: 110px;
}

.dashboard-container .card .card-body .f-min-height {
    min-height: 125px;
} 

.dashboard-container .card .card-body .detail-block {
    display: flex;
    flex-direction: column;
}

.dashboard-container .card .card-body .detail-block .detail-info {
    display: flex;
    align-items: center;
    line-height: 20px;
    min-height: 20px;
}

.dashboard-container .card .card-body .detail-block .detail-info small,
.dashboard-container .card .card-body .detail-block .detail-info strong {
    display: inline-flex;
}

.dashboard-container .relatorio-header .figure {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid @color-primary;
    background: @color-off-white;
}

.dashboard-container .relatorio-header .figure .icon {
    font-size: 20px;
    color: @color-primary;
}

.dashboard-container .relatorio-header .btn-voltar {
    font-size: 12px;
    font-weight: 700;
    color: @color-primary;
    text-decoration: none;
}

.dashboard-container .relatorio-header .btn-voltar .icon {
    font-size: 16px;
    font-weight: 100;
    margin-right: 10px;
}

.dashboard-container .relatorio-header .btn-voltar:hover,
.dashboard-container .relatorio-header .btn-voltar:hover .icon {
    color: @color-highlight;
}

.dashboard-container .start-period-col,
.dashboard-container .end-period-col {
    flex: none;
    width: 230px;
}

.dashboard-container .current-month-no-data {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.dashboard-container .current-month-no-data .current-month-no-data-icon {
    font-size: 70px;
    margin-bottom: 10px;
}

.dashboard-container .current-month-no-data .current-month-no-data-icon {
    color: @color-unlit;
}

.dashboard-container .current-month-no-data .current-month-no-data-txt {
    color: @color-alt;
}