.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    z-index: 99999999;
    background: @color-header;
}

.header:before {
    display: block;
    position: absolute;
    content: '';
    z-index: 4;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    box-shadow: @bs-header;
}

.header .header-in {
    position: relative;
    height: 60px;
    background: @color-header;
}

.header .header-brand {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 50%;
    z-index: 6;
    width: @header-logo-width;
    height: 60px;
    transform: translateX(-50%);
    background: url('@{header-logo}') center center no-repeat;
    background-size: @header-logo-img-size;
}

.header .header-brand img {
    width: 103px;
    height: 40px;
    vertical-align: middle;
    margin-left: 0px;
    border: none;
}

.header .menu-btn {
    float: left;
    position: relative;
    display: block;
    color: @color-white;
    cursor: pointer;
    text-decoration: none;
    z-index: 4;
}

.header .user-account {
    float: right;
    display: block;
    position: relative;
    color: @color-white;
    cursor: pointer;
    z-index: 4;
    padding: 13px 0px;
}

.header .user-account .icon {
    float: right;
    display: block;
    font-size: 22px;
    line-height: 34px;
    margin-left: 10px;
}

.header .user-account-nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    width: 304px;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.header .user-account-nav:before {
    display: block;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.70;
    background: @color-default;
}

.header .user-account-nav h4 {
    position: relative;
    font-size: 14px;
    color: @color-white;
    margin: 0px;
    padding: 15px 0px;
}

.header .user-account-nav strong,
.header .user-account-nav small {
    display: block;
    color: @color-white;
    line-height: normal;
    margin-left: 54px;
}

.header .user-account-nav .icon {
    position: absolute;
    font-size: 25px;
    text-align: center;
    top: 50%;
    width: 45px;
    height: 25px;
    margin-top: -12.5px;
}

.header .user-account-nav>ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.header .user-account-nav>ul>li {
    display: block;
    position: relative;
}

.header .user-account-nav>ul>li>a>span {
    margin-left: 35px;
}

.header .user-account-nav>ul>li>a {
    display: block;
    font-size: 12px;
    text-decoration: none;
    color: @color-white;
    padding: 30px 15px;
    -webkit-transition: all .15s linear !important;
    transition: all .15s linear !important;
}

.header .user-account-nav>ul>li:last-child>a {
    padding: 15px;
}

.header .user-account-nav>ul>li>a:hover {
    color: @color-highlight;
}

.header .user-account-nav>.user-account-list>li {
    margin: 0px 0px;
}

.header .user-account-nav>.user-account-list>li>a,
.header .user-account-nav>.user-account-list>li:last-child>a {
    display: flex;
    align-items: center;
    padding: 0px;    
}

.header .user-account-nav>.user-account-list>li>a>.icon {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 45px;
    height: 60px;
    margin: 0px;
}

.header .user-account-nav>.user-account-list>li>a>span {
    margin-left: 10px;
}

.header .menu-btn:before {
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 22px;
    content: '\f0c9';
    line-height: 20px;
    padding: 20px 0px;
}

.header .menu-btn.open:before {
    content: '\f00d';
}

.header .collapsible {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    overflow: auto;
    height: ~"calc(100% - 60px)";
    margin-top: 60px;

}

.header .header-in,
.header .collapsible-in {
    position: relative;
    margin: 0 auto;
}

.header .collapsible ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px;
    padding: 0px;
    list-style: none;
}

.header .collapsible ul>li {
    position: relative;
    flex: 1;
    margin: 20px 10px 0px 10px;
}

.header .collapsible ul>li {
    position: relative;
    overflow: hidden;
}

.header .collapsible ul>li:before {
    display: block;
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.70;
    border-radius: 10px;
    background: @color-default;
}

.header .collapsible ul>li>ul {
    position: relative;
    color: @color-white;
    text-align: center;
    margin: 0px;
    border-radius: 10px;
    overflow: hidden;
}

.header .collapsible ul>li>ul>li>ul>li {
    margin: 0px;
    padding: 0px;
}

.header .collapsible ul>li>ul>li>ul>li:before {
    background: none;
}

.header .collapsible ul>li>ul>li:before,
.header .collapsible ul>li>ul>li>ul:before {
    background: none;
}

.header .collapsible .nav-column {
    padding: 0px 0px 30px 0px;
}

.header .collapsible .nav-column-item {
    padding: 0px;
}

.header .collapsible .nav-column-item .icon {
    margin-bottom: 7px;
}

.header .collapsible ul li ul li ul,
.header .collapsible ul li ul li ul li {
    display: block;
}

.header .collapsible ul>li>ul>li>ul a {
    padding: 10px;
}

.header .collapsible ul li a {
    display: flex;
    position: relative;
    flex-flow: column;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    color: @color-white;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    padding: 30px;
    border-radius: 10px;
    -webkit-transition: all .2s linear !important;
    transition: all .2s linear !important;
}

.header .collapsible ul li a:hover {
    color: @color-highlight;
}

.header .collapsible ul>li>ul>li>ul a:hover,
.header .collapsible ul>li>ul>li>a.nav-column-item:hover {
    color: @color-highlight;
    background: none;
}

.header .collapsible ul>li>ul>li.nav-column:hover .icon {
    color: @color-highlight;
}

.header .collapsible ul li>.icon,
.header .collapsible ul li a>.icon {
    display: block;
    margin: 0px 0px 10px 0px;
}

.header .collapsible ul li>.icon .fa-4x,
.header .collapsible ul li a>.icon .fa-4x {
    font-size: 42px;
}

.header .collapsible ul li>.icon .fa-3x,
.header .collapsible ul li a>.icon .fa-3x {
    font-size: 24px;
}

.header .collapsible ul li>.icon .fa-2x,
.header .collapsible ul li a>.icon .fa-2x {
    font-size: 18px;
}

.header .collapsible ul li>.icon .fa-1x,
.header .collapsible ul li a>.icon .fa-1x {
    font-size: 14px;
}

.header .collapsed {
    display: block;
}

.header .collapsed:before {
    display: block;
    position: fixed;
    content: '';
    z-index: -1;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    opacity: 0;
    background: @color-white;
}