.manager-container {
    margin-top: 17px;
}

.manager-container .dataTables_wrapper {
    margin-top: 30px;
}

.manager-container .manager-table tbody tr td {
    padding: 10px !important;
}

.manager-container .manager-table tbody tr td a:hover .icon {
    color: @color-highlight;
}

.manager-container .profiles-table.table-hover tr:hover {
    background: @color-off-white;
}

.manager-container .profiles-table tbody tr:hover .icon,
.manager-container .profiles-table tbody tr:hover .text-side {
    color: @color-highlight;
}