.brand-list .listing ul,
.product-list .listing ul,
.package-list .listing ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.skus {
    margin-top: 10px;
}

.skus:first-child {
    margin-top: 0px;
}

.package-list .listing ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.brand-list .listing li,
.product-list .listing li {
    min-width: 16.666%;
    flex-basis: 16.666%;
}

.product-list.favorites .listing {
    margin: 8px -0.7rem 0 -0.7rem;
}

.product-list .listing li>.box-image>.box-image-thumb-redim {
    display: none;
}


.brand-list .listing li > .box-image > .box-image-thumb-redim .no-image-placeholder, 
.product-list .listing li > .box-image > .box-image-thumb-redim .no-image-placeholder,
.package-list .listing li > .box-image .no-image-placeholder,
.modal-sku .imagens-sku-down .unitaria-img-sku .unitaria-img-sku-interno > a > .no-image-placeholder {
    display: inline-flex;
    position: absolute;
    font-size: 30px;
    color: @color-unlit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    opacity: .5;
}

.modal-sku .imagens-sku-down .unitaria-img-sku .unitaria-img-sku-interno > a > .no-image-placeholder {
    align-items: flex-end;
}

.modal-sku .imagens-sku-down .unitaria-img-sku .unitaria-img-sku-interno > a > .no-image-placeholder:before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background: @color-off-white;
}

.brand-list .listing li > .box-image > .box-image-thumb-redim .no-image-placeholder:before, 
.product-list .listing li > .box-image > .box-image-thumb-redim .no-image-placeholder:before {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
}

.brand-list .listing li > .box-image > .box-image-thumb-redim.no-image-thumb-redim, 
.product-list .listing li > .box-image > .box-image-thumb-redim.no-image-thumb-redim {
    padding-top: 79.35%;
}

/*.brand-list .listing li > .box-image > .box-image-thumb-redim .no-image-placeholder > .slash, 
.product-list .listing li > .box-image > .box-image-thumb-redim .no-image-placeholder > .slash,
.package-list .listing li > .box-image .no-image-placeholder::after,
.modal-sku .imagens-sku-down .unitaria-img-sku .unitaria-img-sku-interno > a > .no-image-placeholder::after {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 7px;
    height: 50px;
    transform: translate(-50%, -50%) rotate(315deg);
    background: @color-unlit;
    border-radius: 5px;
}

.package-list .listing li > .box-image .no-image-placeholder::after,
.modal-sku .imagens-sku-down .unitaria-img-sku .unitaria-img-sku-interno > a > .no-image-placeholder::after {
    border: 2px solid @color-white;
}*/

.package-list .listing li > .box-image .no-image-placeholder {
    align-items: flex-end;
}

.package-list .listing li > .box-image .no-image-placeholder:before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background: @color-off-white;
}

.brand-list .listing li>.box-image,
.product-list .listing li>.box-image {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: 0.7rem;
    padding: 0.90736rem 0;
    border-radius: 5px;
    overflow: hidden;
}

.brand-list .listing li>.box-image>a,
.product-list .listing li>.box-image>a,
.package-list .listing li>.box-image>a {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.brand-list .listing li>.box-image>.box-image-thumb-redim,
.product-list .listing li>.box-image>.box-image-thumb-redim {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-list .listing li>.box-image>.box-image-thumb-redim>.box-image-logo,
.product-list .listing li>.box-image>.box-image-thumb-redim>.box-image-logo,
.product-list.favorites .listing li>.box-image>.box-image-thumb-redim>.box-image-logo {
    display: inline-block;
    opacity: 1;
    width: 11.079vw;
    height: 11.079vw;
    object-fit: scale-down;
    border: none;
}


.brand-list .listing li>.box-image>.box-image-thumb-redim>.box-image-logo[alt]:after,
.product-list .listing li>.box-image>.box-image-thumb-redim>.box-image-logo[alt]:after,
.package-list .listing li>.box-image>.sku-thumb[alt]:after,
.product-list.favorites .listing li>.box-image>.box-image-thumb-redim>.box-image-logo[alt]:after,
.modal-sku .imagens-sku-down .unitaria-img-sku .unitaria-img-sku-interno > a > .modal-sku-img-redim[alt]:after {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-color: @color-white;
    align-items: center;
    justify-content: center;
    content: '';
}

.product-list.favorites .listing li:hover>.box-image>a {
    opacity: 0.8;
    background: @color-primary;
}

.product-list.favorites .listing li>.box-image>a.btn-delete {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    opacity: 1;
    background: none;
    transform: translate(-50%, -50%);
}

.product-list.favorites .listing li:hover>.box-image>a.btn-delete {
    display: inline-block;
}

.product-list.favorites .listing li>.box-image>.btn-delete>.icon {
    color: @color-white;
    border: 1px solid @color-white;
}

.product-list.favorites .listing li>.box-image>.btn-delete:hover>.icon {
    background: @color-highlight;
    border-color: @color-highlight;
}

.product-list.favorites .listing li>.box-image>.btn-delete:hover>.icon:before {
    color: @color-white;
}

.brand-list .listing li:hover>.box-image,
.product-list .listing li:hover>.box-image {
    transform: scale(1.05);
    box-shadow: @bs-outline-primary;
}

.product-list .listing li>span.product-name,
.package-list .listing li>span.package-name {
    margin: -5px 0px 0px 0px;
}

.product-list .listing li>span.product-name,
.product-list .listing li>span.product-name>a,
.package-list .listing li>span.package-name,
.package-list .listing li>span.package-name>a {
    display: block;
    text-align: center;
}

.product-list .listing li>span.product-name>a,
.package-list .listing li>span.package-name>a {
    color: @color-default;
    text-decoration: none;
    margin: 0 0.7rem;
    padding: 6px 0px;
}

.product-list .listing li>span.product-name>a:hover,
.product-list .listing li:hover>span.product-name>a,
.package-list .listing li>span.package-name>a:hover,
.package-list .listing li:hover>span.package-name>a {
    color: @color-primary;
}

.package-list .listing li>span.package-name>a>small.txt-expired {
    display: block;
    margin-top: 5px;
}

.package-list .listing {
    margin: 0 0.7rem;
}

.package-list .listing .skus:last-child {
    margin-bottom: 0px;
}

.package-list .listing li {
    text-align: center;
    min-width: 19.999%;
    flex-basis: 19.999%;
    margin-bottom: 20px;
}

.package-list .listing li>.box-image {
    position: relative;
    width: 150px;
    height: 200px;
    margin: 0 auto 20px auto;
}

.package-list .listing li>.box-image>.sku-thumb {
    display: inline-block;
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    bottom: 0px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: scale-down;
    transform: translateX(-50%);
}

.package-list .listing li:hover>.box-image>img {
    -webkit-filter: @ds-primary;
    filter: @ds-primary;
}

.modal-sku .nome-sku-box a {
    text-decoration: none;
}

.modal-sku {
    position: relative;
    margin-top: -22px;
}

.modal-sku .modal-sku-title {
    text-align: left;
    margin: 0px 0px 60px 0px;
}

.modal-sku .modal-sku-title img {
    display: inline-block;
    width: 90px !important;
    height: 90px !important;
    margin: 0px;
    margin-right: 30px;
}

.modal-sku .modal-sku-title h1 {
    font-size: 18px;
    font-weight: 700;
    color: @color-default;
    letter-spacing: normal;
    margin: 0px;
}

.modal-sku .modal-sku-title h1 span {
    display: inline-block;
}

.modal-sku .modal-sku-img-redim {
    display: block;
    position: absolute;
    /*max-width: initial !important;*/
    max-width: 100% !important;
    height: auto;
    max-height: 100%;
    filter: blur(0px);
    /*height: 200px !important;*/
    margin: 0 auto;
    z-index: 0;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}

.modal-sku .imagens-sku-down .unitaria-img-sku .unitaria-btn-sku,
.modal-sku .imagens-sku-down .unitaria-img-sku .btn-view {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    margin: 0px 10px;
}

.modal-sku .imagens-sku-down .unitaria-img-sku .unitaria-btn-sku a {
    color: @color-primary;
    text-decoration: none;
}

.modal-sku .imagens-sku-down .unitaria-img-sku .btn-high-res:hover,
.modal-sku .imagens-sku-down .unitaria-img-sku .btn-high-res:hover a {
    color: @color-primary;
}

.modal-sku .imagens-sku-down .unitaria-img-sku .btn-high-res:hover,
.modal-sku .imagens-sku-down .unitaria-img-sku .btn-high-res:hover a {
    color: @color-highlight;
}

.modal-sku .imagens-sku-down .unitaria-img-sku .unitaria-img-sku-interno {
    position: relative;
    margin-bottom: 10px;
}

.modal-sku .imagens-sku-down .unitaria-img-sku .unitaria-img-sku-interno>a {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 200px !important;
}

.modal-sku .imagens-sku-down .unitaria-img-sku .btn-view a {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
}

.modal-sku .imagens-sku-down .unitaria-img-sku .btn-view .icon {
    margin-bottom: 0px;
}

.modal-sku .unitaria-img-sku-interno:hover .modal-sku-img-redim {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: @ds-primary;
    filter: @ds-primary;
}

.modal-sku .unitaria-img-sku-interno:hover .nome-sku-box p a {
    color: @color-primary;
}

.modal-sku .modal-sku-hide {
    clear: both;
    font-size: 18px;
    font-weight: 500;
}

.modal-sku .imagens-sku-down {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}

.modal-sku .imagens-sku-down .unitaria-img-sku {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    cursor: pointer;
    margin: 0px 15px 10px 15px;
    width: 174px;
}

.modal-sku .imagens-sku-down .unitaria-img-sku .nome-sku-box {
    margin-bottom: 5px;
}

.modal-sku .imagens-sku-down .unitaria-img-sku p {
    font-size: 14px;
    margin: 10px 0px 0px 0px;
    vertical-align: middle;
}

.modal-sku .imagens-sku-down .unitaria-img-sku p a {
    font-weight: 700;
    color: @color-default;
}

.modal-sku .imagens-sku-down .unitaria-img-sku p small {
    font-weight: 400;
}

.modal-sku .imagens-sku-down .unitaria-img-sku span {
    line-height: 30px;
    font-size: 16px;
    color: @color-primary;
}

@media screen and (min-width: 1400px) {
    .brand-list .listing li>.box-image>.box-image-thumb-redim>.box-image-logo,
    .product-list .listing li>.box-image>.box-image-thumb-redim>.box-image-logo,
    .product-list.favorites .listing li>.box-image>.box-image-thumb-redim>.box-image-logo {
        width: 155px;
        height: 155px;
    }

    .brand-list .listing li > .box-image > .box-image-thumb-redim.no-image-thumb-redim, 
    .product-list .listing li > .box-image > .box-image-thumb-redim.no-image-thumb-redim {
        padding-top: 0;
        width: 155px;
        height: 155px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1399px) {
    .brand-list .listing li>.box-image>.box-image-thumb-redim>.box-image-logo,
    .product-list .listing li>.box-image>.box-image-thumb-redim>.box-image-logo,
    .product-list.favorites .listing li>.box-image>.box-image-thumb-redim>.box-image-logo {
        width: 11.176vw;
        height: 11.176vw;
    }

    .brand-list .listing li > .box-image > .box-image-thumb-redim.no-image-thumb-redim, 
    .product-list .listing li > .box-image > .box-image-thumb-redim.no-image-thumb-redim {
        padding-top: 0;
        width: 11.176vw;
        height: 11.176vw;
    }
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .brand-list .listing li>.box-image>.box-image-thumb-redim>.box-image-logo,
    .product-list .listing li>.box-image>.box-image-thumb-redim>.box-image-logo,
    .product-list.favorites .listing li>.box-image>.box-image-thumb-redim>.box-image-logo {
        width: 113px;
        height: 113px;
    }

    .brand-list .listing li > .box-image > .box-image-thumb-redim.no-image-thumb-redim, 
    .product-list .listing li > .box-image > .box-image-thumb-redim.no-image-thumb-redim {
        padding-top: 0;
        width: 113px;
        height: 113px;
    }
}