.techdraw-container section {
    padding-bottom: 30px;
    margin: 10px 0px;
    border-bottom: 1px solid @color-alt;
}

.techdraw-container section:last-child {
    border-bottom: none;
}

.techdraw-container .techdraw-table,
.techdraw-container .techdraw-package-table {
    margin-top: 20px;
}

.techdraw-container .techdraw-no-item {
    display: flex;
    flex-flow: column;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: @color-alt;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 325px);
}

.techdraw-container .techdraw-no-item:before {
    display: block;
    font-family: 'FontAwesome';
    font-size: 150px;
    font-weight: 600;
    color: @color-off-white;
    line-height: normal;
    margin-bottom: 20px;
}

.techdraw-container .techdraw-create-btn {
    margin-left: auto;
}


.techdraw-container .techdraw-package-table .ng-toggle {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: -1;
    border: none;
    background: none;
}

.techdraw-container .techdraw-package-table .txt-package-name,
.techdraw-container .techdraw-package-table .txt-package-item-name {
    cursor: pointer;
    display: flex;
    align-items: center;
    //min-height: 30px;    
}

.techdraw-container .techdraw-package-table .txt-package-name:hover span, 
.techdraw-container .techdraw-package-table .txt-package-name:hover span .icon:before, 
.techdraw-container .techdraw-package-table .txt-item-name:hover span strong, 
.techdraw-container .techdraw-package-table .txt-item-name:hover span .icon:before {
    color: @color-highlight !important;
}

.techdraw-container .techdraw-package-table .table-sub,
.techdraw-container .techdraw-package-table .table-sub * {
    -webkit-transition: none;
    transition: none;
}

.techdraw-container .techdraw-package-table .techdraw-add-item-sub {
    padding-left: 10px;
}

.techdraw-container .techdraw-package-table .techdraw-add-item-sub .col-selecione-item {
    margin-left: 16px;
}

.techdraw-container .techdraw-package-table .techdraw-add-item-sub .icon {
    color: @color-primary !important;
}

.techdraw-container .panel.box-package-info-sticky {
    z-index: 10;
    box-shadow: @bs-box-package-info;
}