.workflow-container section {
    padding-bottom: 30px;
    margin: 10px 0px;
    border-bottom: 1px solid @color-alt;
}

.workflow-container section:last-child {
    border-bottom: none;
}

.workflow-container .ticket-manager {
    border-bottom: none;
}

.workflow-container .ticket-manager .tabs {
    margin-bottom: 20px;
}

.workflow-container .dt-timeline-container {
    width: auto !important;
    min-height: 36px;
}

.workflow-container .btn-sort-by-date.sorting .icon {
    color: @color-white;
    border: 1px solid @color-primary;
    background: @color-primary;
}

.workflow-container  .dropdown-sort-by .dropdown-list {
    top: 100%;
    left: 100%;
    margin-top: 10px;
    transform: translate(-100%, 0);
}

.workflow-container  .dropdown-sort-by .dropdown-list-sub {
    //display: block;
    top: 0px;
    left: -100%;
    transform: translateX(-20%);
}

.workflow-container .tooltip.top .tooltip-box {
    z-index: 1;
    transform: translate(50%, -10px);
}

.workflow-container .dt-timeline {
    display: inline-flex;
    position: relative;
}

.workflow-container .dt-timeline .event .dropdown-task {
    margin: 0px 0px 0px 10px;
}

.workflow-container .dt-timeline .event .dropdown-task:first-child {
    margin: 0px;
}

.workflow-container .dt-timeline .event .dropdown-task .tooltip {
    position: absolute;
    display: none;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    white-space: nowrap;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2px;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid @color-alt;
    background: @color-white;
}

.workflow-container .dt-timeline .event .dropdown-task:hover .tooltip {
    display: block;
}

.workflow-container .dt-timeline .event .task {
    display: inline-flex;
    color: @color-alt;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    border-radius: 60px;
    border: 1px solid @color-alt;
}

.workflow-container .dt-timeline .event .task:before {
    font-size: 0.80rem;
    font-weight: 300;
    line-height: 23px;
}

.workflow-container .dt-timeline .event .task.enabled {
    color: @color-primary;
    pointer-events: all;
    border: 1px solid @color-primary;
    background: none;
}

.workflow-container .dt-timeline .event .task.enabled:hover {
    color: @color-highlight;
    border: 1px solid @color-highlight;
    background: @color-off-white;
}

.workflow-container .dt-timeline .event .task.enabled:active {
    color: @color-highlight !important;
    border: 1px solid @color-highlight !important;
    background: @color-off-white !important;
}

.workflow-container .dt-timeline .event .task.enabled.active {
    color: @color-white;
}

.workflow-container .dt-timeline .event .task.current {
    color: @color-white;
    pointer-events: all !important;
    border-color: @color-primary;
    background: @color-primary;
}

.workflow-container .dt-timeline .event .task.current:hover,
.workflow-container .dt-timeline .event .task.current:active {
    color: @color-white !important;
    border-color: @color-highlight !important;
    background: @color-highlight !important;
}

.workflow-container .dt-timeline .event div.sub {
    position: absolute;
    left: 50%;
    margin: 5px 0 0 0;
    padding: 0px;
    list-style: none;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.workflow-container .dt-timeline .event div.sub ul {
    display: flex;
    justify-content: center;
}

.workflow-container .dt-timeline .event div.sub ul li.bubble {
    width: 8px;
    height: 8px;
    margin: 0px 2px;
    border-radius: 60px;
    border: 1px solid @color-alt;
}

.workflow-container .dt-timeline .event div.sub ul li.bubble.current {
    border-color: @color-primary;
    background: @color-primary;
}

.workflow-container .dt-timeline .event div.sub ul li.bubble.disapproved {
    font-family: 'FontAwesome';
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: @color-primary;
    border: none;
}

.workflow-container .dt-timeline .event div.sub ul li.bubble.disapproved::before {
    display: block;
    line-height: 0px;
    content: '\f00d';
}

.workflow-container .dt-timeline .event div.sub ul li.bubble.enabled {
    border-color: @color-primary;
    background: none;
}

.workflow-container .dt-timeline .dropdown {
    position: relative;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list {
    //top: 100%;
    top: 30px;
    right: 0;
    min-width: 560px;
    margin: 10px 0px;
    padding: 25px 0px 15px 0px;
    overflow: hidden;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list:before {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid @color-alt;
    background: @color-off-white;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list>.loading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-bottom: 10px;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list>.arrow-up,
.workflow-container .dt-timeline .dropdown .dropdown-task-list>.arrow-down {
    display: none;
}

.workflow-container .dt-timeline .dropdown.dropdown-scrollable .dropdown-task-list>.arrow-up,
.workflow-container .dt-timeline .dropdown.dropdown-scrollable .dropdown-task-list>.arrow-down {
    display: flex;
    flex: 1;
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    color: @color-primary;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0px;
    right: 0px;
    z-index: 1;
    margin: 2px;
    padding: 5px 10px;
    outline: none;
    background: @color-off-white;
}

.workflow-container .dt-timeline .dropdown.dropdown-scrollable .dropdown-task-list>.arrow-up {
    top: 0px;
}

.workflow-container .dt-timeline .dropdown.dropdown-scrollable .dropdown-task-list>.arrow-down {
    top: auto;
    bottom: 0px;
    padding: 7px 10px;
    background: linear-gradient(to bottom, rgba(244,244,244,0) -30%, rgba(244,244,244,1) 30%);
    
}

.workflow-container .dt-timeline .dropdown.dropdown-scrollable .dropdown-task-list>.arrow-up:hover,
.workflow-container .dt-timeline .dropdown.dropdown-scrollable .dropdown-task-list>.arrow-down:hover {
    color: @color-highlight;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list .dropdown-task-title {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    //min-height: 32px;
    margin-bottom: 10px;
    padding: 0px 15px;
    z-index: 1;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list .dropdown-task-title,
.workflow-container .dt-timeline .dropdown .dropdown-task-list .dropdown-task-title strong,
.workflow-container .dt-timeline .dropdown .dropdown-task-list .dropdown-task-title span.txt-task,
.workflow-container .dt-timeline .dropdown .dropdown-task-list .dropdown-task-title span.txt-task > em {
    font-size: 12px;
    color: @color-primary;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list .dropdown-task-title > span.txt-task {
    display: inline-flex;
    margin-left: 10px;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list .dropdown-task-title .icon {
    display: inline-flex;
    position: relative;
    font-size: 14px;
    color: @color-white;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    transform: none;
    border-radius: 100px;
    background: @color-primary;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list .dropdown-menu-ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.workflow-container .dt-timeline .dropdown.dropdown-scrollable .dropdown-task-list .dropdown-menu-ul::-webkit-scrollbar {
    display: none;
}

.workflow-container .dt-timeline .dropdown.dropdown-scrollable .dropdown-task-list .dropdown-menu-ul {
    max-height: 165px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list ul {
    padding-left: 15px;
    padding-right: 15px;
}

.workflow-container .dt-timeline .dropdown.dropdown-scrollable .dropdown-task-list {
    padding: 35px 0px 15px 0px;
}

.workflow-container .dt-timeline .dropdown.dropdown-scrollable .dropdown-task-list ul li ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list ul li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 10px;
    border-top: 1px solid @color-alt;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list ul li span {
    line-height: 1.4rem;
    padding: 10px 0px;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list ul li ul {
    display: block;
    position: relative;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: -10px;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list ul li ul li {
    padding: 0px 0px 0px 10px;
    border-top: 1px solid @color-unlit  !important;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list ul li .dropdown-task-icon {
    display: inline-block;
    font-size: 14px;
    color: @color-primary;
    text-align: center;
    width: 20px;
    margin-right: 10px;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list ul li:first-child,
.workflow-container .dt-timeline .dropdown .dropdown-task-list ul li ul li:first-child {
    border: none;
}

.workflow-container .dt-timeline .dropdown .dropdown-task-list ul li:after,
.workflow-container .dt-timeline .dropdown .dropdown-task-list ul li ul li:after {
    display: none !important;
    bottom: 0px !important;
    border: none !important;
}

.workflow-container .dt-timeline .dropdown>.dropdown-toggle.active {
    border-color: @color-highlight  !important;
    background: @color-highlight  !important;
}


.workflow-container .dt-timeline .dropdown.dropup>.dropdown-list {
    transform: translateY(-100%);
    top: -26px;
}

.workflow-container .ticket-manager table tbody tr td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.workflow-container .ticket-manager table tbody tr:hover {
    background: none !important;
}

.workflow-container .ticket-manager table tbody tr:hover td {
    background: @color-off-white;
}

.workflow-container .ticket-manager table tbody tr td.dataTables_empty::after {
    border: none;
}

.workflow-container .ticket-manager table tbody tr:hover td.dataTables_empty {
    background: none !important;
}

.workflow-general-info {
    margin-top: 30px;
}

.workflow-general-info>table>tbody>tr>td>.date-control {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 100px;
    height: 19px;
}

.workflow-general-info>table>tbody>tr>td>.date-control>input {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.workflow-general-info>table>tbody>tr>td>.date-control>input[readonly] {
    color: inherit !important;
    pointer-events: unset;
    border: none !important;
    background: none !important;
}

.workflow-general-info>table>tbody>tr>td>.date-control>.addon {
    position: absolute;
    font-size: 16px;
    color: @color-primary;
    line-height: 19px;
    top: 0px;
    right: 0px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.workflow-general-info>table>tbody>tr>td>.date-control:hover>.addon {
    color: @color-highlight;
}

.workflow-instructions-cycle .new-conversation {
    border-bottom: 1px solid @color-primary;
    padding-bottom: 20px;
}

.workflow-instructions-cycle .col-instruction-type {
    min-width: 272px;
    width: 14.759%;
    margin-left: 0px;
    margin-right: 15px;
}

.workflow-instructions-cycle .col-instruction-description {
    min-width: 623px;
    width: 54.26%;
    margin-left: 15px;
    margin-right: 0px;
}

.workflow-instructions-cycle .switch-txt {
    white-space: normal !important;
    margin-right: 40px !important;
}

.workflow-instructions-cycle .col-instruction-status {
    width: 17.7799%;
}

.workflow-instructions-cycle .col-instruction-status .reviewer-info {
    margin-top: 8px;
}

.workflow-instructions-cycle .col-instruction-status .reviewer-info .reviewer-name,
.workflow-instructions-cycle .col-instruction-status .reviewer-info .reviewer-date {
    display: block;
    font-size: 12px;
}

.workflow-instructions-cycle .col-instruction-type>h4 {
    margin: 0px 0px 10px 0px;
}

.workflow-instructions-cycle .col-instruction-type>label {
    margin-bottom: 10px;
}

.workflow-instructions-cycle .col-instruction-type .rq {
    display: block;
    font-size: 12px;
}

.workflow-instructions-cycle .col-instruction-type .reviewer-done {
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    color: @color-primary;
    line-height: 18px;
    width: 30px;
    border: 1px solid @color-white;
    box-shadow: @bs-reviewer-done;
    background: @color-white;
}

.workflow-instructions-cycle .col-instruction-description .comment-text-block>p {
    font-weight: 400;
}

.workflow-instructions-cycle .col-instruction-description .comment-text-block>p {
    margin: 0px;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container {
    margin-top: 15px;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-box {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid @color-alt;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid @color-primary;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list>li:first-child {
    margin-top: 0px;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list>li,
.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list>li>ul>li {
    display: block;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid @color-alt;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list>li>ul {
    margin-left: 30px;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body>.icon {
    float: left;
    font-size: 20px;
    color: @color-primary;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body>.icon.reply {
    transform: rotateX(0deg) rotateY(180deg);
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body h5 {
    font-weight: 500;
    color: @color-primary;
}

.workflow-instructions-cycle .col-instruction-description .user-request-title,
.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body .chat-comment-by {
    margin-bottom: 5px;
}

.workflow-instructions-cycle .col-instruction-description .comment-text-block .created-on,
.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body .created-on {
    font-size: 12px;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body .view-recipients {
    display: inline-block;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body .view-recipients .tooltip-box {
    transform: translate(50%, -10px);
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body .view-recipients i {
    display: block;
    font-size: 16px;
    color: @color-alt;
    height: 14px;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body .view-recipients:hover i {
    color: @color-highlight;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body>h5,
.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body>p,
.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list>li>.chat-comment-body~button,
.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list>li>.chat-comment-body~.chat-comment-box {
    margin: 0px 0px 0px 30px
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body p a {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body p * {
    font-weight: unset;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body b {
    font-weight: 700;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container .chat-comment-list .chat-comment-body .attach,
.workflow-instructions-cycle .col-instruction-description .chat-comment-container .chat-comment-box .textbox-fake .attach {
    display: inline-flex;
    white-space: nowrap;
    margin: 0px;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container .chat-comment-list .chat-comment-body .attach .blob,
.workflow-instructions-cycle .col-instruction-description .chat-comment-container .chat-comment-box .textbox-fake .attach .blob {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container .chat-comment-list .chat-comment-body .attach .blob:before,
.workflow-instructions-cycle .col-instruction-description .chat-comment-container .chat-comment-box .textbox-fake .attach .blob:before {
    font-family: 'FontAwesome';
    font-size: 16px;
    font-weight: 300;
    color: @color-primary;
    content: '\f03e';
    vertical-align: -0.133em;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container .chat-comment-list .chat-comment-body .attach:hover .blob:before,
.workflow-instructions-cycle .col-instruction-description .chat-comment-container .chat-comment-box .textbox-fake .attach:hover .blob:before {
    color: @color-highlight;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container .chat-comment-list .chat-comment-body .attach .blob span,
.workflow-instructions-cycle .col-instruction-description .chat-comment-container .chat-comment-box .textbox-fake .attach>.blob span {
    float: left;
    display: none;
    position: absolute;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    left: 50%;
    bottom: 100%;
    margin: 0px;
    padding: 3px 18px;
    border-radius: 6px;
    border: 1px solid @color-alt;
    background: @color-white;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container .chat-comment-list .chat-comment-body .attach .blob:hover span,
.workflow-instructions-cycle .col-instruction-description .chat-comment-container .chat-comment-box .textbox-fake .attach .blob:hover span {
    display: inline-block;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list>li>.chat-comment-body~button {
    margin-top: 15px;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list>li>.chat-comment-body~.chat-comment-box {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid @color-alt;
}

.workflow-instructions-cycle .col-instruction-description .chat-comment-container>.chat-comment-list .chat-comment-body button {
    margin: 0px;
    padding-top: 28px;
    padding-bottom: 28px;
}

.workflow-instructions-cycle .chat-textbox-container {
    position: relative;
}

.workflow-instructions-cycle .chat-textbox-container .textbox-fake {
    padding-right: 110px;
}

.editable:empty:before {
    font-weight: 400;
    color: @color-alt;
    content: attr(data-placeholder);
}

.workflow-instructions-cycle .chat-textbox-container .textbox-fake b {
    font-weight: 700;
}

.workflow-instructions-cycle .chat-textbox-container .chat-textbox-controls {
    display: flex;
    position: absolute;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 30px;
    width: 50px;
    height: 36px;
    transform: translateY(-50%);
    padding-left: 30px;
    border-left: 2px dotted @color-alt;
}

.workflow-instructions-cycle .chat-textbox-container .chat-textbox-controls .attach-file,
.workflow-instructions-cycle .chat-textbox-container .chat-textbox-controls .send-by-mail {
    display: block;
    position: relative;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.workflow-instructions-cycle .chat-textbox-container .chat-textbox-controls .attach-file input[type="file"] {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0px;
    width: 18px;
    height: 18px;
    opacity: 0;
}

.workflow-instructions-cycle .chat-textbox-container .chat-textbox-controls .btn span,
.workflow-instructions-cycle .chat-textbox-container .chat-textbox-controls .attach-file span {
    font-size: 16px;
    color: @color-primary;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.workflow-instructions-cycle .chat-textbox-container .chat-textbox-controls .btn:hover span,
.workflow-instructions-cycle .chat-textbox-container .chat-textbox-controls .attach-file:hover span {
    color: @color-highlight;
}

.workflow-container .workflow-files-approval {
    margin: 32px 0px 0px 0px;
    padding: 0px 0px 34px 0px;
}

.workflow-container .workflow-files-approval .sub-bs {
    padding-bottom: 30px;
    border-bottom: 2px dotted @color-alt  !important;
}

.workflow-container .workflow-artwork-attach {
    padding-top: 18px;
    margin-bottom: 28px;
    padding-bottom: 30px;
}

.workflow-container .flex-rename-file {
    align-items: center;
    min-height: 36px;
}

.workflow-container .workflow-attachment-panel {
    align-items: center !important;
}

.workflow-attachment-control .col-files-attach {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    margin-right: 14px;
    padding: 0px;
}

.workflow-artwork-sender .col-select-supplier {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 27.399%;
}

.workflow-artwork-sender .col-mailing-supplier {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 62.59%;
}

.workflow-file-upload .col-artwork-files {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 89.98%;
    min-width: 0;
}

.workflow-members-group {
    padding-left: 0px;
    padding-right: 0px;
}

.workflow-members-group .col-select-member {
    -webkit-box-flex: 2.15;
    -ms-flex: 2.15;
    flex: 2.15;
    width: 53.22%;
}

.workflow-members-group .col-select-position {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 35.31%;
}

.workflow-member-edit .col-select-member {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 53.32%;
}

.workflow-member-edit .col-select-positon {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 23.48%;
}

.workflow-member-edit .col-btn-group {
    width: auto;
}

.workflow-member-edit-sub {
    padding: 0px;
    margin: 0px -7px;
}

.workflow-member-edit-sub .col-select-member {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 48.2%;
}

.workflow-member-edit-sub .col-select-positon {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 25.48%;
}

.workflow-artwork-sender .col-artwork-submit,
.workflow-file-upload .col-artwork-submit,
.workflow-members-group .col-add-member,
.workflow-member-edit .col-btn-group,
.workflow-member-edit-sub .col-btn-group {
    width: auto;
}

.workflow-artwork-sender .col-artwork-submit button,
.workflow-file-upload .col-artwork-submit button,
.workflow-members-group .col-add-member button,
.workflow-member-edit-sub .col-member-edit-save button,
.workflow-member-edit-sub .col-member-edit-cancel button {
    width: 100%;
}

.workflow-membership-table .icon {
    font-size: 16px;
    text-align: center;
    line-height: 0px;
    width: 23px;
}

.workflow-membership-table .add-team-btn {
    display: flex;
    width: 30px;
    height: 30px;
}

/*.workflow-membership-table .icon.has-teamwork {
    font-size: 1.35em
}*/

.workflow-send-by-email .select-all {
    margin: 30px 10px 0px 10px;
}

.workflow-send-by-email .select-all input[type="checkbox"]:hover~.checkbox-txt,
.workflow-send-by-email .select-all input[type="checkbox"]:focus~.checkbox-txt {
    color: @color-highlight  !important;
}

.workflow-send-by-email .member-selected > td {
    position: relative;
}

.workflow-send-by-email .member-selected > td::before {
    display: block;
    position: absolute;
    content: '';
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
    background-color: @color-highlight;
}

.workflow-downloaded-info {
    margin-top: 15px;
    margin-left: -44px;
}

.workflow-supplier-card {
    margin-bottom: 30px;
}

.workflow-supplier-card:last-child {
    margin-bottom: 0px;
}

.workflow-supplier-card,
.workflow-supplier-card:hover {
    background: none !important;
}

.workflow-supplier-card .supplier-btn-approval {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.workflow-supplier-card .supplier-btn-approval {
    z-index: 1;
}

.workflow-supplier-card .dropdown {
    z-index: 2;
}

.workflow-supplier-info {
    margin-left: -10px;
}

.workflow-downloaded-info>.icon {
    float: left;
    font-size: 22px;
    pointer-events: none;
    margin-right: 12px;
}

.workflow-downloaded-info>.artw-has-downloaded,
.workflow-downloaded-info>.access-link-expires {
    display: block;
}

.workflow-downloaded-info>.artw-has-downloaded {
    line-height: 24px;
}

.workflow-downloaded-info>.access-link-expires {
    margin-left: 34px;
}

.workflow-paused-canceled-info>.paused-canceled-block .user-request-title {
    line-height: 20px;
    margin-bottom: 5px;
}

.workflow-supplier-info>.panel-body {
    margin-left: 37px;
}

.workflow-supplier-info>.panel-body>.panel-heading,
.workflow-supplier-info>.panel-body>small {
    padding-left: 36px;
}

.workflow-supplier-info>.icon {
    font-size: 22px;
}

.workflow-supplier-card:hover .workflow-supplier-info>.icon {
    color: @color-primary;
}

.workflow-supplier-card:hover .workflow-supplier-info>.panel-body * {
    color: @color-default;
}

.workflow-supplier-card a {
    text-decoration: none;
}

.workflow-supplier-card .panel-body {
    margin: 0px;
    padding-right: 10px;
}

.workflow-supplier-card .panel-body>.panel-heading>a>strong,
.workflow-supplier-card .panel-body>.panel-heading>a>small {
    display: block;
    padding-left: 36px;
}

.workflow-supplier-card:hover .icon {
    color: @color-primary  !important;
}

.workflow-supplier-card .panel-body .panel-heading a:hover i,
.workflow-supplier-card .panel-body .panel-heading a:hover strong {
    color: @color-highlight  !important;
}

.workflow-paused-canceled-info>.paused-canceled-block .paused-canceled-info .icon {
    float: left;
    font-size: 20px;
    color: @color-primary;
}

.workflow-paused-canceled-info>.paused-canceled-block .paused-canceled-info .user-request-title,
.workflow-paused-canceled-info>.paused-canceled-block .paused-canceled-info .comment-text-block {
    margin-left: 30px;
}

/* Content-loader - Ticket */

.ticket-placeholder-container .workflow-general-info .workflow-general-info-title {
    height: 14px;
}

.ticket-placeholder-container .workflow-general-info .workflow-general-info-txt {
    height: 14px;
}

.ticket-placeholder-container .workflow-general-info .workflow-general-info-title,
.ticket-placeholder-container .workflow-general-info .workflow-general-info-txt {
    border-radius: 64px;
}

.ticket-placeholder-container .workflow-instructions-cycle .instruction {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.ticket-placeholder-container .workflow-general-info.bs {
    padding-bottom: 25px;
}

.ticket-placeholder-container .workflow-general-info.bs,
.ticket-placeholder-container .workflow-instructions-cycle .instruction.sub-bs {
    border-color: @color-unlit;
}

.ticket-placeholder-container .workflow-instructions-cycle .master-title-sub,
.ticket-placeholder-container .workflow-files-approval .master-title-sub {
    display: block;
    width: 184px;
    height: 14px;
    border-radius: 64px;
    margin-bottom: 12px;
}

.ticket-placeholder-container .workflow-instructions-cycle .master-title-sub {
    margin: 0px 10px 12px 10px;
}

.ticket-placeholder-container .workflow-instructions-cycle .col-instruction-type {
    min-height: 85px;
}

.ticket-placeholder-container .workflow-instructions-cycle .col-instruction-type {
    border-radius: 5px;
}

.ticket-placeholder-container .workflow-instructions-cycle .col-instruction-description {
    width: auto;
}

.ticket-placeholder-container .workflow-instructions-cycle .col-instruction-description .user-request-title,
.ticket-placeholder-container .workflow-instructions-cycle .col-instruction-description .comment-text-block {
    width: 100%;
    height: 14px;
    border-radius: 64px;
}

.ticket-placeholder-container .workflow-instructions-cycle .col-instruction-description .btn-control {
    display: block;
    width: 100px;
    min-height: 30px;
    border: none;
    border-radius: 5px;
}

.ticket-placeholder-container .file-panel {
    display: flex;
    padding: 15px;
    border-radius: 5px;
}

.ticket-placeholder-container .file-panel .file-panel-options {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    border-radius: 64px;
    background-color: @color-unlit;
}

.ticket-placeholder-container .workflow-files-approval .file-panel {
    align-items: center;
    min-height: 66px;
}

.ticket-placeholder-container .file-panel.final-art-panel {
    align-items: center;
    min-height: 88px;
}

.ticket-placeholder-container .file-panel.supplier-pdf-panel {
    align-items: start;
    min-height: 146px;
}

.ticket-placeholder-container .workflow-membership-table.table-placeholder .table-thead-tr {
    height: 29px;
}

.ticket-placeholder-container .files-list-container .files-list-item {
    display: flex;
    min-height: 83px;
    padding: 15px;
    border-top: 1px solid @color-unlit;
}

.ticket-placeholder-container .files-list-container .files-list-item:first-child {
    border: none;
}

.ticket-placeholder-container .files-list-container .files-list-item .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 64px;
}

.ticket-placeholder-container .files-list-container .files-list-item .files-list-body {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-left: 10px;
    justify-content: space-evenly;
}

.ticket-placeholder-container .files-list-container .files-list-item .files-list-body .files-list-item-heading,
.ticket-placeholder-container .files-list-container .files-list-item .files-list-body .files-list-item-caption {
    display: block;
    border-radius: 64px;
}

.ticket-placeholder-container .files-list-container .files-list-item .files-list-body .files-list-item-heading {
    height: 14px;
}

.ticket-placeholder-container .files-list-container .files-list-item .files-list-body .files-list-item-caption {
    height: 12px;
    margin-top: 5px;
}

.ticket-placeholder-container .files-list-container .files-list-item .files-list-body .files-list-item-caption.attached-by-txt {
    width: 340px;
}

.ticket-placeholder-container .files-list-container .files-list-item .files-list-body .files-list-item-caption.file-info-txt {
    width: 200px;
}

.ticket-placeholder-container .tasks-container {
    margin-left: 10px;
}

.ticket-placeholder-container .tasks-container .task {
    display: flex;
}

.ticket-placeholder-container .tasks-container .task .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px 0;
    border-radius: 64px;
}

.ticket-placeholder-container .tasks-container .task .body {
    margin-left: 10px;
    width: 100%;
}

.ticket-placeholder-container .tasks-container .task .body .event-title,
.ticket-placeholder-container .tasks-container .task .body .event-caption {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.ticket-placeholder-container .tasks-container .task .body .event-title {
    border-bottom: 1px solid @color-unlit;
}

.ticket-placeholder-container .tasks-container .task .body .event-title span,
.ticket-placeholder-container .tasks-container .task .body .event-caption span {
    display: block;
    width: 100%;
    height: 15px;
    border-radius: 64px;
}

.ticket-placeholder-container .tasks-container .task .body .event-title span,
.ticket-placeholder-container .tasks-container .task .body .event-caption span {
    margin: 0px 10px 0px 0px;
}

.ticket-placeholder-container .chat-comment-list .comment {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid @color-unlit;
}

.ticket-placeholder-container .chat-comment-list .comment .icon {
    float: left;
    width: 14px;
    height: 14px;
    margin-top: 5px;
    border-radius: 64px;
}

.ticket-placeholder-container .chat-comment-list .comment .user-request-title,
.ticket-placeholder-container .chat-comment-list .comment .comment-text-block {
    height: 14px;
    border-radius: 64px;
}

.ticket-placeholder-container .chat-comment-list .comment .btn-control {
    width: 100px;
    border: none;
}

.ticket-placeholder-container .chat-comment-list .comment .user-request-title,
.ticket-placeholder-container .chat-comment-list .comment .comment-text-block,
.ticket-placeholder-container .chat-comment-list .comment .btn-control {
    display: block;
    margin-left: 28px;
}

@media screen and (min-width: 1400px) {
    .workflow-instructions-cycle .col-instruction-description {
        min-width: 612px;
        flex: 1;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1399px) {
    .workflow-instructions-cycle .col-instruction-description {
        /*word-break: break-all;*/
        min-width: 612px;
        flex: 1;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .workflow-instructions-cycle .col-instruction-description {
        /*word-break: break-all;*/
        min-width: 612px;
        flex: 1;
    }
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .workflow-instructions-cycle .col-instruction-description {
        /*word-break: break-all;*/
        min-width: 612px;
        flex: 1;
    }
}