// out: ../../../css/site/cliente_2/, compress: false, sourceMap: false

/* Home - Login */

@color-bg: #50C8C8;
@home-logo: "../../../images/layout/cliente_23/logo-home.png?v=22012024";
@home-logo-width: 100px;
@home-logo-height: 100px;
@home-logo-img-size: 100px;
@footer-logo: "../../../images/layout/cliente_23/rubrum-footer.png";

/* Logo */

@header-logo: "../../../images/layout/cliente_23/logo-header.png?v=22012024";
@header-logo-width: 74px;
@header-logo-img-size: 74px;

/* Footer */

@footer-logo-site: "../../../images/layout/cliente_23/rubrum-footer-site-1.png";
@footer-logo-site-hover: "../../../images/layout/cliente_23/rubrum-footer-site-2.png";

/* @color */

@color-header: #50C8C8;
@color-header-collapsible: #50C8C8;
@color-primary: #38B2AF;
@color-highlight: #FAB900;
@color-primary-lighter: #dcf4f4;
@color-default: #000000;
@color-alt: #ACACAC;
@color-unlit: #E0E0E0;
@color-off-white: #F4F4F4;
@color-white: #FFFFFF;

/* @box-shadow */

@bs-header: 0px 1px 10px rgba(0, 0, 0, 0.25);
@bs-dropdown-list: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
@bs-selectize-dropdown: inset 0px 18px 8px -18px rgba(0, 0, 0, 0.5);
@bs-selectize-dropdown-alt: 0px 8px 8px 8px rgba(0, 0, 0, 0.5);
@bs-datepicker: 0px 3px 6px rgba(0, 0, 0, 0.2);
@bs-datepicker-focus: 0px 2px 5px rgba(0, 0, 0, 0.2);
@bs-switch-ctrl: 3px 0px 5px 0px rgba(0, 0, 0, 0.3);
@bs-switch-ctrl-checked: -3px 0px 5px 0px rgba(0, 0, 0, 0.3);
@bs-box-package-info: 0px 2px 20px rgba(0, 0, 0, 0.2);
@bs-reviewer-done: 0px 0px 2px 2px rgba(255, 255, 255, 1);
@bs-modal: 0 2px 20px rgba(0, 0, 0, 0.2);

@bs-outline-primary: 0px 0px 30px rgba(80,200,200, 0.5);
@bs-outline-highlight: 0px 0px 30px rgba(250,185,0, 0.5);
@bs-outline-default: 0px 0px 30px rgba(0, 0, 0, 0.5);

/* @drop-shadow */

@ds-primary: drop-shadow(0px 0px 15px rgba(80,200,200, 0.5));
@ds-highlight: drop-shadow(0px 0px 15px rgba(250,185,0, 0.5));
@ds-default: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
@ds-default-lighter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.16));
