<div class="dlg-guide">
    <h3 class="dlg-product-title">Marrom Brahma</h3>
    <div class="dlg-color-info clearfix">
        <div style="background:#2D0A0B;" class="dlg-color-box"></div>
        <div class="dlg-color-values">
            <strong>Web</strong>
            <span>2D0A0B</span>
        </div>
        <div class="dlg-color-values">
            <strong>Spot</strong>
            <span>Actega MR7250/10</span>
        </div>
        <div class="dlg-color-values">
            <strong>Rgb</strong>
            <span>045 &bull; 010 &bull; 011</span>
        </div>
        <div class="dlg-color-values">
            <strong>CMYK</strong>
            <span>000 &bull; 100 &bull; 100 &bull; 075</span>
        </div>
    </div>
    <div class="dlg-guide-contents clearfix">
        <div class="dlg-image-left">
            <img src="/images/layout/brahma-marrom-icone.png" alt="" class="dlg-image-box" />
        </div>
        <div class="dlg-content-right">
            <p>
                O ícone 1 PAIXÃO POR CERVEJA deve ser impresso sobre o vemelho de fundo.  Ou seja, o MARROM BRAHMA deve ser 
                impresso em overprint sobre o VERMELHO BRAHMA.
            </p>
        </div>
    </div>
</div>