<div class="dlg-guide">
    <h3 class="dlg-product-title">Branco</h3>
    <div class="dlg-color-info clearfix">
        <div style="background:#FFFFFF;" class="dlg-color-box"></div>
        <div class="dlg-color-values">
            <strong>Web</strong>
            <span>FFFFFF</span>
        </div>
        <div class="dlg-color-values">
            <strong>Spot</strong>
            <span> - </span>
        </div>
        <div class="dlg-color-values">
            <strong>Rgb</strong>
            <span>255 &bull; 255 &bull; 255</span>
        </div>
        <div class="dlg-color-values">
            <strong>CMYK</strong>
            <span>000 &bull; 000 &bull; 000 &bull; 000</span>
        </div>
    </div>
    <div class="dlg-guide-contents clearfix"></div>
</div>