<div class="dlg-guide clearfix">
    <h3 class="dlg-product-title clearfix">Dourado Brahma</h3>
    <div class="dlg-color-info clearfix">
        <div style="background:#C99700;" class="dlg-color-box"></div>
        <div class="dlg-color-values">
            <strong>Web</strong>
            <span>C99700</span>
        </div>
        <div class="dlg-color-values">
            <strong>Spot</strong>
            <span>Actega AM4330/10</span>
        </div>
        <div class="dlg-color-values">
            <strong>Rgb</strong>
            <span>201 &bull; 151 &bull; 000</span>
        </div>
        <div class="dlg-color-values">
            <strong>CMYK</strong>
            <span>006 &bull; 027 &bull; 100 &bull; 012</span>
        </div>
    </div>
    <div class="dlg-guide-contents clearfix">
        <div class="dlg-image-left">
            <img src="/images/layout/brahma-brasao-dourado.png" alt="" class="dlg-image-box" />
        </div>
        <div class="dlg-content-right">
            <p>
                O BRINDE deve ser impresso com o DOURADO BRAHMA. Essa escala de cores contém duas versões para essa cor: 
                uma em substrato couché (referência para materiais não metalizados) e uma em substrato metalizado (referência 
                para materiais metalizados).
            </p>
        </div>
    </div>
</div>