<div class="dlg-guide"> 
    <h3 class="dlg-product-title">Vermelho Retícula Brahma</h3>
    <div class="dlg-color-info clearfix">
       <div style="background:#78151B;" class="dlg-color-box"></div>
        <div class="dlg-color-values">
            <strong>Web</strong>
            <span>78151B</span>
        </div>
        <div class="dlg-color-values">
            <strong>Spot</strong>
            <span>Actega VM7535/10</span>
        </div>
        <div class="dlg-color-values">
            <strong>Rgb</strong>
            <span>120 &bull; 021 &bull; 027</span>
        </div>
        <div class="dlg-color-values">
            <strong>CMYK</strong>
            <span>000 &bull; 100 &bull; 100 &bull; 040</span>
        </div>
    </div>
    <div class="dlg-guide-contents clearfix">
        <div class="dlg-image-left">
            <img src="/images/layout/brahma-vermelho-reticula.png" alt="" class="dlg-image-box" />
        </div>
        <div class="dlg-content-right">
            <p>
                A retícula que compõe o fundo deve ser impressa sobre o vermelho do fundo. Ou seja, o VERMELHO RETÍCULA BRAHMA 
                deve estar em overprint sobre o VERMELHO BRAHMA.
            </p>
        </div>
    </div>
</div>