<div class="dlg-guide">
    <h3 class="dlg-product-title">Vermelho Brahma</h3>
    <div class="dlg-color-info clearfix">
        <div style="background:#AB0010;" class="dlg-color-box"></div>
        <div class="dlg-color-values">
            <strong>Web</strong>
            <span>AB0010</span>
        </div>
        <div class="dlg-color-values">
            <strong>Spot</strong>
            <span>Actega VM5538/10</span>
        </div>
        <div class="dlg-color-values">
            <strong>Rgb</strong>
            <span>171 &bull; 000 &bull; 016</span>
        </div>
        <div class="dlg-color-values">
            <strong>CMYK</strong>
            <span>000 &bull; 100 &bull; 100 &bull; 005</span>
        </div>
    </div>
    <div class="dlg-guide-contents clearfix">
        <div class="dlg-image-left">
            <img src="/images/layout/brahma-vermelho.png" class="dlg-image-box" />
        </div>
        <div class="dlg-content-right">
            <p>
                O Fundo e a Faixa são compostos por uma cor espcial batizada de VERMELHO BRAHMA.
            </p>
        </div>
    </div>
</div>